examples/dashboard/0-common.json
[
    {
        "id": "33c9a78a.cc8c18",
        "type": "tab",
        "label": "0-common",
        "disabled": false,
        "info": ""
    },
    {
        "id": "801f7f25.d85eb",
        "type": "ui_button",
        "z": "33c9a78a.cc8c18",
        "name": "405419896",
        "group": "c03a3b24.d45c48",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "405419896",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "46cebfa2.e38c6"
            ]
        ]
    },
    {
        "id": "46cebfa2.e38c6",
        "type": "link out",
        "z": "33c9a78a.cc8c18",
        "name": "refresh",
        "links": [
            "fd3d980e.eef9a8",
            "a7169ed8.d4f29",
            "eabdc94d.323a48",
            "e036a638.1da6d8",
            "1d446f7d.8d4dd1",
            "fd5cb328.52147",
            "b8460bf9.4811f8",
            "311af5c6.40b9aa",
            "c8f3aa0a.3b4ae8",
            "74f184d2.65a5ac"
        ],
        "x": 235,
        "y": 220,
        "wires": []
    },
    {
        "id": "45f39906.fe8258",
        "type": "ui_button",
        "z": "33c9a78a.cc8c18",
        "name": "303986753",
        "group": "c03a3b24.d45c48",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "303986753",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{ \"deviceId\": 303986753 }",
        "payloadType": "json",
        "topic": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "46cebfa2.e38c6"
            ]
        ]
    },
    {
        "id": "b1aa91f5.5d6f",
        "type": "comment",
        "z": "33c9a78a.cc8c18",
        "name": "refresh",
        "info": "",
        "x": 90,
        "y": 160,
        "wires": []
    },
    {
        "id": "7539018f.f0f9d",
        "type": "comment",
        "z": "33c9a78a.cc8c18",
        "name": "configuration",
        "info": "",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "1fa242ff.1717cd",
        "type": "ui_dropdown",
        "z": "33c9a78a.cc8c18",
        "name": "controller",
        "label": "",
        "tooltip": "",
        "place": "<select controller>",
        "group": "920f64db.d2fd58",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "set-device",
        "x": 680,
        "y": 80,
        "wires": [
            [
                "71d6ed03.ece134"
            ]
        ]
    },
    {
        "id": "a9b121e.23fc3e",
        "type": "inject",
        "z": "33c9a78a.cc8c18",
        "name": "setup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "controllers",
        "payload": "{\"controllers\":{\"303986753\":{\"IPv4\":{\"address\":\"192.168.1.100\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"},\"listener\":{\"address\":\"192.168.1.100\",\"port\":60001},\"doors\":{\"1\":{\"name\":\"door X\",\"delay\":5,\"control\":\"normally closed\"},\"2\":{\"name\":\"door Y\",\"delay\":5,\"control\":\"normally closed\"},\"3\":{\"name\":\"laboratory\",\"delay\":5,\"control\":\"normally closed\"},\"4\":{\"name\":\"kitchen\",\"delay\":5,\"control\":\"normally closed\"}}},\"405419896\":{\"IPv4\":{\"address\":\"192.168.1.100\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"},\"listener\":{\"address\":\"192.168.1.100\",\"port\":60001},\"doors\":{\"1\":{\"name\":\"entrance\",\"delay\":5,\"control\":\"normally closed\"},\"2\":{\"name\":\"workshop\",\"delay\":5,\"control\":\"normally closed\"},\"3\":{\"name\":\"tower\",\"delay\":5,\"control\":\"normally closed\"},\"4\":{\"name\":\"dungeon\",\"delay\":5,\"control\":\"normally closed\"}}}}}",
        "payloadType": "json",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "a023fb14.897008"
            ]
        ]
    },
    {
        "id": "3ac2df68.5991b",
        "type": "comment",
        "z": "33c9a78a.cc8c18",
        "name": "system config",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "a023fb14.897008",
        "type": "link out",
        "z": "33c9a78a.cc8c18",
        "name": "setup",
        "links": [
            "c9da7cbe.df265",
            "ba97d2cc.cdc3b",
            "4a1fbead.20c0e",
            "1cf33550.8fc68b",
            "dfd29d39.eb75a",
            "6e513556.7919cc",
            "bc6d752a.1a51a8"
        ],
        "x": 255,
        "y": 80,
        "wires": []
    },
    {
        "id": "71d6ed03.ece134",
        "type": "link out",
        "z": "33c9a78a.cc8c18",
        "name": "controller",
        "links": [
            "c0f56704.302048",
            "aeec3a78.eec6d8",
            "5b13b041.ee256",
            "bbeb26dc.ff7ab8",
            "4bee8740.f53308",
            "6dd92229.dda32c",
            "f99540c.285e1c",
            "f1f358f4.a86a38",
            "3c0f330f.3cda1c",
            "b7011bf3.252e48",
            "56449e45.562bb",
            "c59a9f6b.b8afe"
        ],
        "x": 795,
        "y": 80,
        "wires": []
    },
    {
        "id": "4a1fbead.20c0e",
        "type": "link in",
        "z": "33c9a78a.cc8c18",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 435,
        "y": 80,
        "wires": [
            [
                "43b42a3.c611ed4"
            ]
        ]
    },
    {
        "id": "43b42a3.c611ed4",
        "type": "function",
        "z": "33c9a78a.cc8c18",
        "name": "setup",
        "func": "const controllers = msg.payload.controllers\n\nif (controllers) {\n    const options = []\n    Object.entries(controllers).forEach(([k,v]) => {\n      options.push(k) \n    })\n\n    return { \n        topic:'set-controllers', \n        options: options\n    }\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 80,
        "wires": [
            [
                "1fa242ff.1717cd"
            ]
        ]
    },
    {
        "id": "c03a3b24.d45c48",
        "type": "ui_group",
        "z": "",
        "name": "column-1",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "920f64db.d2fd58",
        "type": "ui_group",
        "z": "",
        "name": "column-1",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": false,
        "width": 5,
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configuration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]