examples/dashboard/2-get-device.json
[
    {
        "id": "f0ca7ab6.b09058",
        "type": "tab",
        "label": "2-get-device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d1910029.3c322",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "serial-number",
        "label": "serial number",
        "format": "{{device.serialNumber}}",
        "layout": "row-spread",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "b3759b8c.663488",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 7,
        "width": 5,
        "height": 1,
        "name": "device-address",
        "label": "address",
        "format": "{{device.address}}",
        "layout": "row-spread",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "b600fca7.8931e",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 9,
        "width": 5,
        "height": 1,
        "name": "device-netmask",
        "label": "netmask",
        "format": "{{device.netmask}}",
        "layout": "row-spread",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "883c8d8e.59439",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 11,
        "width": 5,
        "height": 1,
        "name": "device-gateway",
        "label": "gateway",
        "format": "{{device.gateway}}",
        "layout": "row-spread",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "23b47a89.08ab86",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 13,
        "width": 5,
        "height": 1,
        "name": "device-MAC",
        "label": "MAC:",
        "format": "{{device.MAC}}",
        "layout": "row-spread",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "e26cb52b.2aee58",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 15,
        "width": 5,
        "height": 1,
        "name": "device-version",
        "label": "version",
        "format": "{{device.version}}",
        "layout": "row-spread",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "8666ad46.99a95",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 17,
        "width": 5,
        "height": 1,
        "name": "device-date",
        "label": "system date",
        "format": "{{device.date}}",
        "layout": "row-spread",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "cf961bd6.504938",
        "type": "get-device",
        "z": "f0ca7ab6.b09058",
        "name": "get-device",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "6114aece.3cdf7"
            ]
        ]
    },
    {
        "id": "6114aece.3cdf7",
        "type": "function",
        "z": "f0ca7ab6.b09058",
        "name": "",
        "func": "return { device: msg.payload.device }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "d1910029.3c322",
                "b3759b8c.663488",
                "b600fca7.8931e",
                "883c8d8e.59439",
                "23b47a89.08ab86",
                "e26cb52b.2aee58",
                "8666ad46.99a95"
            ]
        ]
    },
    {
        "id": "eabdc94d.323a48",
        "type": "link in",
        "z": "f0ca7ab6.b09058",
        "name": "",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "cf961bd6.504938"
            ]
        ]
    },
    {
        "id": "5e00d87b.91dc88",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "label-device",
        "label": "device",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 80,
        "wires": []
    },
    {
        "id": "c03a3b24.d45c48",
        "type": "ui_group",
        "z": "",
        "name": "column-1",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\"},\"405419896\":{\"address\":\"192.168.1.100:60000\"}}",
        "debug": true
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]