examples/dashboard/3-IPv4.json
[
    {
        "id": "8bcf2d43.2e243",
        "type": "tab",
        "label": "3-IPv4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "45ee145d.a3525c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "IPv4",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-address.device', msg.payload)\n        break;\n\n    case 'set-address':\n        flow.set('set-address.address', msg.payload)\n        break;\n\n    case 'set-netmask':\n        flow.set('set-address.netmask', msg.payload)\n        break;\n\n    case 'set-gateway':\n        flow.set('set-address.gateway', msg.payload)\n        break;\n\n    case 'set':\n        let deviceId = flow.get('set-address.device')\n        let address = flow.get('set-address.address')\n        let netmask = flow.get('set-address.netmask')\n        let gateway = flow.get('set-address.gateway')\n\n        if (deviceId && address && netmask && gateway) {\n            msg.payload = {\n               deviceId: deviceId,\n               address: address,\n               netmask: netmask,\n               gateway: gateway\n            }        \n        \n            return msg\n        }\n        break;\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 120,
        "wires": [
            [
                "13a984d5.221c9b"
            ]
        ]
    },
    {
        "id": "b6a91dc2.1e37",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-address",
        "label": "address",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-address",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "c5052b18.578d98",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-netmask",
        "label": "netmask",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-netmask",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "5b16f8e7.972fb8",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-gateway",
        "label": "gateway",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 14,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-gateway",
        "x": 500,
        "y": 240,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "43a592be.9cc00c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "address",
        "func": "const deviceId = Number(msg.payload)\nconst controllers = flow.get('controllers')\n\nif (deviceId && controllers && controllers[deviceId]) {\n    const controller = controllers[deviceId]\n    \n    if (controller.IPv4) {\n       return { \n           topic: 'address', \n           payload: controller.IPv4.address \n       }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "b6a91dc2.1e37"
            ]
        ]
    },
    {
        "id": "5b13b041.ee256",
        "type": "link in",
        "z": "8bcf2d43.2e243",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 555,
        "y": 120,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "13a984d5.221c9b",
        "type": "set-ip",
        "z": "8bcf2d43.2e243",
        "name": "set-ip",
        "config": "cbd92359.dbf19",
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6e513556.7919cc",
        "type": "link in",
        "z": "8bcf2d43.2e243",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 155,
        "y": 40,
        "wires": [
            [
                "b05b2198.5e26c"
            ]
        ]
    },
    {
        "id": "b05b2198.5e26c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "setup",
        "func": "flow.set('controllers', msg.payload.controllers)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "cdfb6f1b.4c3e4",
        "type": "ui_button",
        "z": "8bcf2d43.2e243",
        "name": "set-IPv4",
        "group": "920f64db.d2fd58",
        "order": 18,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "Sets controller network address, netmask and gateway",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "set",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "aeec3a78.eec6d8",
        "type": "link in",
        "z": "8bcf2d43.2e243",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 155,
        "y": 200,
        "wires": [
            [
                "43a592be.9cc00c",
                "e2ef3fce.f8e3b",
                "808c2dbd.260fc"
            ]
        ]
    },
    {
        "id": "e2ef3fce.f8e3b",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "netmask",
        "func": "const deviceId = Number(msg.payload)\nconst controllers = flow.get('controllers')\n\nif (deviceId && controllers && controllers[deviceId]) {\n    const controller = controllers[deviceId]\n    \n    if (controller.IPv4) {\n       return { \n           topic: 'netmask', \n           payload: controller.IPv4.netmask\n       }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "c5052b18.578d98"
            ]
        ]
    },
    {
        "id": "808c2dbd.260fc",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "gateway",
        "func": "const deviceId = Number(msg.payload)\nconst controllers = flow.get('controllers')\n\nif (deviceId && controllers && controllers[deviceId]) {\n    const controller = controllers[deviceId]\n    \n    if (controller.IPv4) {\n       return { \n           topic: 'gateway', \n           payload: controller.IPv4.gateway\n       }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "5b16f8e7.972fb8"
            ]
        ]
    },
    {
        "id": "920f64db.d2fd58",
        "type": "ui_group",
        "z": "",
        "name": "configuration",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\"},\"405419896\":{\"address\":\"192.168.1.100:60000\"}}",
        "debug": true
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configure",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]