examples/dashboard/4-listen.json
[
    {
        "id": "c56e1667.998748",
        "type": "tab",
        "label": "4-listen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "18a61437.de498c",
        "type": "listen",
        "z": "c56e1667.998748",
        "name": "listen",
        "config": "cbd92359.dbf19",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "d378e1d6.40fe9",
                "b8dcd439.9a0448"
            ]
        ]
    },
    {
        "id": "b8dcd439.9a0448",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "b9a22810.4f89d8",
        "type": "ui_table",
        "z": "c56e1667.998748",
        "group": "659dc42b.91f43c",
        "name": "received-events",
        "order": 11,
        "width": 22,
        "height": 16,
        "columns": [
            {
                "field": "timestamp",
                "title": "timestamp",
                "width": "160",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "deviceId",
                "title": "controller",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "type",
                "title": "event type",
                "width": "132",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "granted",
                "title": "granted?",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "door",
                "title": "door",
                "width": "112",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "direction",
                "title": "direction",
                "width": "108",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "reason",
                "title": "reason",
                "width": "224",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "forceLock",
                "title": "force locked?",
                "width": "136",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fireAlarm",
                "title": "fire alarm",
                "width": "108",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "d378e1d6.40fe9",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "append-event",
        "func": "const events = flow.get('events') || []\nconst doors = flow.get('doors')\n\nconst deviceId = msg.payload.deviceId\nconst event = msg.payload.state\nconst timestamp = event.event.timestamp\nconst eventType = event.event.type.event.toUpperCase()\nconst granted = event.event.granted\nconst direction = event.event.direction.direction.toUpperCase()\nconst reason = event.event.reason.reason.toUpperCase()\nconst forceLock = event.inputs.forceLock\nconst fireAlarm = event.inputs.fireAlarm\nlet   door = event.door\n\nif (doors[deviceId] && doors[deviceId][event.event.door]) {\n    door = doors[deviceId][event.event.door]\n}\n\nconst item = {\n    'timestamp': timestamp,\n    'deviceId': deviceId,\n    'type': eventType,\n    'granted': granted,\n    'door': door,\n    'direction': direction,\n    'reason': reason,\n    'forceLock': forceLock,\n    'fireAlarm': fireAlarm\n}\n    \nevents.push(item)\n\nif (events.length > 32) {\n    events.shift()\n}\n\nflow.set('events', events)\n\nmsg.payload = {\n    'command': 'setData',\n    'arguments': [ events, false ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "const doors = {\n    405419896: {\n        1: 'ENTRANCE',\n        2: 'WORKSHOP',\n        3: 'TOWER',\n        4: 'DUNGEON'\n    },\n    303986753: {\n        1: 'DOOR X',\n        2: 'DOOR Y',\n        3: 'LABORATORY',\n        4: 'KITCHEN'\n    }\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "b9a22810.4f89d8",
                "f166aff5.ee995"
            ]
        ]
    },
    {
        "id": "70a4e5a1.040e3c",
        "type": "ui_text",
        "z": "c56e1667.998748",
        "group": "c03a3b24.d45c48",
        "order": 18,
        "width": 4,
        "height": 1,
        "name": "listen-address",
        "label": "address",
        "format": "{{msg.payload.address}}",
        "layout": "row-spread",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "fd5cb328.52147",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 340,
        "wires": [
            [
                "75e6f5f0.c7e47c"
            ]
        ]
    },
    {
        "id": "75e6f5f0.c7e47c",
        "type": "get-listener",
        "z": "c56e1667.998748",
        "name": "get-listener",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "70a4e5a1.040e3c",
                "e36670e.0a94b9"
            ]
        ]
    },
    {
        "id": "e36670e.0a94b9",
        "type": "ui_text",
        "z": "c56e1667.998748",
        "group": "c03a3b24.d45c48",
        "order": 20,
        "width": 4,
        "height": 1,
        "name": "listen-port",
        "label": "port",
        "format": "{{msg.payload.port}}",
        "layout": "row-spread",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "48b92667.8a59b8",
        "type": "set-listener",
        "z": "c56e1667.998748",
        "name": "set-listener",
        "config": "cbd92359.dbf19",
        "x": 910,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3331c261.f5db3e",
        "type": "ui_text_input",
        "z": "c56e1667.998748",
        "name": "listener-address",
        "label": "address",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 23,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-address",
        "x": 520,
        "y": 500,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "512a17cd.9fb318",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "listener",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('set-listener.device', msg.payload)\n        break\n\n    case 'set-address':\n        flow.set('set-listener.address', msg.payload)\n        break\n\n    case 'set-port':\n        flow.set('set-listener.port', msg.payload)\n        break\n        \n    case 'set':\n        let deviceId = flow.get('set-listener.device')\n        let address = flow.get('set-listener.address')\n        let port = flow.get('set-listener.port')\n\n        if (deviceId && address && port) {\n            msg.payload = { \n                deviceId: deviceId,\n                address: address,\n                port: port\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 460,
        "wires": [
            [
                "48b92667.8a59b8"
            ]
        ]
    },
    {
        "id": "5217acb4.4afe04",
        "type": "ui_text_input",
        "z": "c56e1667.998748",
        "name": "listener-port",
        "label": "port",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 27,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "set-port",
        "x": 530,
        "y": 540,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "bbeb26dc.ff7ab8",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 575,
        "y": 460,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "2371c9b8.1532e6",
        "type": "ui_ui_control",
        "z": "c56e1667.998748",
        "name": "tab-event",
        "events": "change",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "89dc1ab0.a68848"
            ]
        ]
    },
    {
        "id": "89dc1ab0.a68848",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "initialise-table",
        "func": "if ((msg.payload === 'change') && (typeof msg.tab !== \"undefined\") && (msg.name === 'events')) {\n    const events = flow.get('events') || []\n  \n    msg.payload = {\n        'command': 'setData',\n        'arguments': [ events, false ]\n    }\n\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "c488256d.ca2ac8"
            ]
        ]
    },
    {
        "id": "c488256d.ca2ac8",
        "type": "delay",
        "z": "c56e1667.998748",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "b9a22810.4f89d8"
            ]
        ]
    },
    {
        "id": "b66de9ec.5490b8",
        "type": "ui_text",
        "z": "c56e1667.998748",
        "group": "659dc42b.91f43c",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "events-table-title",
        "label": "received events",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "f166aff5.ee995",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "e1847d1c.42739",
        "type": "ui_button",
        "z": "c56e1667.998748",
        "name": "set-listener",
        "group": "920f64db.d2fd58",
        "order": 31,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "Sets controller network address, netmask and gateway",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "set",
        "x": 530,
        "y": 580,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "bc6d752a.1a51a8",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 155,
        "y": 40,
        "wires": [
            [
                "d2a1aaaf.3e9318"
            ]
        ]
    },
    {
        "id": "d2a1aaaf.3e9318",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "setup",
        "func": "flow.set('controllers', msg.payload.controllers)    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b019c75e.68a738",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "address",
        "func": "const deviceId = Number(msg.payload)\nconst controllers = flow.get('controllers')\n\nif (deviceId && controllers && controllers[deviceId]) {\n    const controller = controllers[deviceId]\n    \n    if (controller.listener) {\n       return { \n           topic: 'address', \n           payload: controller.listener.address \n       }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 500,
        "wires": [
            [
                "3331c261.f5db3e"
            ]
        ]
    },
    {
        "id": "4bee8740.f53308",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 155,
        "y": 540,
        "wires": [
            [
                "b019c75e.68a738",
                "b70f609a.39ab7"
            ]
        ]
    },
    {
        "id": "b70f609a.39ab7",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "port",
        "func": "const deviceId = Number(msg.payload)\nconst controllers = flow.get('controllers')\n\nif (deviceId && controllers && controllers[deviceId]) {\n    const controller = controllers[deviceId]\n    \n    if (controller.listener) {\n       return { \n           topic: 'port', \n           payload: controller.listener.port\n       }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "5217acb4.4afe04"
            ]
        ]
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\"},\"405419896\":{\"address\":\"192.168.1.100:60000\"}}",
        "debug": true
    },
    {
        "id": "659dc42b.91f43c",
        "type": "ui_group",
        "z": "",
        "name": "events",
        "tab": "f29b4883.377448",
        "order": 1,
        "disp": false,
        "width": 22,
        "collapse": false
    },
    {
        "id": "c03a3b24.d45c48",
        "type": "ui_group",
        "z": "",
        "name": "column-1",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "920f64db.d2fd58",
        "type": "ui_group",
        "z": "",
        "name": "configuration",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "f29b4883.377448",
        "type": "ui_tab",
        "z": "",
        "name": "events",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configure",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]