examples/dashboard/5-status.json
[
    {
        "id": "b2b669ed.2b50b8",
        "type": "tab",
        "label": "5-status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2dc88a53.cf8646",
        "type": "inject",
        "z": "b2b669ed.2b50b8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "1d2d547f.68acbc"
            ]
        ]
    },
    {
        "id": "1d2d547f.68acbc",
        "type": "get-status",
        "z": "b2b669ed.2b50b8",
        "name": "get-status",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "52d5b0c5.0e178",
                "66b13a53.2d40c4"
            ]
        ]
    },
    {
        "id": "52d5b0c5.0e178",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "66b13a53.2d40c4",
        "type": "function",
        "z": "b2b669ed.2b50b8",
        "name": "",
        "func": "return { state: msg.payload.state }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "a3aed72f.f0e048",
                "56871d27.da9ed4",
                "e00afbc8.15cb08",
                "b0695f96.173a",
                "3492fdc3.027362",
                "4a9b9ce7.cdd104",
                "26cd9d97.cca782",
                "a843b372.3b8a3",
                "920674f5.d4c3c8",
                "817be76d.110368",
                "c0eef76d.216288",
                "ca12ab41.ead508",
                "17050338.bd609d",
                "5589c510.5d81fc",
                "c7c5ecf6.38c19",
                "a8c13b2.cb6c9c8",
                "a2517dc1.e48db",
                "f38fbfbe.e8863",
                "6533f5de.14f6fc",
                "bd162cea.4ff96",
                "99f55329.e68b",
                "cbd52694.d57618",
                "629e6ee6.edbd",
                "ef0e11ca.d798",
                "2a139873.d98058",
                "975db344.fe62c"
            ]
        ]
    },
    {
        "id": "a3aed72f.f0e048",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "status-serial-number",
        "label": "serial number",
        "format": "{{state.serialNumber}}",
        "layout": "row-spread",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "56871d27.da9ed4",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 14,
        "width": 5,
        "height": 1,
        "name": "status-event-index",
        "label": "index",
        "format": "{{state.event.index}}",
        "layout": "row-spread",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd3d980e.eef9a8",
        "type": "link in",
        "z": "b2b669ed.2b50b8",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "1d2d547f.68acbc"
            ]
        ]
    },
    {
        "id": "e00afbc8.15cb08",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 18,
        "width": 5,
        "height": 1,
        "name": "status-event-type",
        "label": "type",
        "format": "{{state.event.type.event}}",
        "layout": "row-spread",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "b0695f96.173a",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 26,
        "width": 5,
        "height": 1,
        "name": "status-event-granted",
        "label": "granted",
        "format": "{{state.event.granted}}",
        "layout": "row-spread",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "3492fdc3.027362",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 22,
        "width": 5,
        "height": 1,
        "name": "status-event-door",
        "label": "door",
        "format": "{{state.event.door}}",
        "layout": "row-spread",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "4a9b9ce7.cdd104",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 24,
        "width": 5,
        "height": 1,
        "name": "status-event-direction",
        "label": "direction",
        "format": "{{state.event.direction.direction}}",
        "layout": "row-spread",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "26cd9d97.cca782",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 20,
        "width": 5,
        "height": 1,
        "name": "status-event-card",
        "label": "card",
        "format": "{{state.event.card}}",
        "layout": "row-spread",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "a843b372.3b8a3",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 16,
        "width": 5,
        "height": 1,
        "name": "status-event-timestamp",
        "label": "@",
        "format": "{{state.event.timestamp}}",
        "layout": "row-spread",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "920674f5.d4c3c8",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 33,
        "width": 2,
        "height": 1,
        "name": "door-1",
        "label": "",
        "format": "{{state.doors[1]}}",
        "layout": "col-center",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "817be76d.110368",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 37,
        "width": 2,
        "height": 1,
        "name": "door-2",
        "label": "",
        "format": "{{state.doors[2]}}",
        "layout": "col-center",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "c0eef76d.216288",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 41,
        "width": 2,
        "height": 1,
        "name": "door-3",
        "label": "",
        "format": "{{state.doors[3]}}",
        "layout": "col-center",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "ca12ab41.ead508",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 45,
        "width": 2,
        "height": 1,
        "name": "door-4",
        "label": "",
        "format": "{{state.doors[4]}}",
        "layout": "col-center",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "17050338.bd609d",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 34,
        "width": 2,
        "height": 1,
        "name": "button-1",
        "label": "",
        "format": "{{state.buttons[1]}}",
        "layout": "col-center",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "5589c510.5d81fc",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 38,
        "width": 2,
        "height": 1,
        "name": "button-2",
        "label": "",
        "format": "{{state.buttons[2]}}",
        "layout": "col-center",
        "x": 700,
        "y": 560,
        "wires": []
    },
    {
        "id": "c7c5ecf6.38c19",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 42,
        "width": 2,
        "height": 1,
        "name": "button-3",
        "label": "",
        "format": "{{state.buttons[3]}}",
        "layout": "col-center",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "a8c13b2.cb6c9c8",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 46,
        "width": 2,
        "height": 1,
        "name": "button-4",
        "label": "",
        "format": "{{state.buttons[4]}}",
        "layout": "col-center",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "a2517dc1.e48db",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "system-status",
        "label": "system status",
        "format": "{{state.system.status}}",
        "layout": "row-spread",
        "x": 960,
        "y": 40,
        "wires": []
    },
    {
        "id": "f38fbfbe.e8863",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 7,
        "width": 5,
        "height": 1,
        "name": "system-date",
        "label": "system date",
        "format": "{{state.system.date}}",
        "layout": "row-spread",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "6533f5de.14f6fc",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 9,
        "width": 5,
        "height": 1,
        "name": "system-time",
        "label": "system time",
        "format": "{{state.system.time}}",
        "layout": "row-spread",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "bd162cea.4ff96",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 11,
        "width": 5,
        "height": 1,
        "name": "special-info",
        "label": "special info",
        "format": "{{state.specialInfo}}",
        "layout": "row-spread",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "99f55329.e68b",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 35,
        "width": 2,
        "height": 1,
        "name": "relay-1",
        "label": "",
        "format": "{{state.relays.relays[1]}}",
        "layout": "col-center",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "cbd52694.d57618",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 39,
        "width": 2,
        "height": 1,
        "name": "relay-2",
        "label": "",
        "format": "{{state.relays.relays[2]}}",
        "layout": "col-center",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "629e6ee6.edbd",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 43,
        "width": 2,
        "height": 1,
        "name": "relay-3",
        "label": "",
        "format": "{{state.relays.relays[3]}}",
        "layout": "col-center",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "ef0e11ca.d798",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 47,
        "width": 2,
        "height": 1,
        "name": "relay-4",
        "label": "",
        "format": "{{state.relays.relays[4]}}",
        "layout": "col-center",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "2a139873.d98058",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 50,
        "width": 5,
        "height": 1,
        "name": "force-locked",
        "label": "force locked",
        "format": "{{state.inputs.forceLock}}",
        "layout": "row-spread",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "975db344.fe62c",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 52,
        "width": 5,
        "height": 1,
        "name": "fire-alarm",
        "label": "fire alarm",
        "format": "{{state.inputs.fireAlarm}}",
        "layout": "row-spread",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "6967be99.82896",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 32,
        "width": 1,
        "height": 1,
        "name": "label-door-1",
        "label": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "a8559a5d.db6938",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 36,
        "width": 1,
        "height": 1,
        "name": "label-door-2",
        "label": "2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "9bdfdd07.333ed",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 40,
        "width": 1,
        "height": 1,
        "name": "label-door-3",
        "label": "3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 440,
        "wires": []
    },
    {
        "id": "e89c2ea7.19e92",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 44,
        "width": 1,
        "height": 1,
        "name": "label-door-4",
        "label": "4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\"},\"405419896\":{\"address\":\"192.168.1.100:60000\"}}",
        "debug": true
    },
    {
        "id": "ffdc2439.246b38",
        "type": "ui_group",
        "z": "",
        "name": "column-3",
        "tab": "2731970.74c476a",
        "order": 4,
        "disp": false,
        "width": 7,
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]