examples/dashboard/6-time.json
[
    {
        "id": "f7a455cc.3fefe8",
        "type": "tab",
        "label": "6-time",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6a3d799.3fe3688",
        "type": "get-time",
        "z": "f7a455cc.3fefe8",
        "name": "get-time",
        "config": "cbd92359.dbf19",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "2c2ab991.619516",
                "7bf9bf1f.c2c11"
            ]
        ]
    },
    {
        "id": "2c2ab991.619516",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "date/time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "7bf9bf1f.c2c11",
        "type": "ui_text",
        "z": "f7a455cc.3fefe8",
        "group": "c03a3b24.d45c48",
        "order": 26,
        "width": 4,
        "height": 1,
        "name": "datetime",
        "label": "",
        "format": "{{msg.payload.datetime}}",
        "layout": "row-spread",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "a7169ed8.d4f29",
        "type": "link in",
        "z": "f7a455cc.3fefe8",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "6a3d799.3fe3688"
            ]
        ]
    },
    {
        "id": "804a318e.14ddb",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "ea3bdfee.bf0d1",
        "type": "set-time",
        "z": "f7a455cc.3fefe8",
        "name": "set-time",
        "config": "cbd92359.dbf19",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "804a318e.14ddb"
            ]
        ]
    },
    {
        "id": "cbe2b9d7.ec8fe8",
        "type": "ui_text_input",
        "z": "f7a455cc.3fefe8",
        "name": "time",
        "label": "",
        "tooltip": "",
        "group": "aee33fcb.43067",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "time",
        "delay": "0",
        "topic": "set-time",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "c729598d.d63658",
        "type": "ui_date_picker",
        "z": "f7a455cc.3fefe8",
        "name": "date",
        "label": "",
        "group": "aee33fcb.43067",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-date",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "1768d838.2f1398",
        "type": "function",
        "z": "f7a455cc.3fefe8",
        "name": "datetime",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('set-time.device', msg.payload)\n        break\n\n    case 'set-date':\n        flow.set('set-time.date', new Date(msg.payload))\n        break\n\n    case 'set-time':\n        const dt = new Date(msg.payload)\n        const tz = dt.getTimezoneOffset()\n        flow.set('set-time.time', new Date(msg.payload + tz*60*1000))\n        break\n        \n    case 'set':\n        let deviceId = flow.get('set-time.device')\n        let date = flow.get('set-time.date')\n        let time = flow.get('set-time.time')\n\n        if (!date) {\n            date = new Date()\n        }\n\n        if (!time) {\n            time = new Date()\n        }\n\n        if (deviceId && date && time) {\n            const year = format(date.getFullYear(), 4)\n            const month = format(date.getMonth()+1, 2)\n            const day = format(date.getDate(), 2)\n            const hours = format(time.getHours(), 2)\n            const minutes = format(time.getMinutes(), 2)\n            const seconds = format(time.getSeconds(), 2)\n\n            msg.payload = { \n                deviceId: deviceId,\n                datetime: year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "ea3bdfee.bf0d1"
            ]
        ]
    },
    {
        "id": "c59a9f6b.b8afe",
        "type": "link in",
        "z": "f7a455cc.3fefe8",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 175,
        "y": 340,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "6e89f6cc.477eb8",
        "type": "ui_text",
        "z": "f7a455cc.3fefe8",
        "group": "aee33fcb.43067",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "label-datetime",
        "label": "date/time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 120,
        "y": 260,
        "wires": []
    },
    {
        "id": "6b260c3c.af71e4",
        "type": "ui_button",
        "z": "f7a455cc.3fefe8",
        "name": "set-datetime",
        "group": "aee33fcb.43067",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "Sets the controller date and time",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "set",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\"},\"405419896\":{\"address\":\"192.168.1.100:60000\"}}",
        "debug": true
    },
    {
        "id": "c03a3b24.d45c48",
        "type": "ui_group",
        "z": "",
        "name": "column-1",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aee33fcb.43067",
        "type": "ui_group",
        "z": "",
        "name": "column-3",
        "tab": "e4b36c96.1a567",
        "order": 3,
        "disp": false,
        "width": 8,
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configuration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]