examples/dashboard/7-doors.json
[
    {
        "id": "86bbf50e.a7f188",
        "type": "tab",
        "label": "doors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2046730f.81897c",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "7317e0e6.862af",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "292b6aca.7aa1e6"
            ]
        ]
    },
    {
        "id": "d0069706.de5418",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "door-1",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "1d446f7d.8d4dd1",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 220,
        "wires": [
            [
                "292b6aca.7aa1e6"
            ]
        ]
    },
    {
        "id": "bedb99cc.cc0768",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 220,
        "wires": [
            [
                "2046730f.81897c",
                "6c1033a4.e0d67c"
            ]
        ]
    },
    {
        "id": "292b6aca.7aa1e6",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "doors",
        "func": "entrance = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 1\n    }\n}\n\nworkshop = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 2\n    }\n}\n\ntower = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 3\n    }\n}\n\ndungeon = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 4\n    }\n}\n\nreturn [ entrance, workshop, tower, dungeon ];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "bedb99cc.cc0768"
            ],
            [
                "e7e0d04a.234f7"
            ],
            [
                "c1762251.eb596"
            ],
            [
                "77f19a6f.95b404"
            ]
        ]
    },
    {
        "id": "315cefc9.048fa",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "door-2",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "e7e0d04a.234f7",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "a5ff7250.e42f2"
            ]
        ]
    },
    {
        "id": "b42f80aa.aebdd",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "door-3",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "c1762251.eb596",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 300,
        "wires": [
            [
                "9d6e0405.d9f328"
            ]
        ]
    },
    {
        "id": "87126e15.ad945",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "door-4",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "77f19a6f.95b404",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 340,
        "wires": [
            [
                "6794a130.2506"
            ]
        ]
    },
    {
        "id": "6d8d48f7.397bb8",
        "type": "set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "552b0a9d.9bc984"
            ]
        ]
    },
    {
        "id": "552b0a9d.9bc984",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "2a6bfd65.85b982",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-control",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-door-control.device', msg.payload)\n        break;\n\n    case 'set-door':\n        flow.set('set-door-control.door', msg.payload)\n        break;\n\n    case 'set-delay':\n        flow.set('set-door-control.delay', msg.payload)\n        break;\n\n    case 'set-control':\n        flow.set('set-door-control.control', msg.payload)\n        break;\n}\n\nlet deviceId = flow.get('set-door-control.device')\nlet door = flow.get('set-door-control.door')\nlet delay = flow.get('set-door-control.delay')\nlet control = flow.get('set-door-control.control')\n\nif (deviceId && door && delay && control) {\n    msg.payload = { \n        deviceId: deviceId,\n        door: door,\n        delay: delay,\n        control: control\n    }\n        \n    return msg\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "6d8d48f7.397bb8"
            ]
        ]
    },
    {
        "id": "5fb4202c.0de66",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"door\":1,\"delay\":6,\"control\":\"normally closed\"}",
        "payloadType": "json",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "6d8d48f7.397bb8"
            ]
        ]
    },
    {
        "id": "17002233.3f01ae",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "door",
        "label": "door:",
        "tooltip": "",
        "place": "<select door>",
        "group": "920f64db.d2fd58",
        "order": 25,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "entrance",
                "value": 1,
                "type": "num"
            },
            {
                "label": "workshop",
                "value": "2",
                "type": "str"
            },
            {
                "label": "tower",
                "value": "3",
                "type": "str"
            },
            {
                "label": "dungeon",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-door",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "658fc734.2cb608",
        "type": "ui_numeric",
        "z": "86bbf50e.a7f188",
        "name": "delay",
        "label": "delay:",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 33,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "set-delay",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "step": 1,
        "x": 110,
        "y": 500,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "b9f51091.3fdb3",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "control",
        "label": "control:",
        "tooltip": "",
        "place": "<select control state>",
        "group": "920f64db.d2fd58",
        "order": 29,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "normally open",
                "value": "normally open",
                "type": "str"
            },
            {
                "label": "normally closed",
                "value": "normally closed",
                "type": "str"
            },
            {
                "label": "controlled",
                "value": "controlled",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-control",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "e90fb8ea.bb5528",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "",
        "links": [
            "d4e3111f.b25ea"
        ],
        "x": 135,
        "y": 420,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "6c1b3177.30bd2",
        "type": "open-door",
        "z": "86bbf50e.a7f188",
        "name": "open-door",
        "config": "cbd92359.dbf19",
        "x": 470,
        "y": 760,
        "wires": [
            [
                "cf49a18d.73b92"
            ]
        ]
    },
    {
        "id": "cf49a18d.73b92",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 720,
        "wires": []
    },
    {
        "id": "f6fe5b25.975708",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-1",
        "group": "aa8a9aa4.208ff8",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Entrance",
        "tooltip": "Opens entrance door",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":1 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "ae9ed478.d78068",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-2",
        "group": "aa8a9aa4.208ff8",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Workshop",
        "tooltip": "Opens door to workshop",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":2 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "37325e2d.2dfce2",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-3",
        "group": "aa8a9aa4.208ff8",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Tower",
        "tooltip": "Opens door to tower",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":3 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "d63d369f.4da2e8",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-4",
        "group": "aa8a9aa4.208ff8",
        "order": 4,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Dungeon",
        "tooltip": "Opens door to dungeon",
        "color": "#C00000",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":4 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "29dbb7ba.438588",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-1",
        "group": "3e8521cf.0cd58e",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Door X",
        "tooltip": "Opens mysterious door 'X'",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":1 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "4c4ef468.37c2dc",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-2",
        "group": "3e8521cf.0cd58e",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Door Y",
        "tooltip": "Opens the door to 'Y'",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":2 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "6c2c5614.0621c8",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-3",
        "group": "3e8521cf.0cd58e",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Laboratory",
        "tooltip": "Opens the laboratory door",
        "color": "#C00000",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":3 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "4539c0cb.71ab6",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-4",
        "group": "3e8521cf.0cd58e",
        "order": 4,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Kitchen",
        "tooltip": "Opens the kitchen door",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":4 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 920,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "23ed32e1.98a00e",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\":405419896, \"door\":1 }",
        "payloadType": "json",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "6c1033a4.e0d67c",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-1",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 1'\n\nif (device && device.doors && device.doors[1]) {\n    name = device.doors[1]\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 220,
        "wires": [
            [
                "d0069706.de5418",
                "a9385b50.3b7318"
            ]
        ]
    },
    {
        "id": "a5ff7250.e42f2",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-2",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 2'\n\nif (device && device.doors && device.doors[2]) {\n    name = device.doors[2]\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 260,
        "wires": [
            [
                "315cefc9.048fa"
            ]
        ]
    },
    {
        "id": "9d6e0405.d9f328",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-3",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 3'\n\nif (device && device.doors && device.doors[3]) {\n    name = device.doors[3]\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "b42f80aa.aebdd"
            ]
        ]
    },
    {
        "id": "6794a130.2506",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-4",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 4'\n\nif (device && device.doors && device.doors[4]) {\n    name = device.doors[4]\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "87126e15.ad945"
            ]
        ]
    },
    {
        "id": "c9da7cbe.df265",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 155,
        "y": 40,
        "wires": [
            [
                "16949541.7965bb"
            ]
        ]
    },
    {
        "id": "16949541.7965bb",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "setup",
        "func": "flow.set('controllers', msg.payload.controllers)\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a9385b50.3b7318",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "e37b45c2.fabe48",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "label-door-1",
        "label": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "9a69f42.4602008",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "label-door-2",
        "label": "2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "72afa0d4.8d581",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 6,
        "width": 1,
        "height": 1,
        "name": "label-door-3",
        "label": "3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "6a59290f.62fe48",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "label-door-4",
        "label": "4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "573f9bfa.7e4564",
        "type": "ui_group",
        "z": "",
        "name": "column-2",
        "tab": "2731970.74c476a",
        "order": 3,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\"},\"405419896\":{\"address\":\"192.168.1.100:60000\"}}",
        "debug": true
    },
    {
        "id": "920f64db.d2fd58",
        "type": "ui_group",
        "z": "",
        "name": "configuration",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "aa8a9aa4.208ff8",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "7236652.51cee9c",
        "order": 1,
        "disp": false,
        "width": 3,
        "collapse": false
    },
    {
        "id": "3e8521cf.0cd58e",
        "type": "ui_group",
        "z": "",
        "name": "303986753",
        "tab": "7236652.51cee9c",
        "order": 2,
        "disp": false,
        "width": 3,
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configure",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7236652.51cee9c",
        "type": "ui_tab",
        "z": "",
        "name": "doors",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]