examples/dashboard/7-doors.json
[
    {
        "id": "86bbf50e.a7f188",
        "type": "tab",
        "label": "7-doors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d0069706.de5418",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 9,
        "width": 5,
        "height": 1,
        "name": "door-1",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "1d446f7d.8d4dd1",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 140,
        "wires": [
            [
                "292b6aca.7aa1e6"
            ]
        ]
    },
    {
        "id": "bedb99cc.cc0768",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "6c1033a4.e0d67c"
            ]
        ]
    },
    {
        "id": "292b6aca.7aa1e6",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "doors",
        "func": "entrance = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 1\n    }\n}\n\nworkshop = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 2\n    }\n}\n\ntower = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 3\n    }\n}\n\ndungeon = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 4\n    }\n}\n\nreturn [ entrance, workshop, tower, dungeon ];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "bedb99cc.cc0768"
            ],
            [
                "e7e0d04a.234f7"
            ],
            [
                "c1762251.eb596"
            ],
            [
                "77f19a6f.95b404"
            ]
        ]
    },
    {
        "id": "315cefc9.048fa",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 11,
        "width": 5,
        "height": 1,
        "name": "door-2",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "e7e0d04a.234f7",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "a5ff7250.e42f2"
            ]
        ]
    },
    {
        "id": "b42f80aa.aebdd",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 13,
        "width": 5,
        "height": 1,
        "name": "door-3",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "c1762251.eb596",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "9d6e0405.d9f328"
            ]
        ]
    },
    {
        "id": "87126e15.ad945",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 15,
        "width": 5,
        "height": 1,
        "name": "door-4",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "77f19a6f.95b404",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 500,
        "y": 240,
        "wires": [
            [
                "6794a130.2506"
            ]
        ]
    },
    {
        "id": "6c1b3177.30bd2",
        "type": "open-door",
        "z": "86bbf50e.a7f188",
        "name": "open-door",
        "config": "cbd92359.dbf19",
        "x": 650,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "f6fe5b25.975708",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-1",
        "group": "aa8a9aa4.208ff8",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Entrance",
        "tooltip": "Opens entrance door",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":1 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "ae9ed478.d78068",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-2",
        "group": "aa8a9aa4.208ff8",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Workshop",
        "tooltip": "Opens door to workshop",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":2 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "37325e2d.2dfce2",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-3",
        "group": "aa8a9aa4.208ff8",
        "order": 4,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Tower",
        "tooltip": "Opens door to tower",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":3 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1140,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "d63d369f.4da2e8",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-4",
        "group": "aa8a9aa4.208ff8",
        "order": 5,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Dungeon",
        "tooltip": "Opens door to dungeon",
        "color": "#C00000",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":4 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1180,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "29dbb7ba.438588",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-1",
        "group": "3e8521cf.0cd58e",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Door X",
        "tooltip": "Opens mysterious door 'X'",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":1 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1260,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "4c4ef468.37c2dc",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-2",
        "group": "3e8521cf.0cd58e",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Door Y",
        "tooltip": "Opens the door to 'Y'",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":2 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1300,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "6c2c5614.0621c8",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-3",
        "group": "3e8521cf.0cd58e",
        "order": 4,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Laboratory",
        "tooltip": "Opens the laboratory door",
        "color": "#C00000",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":3 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1340,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "4539c0cb.71ab6",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-4",
        "group": "3e8521cf.0cd58e",
        "order": 5,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Kitchen",
        "tooltip": "Opens the kitchen door",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":4 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1380,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "6c1033a4.e0d67c",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-1",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 1'\n\nif (device && device.doors && device.doors[1]) {\n    name = device.doors[1].name\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "d0069706.de5418"
            ]
        ]
    },
    {
        "id": "a5ff7250.e42f2",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-2",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 2'\n\nif (device && device.doors && device.doors[2]) {\n    name = device.doors[2].name\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 160,
        "wires": [
            [
                "315cefc9.048fa"
            ]
        ]
    },
    {
        "id": "9d6e0405.d9f328",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-3",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 3'\n\nif (device && device.doors && device.doors[3]) {\n    name = device.doors[3].name\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 200,
        "wires": [
            [
                "b42f80aa.aebdd"
            ]
        ]
    },
    {
        "id": "6794a130.2506",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-4",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 4'\n\nif (device && device.doors && device.doors[4]) {\n    name = device.doors[4].name\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "87126e15.ad945"
            ]
        ]
    },
    {
        "id": "c9da7cbe.df265",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 155,
        "y": 40,
        "wires": [
            [
                "16949541.7965bb"
            ]
        ]
    },
    {
        "id": "16949541.7965bb",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "setup",
        "func": "flow.set('controllers', msg.payload.controllers)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e37b45c2.fabe48",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "label-door-1",
        "label": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "9a69f42.4602008",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 10,
        "width": 1,
        "height": 1,
        "name": "label-door-2",
        "label": "2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "72afa0d4.8d581",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 12,
        "width": 1,
        "height": 1,
        "name": "label-door-3",
        "label": "3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "6a59290f.62fe48",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 14,
        "width": 1,
        "height": 1,
        "name": "label-door-4",
        "label": "4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "cd8e4fed.17487",
        "type": "set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control-1",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 890,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "646ca32.1f1d75c",
        "type": "ui_numeric",
        "z": "86bbf50e.a7f188",
        "name": "delay-1",
        "label": "",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 35,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "set-delay",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "step": 1,
        "x": 460,
        "y": 500,
        "wires": [
            [
                "f735e4d0.506428"
            ]
        ]
    },
    {
        "id": "fd956f89.3ead1",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "control-1",
        "label": "",
        "tooltip": "",
        "place": "<select control state>",
        "group": "920f64db.d2fd58",
        "order": 36,
        "width": 4,
        "height": 2,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "normally open",
                "value": "normally open",
                "type": "str"
            },
            {
                "label": "normally closed",
                "value": "normally closed",
                "type": "str"
            },
            {
                "label": "controlled",
                "value": "controlled",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-control",
        "x": 460,
        "y": 540,
        "wires": [
            [
                "f735e4d0.506428"
            ]
        ]
    },
    {
        "id": "b387bd67.ca5f9",
        "type": "ui_numeric",
        "z": "86bbf50e.a7f188",
        "name": "delay-2",
        "label": "",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 44,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "set-delay",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "step": 1,
        "x": 460,
        "y": 640,
        "wires": [
            [
                "3e95cfc.44a1c3"
            ]
        ]
    },
    {
        "id": "da0e7b9b.8d5f28",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "control-2",
        "label": "",
        "tooltip": "",
        "place": "<select control state>",
        "group": "920f64db.d2fd58",
        "order": 45,
        "width": 4,
        "height": 2,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "normally open",
                "value": "normally open",
                "type": "str"
            },
            {
                "label": "normally closed",
                "value": "normally closed",
                "type": "str"
            },
            {
                "label": "controlled",
                "value": "controlled",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-control",
        "x": 460,
        "y": 680,
        "wires": [
            [
                "3e95cfc.44a1c3"
            ]
        ]
    },
    {
        "id": "884adddc.4d671",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "920f64db.d2fd58",
        "order": 34,
        "width": 2,
        "height": 1,
        "name": "door-1",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "f56ee65b.b00e98",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "920f64db.d2fd58",
        "order": 43,
        "width": 2,
        "height": 1,
        "name": "door-2",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "6b8ea67a.0ca0f8",
        "type": "ui_numeric",
        "z": "86bbf50e.a7f188",
        "name": "delay-3",
        "label": "",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 51,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "set-delay",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "step": 1,
        "x": 460,
        "y": 780,
        "wires": [
            [
                "e455630d.7089e"
            ]
        ]
    },
    {
        "id": "f21d22a9.a9f9b",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "control-3",
        "label": "",
        "tooltip": "",
        "place": "<select control state>",
        "group": "920f64db.d2fd58",
        "order": 52,
        "width": 4,
        "height": 2,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "normally open",
                "value": "normally open",
                "type": "str"
            },
            {
                "label": "normally closed",
                "value": "normally closed",
                "type": "str"
            },
            {
                "label": "controlled",
                "value": "controlled",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-control",
        "x": 460,
        "y": 820,
        "wires": [
            [
                "e455630d.7089e"
            ]
        ]
    },
    {
        "id": "4f2839ae.28bad8",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "920f64db.d2fd58",
        "order": 50,
        "width": 2,
        "height": 1,
        "name": "door-3",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 450,
        "y": 740,
        "wires": []
    },
    {
        "id": "8f682ba0.944998",
        "type": "ui_numeric",
        "z": "86bbf50e.a7f188",
        "name": "delay-4",
        "label": "",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 59,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "set-delay",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "step": 1,
        "x": 460,
        "y": 920,
        "wires": [
            [
                "a6475900.efa528"
            ]
        ]
    },
    {
        "id": "1b53608.94952a",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "control-4",
        "label": "",
        "tooltip": "",
        "place": "<select control state>",
        "group": "920f64db.d2fd58",
        "order": 60,
        "width": 4,
        "height": 2,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "normally open",
                "value": "normally open",
                "type": "str"
            },
            {
                "label": "normally closed",
                "value": "normally closed",
                "type": "str"
            },
            {
                "label": "controlled",
                "value": "controlled",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-control",
        "x": 460,
        "y": 960,
        "wires": [
            [
                "a6475900.efa528"
            ]
        ]
    },
    {
        "id": "4e707382.0be21c",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "920f64db.d2fd58",
        "order": 58,
        "width": 2,
        "height": 1,
        "name": "door-4",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 450,
        "y": 880,
        "wires": []
    },
    {
        "id": "a2ff60b0.e4d4d",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "set-doors",
        "group": "920f64db.d2fd58",
        "order": 65,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "Sets the controller door delays and control states",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "set",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "f735e4d0.506428",
                "3e95cfc.44a1c3",
                "e455630d.7089e",
                "a6475900.efa528"
            ]
        ]
    },
    {
        "id": "f1f358f4.a86a38",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "",
        "links": [
            "14775167.8aa25f"
        ],
        "x": 155,
        "y": 500,
        "wires": [
            [
                "fa1c6034.ba5af",
                "140a8b07.613185",
                "db99fac4.013b98",
                "b9a59a0.a0fd468"
            ]
        ]
    },
    {
        "id": "fa1c6034.ba5af",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-1",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = Number(msg.payload.deviceId)\n\nif (controllers && controllers[deviceId]) {\n    const device = controllers[deviceId]\n    \n    door = { topic:\"set-door\", payload: device.doors[1].name}\n    delay = { topic:\"set-delay\", payload: device.doors[1].delay}\n    control = { topic:\"set-control\", payload: device.doors[1].control}\n\n    return [ door,delay,control ]\n}\n\nreturn [ null,null,null ]\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 500,
        "wires": [
            [
                "884adddc.4d671"
            ],
            [
                "646ca32.1f1d75c",
                "f735e4d0.506428"
            ],
            [
                "fd956f89.3ead1"
            ]
        ]
    },
    {
        "id": "140a8b07.613185",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-2",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = Number(msg.payload.deviceId)\n\nif (controllers && controllers[deviceId]) {\n    const device = controllers[deviceId]\n    \n    door = { topic:\"set-door\", payload: device.doors[2].name}\n    delay = { topic:\"set-delay\", payload: device.doors[2].delay}\n    control = { topic:\"set-control\", payload: device.doors[2].control}\n\n    return [ door,delay,control ]\n}\n\nreturn [ null,null,null ]\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 640,
        "wires": [
            [
                "f56ee65b.b00e98"
            ],
            [
                "b387bd67.ca5f9",
                "3e95cfc.44a1c3"
            ],
            [
                "da0e7b9b.8d5f28"
            ]
        ]
    },
    {
        "id": "db99fac4.013b98",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-3",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = Number(msg.payload.deviceId)\n\nif (controllers && controllers[deviceId]) {\n    const device = controllers[deviceId]\n    \n    door = { topic:\"set-door\", payload: device.doors[3].name}\n    delay = { topic:\"set-delay\", payload: device.doors[3].delay}\n    control = { topic:\"set-control\", payload: device.doors[3].control}\n\n    return [ door,delay,control ]\n}\n\nreturn [ null,null,null ]\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 780,
        "wires": [
            [
                "4f2839ae.28bad8"
            ],
            [
                "6b8ea67a.0ca0f8",
                "e455630d.7089e"
            ],
            [
                "f21d22a9.a9f9b"
            ]
        ]
    },
    {
        "id": "b9a59a0.a0fd468",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-4",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = Number(msg.payload.deviceId)\n\nif (controllers && controllers[deviceId]) {\n    const device = controllers[deviceId]\n    \n    door = { topic:\"set-door\", payload: device.doors[4].name}\n    delay = { topic:\"set-delay\", payload: device.doors[4].delay}\n    control = { topic:\"set-control\", payload: device.doors[4].control}\n\n    return [ door,delay,control ]\n}\n\nreturn [ null,null,null ]\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 920,
        "wires": [
            [
                "4e707382.0be21c"
            ],
            [
                "8f682ba0.944998",
                "a6475900.efa528"
            ],
            [
                "1b53608.94952a"
            ]
        ]
    },
    {
        "id": "f735e4d0.506428",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-control-1",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-door-1-control.device', Number(msg.payload.deviceId))\n        break;\n\n    case 'set-door':\n        flow.set('set-door-1-control.door', msg.payload)\n        break;\n\n    case 'set-delay':\n        flow.set('set-door-1-control.delay', msg.payload)\n        break;\n\n    case 'set-control':\n        flow.set('set-door-1-control.control', msg.payload)\n        break;\n        \n    case 'set':\n        let deviceId = flow.get('set-door-1-control.device')\n        let delay = flow.get('set-door-1-control.delay')\n        let control = flow.get('set-door-1-control.control')\n\n        if (deviceId && delay && control) {\n           msg.payload = { \n               deviceId: deviceId,\n               door: 1,\n               delay: delay,\n               control: control\n           }\n            return msg\n        }\n        break\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 460,
        "wires": [
            [
                "cd8e4fed.17487"
            ]
        ]
    },
    {
        "id": "3c0f330f.3cda1c",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "",
        "links": [
            "14775167.8aa25f"
        ],
        "x": 515,
        "y": 340,
        "wires": [
            [
                "f735e4d0.506428",
                "3e95cfc.44a1c3",
                "e455630d.7089e",
                "a6475900.efa528"
            ]
        ]
    },
    {
        "id": "3e95cfc.44a1c3",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-control-2",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-door-2-control.device', Number(msg.payload.deviceId))\n        break;\n\n    case 'set-door':\n        flow.set('set-door-2-control.door', msg.payload)\n        break;\n\n    case 'set-delay':\n        flow.set('set-door-2-control.delay', msg.payload)\n        break;\n\n    case 'set-control':\n        flow.set('set-door-2-control.control', msg.payload)\n        break;\n        \n    case 'set':\n        let deviceId = flow.get('set-door-2-control.device')\n        let delay = flow.get('set-door-2-control.delay')\n        let control = flow.get('set-door-2-control.control')\n\n        if (deviceId && delay && control) {\n           msg.payload = { \n               deviceId: deviceId,\n               door: 2,\n               delay: delay,\n               control: control\n           }\n            return msg\n        }\n        break\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 600,
        "wires": [
            [
                "79faf369.faabcc"
            ]
        ]
    },
    {
        "id": "79faf369.faabcc",
        "type": "set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control-2",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 890,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e455630d.7089e",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-control-3",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-door-3-control.device', Number(msg.payload.deviceId))\n        break;\n\n    case 'set-door':\n        flow.set('set-door-3-control.door', msg.payload)\n        break;\n\n    case 'set-delay':\n        flow.set('set-door-3-control.delay', msg.payload)\n        break;\n\n    case 'set-control':\n        flow.set('set-door-3-control.control', msg.payload)\n        break;\n        \n    case 'set':\n        let deviceId = flow.get('set-door-3-control.device')\n        let delay = flow.get('set-door-3-control.delay')\n        let control = flow.get('set-door-3-control.control')\n\n        if (deviceId && delay && control) {\n           msg.payload = { \n               deviceId: deviceId,\n               door: 3,\n               delay: delay,\n               control: control\n           }\n            return msg\n        }\n        break\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 740,
        "wires": [
            [
                "c258df7c.314b8"
            ]
        ]
    },
    {
        "id": "c258df7c.314b8",
        "type": "set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control-3",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 890,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "a6475900.efa528",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-control-4",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-door-4-control.device', Number(msg.payload.deviceId))\n        break;\n\n    case 'set-door':\n        flow.set('set-door-4-control.door', msg.payload)\n        break;\n\n    case 'set-delay':\n        flow.set('set-door-4-control.delay', msg.payload)\n        break;\n\n    case 'set-control':\n        flow.set('set-door-4-control.control', msg.payload)\n        break;\n        \n    case 'set':\n        let deviceId = flow.get('set-door-4-control.device')\n        let delay = flow.get('set-door-4-control.delay')\n        let control = flow.get('set-door-4-control.control')\n\n        if (deviceId && delay && control) {\n           msg.payload = { \n               deviceId: deviceId,\n               door: 4,\n               delay: delay,\n               control: control\n           }\n            return msg\n        }\n        break\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 880,
        "wires": [
            [
                "47f22c48.933e04"
            ]
        ]
    },
    {
        "id": "47f22c48.933e04",
        "type": "set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control-4",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 890,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "974e2138.dbd93",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "920f64db.d2fd58",
        "order": 28,
        "width": 2,
        "height": 1,
        "name": "label-door",
        "label": "door",
        "format": "",
        "layout": "row-left",
        "x": 210,
        "y": 340,
        "wires": []
    },
    {
        "id": "b18e34f4.29f168",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "920f64db.d2fd58",
        "order": 29,
        "width": 2,
        "height": 1,
        "name": "label-delay",
        "label": "delay",
        "format": "",
        "layout": "row-left",
        "x": 210,
        "y": 380,
        "wires": []
    },
    {
        "id": "7c77516f.a5ae5",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "920f64db.d2fd58",
        "order": 30,
        "width": 4,
        "height": 1,
        "name": "label-control",
        "label": "control",
        "format": "",
        "layout": "row-left",
        "x": 210,
        "y": 420,
        "wires": []
    },
    {
        "id": "3ba60725.b1d218",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "label-doors",
        "label": "doors",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1010,
        "y": 80,
        "wires": []
    },
    {
        "id": "573f9bfa.7e4564",
        "type": "ui_group",
        "z": "",
        "name": "column-2",
        "tab": "2731970.74c476a",
        "order": 3,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\"},\"405419896\":{\"address\":\"192.168.1.100:60000\"}}",
        "debug": true
    },
    {
        "id": "aa8a9aa4.208ff8",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "7236652.51cee9c",
        "order": 1,
        "disp": false,
        "width": 3,
        "collapse": false
    },
    {
        "id": "3e8521cf.0cd58e",
        "type": "ui_group",
        "z": "",
        "name": "303986753",
        "tab": "7236652.51cee9c",
        "order": 2,
        "disp": false,
        "width": 3,
        "collapse": false
    },
    {
        "id": "920f64db.d2fd58",
        "type": "ui_group",
        "z": "",
        "name": "panel",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": false,
        "width": 14,
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7236652.51cee9c",
        "type": "ui_tab",
        "z": "",
        "name": "doors",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configuration",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]