examples/dashboard/8-cards.json
[
    {
        "id": "2a36b650.4b9b7a",
        "type": "tab",
        "label": "8-cards",
        "disabled": false,
        "info": ""
    },
    {
        "id": "78c4fc48.bc5bf4",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "573f9bfa.7e4564",
        "order": 15,
        "width": 3,
        "height": 1,
        "name": "cards",
        "label": "count",
        "format": "{{msg.payload.cards}}",
        "layout": "row-spread",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "b8460bf9.4811f8",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 220,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "4f2ad0e3.4c05e",
        "type": "get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "config": "cbd92359.dbf19",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "78c4fc48.bc5bf4"
            ]
        ]
    },
    {
        "id": "7fe3bec1.b4483",
        "type": "put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "config": "cbd92359.dbf19",
        "x": 2420,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "46db6d43.a9d444",
        "type": "ui_text_input",
        "z": "2a36b650.4b9b7a",
        "name": "card.number",
        "label": "card number",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "set-card-number",
        "x": 1010,
        "y": 600,
        "wires": [
            [
                "cb6b878.02d9b78"
            ]
        ]
    },
    {
        "id": "83c1860b.02d9f8",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 5,
        "width": 1,
        "height": 1,
        "name": "405419896-from",
        "label": "from",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1630,
        "y": 360,
        "wires": []
    },
    {
        "id": "70cb34bc.8def6c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "405419896-to",
        "label": "to",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1640,
        "y": 400,
        "wires": []
    },
    {
        "id": "c18e5552.2e5a48",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "group": "80ebf5dd.1d2018",
        "order": 33,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "update",
        "tooltip": "",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "put-card",
        "x": 2080,
        "y": 620,
        "wires": [
            [
                "544ac83b.c7d548",
                "d8cb11c9.abb4a"
            ]
        ]
    },
    {
        "id": "e7473423.ef6728",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('delete-card.device', msg.payload)\n        break;\n\n    case 'set-card-number':\n        flow.set('delete-card.card.number', msg.payload)\n        break;\n        \n    case 'delete-card':\n        const deviceId = flow.get('delete-card.device')\n        const cardNumber = flow.get('delete-card.card.number')\n\n        if (deviceId && cardNumber) {\n            msg.payload = { \n                deviceId: deviceId,\n                cardNumber: cardNumber\n            }\n        \n            return msg\n        }\n        break        \n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 1200,
        "wires": [
            [
                "4ac01a83.a74ec4"
            ]
        ]
    },
    {
        "id": "4ac01a83.a74ec4",
        "type": "delete-card",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "config": "cbd92359.dbf19",
        "x": 470,
        "y": 1200,
        "wires": [
            [
                "aad3691e.482588"
            ]
        ]
    },
    {
        "id": "e09b14f4.d89ca8",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "group": "80ebf5dd.1d2018",
        "order": 34,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "delete",
        "tooltip": "",
        "color": "#C00000",
        "bgcolor": "#F3B567",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "delete-card",
        "x": 90,
        "y": 1240,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "93805387.eb6cd",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 1160,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "cb6b878.02d9b78",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "card-number",
        "links": [
            "bd883038.dbaac",
            "129b9c14.1aba94",
            "3036418d.f8557e",
            "1fbf5878.4949c8",
            "3fcc3324.4503bc",
            "ec6cc0bf.05356",
            "a4efbc18.48624",
            "21be6c0b.4be6d4",
            "8218fde6.b2437",
            "80814365.fa3df",
            "382988ea.0b09d8"
        ],
        "x": 1135,
        "y": 580,
        "wires": []
    },
    {
        "id": "129b9c14.1aba94",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 135,
        "y": 1200,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "aad3691e.482588",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "func": "if (msg.payload.deleted) {\n    msg.payload = 'card deleted'\n} else {\n    msg.payload = 'error deleting card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "e70a1f2e.dcd39",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "405419896-from",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-from",
        "x": 2050,
        "y": 360,
        "wires": [
            [
                "544ac83b.c7d548"
            ]
        ]
    },
    {
        "id": "ed03620e.d9ff",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "validity",
        "func": "const parse = function(s) {\n    const re = /^([0-9]{4})-([0-9]{2})-([0-9]{2})$/\n    const match = re.exec(s)\n    \n    if (match !== null && match.length > 3) {\n        const year = parseInt(match[1], 10)\n        const month = parseInt(match[2], 10)\n        const day = parseInt(match[3], 10)\n        const date = new Date()\n\n        date.setYear(year)\n        date.setMonth(month - 1)\n        date.setDate(day)\n        \n        return date\n    }\n    \n    return null\n}\n\nconst Jan1 = new Date()\nconst Dec31 = new Date()\n\nJan1.setMonth(0)\nJan1.setDate(1)\nDec31.setMonth(11)\nDec31.setDate(31)\n\nconst from = { topic:msg.topic, payload:Jan1 }\nconst to = { topic:msg.topic, payload:Dec31 }\n\nif (msg.payload.card.valid) {\n    const f = parse(msg.payload.card.valid.from)\n    const t = parse(msg.payload.card.valid.to)\n\n    if (f !== null) {\n        from.payload = f\n    }\n\n    if (t !== null) {\n        to.payload = t\n    }\n\n}\n\nreturn [ from,to ]\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1840,
        "y": 380,
        "wires": [
            [
                "e70a1f2e.dcd39"
            ],
            [
                "51e5131e.65bf4c"
            ]
        ]
    },
    {
        "id": "51e5131e.65bf4c",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "405419896-to",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-to",
        "x": 2060,
        "y": 400,
        "wires": [
            [
                "544ac83b.c7d548"
            ]
        ]
    },
    {
        "id": "6eac8a4e.b9baf4",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.entrance",
        "label": "entrance",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-1",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2040,
        "y": 440,
        "wires": [
            [
                "544ac83b.c7d548"
            ]
        ]
    },
    {
        "id": "9eb1f7b1.8b0968",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.workshop",
        "label": "workshop",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-2",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2040,
        "y": 480,
        "wires": [
            [
                "544ac83b.c7d548"
            ]
        ]
    },
    {
        "id": "34ea4d9f.8c2892",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.tower",
        "label": "tower",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 15,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-3",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2050,
        "y": 520,
        "wires": [
            [
                "544ac83b.c7d548"
            ]
        ]
    },
    {
        "id": "81c28b36.1b34e8",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.dungeon",
        "label": "dungeon",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-4",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2040,
        "y": 560,
        "wires": [
            [
                "544ac83b.c7d548"
            ]
        ]
    },
    {
        "id": "32cd75ea.8b84ba",
        "type": "ui_table",
        "z": "2a36b650.4b9b7a",
        "group": "975ca31.d8d236",
        "name": "cards",
        "order": 6,
        "width": 14,
        "height": 16,
        "columns": [
            {
                "field": "number",
                "title": "card number",
                "width": "134",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "valid.from",
                "title": "from",
                "width": "108",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "valid.to",
                "title": "to",
                "width": "108",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.1",
                "title": "entrance",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.2",
                "title": "workshop",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.3",
                "title": "tower",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.4",
                "title": "dungeon",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 850,
        "y": 560,
        "wires": [
            [
                "dc1ee1d3.10c6c"
            ]
        ]
    },
    {
        "id": "196e0519.9c92cb",
        "type": "get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "config": "cbd92359.dbf19",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "a6377ea9.6a093"
            ]
        ]
    },
    {
        "id": "920606cd.352758",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "refresh",
        "func": "flow.set('refresh.device', msg.payload.deviceId)\n\nreturn { \n    topic: 'get-cards',\n    payload: msg.payload\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "196e0519.9c92cb"
            ]
        ]
    },
    {
        "id": "13f668be.c2e417",
        "type": "get-card-by-index",
        "z": "2a36b650.4b9b7a",
        "name": "get-card-by-index",
        "topic": "get-card-by-index",
        "config": "cbd92359.dbf19",
        "x": 350,
        "y": 820,
        "wires": [
            [
                "4098b71e.12c1b8"
            ],
            [
                "de510a21.addef8"
            ]
        ]
    },
    {
        "id": "d435a504.9295d8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "delete-cards",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('delete-cards.device', msg.payload)\n        break;\n\n    case 'delete-cards':\n        const deviceId = flow.get('delete-cards.device')\n\n        if (deviceId) {\n            msg.payload = { \n                deviceId: deviceId\n            }\n        \n            return msg\n        }\n        break        \n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 1340,
        "wires": [
            [
                "874f55c6.6f00b8"
            ]
        ]
    },
    {
        "id": "12b53ea2.d23791",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "delete-cards",
        "group": "975ca31.d8d236",
        "order": 4,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "delete all",
        "tooltip": "Deletes all cards",
        "color": "#C00000",
        "bgcolor": "#F3B567",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "delete-cards",
        "x": 90,
        "y": 1360,
        "wires": [
            [
                "d435a504.9295d8"
            ]
        ]
    },
    {
        "id": "36bef050.3e6b9",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 1320,
        "wires": [
            [
                "d435a504.9295d8"
            ]
        ]
    },
    {
        "id": "d5e17469.7208d8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "func": "if (msg.payload.deleted) {\n    msg.payload = 'card deleted'\n} else {\n    msg.payload = 'error deleting card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "874f55c6.6f00b8",
        "type": "delete-all-cards",
        "z": "2a36b650.4b9b7a",
        "name": "delete-all-cards",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 1340,
        "wires": [
            [
                "d5e17469.7208d8"
            ]
        ]
    },
    {
        "id": "cb614bbf.65eb68",
        "type": "comment",
        "z": "2a36b650.4b9b7a",
        "name": "detail page: card record count",
        "info": "",
        "x": 160,
        "y": 140,
        "wires": []
    },
    {
        "id": "ba97d2cc.cdc3b",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 135,
        "y": 40,
        "wires": [
            [
                "cac018fe.0afcf8"
            ]
        ]
    },
    {
        "id": "cac018fe.0afcf8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "setup",
        "func": "const controllers = msg.payload.controllers\n\nif (controllers) {\n    flow.set('controllers', controllers)\n\n    const options = []\n    Object.entries(controllers).forEach(([k,v]) => {\n      options.push(k) \n    })\n\n    return { \n        topic:'set-controllers', \n        options: options\n    }\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 230,
        "y": 40,
        "wires": [
            [
                "685b2236.9c598c"
            ]
        ]
    },
    {
        "id": "5198ce10.2b81d",
        "type": "comment",
        "z": "2a36b650.4b9b7a",
        "name": "cards table",
        "info": "",
        "x": 100,
        "y": 320,
        "wires": []
    },
    {
        "id": "3f851cae.42c3e4",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"setColumns\",\"arguments\":[[{\"title\":\"card number\",\"field\":\"number\",\"align\":\"left\",\"width\":134},{\"title\":\"from\",\"field\":\"valid.from\",\"align\":\"left\",\"width\":108},{\"title\":\"to\",\"field\":\"valid.to\",\"align\":\"left\",\"width\":108},{\"title\":\"door.1\",\"field\":\"doors.1\",\"align\":\"center\",\"width\":100,\"formatter\":\"tickCross\"},{\"title\":\"door.2\",\"field\":\"doors.2\",\"align\":\"center\",\"width\":100,\"formatter\":\"tickCross\"},{\"title\":\"door.3\",\"field\":\"doors.3\",\"align\":\"center\",\"width\":100,\"formatter\":\"tickCross\"},{\"title\":\"door.4\",\"field\":\"doors.4\",\"align\":\"center\",\"width\":100,\"formatter\":\"tickCross\"}]]}",
        "payloadType": "json",
        "x": 710,
        "y": 520,
        "wires": [
            [
                "32cd75ea.8b84ba"
            ]
        ]
    },
    {
        "id": "e825163c.2e4f18",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "doors",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\n\nif (controllers && controllers[deviceId]) {\n    const device = controllers[deviceId]\n    const columns = {\n        \"command\": \"setColumns\",\n        \"arguments\": [\n            [\n                {\n                    \"title\": \"card number\",\n                    \"field\": \"number\",\n                    \"align\": \"left\",\n                    \"width\": 134\n                },\n                {\n                    \"title\": \"from\",\n                    \"field\": \"valid.from\",\n                    \"align\": \"left\",\n                    \"width\": 108\n                },\n                {\n                    \"title\": \"to\",\n                    \"field\": \"valid.to\",\n                    \"align\": \"left\",\n                    \"width\": 108\n                },\n                {\n                    \"title\": device.doors[1].name,\n                    \"field\": \"doors.1\",\n                    \"align\": \"center\",\n                    \"width\": 100,\n                    \"formatter\": \"tickCross\"\n                },\n                {\n                    \"title\": device.doors[2].name,\n                    \"field\": \"doors.2\",\n                    \"align\": \"center\",\n                    \"width\": 100,\n                    \"formatter\": \"tickCross\"\n                },\n                {\n                    \"title\": device.doors[3].name,\n                    \"field\": \"doors.3\",\n                    \"align\": \"center\",\n                    \"width\": 100,\n                    \"formatter\": \"tickCross\"\n                },\n                {\n                    \"title\": device.doors[4].name,\n                    \"field\": \"doors.4\",\n                    \"align\": \"center\",\n                    \"width\": 100,\n                    \"formatter\": \"tickCross\"\n                }\n            ]\n        ]\n    }\n    \n    return { topic:'set-doors',  payload: columns }\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 480,
        "wires": [
            [
                "32cd75ea.8b84ba"
            ]
        ]
    },
    {
        "id": "11c70f5e.08eca1",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f390fb6c.b0d268"
        ],
        "x": 615,
        "y": 480,
        "wires": [
            [
                "e825163c.2e4f18"
            ]
        ]
    },
    {
        "id": "aa152261.eb314",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "list-cards",
        "func": "const map = flow.get('cards') || new Map()\nconst list = []\n\nif (msg.payload) {\n    const deviceId = Number(msg.payload)\n    const cards = map.get(deviceId) || new Map()\n\n    for (const [k,v] of cards) {\n        list.push(v)\n    }\n}\n\nreturn {\n    topic: 'list-cards',\n    payload: {\n        'command': 'setData',\n        'arguments': [ list, false ]\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 560,
        "wires": [
            [
                "32cd75ea.8b84ba"
            ]
        ]
    },
    {
        "id": "de510a21.addef8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "add-card",
        "func": "const deviceId = msg.payload.deviceId\nconst card = msg.payload.card\n\nconst map = flow.get('cards') || new Map()\nconst cards = map.get(deviceId) || new Map()\n\nif (card.number !== '') {\n    cards.set(card.number, card)\n    map.set(deviceId, cards)\n\n    flow.set('cards', map)\n}\n\nreturn { \n    topic: 'updated',\n    payload: deviceId\n}\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 860,
        "wires": [
            [
                "aa152261.eb314",
                "e15d01a.96f34"
            ]
        ]
    },
    {
        "id": "a6377ea9.6a093",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "refresh-setup",
        "func": "const deviceId = msg.payload.deviceId\nconst count = msg.payload.cards\nconst map = flow.get('cards') || new Map()\n\nif (deviceId) {\n    map.set(deviceId, new Map())\n              \n    flow.set('refresh.count', msg.payload.cards)\n    flow.set('refresh.index', 0)\n    flow.set('cards', map)\n\n    return {\n        topic: 'get-next', \n        payload: true\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 680,
        "wires": [
            [
                "e15d01a.96f34"
            ]
        ]
    },
    {
        "id": "e15d01a.96f34",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "get-next",
        "func": "const deviceId = flow.get('refresh.device')\nconst count = flow.get('refresh.count') || 0\nconst index = flow.get('refresh.index') || 0\nconst map = flow.get('cards') || new Map()\n        \nif (deviceId) {\n    const cards = map.get(deviceId) || new Map()\n\n    if (cards.size < count) {\n        next = index + 1\n        flow.set('refresh.index', next)\n        return {\n            topic:'get-card-by-index', \n            payload: { \n                deviceId:deviceId, \n                index:next \n            } \n        }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "13f668be.c2e417"
            ]
        ]
    },
    {
        "id": "4098b71e.12c1b8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "not-found?",
        "func": "if (msg.payload.status.code !== 0) {\n    return { \n        topic: 'get-next',\n        payload: true\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 780,
        "wires": [
            [
                "e15d01a.96f34"
            ]
        ]
    },
    {
        "id": "9b0040b6.02d8c",
        "type": "ui_ui_control",
        "z": "2a36b650.4b9b7a",
        "name": "tab-event",
        "events": "change",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "4451de5a.3d5ea"
            ]
        ]
    },
    {
        "id": "6df1685e.0d8448",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "initialise-list",
        "func": "if ((msg.payload === 'change') && (typeof msg.tab !== \"undefined\") && (msg.name === 'cards')) {\n      const deviceId = flow.get('refresh.device')\n      \n      if (deviceId) {\n          msg.payload = deviceId\n          \n          return msg;\n      }\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 560,
        "wires": [
            [
                "aa152261.eb314"
            ]
        ]
    },
    {
        "id": "4451de5a.3d5ea",
        "type": "delay",
        "z": "2a36b650.4b9b7a",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 270,
        "y": 560,
        "wires": [
            [
                "6df1685e.0d8448"
            ]
        ]
    },
    {
        "id": "685b2236.9c598c",
        "type": "delay",
        "z": "2a36b650.4b9b7a",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 370,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "dc1ee1d3.10c6c",
        "type": "change",
        "z": "2a36b650.4b9b7a",
        "name": "card-number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.number",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set-card-number",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "cb6b878.02d9b78"
            ]
        ]
    },
    {
        "id": "25a0a0da.f4024",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.door-x",
        "label": "door X",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 26,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-1",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2070,
        "y": 760,
        "wires": [
            [
                "d8cb11c9.abb4a"
            ]
        ]
    },
    {
        "id": "220e452.21212ba",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.door-y",
        "label": "door Y",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 28,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-2",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2070,
        "y": 800,
        "wires": [
            [
                "d8cb11c9.abb4a"
            ]
        ]
    },
    {
        "id": "5d88ea6f.ffae74",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.laboratory",
        "label": "laboratory",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 30,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-3",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2040,
        "y": 840,
        "wires": [
            [
                "d8cb11c9.abb4a"
            ]
        ]
    },
    {
        "id": "6dc386b8.8a99c8",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.kitchen",
        "label": "kitchen",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 32,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-4",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2050,
        "y": 880,
        "wires": [
            [
                "d8cb11c9.abb4a"
            ]
        ]
    },
    {
        "id": "f1f5b3aa.93b5a",
        "type": "get-card",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "topic": "get-card",
        "config": "cbd92359.dbf19",
        "x": 1660,
        "y": 820,
        "wires": [
            [
                "39970811.8889a8",
                "962da3c.91f296"
            ],
            [
                "39970811.8889a8",
                "962da3c.91f296"
            ]
        ]
    },
    {
        "id": "3abaf9b1.c69bb6",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "303986753",
        "func": "const deviceId = 303986753\nconst cardNumber = msg.payload\n\nif (deviceId && cardNumber) {\n    msg.payload = { \n        deviceId: deviceId,\n        cardNumber: cardNumber\n    }\n        \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1490,
        "y": 820,
        "wires": [
            [
                "f1f5b3aa.93b5a"
            ]
        ]
    },
    {
        "id": "39970811.8889a8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "doors",
        "func": "if (msg.topic === 'get-card.status') {\n    if (msg.payload.status && msg.payload.status.code !== 0) {\n        return [\n            { topic: 'door 1', payload: false },\n            { topic: 'door 2', payload: false },\n            { topic: 'door 3', payload: false },\n            { topic: 'door 4', payload: false }\n        ]\n    }\n} else {\n    return [\n        { topic: 'door 1', payload: msg.payload.card.doors['1'] },\n        { topic: 'door 2', payload: msg.payload.card.doors['2'] },\n        { topic: 'door 3', payload: msg.payload.card.doors['3'] },            { topic: 'door 4', payload: msg.payload.card.doors['4'] }\n    ]\n}\n\nreturn []\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1830,
        "y": 820,
        "wires": [
            [
                "25a0a0da.f4024"
            ],
            [
                "220e452.21212ba"
            ],
            [
                "5d88ea6f.ffae74"
            ],
            [
                "6dc386b8.8a99c8"
            ]
        ]
    },
    {
        "id": "a9146ae5.d65d58",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "405419896",
        "func": "const deviceId = 405419896\nconst cardNumber = msg.payload\n\nconsole.log('???', deviceId, cardNumber)\nif (deviceId && cardNumber) {\n    msg.payload = { \n        deviceId: deviceId,\n        cardNumber: cardNumber\n    }\n        \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1490,
        "y": 500,
        "wires": [
            [
                "cadc65eb.dc7198"
            ]
        ]
    },
    {
        "id": "cadc65eb.dc7198",
        "type": "get-card",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "topic": "get-card",
        "config": "cbd92359.dbf19",
        "x": 1660,
        "y": 500,
        "wires": [
            [
                "dc91a82a.6dc7c8"
            ],
            [
                "dc91a82a.6dc7c8",
                "ed03620e.d9ff"
            ]
        ]
    },
    {
        "id": "dc91a82a.6dc7c8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "doors",
        "func": "if (msg.topic === 'get-card.status') {\n    if (msg.payload.status && msg.payload.status.code !== 0) {\n        return [\n            { topic: 'door 1', payload: false },\n            { topic: 'door 2', payload: false },\n            { topic: 'door 3', payload: false },\n            { topic: 'door 4', payload: false }\n        ]\n    }\n} else {\n    return [\n        { topic: 'door 1', payload: msg.payload.card.doors['1'] },\n        { topic: 'door 2', payload: msg.payload.card.doors['2'] },\n        { topic: 'door 3', payload: msg.payload.card.doors['3'] },\n        { topic: 'door 4', payload: msg.payload.card.doors['4'] }\n    ]\n}\n\nreturn []\n\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1830,
        "y": 500,
        "wires": [
            [
                "6eac8a4e.b9baf4"
            ],
            [
                "9eb1f7b1.8b0968"
            ],
            [
                "34ea4d9f.8c2892"
            ],
            [
                "81c28b36.1b34e8"
            ]
        ]
    },
    {
        "id": "962da3c.91f296",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "validity",
        "func": "const parse = function(s) {\n    const re = /^([0-9]{4})-([0-9]{2})-([0-9]{2})$/\n    const match = re.exec(s)\n    \n    if (match !== null && match.length > 3) {\n        const year = parseInt(match[1], 10)\n        const month = parseInt(match[2], 10)\n        const day = parseInt(match[3], 10)\n        const date = new Date()\n\n        date.setYear(year)\n        date.setMonth(month - 1)\n        date.setDate(day)\n        \n        return date\n    }\n    \n    return null\n}\n\nconst Jan1 = new Date()\nconst Dec31 = new Date()\n\nJan1.setMonth(0)\nJan1.setDate(1)\nDec31.setMonth(11)\nDec31.setDate(31)\n\nconst from = { topic:msg.topic, payload:Jan1 }\nconst to = { topic:msg.topic, payload:Dec31 }\n\nif (msg.payload.card.valid) {\n    const f = parse(msg.payload.card.valid.from)\n    const t = parse(msg.payload.card.valid.to)\n\n    if (f !== null) {\n        from.payload = f\n    }\n\n    if (t !== null) {\n        to.payload = t\n    }\n\n}\n\nreturn [ from,to ]\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1840,
        "y": 700,
        "wires": [
            [
                "7bdd1a52.254754"
            ],
            [
                "667ca82a.202558"
            ]
        ]
    },
    {
        "id": "7bdd1a52.254754",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "303986753-from",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 21,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-from",
        "x": 2050,
        "y": 680,
        "wires": [
            [
                "d8cb11c9.abb4a"
            ]
        ]
    },
    {
        "id": "667ca82a.202558",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "303986753-to",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 24,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-to",
        "x": 2060,
        "y": 720,
        "wires": [
            [
                "d8cb11c9.abb4a"
            ]
        ]
    },
    {
        "id": "7530c6d1.adc3f8",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 20,
        "width": 1,
        "height": 1,
        "name": "303986753-from",
        "label": "from",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1630,
        "y": 680,
        "wires": []
    },
    {
        "id": "15b2c40e.e793cc",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 23,
        "width": 1,
        "height": 1,
        "name": "303986753-to",
        "label": "to",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1640,
        "y": 720,
        "wires": []
    },
    {
        "id": "40b643f9.077e1c",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "405419896",
        "group": "975ca31.d8d236",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "405419896",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "topic": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "f390fb6c.b0d268",
                "db1b1604.c39b48"
            ]
        ]
    },
    {
        "id": "91869167.e9236",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "303986753",
        "group": "975ca31.d8d236",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "303986753",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{ \"deviceId\": 303986753 }",
        "payloadType": "json",
        "topic": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "f390fb6c.b0d268",
                "db1b1604.c39b48"
            ]
        ]
    },
    {
        "id": "c2c8baca.3c7598",
        "type": "change",
        "z": "2a36b650.4b9b7a",
        "name": "device-id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.deviceId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 600,
        "wires": [
            [
                "aa152261.eb314"
            ]
        ]
    },
    {
        "id": "db1b1604.c39b48",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "975ca31.d8d236",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "controller",
        "label": "",
        "format": "{{msg.payload.deviceId}}",
        "layout": "row-left",
        "x": 300,
        "y": 420,
        "wires": []
    },
    {
        "id": "f390fb6c.b0d268",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "controller",
        "links": [
            "fe422346.f0c88",
            "a0a5915b.4df9b",
            "6c4e3465.e7040c",
            "11c70f5e.08eca1",
            "6baa9b6d.1e3624"
        ],
        "x": 255,
        "y": 380,
        "wires": []
    },
    {
        "id": "fe422346.f0c88",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f390fb6c.b0d268"
        ],
        "x": 295,
        "y": 600,
        "wires": [
            [
                "c2c8baca.3c7598"
            ]
        ]
    },
    {
        "id": "544ac83b.c7d548",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst yyyymmdd = (d) => {\n    const year = format(d.getFullYear(), 4)\n    const month = format(d.getMonth()+1, 2)\n    const day = format(d.getDate(), 2)\n    \n    return year + '-' + month + '-' + day\n}\n\nswitch (msg.topic) {\n    case 'set-card-number':\n        flow.set('put-card.405419896.card', msg.payload)\n        break\n\n    case 'set-card-valid-from':\n        flow.set('put-card.405419896.valid.from', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-valid-to':\n        flow.set('put-card.405419896.valid.to', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-doors-1':\n        flow.set('put-card.405419896.doors.1', msg.payload)\n        break    \n\n    case 'set-card-doors-2':\n        flow.set('put-card.405419896.doors.2', msg.payload)\n        break    \n\n    case 'set-card-doors-3':\n        flow.set('put-card.405419896.doors.3', msg.payload)\n        break    \n\n    case 'set-card-doors-4':\n        flow.set('put-card.405419896.doors.4', msg.payload)\n        break    \n        \n    case 'put-card':\n        const deviceId = 405419896\n        const cardNumber = flow.get('put-card.405419896.card')\n        const validFrom = flow.get('put-card.405419896.valid.from')\n        const validTo = flow.get('put-card.405419896.valid.to')\n        const door1 = flow.get('put-card.405419896.doors.1')\n        const door2 = flow.get('put-card.405419896.doors.2')\n        const door3 = flow.get('put-card.405419896.doors.3')\n        const door4 = flow.get('put-card.405419896.doors.4')\n\n        if (deviceId && cardNumber && validFrom && validTo) {\n            msg.payload = { \n                deviceId: deviceId,\n                card: {\n                    number: cardNumber,\n                    valid: {\n                        from: validFrom,\n                        to: validTo\n                    },\n                    doors: {\n                        \"1\": door1 || false,\n                        \"2\": door2 || false,\n                        \"3\": door3 || false,\n                        \"4\": door4 || false\n                    }\n                }\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2270,
        "y": 440,
        "wires": [
            [
                "7fe3bec1.b4483"
            ]
        ]
    },
    {
        "id": "a4efbc18.48624",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 2115,
        "y": 320,
        "wires": [
            [
                "544ac83b.c7d548"
            ]
        ]
    },
    {
        "id": "d8cb11c9.abb4a",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst yyyymmdd = (d) => {\n    const year = format(d.getFullYear(), 4)\n    const month = format(d.getMonth()+1, 2)\n    const day = format(d.getDate(), 2)\n    \n    return year + '-' + month + '-' + day\n}\n\nswitch (msg.topic) {\n    case 'set-card-number':\n        flow.set('put-card.303986753.card', msg.payload)\n        break\n\n    case 'set-card-valid-from':\n        flow.set('put-card.303986753.valid.from', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-valid-to':\n        flow.set('put-card.303986753.valid.to', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-doors-1':\n        flow.set('put-card.303986753.doors.1', msg.payload)\n        break    \n\n    case 'set-card-doors-2':\n        flow.set('put-card.303986753.doors.2', msg.payload)\n        break    \n\n    case 'set-card-doors-3':\n        flow.set('put-card.303986753.doors.3', msg.payload)\n        break    \n\n    case 'set-card-doors-4':\n        flow.set('put-card.303986753.doors.4', msg.payload)\n        break    \n        \n    case 'put-card':\n        const deviceId = 303986753\n        const cardNumber = flow.get('put-card.303986753.card')\n        const validFrom = flow.get('put-card.303986753.valid.from')\n        const validTo = flow.get('put-card.303986753.valid.to')\n        const door1 = flow.get('put-card.303986753.doors.1')\n        const door2 = flow.get('put-card.303986753.doors.2')\n        const door3 = flow.get('put-card.303986753.doors.3')\n        const door4 = flow.get('put-card.303986753.doors.4')\n\n        if (deviceId && cardNumber && validFrom && validTo) {\n            msg.payload = { \n                deviceId: deviceId,\n                card: {\n                    number: cardNumber,\n                    valid: {\n                        from: validFrom,\n                        to: validTo\n                    },\n                    doors: {\n                        \"1\": door1 || false,\n                        \"2\": door2 || false,\n                        \"3\": door3 || false,\n                        \"4\": door4 || false\n                    }\n                }\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2270,
        "y": 780,
        "wires": [
            [
                "3592ac38.47a7e4"
            ]
        ]
    },
    {
        "id": "3592ac38.47a7e4",
        "type": "put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "config": "cbd92359.dbf19",
        "x": 2420,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "21be6c0b.4be6d4",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 2115,
        "y": 920,
        "wires": [
            [
                "d8cb11c9.abb4a"
            ]
        ]
    },
    {
        "id": "8218fde6.b2437",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 1375,
        "y": 500,
        "wires": [
            [
                "a9146ae5.d65d58"
            ]
        ]
    },
    {
        "id": "80814365.fa3df",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 1375,
        "y": 820,
        "wires": [
            [
                "3abaf9b1.c69bb6"
            ]
        ]
    },
    {
        "id": "382988ea.0b09d8",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 875,
        "y": 600,
        "wires": [
            [
                "46db6d43.a9d444"
            ]
        ]
    },
    {
        "id": "6baa9b6d.1e3624",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f390fb6c.b0d268"
        ],
        "x": 95,
        "y": 680,
        "wires": [
            [
                "920606cd.352758"
            ]
        ]
    },
    {
        "id": "573f9bfa.7e4564",
        "type": "ui_group",
        "z": "",
        "name": "column-2",
        "tab": "2731970.74c476a",
        "order": 3,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\"},\"405419896\":{\"address\":\"192.168.1.100:60000\"}}",
        "debug": true
    },
    {
        "id": "80ebf5dd.1d2018",
        "type": "ui_group",
        "z": "",
        "name": "card",
        "tab": "bb81af8b.a4ff7",
        "order": 2,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "975ca31.d8d236",
        "type": "ui_group",
        "z": "",
        "name": "cards",
        "tab": "bb81af8b.a4ff7",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb81af8b.a4ff7",
        "type": "ui_tab",
        "z": "",
        "name": "cards",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]