examples/dashboard/9-events.json
[
    {
        "id": "b5da19a5.72a0c8",
        "type": "tab",
        "label": "9-events",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6190f5c.e5ef9",
        "type": "ui_text",
        "z": "b5da19a5.72a0c8",
        "group": "573f9bfa.7e4564",
        "order": 25,
        "width": 3,
        "height": 1,
        "name": "event-index",
        "label": "index",
        "format": "{{msg.payload.index}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "c8f3aa0a.3b4ae8",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 195,
        "y": 160,
        "wires": [
            [
                "9e7ddaee.4eaa48",
                "20c36b30.a20fe4"
            ]
        ]
    },
    {
        "id": "9e7ddaee.4eaa48",
        "type": "get-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "config": "cbd92359.dbf19",
        "x": 540,
        "y": 160,
        "wires": [
            [
                "f6190f5c.e5ef9"
            ]
        ]
    },
    {
        "id": "9499cd07.adf01",
        "type": "comment",
        "z": "b5da19a5.72a0c8",
        "name": "detail page: events",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "e2f95c0b.0b82f",
        "type": "comment",
        "z": "b5da19a5.72a0c8",
        "name": "configuration page: event index ",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "738563e5.ad729c",
        "type": "set-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "set-event-index",
        "config": "cbd92359.dbf19",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "f59ec658.7fb798"
            ]
        ]
    },
    {
        "id": "66de5d72.ad8814",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-event-index.device', Number(msg.payload.deviceId))\n        break;\n\n    case 'set-event-index':\n        flow.set('set-event-index.index', msg.payload)\n        break;\n\n    case 'set':\n        const deviceId = flow.get('set-event-index.device')\n        const index = flow.get('set-event-index.index')\n\n        if (deviceId && index) {\n            msg.payload = { \n                deviceId: deviceId,\n                index: index\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "738563e5.ad729c"
            ]
        ]
    },
    {
        "id": "f59ec658.7fb798",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "event-index-updated",
        "func": "const deviceId = flow.get('set-event-index.device')\nconst index = flow.get('set-event-index.index')\n\nif (msg.payload.updated && deviceId && index) {\n    msg.payload = { \n        \"deviceId\": deviceId,\n        \"index\": index\n    }\n    \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 440,
        "wires": [
            [
                "f6190f5c.e5ef9"
            ]
        ]
    },
    {
        "id": "27ec3017.bb1d",
        "type": "ui_text_input",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "label": "index",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 48,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "set-event-index",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "66de5d72.ad8814"
            ]
        ]
    },
    {
        "id": "6dd92229.dda32c",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "",
        "links": [
            "14775167.8aa25f"
        ],
        "x": 195,
        "y": 440,
        "wires": [
            [
                "66de5d72.ad8814"
            ]
        ]
    },
    {
        "id": "ff39879c.00afd8",
        "type": "comment",
        "z": "b5da19a5.72a0c8",
        "name": "events page",
        "info": "",
        "x": 150,
        "y": 720,
        "wires": []
    },
    {
        "id": "969e6ec3.60ba6",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-event-index.device', Number(msg.payload.deviceId))\n        break;\n\n    case 'set-event-index':\n        const deviceId = flow.get('set-event-index.device')\n        const index = msg.payload\n\n        if (deviceId && index) {\n            return {\n                topic: 'get-event-request',\n                payload: { \n                    deviceId: deviceId,\n                    index: index\n                }\n            }\n        }\n        break;\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 820,
        "wires": [
            [
                "7cf7e46b.641d4c",
                "fae74f01.5e9fb"
            ]
        ]
    },
    {
        "id": "6be3562c.613718",
        "type": "ui_text_input",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "label": "index",
        "tooltip": "",
        "group": "659dc42b.91f43c",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "set-event-index",
        "x": 170,
        "y": 880,
        "wires": [
            [
                "969e6ec3.60ba6"
            ]
        ]
    },
    {
        "id": "7cf7e46b.641d4c",
        "type": "get-event",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "topic": "get-event-reply",
        "config": "cbd92359.dbf19",
        "x": 560,
        "y": 840,
        "wires": [
            [
                "fae74f01.5e9fb"
            ]
        ]
    },
    {
        "id": "fae74f01.5e9fb",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "append-event",
        "func": "const events = flow.get('fetched') || []\nconst doors = flow.get('doors')\n\nswitch (msg.topic) {\n    case 'get-event-request':\n        flow.set('get-event.deviceId', Number(msg.payload.deviceId))\n        flow.set('get-event.index', msg.payload.index)\n        break\n        \n    case 'get-event-reply':\n        const id = flow.get('get-event.deviceId')\n        const eventId = flow.get('get-event.index')\n    \n        const deviceId = msg.payload.deviceId\n        const event = msg.payload.event\n        const index = event.index\n        const timestamp = event.timestamp\n        const eventType = event.type.event.toUpperCase()\n        const granted = event.granted\n        const direction = event.direction.direction.toUpperCase()\n        const reason = event.reason.reason.toUpperCase()\n        let   door = event.door\n\n        if (doors[deviceId] && doors[deviceId][event.door]) {\n            door = doors[deviceId][event.door]\n        }\n\n        if ((id && id === deviceId) && (eventId && eventId == index)) {\n            const item = {\n                'deviceId': deviceId,\n                'index': index,\n                'timestamp': timestamp,\n                'type': eventType,\n                'granted': granted,\n                'door': door,\n                'direction': direction,\n                'reason': reason,\n            }\n    \n            events.push(item)\n\n            if (events.length > 8) {\n                events.shift()\n            }\n\n            flow.set('fetched', events)\n\n            msg.payload = {\n                'command': 'setData',\n                'arguments': [ events, false ]\n            }\n            \n            return [ { topic: 'status', payload: \"\" }, msg ]\n        } else {\n            return [ { topic: 'status', payload: \"not found\" }, null ]\n        }\n        break\n}\n\nreturn [ null, null ]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "const doors = {\n    405419896: {\n        1: 'ENTRANCE',\n        2: 'WORKSHOP',\n        3: 'TOWER',\n        4: 'DUNGEON'\n    },\n    303986753: {\n        1: 'DOOR X',\n        2: 'DOOR Y',\n        3: 'LABORATORY',\n        4: 'KITCHEN'\n    }\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 740,
        "y": 820,
        "wires": [
            [
                "8bf467eb.92a0f8"
            ],
            [
                "fcd11c8b.3687f"
            ]
        ]
    },
    {
        "id": "fcd11c8b.3687f",
        "type": "ui_table",
        "z": "b5da19a5.72a0c8",
        "group": "659dc42b.91f43c",
        "name": "single-events",
        "order": 9,
        "width": 22,
        "height": 7,
        "columns": [
            {
                "field": "deviceId",
                "title": "controller",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "index",
                "title": "index",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timestamp",
                "title": "timestamp",
                "width": "160",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "type",
                "title": "event type",
                "width": "132",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "granted",
                "title": "Granted?",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "door",
                "title": "door",
                "width": "112",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "direction",
                "title": "direction",
                "width": "108",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "reason",
                "title": "reason",
                "width": "224",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 970,
        "y": 840,
        "wires": []
    },
    {
        "id": "ef8dbc78.012f8",
        "type": "ui_ui_control",
        "z": "b5da19a5.72a0c8",
        "name": "tab-event",
        "events": "change",
        "x": 380,
        "y": 880,
        "wires": [
            [
                "4fe93047.b30f5"
            ]
        ]
    },
    {
        "id": "a3a01c91.245eb",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "initialise-table",
        "func": "if (msg.payload === 'change' && msg.tab && msg.name === 'events') {\n    const events = flow.get('fetched') || []\n\n    msg.payload = {\n        'command': 'setData',\n        'arguments': [ events, false ]\n    }\n\n    return msg;\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 880,
        "wires": [
            [
                "fcd11c8b.3687f"
            ]
        ]
    },
    {
        "id": "3c8819ad.7a7ad6",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "74b54a3b.4a9634"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "74b54a3b.4a9634",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "initialise",
        "func": "const index = { topic:'set-index', payload:1 }\n\nreturn index",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 980,
        "wires": [
            [
                "6be3562c.613718"
            ]
        ]
    },
    {
        "id": "8bf467eb.92a0f8",
        "type": "ui_text",
        "z": "b5da19a5.72a0c8",
        "group": "659dc42b.91f43c",
        "order": 8,
        "width": 9,
        "height": 1,
        "name": "event-message",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 980,
        "y": 780,
        "wires": []
    },
    {
        "id": "c366ced3.a4094",
        "type": "ui_button",
        "z": "b5da19a5.72a0c8",
        "name": "clear-events",
        "group": "659dc42b.91f43c",
        "order": 6,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "clear",
        "tooltip": "Clear event list",
        "color": "#008000",
        "bgcolor": "#A6BBCF",
        "icon": "fa-trash",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 550,
        "y": 760,
        "wires": [
            [
                "d3301867.210768"
            ]
        ]
    },
    {
        "id": "d3301867.210768",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "clear-events",
        "func": "const events = []\n\nflow.set('fetched', events)\n\nmsg.payload = {\n    'command': 'setData',\n    'arguments': [ events, false ]\n}\n            \nreturn [ { topic: 'status', payload: \"\" }, msg ]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "const doors = {\n    405419896: {\n        1: 'ENTRANCE',\n        2: 'WORKSHOP',\n        3: 'TOWER',\n        4: 'DUNGEON'\n    },\n    303986753: {\n        1: 'DOOR X',\n        2: 'DOOR Y',\n        3: 'LABORATORY',\n        4: 'KITCHEN'\n    }\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 730,
        "y": 760,
        "wires": [
            [
                "8bf467eb.92a0f8"
            ],
            [
                "fcd11c8b.3687f"
            ]
        ]
    },
    {
        "id": "4fe93047.b30f5",
        "type": "delay",
        "z": "b5da19a5.72a0c8",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 570,
        "y": 880,
        "wires": [
            [
                "a3a01c91.245eb"
            ]
        ]
    },
    {
        "id": "d42939ad.f9a8a8",
        "type": "ui_text",
        "z": "b5da19a5.72a0c8",
        "group": "573f9bfa.7e4564",
        "order": 22,
        "width": 3,
        "height": 1,
        "name": "event-count",
        "label": "count",
        "format": "{{msg.payload.event.index}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "2876daa.4b1aa26",
        "type": "get-event",
        "z": "b5da19a5.72a0c8",
        "name": "get-last-event",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "d42939ad.f9a8a8"
            ]
        ]
    },
    {
        "id": "20c36b30.a20fe4",
        "type": "change",
        "z": "b5da19a5.72a0c8",
        "name": "get-last-event",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": msg.payload.deviceId, \"index\": 4294967295 }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "2876daa.4b1aa26"
            ]
        ]
    },
    {
        "id": "89a4d64f.aae948",
        "type": "ui_button",
        "z": "b5da19a5.72a0c8",
        "name": "set-event-index",
        "group": "920f64db.d2fd58",
        "order": 54,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "Sets controller event index",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "set",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "66de5d72.ad8814"
            ]
        ]
    },
    {
        "id": "f99540c.285e1c",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "",
        "links": [
            "14775167.8aa25f"
        ],
        "x": 195,
        "y": 300,
        "wires": [
            [
                "fde41bec.17d968"
            ]
        ]
    },
    {
        "id": "73204863.135928",
        "type": "get-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "config": "cbd92359.dbf19",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "496b76d6.2b9548"
            ]
        ]
    },
    {
        "id": "fde41bec.17d968",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "func": "if (msg.payload) {\n    msg.payload = {\n        deviceId: Number(msg.payload.deviceId)\n    }\n    \n    return msg\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "73204863.135928"
            ]
        ]
    },
    {
        "id": "496b76d6.2b9548",
        "type": "change",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.index",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "27ec3017.bb1d"
            ]
        ]
    },
    {
        "id": "46ffef63.319ea",
        "type": "ui_text",
        "z": "b5da19a5.72a0c8",
        "group": "920f64db.d2fd58",
        "order": 47,
        "width": 2,
        "height": 1,
        "name": "label-events",
        "label": "events",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 150,
        "y": 400,
        "wires": []
    },
    {
        "id": "3066ae14.90e082",
        "type": "ui_text",
        "z": "b5da19a5.72a0c8",
        "group": "573f9bfa.7e4564",
        "order": 21,
        "width": 2,
        "height": 1,
        "name": "label-events",
        "label": "events",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "6bd23b4f.fc8ab4",
        "type": "ui_button",
        "z": "b5da19a5.72a0c8",
        "name": "405419896",
        "group": "659dc42b.91f43c",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "405419896",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "topic": "set-device",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "969e6ec3.60ba6",
                "8af364dd.b09388"
            ]
        ]
    },
    {
        "id": "dbc43503.ebf048",
        "type": "ui_button",
        "z": "b5da19a5.72a0c8",
        "name": "303986753",
        "group": "659dc42b.91f43c",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "303986753",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{ \"deviceId\": 303986753 }",
        "payloadType": "json",
        "topic": "set-device",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "969e6ec3.60ba6",
                "8af364dd.b09388"
            ]
        ]
    },
    {
        "id": "8af364dd.b09388",
        "type": "ui_text",
        "z": "b5da19a5.72a0c8",
        "group": "659dc42b.91f43c",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "controller",
        "label": "",
        "format": "{{msg.payload.deviceId}}",
        "layout": "row-left",
        "x": 360,
        "y": 780,
        "wires": []
    },
    {
        "id": "f210d780.bfc978",
        "type": "ui_switch",
        "z": "b5da19a5.72a0c8",
        "name": "record-special-events",
        "label": "record special events",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 56,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "record-special-events",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "55865cdd.bd6d84"
            ]
        ]
    },
    {
        "id": "55865cdd.bd6d84",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "record-special-events",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('record-special-events.device', Number(msg.payload.deviceId))\n        break;\n\n    case 'record-special-events':\n        flow.set('record-special-events.enable', msg.payload)\n        break;\n\n    case 'set':\n        const deviceId = flow.get('record-special-events.device')\n        const enable = flow.get('record-special-events.enable')\n\n        if (deviceId) {\n            msg.payload = { \n                deviceId: deviceId,\n                enable: enable\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 580,
        "wires": [
            [
                "c1ea8d3f.2f9a2"
            ]
        ]
    },
    {
        "id": "9d826267.c5b79",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "",
        "links": [
            "14775167.8aa25f"
        ],
        "x": 215,
        "y": 580,
        "wires": [
            [
                "55865cdd.bd6d84"
            ]
        ]
    },
    {
        "id": "c1ea8d3f.2f9a2",
        "type": "record-special-events",
        "z": "b5da19a5.72a0c8",
        "name": "record-special-events",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 660,
        "y": 580,
        "wires": [
            [
                "6cbf3207.88b46c"
            ]
        ]
    },
    {
        "id": "920b2b10.a1f8d8",
        "type": "ui_button",
        "z": "b5da19a5.72a0c8",
        "name": "set-record-special-events",
        "group": "920f64db.d2fd58",
        "order": 62,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "Sets record special events",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "set",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "55865cdd.bd6d84"
            ]
        ]
    },
    {
        "id": "6cbf3207.88b46c",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 580,
        "wires": []
    },
    {
        "id": "573f9bfa.7e4564",
        "type": "ui_group",
        "z": "",
        "name": "column-2",
        "tab": "2731970.74c476a",
        "order": 3,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\"},\"405419896\":{\"address\":\"192.168.1.100:60000\"}}",
        "debug": true
    },
    {
        "id": "920f64db.d2fd58",
        "type": "ui_group",
        "z": "",
        "name": "panel",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": false,
        "width": 14,
        "collapse": false
    },
    {
        "id": "659dc42b.91f43c",
        "type": "ui_group",
        "z": "",
        "name": "events",
        "tab": "f29b4883.377448",
        "order": 1,
        "disp": false,
        "width": 22,
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configuration",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f29b4883.377448",
        "type": "ui_tab",
        "z": "",
        "name": "events",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]