examples/dashboard/all-flows.json
[
    {
        "id": "a640a000.d83cb",
        "type": "tab",
        "label": "get-devices",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f0ca7ab6.b09058",
        "type": "tab",
        "label": "get-device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8bcf2d43.2e243",
        "type": "tab",
        "label": "IPv4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c56e1667.998748",
        "type": "tab",
        "label": "listen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b2b669ed.2b50b8",
        "type": "tab",
        "label": "status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f7a455cc.3fefe8",
        "type": "tab",
        "label": "time",
        "disabled": false,
        "info": ""
    },
    {
        "id": "33c9a78a.cc8c18",
        "type": "tab",
        "label": "common",
        "disabled": false,
        "info": ""
    },
    {
        "id": "86bbf50e.a7f188",
        "type": "tab",
        "label": "doors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a36b650.4b9b7a",
        "type": "tab",
        "label": "cards",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5da19a5.72a0c8",
        "type": "tab",
        "label": "events",
        "disabled": false,
        "info": ""
    },
    {
        "id": "94dcacf5.b4e19",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "ea318236.7f96",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "db5795ea.c20108",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "uhppoted dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "none",
            "dateFormat": "YYYY-MM-DD",
            "sizes": {
                "sx": 48,
                "sy": 28,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ea318236.7f96",
        "type": "ui_tab",
        "z": "",
        "name": "overview",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "664471ed.acdea",
        "type": "ui_group",
        "z": "",
        "name": "303986753",
        "tab": "ea318236.7f96",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d2f384d6.885a08",
        "type": "ui_group",
        "z": "",
        "name": "controls",
        "tab": "ea318236.7f96",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c03a3b24.d45c48",
        "type": "ui_group",
        "z": "",
        "name": "column-1",
        "tab": "2731970.74c476a",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f29b4883.377448",
        "type": "ui_tab",
        "z": "",
        "name": "events",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "659dc42b.91f43c",
        "type": "ui_group",
        "z": "",
        "name": "events",
        "tab": "f29b4883.377448",
        "order": 1,
        "disp": false,
        "width": 22,
        "collapse": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "manage",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ffdc2439.246b38",
        "type": "ui_group",
        "z": "",
        "name": "column-3",
        "tab": "2731970.74c476a",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "92a2709b.0ef46",
        "type": "ui_group",
        "z": "",
        "name": "controllers",
        "tab": "2731970.74c476a",
        "order": 4,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "920f64db.d2fd58",
        "type": "ui_group",
        "z": "",
        "name": "configuration",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "aa8a9aa4.208ff8",
        "type": "ui_group",
        "z": "",
        "name": "open door",
        "tab": "e4b36c96.1a567",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "573f9bfa.7e4564",
        "type": "ui_group",
        "z": "",
        "name": "column-2",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "bb81af8b.a4ff7",
        "type": "ui_tab",
        "z": "",
        "name": "cards",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "80ebf5dd.1d2018",
        "type": "ui_group",
        "z": "",
        "name": "card",
        "tab": "bb81af8b.a4ff7",
        "order": 2,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "8808f6fd.98aea8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "c94272e.53ab69",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "9122342b.ec2d28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "30b19d5a.decfa2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "b0be8022.aa34a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "cb89a097.4271e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "52376a52.aeb724",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "a6f7227e.ec51c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "975ca31.d8d236",
        "type": "ui_group",
        "z": "",
        "name": "cards",
        "tab": "bb81af8b.a4ff7",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "50bde6a9.1b0d98",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "975ca31.d8d236",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "4d83bdd3.94be24",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "975ca31.d8d236",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "790bdac8.f21294",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "975ca31.d8d236",
        "order": 6,
        "width": 13,
        "height": 1
    },
    {
        "id": "c14c79eb.c6bcd8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "7dc0778b.9150f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "eb2edcaf.59ea4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "403e65ae.60cd1c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "46598fdb.4c6cf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "b9692b7e.641b28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "233c9bb8.f544b4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "15a25520.d9af9b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "7914c63.17a1c38",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "3e6fa457.5abd3c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "8fa0110d.189c8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5848008.e156a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "ab7f6123.0c5ad",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "d4e31d94.5d04b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "cbb06d68.8cabd",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "7b7636c8.cf1d18",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "4e2b95fe.8d00ac",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "71a2b68a.8c7b48",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "b901869.26b9678",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "af58c5ab.2553d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "dc1646f1.e17ca8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "89cb1ff5.817f5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "60744e6b.f206f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "d7ba227c.32542",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "84027868.149cc8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "b01f0dc7.9edd3",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 14,
        "width": 5,
        "height": 1
    },
    {
        "id": "a47edf21.22e26",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "17b83208.9c1dbe",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 18,
        "width": 5,
        "height": 1
    },
    {
        "id": "e6f298aa.816638",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "b9d8bf6.a315f4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "22979ba0.cf6544",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "c4f329dc.2d6748",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "9739e6e3.231558",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "334e6ec1.d5c202",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "1d14bd73.a9ba03",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "27ceda14.006e36",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "cb35d9e4.1411e8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "eb035c10.055",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "b423cc6d.d8edf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "169e4f36.e3f201",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "52cc1be1.90c7a4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "7aac0e7e.82451",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "dba91de7.b68f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "4c684fdb.8db19",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b5b323.e2a01cc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "51732c38.0c7814",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 16,
        "width": 5,
        "height": 1
    },
    {
        "id": "15a6b685.aa5e09",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 17,
        "width": 10,
        "height": 1
    },
    {
        "id": "24a6aec1.c18582",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "272b322d.2f3a8e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "b8db9776.f33908",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "63dc43f8.f5769c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "a584141e.a7ead8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "659dc42b.91f43c",
        "order": 3,
        "width": 14,
        "height": 1
    },
    {
        "id": "4bd8ad1e.c33884",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "659dc42b.91f43c",
        "order": 5,
        "width": 22,
        "height": 1
    },
    {
        "id": "48642b4d.2966b4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "659dc42b.91f43c",
        "order": 7,
        "width": 16,
        "height": 1
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "6a470566.d4725c",
        "type": "get-devices",
        "z": "a640a000.d83cb",
        "name": "get-devices",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "31429769.0664e8",
                "6699677.c355098",
                "30341779.5c29e8"
            ]
        ]
    },
    {
        "id": "31429769.0664e8",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "82a8517a.6ef88",
        "type": "inject",
        "z": "a640a000.d83cb",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "6a470566.d4725c"
            ]
        ]
    },
    {
        "id": "f6ad52d3.c2e48",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "serial-number",
        "label": "Serial number:",
        "format": "{{device.serialNumber}}",
        "layout": "row-spread",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "bbb6a438.f22818",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "serial-number",
        "label": "Serial number:",
        "format": "{{device.serialNumber}}",
        "layout": "row-spread",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "bafadb7f.3afc08",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "address",
        "label": "Address:",
        "format": "{{device.address}}",
        "layout": "row-spread",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "39ee342f.a465ec",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "address",
        "label": "Address:",
        "format": "{{device.address}}",
        "layout": "row-spread",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "626c9a77.193a04",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "netmask",
        "label": "Subnet mask:",
        "format": "{{device.netmask}}",
        "layout": "row-spread",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "5b2ec683.3d2c38",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "netmask",
        "label": "Subnet mask:",
        "format": "{{device.netmask}}",
        "layout": "row-spread",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "6699677.c355098",
        "type": "function",
        "z": "a640a000.d83cb",
        "name": "405419896",
        "func": "for (i=0; i<msg.payload.length; i++) {\n    deviceId = msg.payload[i].deviceId\n    device = msg.payload[i].device;\n    if (deviceId == 405419896) {\n        return msg.payload[i];        \n    }\n}\n\nreturn { device: {} }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 80,
        "wires": [
            [
                "f6ad52d3.c2e48",
                "bafadb7f.3afc08",
                "626c9a77.193a04",
                "c6fd23f4.c50dd",
                "15d5ff89.9ac5b",
                "764b47ed.8d8fc8",
                "2f037ed3.618ec2"
            ]
        ]
    },
    {
        "id": "c6fd23f4.c50dd",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "gateway",
        "label": "Gateway:",
        "format": "{{device.gateway}}",
        "layout": "row-spread",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "30341779.5c29e8",
        "type": "function",
        "z": "a640a000.d83cb",
        "name": "303986753",
        "func": "for (i=0; i<msg.payload.length; i++) {\n    deviceId = msg.payload[i].deviceId\n    device = msg.payload[i].device;\n    if (deviceId == 303986753) {\n        return msg.payload[i];        \n    }\n}\n\nreturn { device: {} }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "bbb6a438.f22818",
                "39ee342f.a465ec",
                "5b2ec683.3d2c38",
                "47d113b.40769ec",
                "b1bd0325.bd849",
                "329e5483.d305bc",
                "79f990b5.78342"
            ]
        ]
    },
    {
        "id": "47d113b.40769ec",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "gateway",
        "label": "Gateway:",
        "format": "{{device.gateway}}",
        "layout": "row-spread",
        "x": 740,
        "y": 500,
        "wires": []
    },
    {
        "id": "15d5ff89.9ac5b",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "MAC",
        "label": "MAC address:",
        "format": "{{device.MAC}}",
        "layout": "row-spread",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1bd0325.bd849",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "MAC",
        "label": "MAC address:",
        "format": "{{device.MAC}}",
        "layout": "row-spread",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "764b47ed.8d8fc8",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "version",
        "label": "Version:",
        "format": "{{device.version}}",
        "layout": "row-spread",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "329e5483.d305bc",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "version",
        "label": "Version:",
        "format": "{{device.version}}",
        "layout": "row-spread",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "2f037ed3.618ec2",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "date",
        "label": "System date:",
        "format": "{{device.date}}",
        "layout": "row-spread",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "79f990b5.78342",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "date",
        "label": "System date:",
        "format": "{{device.date}}",
        "layout": "row-spread",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "a78a2bf0.74fbe8",
        "type": "ui_button",
        "z": "a640a000.d83cb",
        "name": "refresh",
        "group": "d2f384d6.885a08",
        "order": 7,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "6a470566.d4725c"
            ]
        ]
    },
    {
        "id": "a308f042.ba17e",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "661f7370.91414c",
        "type": "inject",
        "z": "f0ca7ab6.b09058",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "cf961bd6.504938"
            ]
        ]
    },
    {
        "id": "d1910029.3c322",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "serial-number",
        "label": "serial number",
        "format": "{{device.serialNumber}}",
        "layout": "row-spread",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "b3759b8c.663488",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "device-address",
        "label": "address",
        "format": "{{device.address}}",
        "layout": "row-spread",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "b600fca7.8931e",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 7,
        "width": 5,
        "height": 1,
        "name": "device-netmask",
        "label": "netmask",
        "format": "{{device.netmask}}",
        "layout": "row-spread",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "883c8d8e.59439",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 9,
        "width": 5,
        "height": 1,
        "name": "device-gateway",
        "label": "gateway",
        "format": "{{device.gateway}}",
        "layout": "row-spread",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "23b47a89.08ab86",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 11,
        "width": 5,
        "height": 1,
        "name": "device-MAC",
        "label": "MAC:",
        "format": "{{device.MAC}}",
        "layout": "row-spread",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "e26cb52b.2aee58",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 13,
        "width": 5,
        "height": 1,
        "name": "device-version",
        "label": "version",
        "format": "{{device.version}}",
        "layout": "row-spread",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "8666ad46.99a95",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 15,
        "width": 5,
        "height": 1,
        "name": "device-date",
        "label": "system date",
        "format": "{{device.date}}",
        "layout": "row-spread",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "cf961bd6.504938",
        "type": "get-device",
        "z": "f0ca7ab6.b09058",
        "name": "get-device",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "a308f042.ba17e",
                "6114aece.3cdf7"
            ]
        ]
    },
    {
        "id": "6114aece.3cdf7",
        "type": "function",
        "z": "f0ca7ab6.b09058",
        "name": "",
        "func": "return { device: msg.payload.device }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "d1910029.3c322",
                "b3759b8c.663488",
                "b600fca7.8931e",
                "883c8d8e.59439",
                "23b47a89.08ab86",
                "e26cb52b.2aee58",
                "8666ad46.99a95"
            ]
        ]
    },
    {
        "id": "18a61437.de498c",
        "type": "listen",
        "z": "c56e1667.998748",
        "name": "listen",
        "config": "cbd92359.dbf19",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "d378e1d6.40fe9",
                "b8dcd439.9a0448"
            ]
        ]
    },
    {
        "id": "b8dcd439.9a0448",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "b9a22810.4f89d8",
        "type": "ui_table",
        "z": "c56e1667.998748",
        "group": "659dc42b.91f43c",
        "name": "received-events",
        "order": 8,
        "width": 22,
        "height": 16,
        "columns": [
            {
                "field": "timestamp",
                "title": "timestamp",
                "width": "160",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "deviceId",
                "title": "controller",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "type",
                "title": "event type",
                "width": "132",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "granted",
                "title": "granted?",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "door",
                "title": "door",
                "width": "112",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "direction",
                "title": "direction",
                "width": "108",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "reason",
                "title": "reason",
                "width": "224",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "forceLock",
                "title": "force locked?",
                "width": "136",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fireAlarm",
                "title": "fire alarm",
                "width": "108",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "d378e1d6.40fe9",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "append-event",
        "func": "const events = flow.get('events') || []\nconst doors = flow.get('doors')\n\nconst deviceId = msg.payload.deviceId\nconst event = msg.payload.state\nconst timestamp = event.event.timestamp\nconst eventType = event.event.type.event.toUpperCase()\nconst granted = event.event.granted\nconst direction = event.event.direction.direction.toUpperCase()\nconst reason = event.event.reason.reason.toUpperCase()\nconst forceLock = event.inputs.forceLock\nconst fireAlarm = event.inputs.fireAlarm\nlet   door = event.door\n\nif (doors[deviceId] && doors[deviceId][event.event.door]) {\n    door = doors[deviceId][event.event.door]\n}\n\nconst item = {\n    'timestamp': timestamp,\n    'deviceId': deviceId,\n    'type': eventType,\n    'granted': granted,\n    'door': door,\n    'direction': direction,\n    'reason': reason,\n    'forceLock': forceLock,\n    'fireAlarm': fireAlarm\n}\n    \nevents.push(item)\n\nif (events.length > 32) {\n    events.shift()\n}\n\nflow.set('events', events)\n\nmsg.payload = {\n    'command': 'setData',\n    'arguments': [ events, false ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "const doors = {\n    405419896: {\n        1: 'ENTRANCE',\n        2: 'WORKSHOP',\n        3: 'TOWER',\n        4: 'DUNGEON'\n    },\n    303986753: {\n        1: 'DOOR X',\n        2: 'DOOR Y',\n        3: 'LABORATORY',\n        4: 'KITCHEN'\n    }\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "b9a22810.4f89d8"
            ]
        ]
    },
    {
        "id": "c601d685.422838",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "da41e071.55ece",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-address",
        "payload": "{\"deviceId\":405419896,\"address\":\"192.168.1.125\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
        "payloadType": "json",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "2a10c0a9.e8d6"
            ]
        ]
    },
    {
        "id": "45ee145d.a3525c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "IPv4",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-address.device', msg.payload)\n        break;\n\n    case 'set-address':\n        flow.set('set-address.address', msg.payload)\n        break;\n\n    case 'set-netmask':\n        flow.set('set-address.netmask', msg.payload)\n        break;\n\n    case 'set-gateway':\n        flow.set('set-address.gateway', msg.payload)\n        break;\n}\n\nlet deviceId = flow.get('set-address.device')\nlet address = flow.get('set-address.address')\nlet netmask = flow.get('set-address.netmask')\nlet gateway = flow.get('set-address.gateway')\n\nif (deviceId && address && netmask && gateway) {\n    msg.payload = {\n        deviceId: deviceId,\n        address: address,\n        netmask: netmask,\n        gateway: gateway\n    }        \n        \n    return msg\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "2a10c0a9.e8d6"
            ]
        ]
    },
    {
        "id": "2a10c0a9.e8d6",
        "type": "set-address",
        "z": "8bcf2d43.2e243",
        "name": "set-address",
        "config": "cbd92359.dbf19",
        "x": 710,
        "y": 140,
        "wires": [
            [
                "c601d685.422838"
            ]
        ]
    },
    {
        "id": "7a342239.47727c",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "43a592be.9cc00c"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "b6a91dc2.1e37",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-address",
        "label": "address",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-address",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "c5052b18.578d98",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-netmask",
        "label": "netmask",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-netmask",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "5b16f8e7.972fb8",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-gateway",
        "label": "gateway",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 15,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-gateway",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "43a592be.9cc00c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "initialise",
        "func": "const address = { topic:'address', payload:'192.168.1.100' }\nconst netmask = { topic:'netmask', payload:'255.255.255.0' }\nconst gateway = { topic:'gateway', payload:'192.168.1.1' }\n\nreturn [address, netmask, gateway]",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "b6a91dc2.1e37"
            ],
            [
                "c5052b18.578d98"
            ],
            [
                "5b16f8e7.972fb8"
            ]
        ]
    },
    {
        "id": "2dc88a53.cf8646",
        "type": "inject",
        "z": "b2b669ed.2b50b8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "1d2d547f.68acbc"
            ]
        ]
    },
    {
        "id": "1d2d547f.68acbc",
        "type": "get-status",
        "z": "b2b669ed.2b50b8",
        "name": "get-status",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "52d5b0c5.0e178",
                "66b13a53.2d40c4"
            ]
        ]
    },
    {
        "id": "52d5b0c5.0e178",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "66b13a53.2d40c4",
        "type": "function",
        "z": "b2b669ed.2b50b8",
        "name": "",
        "func": "return { state: msg.payload.state }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "a3aed72f.f0e048",
                "56871d27.da9ed4",
                "e00afbc8.15cb08",
                "b0695f96.173a",
                "3492fdc3.027362",
                "4a9b9ce7.cdd104",
                "26cd9d97.cca782",
                "a843b372.3b8a3",
                "920674f5.d4c3c8",
                "817be76d.110368",
                "c0eef76d.216288",
                "ca12ab41.ead508",
                "17050338.bd609d",
                "5589c510.5d81fc",
                "c7c5ecf6.38c19",
                "a8c13b2.cb6c9c8",
                "a2517dc1.e48db",
                "f38fbfbe.e8863",
                "6533f5de.14f6fc",
                "bd162cea.4ff96",
                "99f55329.e68b",
                "cbd52694.d57618",
                "629e6ee6.edbd",
                "ef0e11ca.d798",
                "2a139873.d98058",
                "975db344.fe62c"
            ]
        ]
    },
    {
        "id": "a3aed72f.f0e048",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "status-serial-number",
        "label": "serial number",
        "format": "{{state.serialNumber}}",
        "layout": "row-spread",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "56871d27.da9ed4",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "status-event-index",
        "label": "index",
        "format": "{{state.event.index}}",
        "layout": "row-spread",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd3d980e.eef9a8",
        "type": "link in",
        "z": "b2b669ed.2b50b8",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "1d2d547f.68acbc"
            ]
        ]
    },
    {
        "id": "e00afbc8.15cb08",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "status-event-type",
        "label": "type",
        "format": "{{state.event.type.event}}",
        "layout": "row-spread",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "b0695f96.173a",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "status-event-granted",
        "label": "granted",
        "format": "{{state.event.granted}}",
        "layout": "row-spread",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "3492fdc3.027362",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 13,
        "width": 4,
        "height": 1,
        "name": "status-event-door",
        "label": "door",
        "format": "{{state.event.door}}",
        "layout": "row-spread",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "4a9b9ce7.cdd104",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 15,
        "width": 4,
        "height": 1,
        "name": "status-event-direction",
        "label": "direction",
        "format": "{{state.event.direction.direction}}",
        "layout": "row-spread",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "26cd9d97.cca782",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 17,
        "width": 4,
        "height": 1,
        "name": "status-event-card",
        "label": "card",
        "format": "{{state.event.card}}",
        "layout": "row-spread",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "a843b372.3b8a3",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 19,
        "width": 4,
        "height": 1,
        "name": "status-event-timestamp",
        "label": "@",
        "format": "{{state.event.timestamp}}",
        "layout": "row-spread",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "920674f5.d4c3c8",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 20,
        "width": 6,
        "height": 1,
        "name": "door-1",
        "label": "Door 1 locked:",
        "format": "{{state.doors[0]}}",
        "layout": "row-spread",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "817be76d.110368",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 21,
        "width": 6,
        "height": 1,
        "name": "door-2",
        "label": "Door 2 locked:",
        "format": "{{state.doors[1]}}",
        "layout": "row-spread",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "c0eef76d.216288",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 22,
        "width": 6,
        "height": 1,
        "name": "door-3",
        "label": "Door 3 locked:",
        "format": "{{state.doors[2]}}",
        "layout": "row-spread",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "ca12ab41.ead508",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 23,
        "width": 6,
        "height": 1,
        "name": "door-4",
        "label": "Door 4 locked:",
        "format": "{{state.doors[3]}}",
        "layout": "row-spread",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "17050338.bd609d",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 24,
        "width": 6,
        "height": 1,
        "name": "button-1",
        "label": "Button 1 pressed:",
        "format": "{{state.buttons[0]}}",
        "layout": "row-spread",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "5589c510.5d81fc",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 25,
        "width": 6,
        "height": 1,
        "name": "button-2",
        "label": "Button 2 pressed:",
        "format": "{{state.buttons[1]}}",
        "layout": "row-spread",
        "x": 700,
        "y": 560,
        "wires": []
    },
    {
        "id": "c7c5ecf6.38c19",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 26,
        "width": 6,
        "height": 1,
        "name": "button-3",
        "label": "Button 3 pressed:",
        "format": "{{state.buttons[2]}}",
        "layout": "row-spread",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "a8c13b2.cb6c9c8",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 27,
        "width": 6,
        "height": 1,
        "name": "button-4",
        "label": "Button 4 pressed:",
        "format": "{{state.buttons[3]}}",
        "layout": "row-spread",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "a2517dc1.e48db",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 28,
        "width": 6,
        "height": 1,
        "name": "system-status",
        "label": "System status",
        "format": "{{state.system.status}}",
        "layout": "row-spread",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "f38fbfbe.e8863",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 29,
        "width": 6,
        "height": 1,
        "name": "system-date",
        "label": "System date",
        "format": "{{state.system.date}}",
        "layout": "row-spread",
        "x": 930,
        "y": 80,
        "wires": []
    },
    {
        "id": "6533f5de.14f6fc",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 30,
        "width": 6,
        "height": 1,
        "name": "system-time",
        "label": "System time",
        "format": "{{state.system.time}}",
        "layout": "row-spread",
        "x": 930,
        "y": 120,
        "wires": []
    },
    {
        "id": "bd162cea.4ff96",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 31,
        "width": 6,
        "height": 1,
        "name": "special-info",
        "label": "Special info",
        "format": "{{state.specialInfo}}",
        "layout": "row-spread",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "99f55329.e68b",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 32,
        "width": 6,
        "height": 1,
        "name": "relay-1",
        "label": "Relay 1 locked",
        "format": "{{state.relays.relays[1]}}",
        "layout": "row-spread",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "cbd52694.d57618",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 33,
        "width": 6,
        "height": 1,
        "name": "relay-2",
        "label": "Relay 2 locked",
        "format": "{{state.relays.relays[2]}}",
        "layout": "row-spread",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "629e6ee6.edbd",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 34,
        "width": 6,
        "height": 1,
        "name": "relay-3",
        "label": "Relay 3 locked",
        "format": "{{state.relays.relays[3]}}",
        "layout": "row-spread",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "ef0e11ca.d798",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 35,
        "width": 6,
        "height": 1,
        "name": "relay-4",
        "label": "Relay 4 locked",
        "format": "{{state.relays.relays[4]}}",
        "layout": "row-spread",
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "2a139873.d98058",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 36,
        "width": 6,
        "height": 1,
        "name": "force-locked",
        "label": "Force locked",
        "format": "{{state.inputs.forceLock}}",
        "layout": "row-spread",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "975db344.fe62c",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 37,
        "width": 6,
        "height": 1,
        "name": "fire-alarm",
        "label": "Fire alarm",
        "format": "{{state.inputs.fireAlarm}}",
        "layout": "row-spread",
        "x": 920,
        "y": 400,
        "wires": []
    },
    {
        "id": "6a3d799.3fe3688",
        "type": "get-time",
        "z": "f7a455cc.3fefe8",
        "name": "get-time",
        "config": "cbd92359.dbf19",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "2c2ab991.619516",
                "7bf9bf1f.c2c11"
            ]
        ]
    },
    {
        "id": "2c2ab991.619516",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "date/time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "d84c21e5.b2692",
        "type": "inject",
        "z": "f7a455cc.3fefe8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "6a3d799.3fe3688"
            ]
        ]
    },
    {
        "id": "7bf9bf1f.c2c11",
        "type": "ui_text",
        "z": "f7a455cc.3fefe8",
        "group": "573f9bfa.7e4564",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "datetime",
        "label": "",
        "format": "{{msg.payload.datetime}}",
        "layout": "row-spread",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "a7169ed8.d4f29",
        "type": "link in",
        "z": "f7a455cc.3fefe8",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 80,
        "wires": [
            [
                "6a3d799.3fe3688"
            ]
        ]
    },
    {
        "id": "eabdc94d.323a48",
        "type": "link in",
        "z": "f0ca7ab6.b09058",
        "name": "",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "cf961bd6.504938"
            ]
        ]
    },
    {
        "id": "801f7f25.d85eb",
        "type": "ui_button",
        "z": "33c9a78a.cc8c18",
        "name": "405419896",
        "group": "92a2709b.0ef46",
        "order": 1,
        "width": 5,
        "height": 2,
        "passthru": false,
        "label": "405419896",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "topic": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "46cebfa2.e38c6"
            ]
        ]
    },
    {
        "id": "46cebfa2.e38c6",
        "type": "link out",
        "z": "33c9a78a.cc8c18",
        "name": "refresh",
        "links": [
            "fd3d980e.eef9a8",
            "a7169ed8.d4f29",
            "eabdc94d.323a48",
            "e036a638.1da6d8",
            "1d446f7d.8d4dd1",
            "fd5cb328.52147",
            "b8460bf9.4811f8",
            "311af5c6.40b9aa",
            "c8f3aa0a.3b4ae8",
            "74f184d2.65a5ac"
        ],
        "x": 255,
        "y": 80,
        "wires": []
    },
    {
        "id": "45f39906.fe8258",
        "type": "ui_button",
        "z": "33c9a78a.cc8c18",
        "name": "303986753",
        "group": "92a2709b.0ef46",
        "order": 2,
        "width": 5,
        "height": 2,
        "passthru": false,
        "label": "303986753",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{ \"deviceId\": 303986753 }",
        "payloadType": "json",
        "topic": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "46cebfa2.e38c6"
            ]
        ]
    },
    {
        "id": "9d254489.c08578",
        "type": "inject",
        "z": "f7a455cc.3fefe8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-time",
        "payload": "{\"deviceId\":405419896,\"datetime\":\"2020-09-15 13:43:56\"}",
        "payloadType": "json",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "ea3bdfee.bf0d1"
            ]
        ]
    },
    {
        "id": "804a318e.14ddb",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "ea3bdfee.bf0d1",
        "type": "set-time",
        "z": "f7a455cc.3fefe8",
        "name": "set-time",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 180,
        "wires": [
            [
                "804a318e.14ddb"
            ]
        ]
    },
    {
        "id": "cbe2b9d7.ec8fe8",
        "type": "ui_text_input",
        "z": "f7a455cc.3fefe8",
        "name": "time",
        "label": "",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "time",
        "delay": "0",
        "topic": "set-time",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "c729598d.d63658",
        "type": "ui_date_picker",
        "z": "f7a455cc.3fefe8",
        "name": "date",
        "label": "",
        "group": "920f64db.d2fd58",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "1768d838.2f1398",
        "type": "function",
        "z": "f7a455cc.3fefe8",
        "name": "datetime",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('set-time.device', msg.payload)\n        break;\n\n    case 'set-date':\n        flow.set('set-time.date', new Date(msg.payload))\n        break;\n\n    case 'set-time':\n        const dt = new Date(msg.payload)\n        const tz = dt.getTimezoneOffset()\n        flow.set('set-time.time', new Date(msg.payload + tz*60*1000))\n        break;\n}\n\nlet deviceId = flow.get('set-time.device')\nlet date = flow.get('set-time.date')\nlet time = flow.get('set-time.time')\n\nif (!date) {\n    date = new Date()\n}\n\nif (!time) {\n    time = new Date()\n}\n\nif (deviceId && date && time) {\n    const year = format(date.getFullYear(), 4)\n    const month = format(date.getMonth()+1, 2)\n    const day = format(date.getDate(), 2)\n    const hours = format(time.getHours(), 2)\n    const minutes = format(time.getMinutes(), 2)\n    const seconds = format(time.getSeconds(), 2)\n\n    msg.payload = { \n        deviceId: deviceId,\n        datetime: year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds\n    }\n        \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "ea3bdfee.bf0d1"
            ]
        ]
    },
    {
        "id": "2046730f.81897c",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "7317e0e6.862af",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "292b6aca.7aa1e6"
            ]
        ]
    },
    {
        "id": "d0069706.de5418",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "door-1",
        "label": "Entrance",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.control.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "1d446f7d.8d4dd1",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 80,
        "wires": [
            [
                "292b6aca.7aa1e6"
            ]
        ]
    },
    {
        "id": "bedb99cc.cc0768",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "d0069706.de5418",
                "2046730f.81897c"
            ]
        ]
    },
    {
        "id": "292b6aca.7aa1e6",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "doors",
        "func": "entrance = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 1\n    }\n}\n\nworkshop = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 2\n    }\n}\n\ntower = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 3\n    }\n}\n\ndungeon = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 4\n    }\n}\n\nreturn [ entrance, workshop, tower, dungeon ];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "bedb99cc.cc0768"
            ],
            [
                "e7e0d04a.234f7"
            ],
            [
                "c1762251.eb596"
            ],
            [
                "77f19a6f.95b404"
            ]
        ]
    },
    {
        "id": "315cefc9.048fa",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "door-2",
        "label": "Workshop",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.control.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "e7e0d04a.234f7",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "315cefc9.048fa"
            ]
        ]
    },
    {
        "id": "b42f80aa.aebdd",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "door-3",
        "label": "Tower",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.control.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "c1762251.eb596",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "b42f80aa.aebdd"
            ]
        ]
    },
    {
        "id": "87126e15.ad945",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 13,
        "width": 4,
        "height": 1,
        "name": "door-4",
        "label": "Dungeon",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.control.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "77f19a6f.95b404",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "87126e15.ad945"
            ]
        ]
    },
    {
        "id": "b94136c7.ef3808",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "listener",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "19dfdabc.2fc645",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "75e6f5f0.c7e47c"
            ]
        ]
    },
    {
        "id": "70a4e5a1.040e3c",
        "type": "ui_text",
        "z": "c56e1667.998748",
        "group": "c03a3b24.d45c48",
        "order": 19,
        "width": 5,
        "height": 1,
        "name": "listen-address",
        "label": "address",
        "format": "{{msg.payload.address}}",
        "layout": "row-spread",
        "x": 520,
        "y": 240,
        "wires": []
    },
    {
        "id": "fd5cb328.52147",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 240,
        "wires": [
            [
                "75e6f5f0.c7e47c"
            ]
        ]
    },
    {
        "id": "75e6f5f0.c7e47c",
        "type": "get-listener",
        "z": "c56e1667.998748",
        "name": "get-listener",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "b94136c7.ef3808",
                "70a4e5a1.040e3c",
                "e36670e.0a94b9"
            ]
        ]
    },
    {
        "id": "e36670e.0a94b9",
        "type": "ui_text",
        "z": "c56e1667.998748",
        "group": "c03a3b24.d45c48",
        "order": 21,
        "width": 5,
        "height": 1,
        "name": "listen-port",
        "label": "port",
        "format": "{{msg.payload.port}}",
        "layout": "row-spread",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "48b92667.8a59b8",
        "type": "set-listener",
        "z": "c56e1667.998748",
        "name": "set-listener",
        "config": "cbd92359.dbf19",
        "x": 730,
        "y": 400,
        "wires": [
            [
                "8463e096.b3a5f"
            ]
        ]
    },
    {
        "id": "87c6a583.0bc8c8",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-listener",
        "payload": "{\"deviceId\":405419896,\"address\":\"192.168.1.100\",\"port\":60001}",
        "payloadType": "json",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "48b92667.8a59b8"
            ]
        ]
    },
    {
        "id": "8463e096.b3a5f",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "3331c261.f5db3e",
        "type": "ui_text_input",
        "z": "c56e1667.998748",
        "name": "listener-address",
        "label": "address",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 21,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-address",
        "x": 340,
        "y": 440,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "512a17cd.9fb318",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "listener",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('set-listener.device', msg.payload)\n        break;\n\n    case 'set-address':\n        flow.set('set-listener.address', msg.payload)\n        break;\n\n    case 'set-port':\n        flow.set('set-listener.port', msg.payload)\n        break;\n}\n\nlet deviceId = flow.get('set-listener.device')\nlet address = flow.get('set-listener.address')\nlet port = flow.get('set-listener.port')\n\nif (deviceId && address && port) {\n    msg.payload = { \n        deviceId: deviceId,\n        address: address,\n            port: port\n    }\n        \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 400,
        "wires": [
            [
                "48b92667.8a59b8"
            ]
        ]
    },
    {
        "id": "89e06038.ac5c8",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "8239439e.8e136"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "8239439e.8e136",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "initialise",
        "func": "const address = { topic:'address', payload:'192.168.1.100' }\nconst port = { topic:'port', payload:60001 }\n\nreturn [ address, port ]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "3331c261.f5db3e"
            ],
            [
                "5217acb4.4afe04"
            ]
        ]
    },
    {
        "id": "5217acb4.4afe04",
        "type": "ui_text_input",
        "z": "c56e1667.998748",
        "name": "listener-port",
        "label": "port",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 25,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "set-port",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "6d8d48f7.397bb8",
        "type": "set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "552b0a9d.9bc984"
            ]
        ]
    },
    {
        "id": "552b0a9d.9bc984",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "2a6bfd65.85b982",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-control",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-door-control.device', msg.payload)\n        break;\n\n    case 'set-door':\n        flow.set('set-door-control.door', msg.payload)\n        break;\n\n    case 'set-delay':\n        flow.set('set-door-control.delay', msg.payload)\n        break;\n\n    case 'set-control':\n        flow.set('set-door-control.control', msg.payload)\n        break;\n}\n\nlet deviceId = flow.get('set-door-control.device')\nlet door = flow.get('set-door-control.door')\nlet delay = flow.get('set-door-control.delay')\nlet control = flow.get('set-door-control.control')\n\nif (deviceId && door && delay && control) {\n    msg.payload = { \n        deviceId: deviceId,\n        door: door,\n        delay: delay,\n        control: control\n    }\n        \n    return msg\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "6d8d48f7.397bb8"
            ]
        ]
    },
    {
        "id": "5fb4202c.0de66",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"door\":1,\"delay\":6,\"control\":\"normally closed\"}",
        "payloadType": "json",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "6d8d48f7.397bb8"
            ]
        ]
    },
    {
        "id": "17002233.3f01ae",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "door",
        "label": "door:",
        "tooltip": "",
        "place": "<select door>",
        "group": "920f64db.d2fd58",
        "order": 23,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "entrance",
                "value": 1,
                "type": "num"
            },
            {
                "label": "workshop",
                "value": "2",
                "type": "str"
            },
            {
                "label": "tower",
                "value": "3",
                "type": "str"
            },
            {
                "label": "dungeon",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-door",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "658fc734.2cb608",
        "type": "ui_numeric",
        "z": "86bbf50e.a7f188",
        "name": "delay",
        "label": "delay:",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 31,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "set-delay",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "step": 1,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "b9f51091.3fdb3",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "control",
        "label": "control:",
        "tooltip": "",
        "place": "<select control state>",
        "group": "920f64db.d2fd58",
        "order": 27,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "normally open",
                "value": "normally open",
                "type": "str"
            },
            {
                "label": "normally closed",
                "value": "normally closed",
                "type": "str"
            },
            {
                "label": "controlled",
                "value": "controlled",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-control",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "b1aa91f5.5d6f",
        "type": "comment",
        "z": "33c9a78a.cc8c18",
        "name": "refresh",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "7539018f.f0f9d",
        "type": "comment",
        "z": "33c9a78a.cc8c18",
        "name": "configuration",
        "info": "",
        "x": 90,
        "y": 320,
        "wires": []
    },
    {
        "id": "1fa242ff.1717cd",
        "type": "ui_dropdown",
        "z": "33c9a78a.cc8c18",
        "name": "controller",
        "label": "",
        "tooltip": "",
        "place": "<select controller>",
        "group": "920f64db.d2fd58",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "405419896",
                "value": 405419896,
                "type": "num"
            },
            {
                "label": "303986753",
                "value": 303986753,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "set-device",
        "x": 80,
        "y": 360,
        "wires": [
            [
                "d4e3111f.b25ea"
            ]
        ]
    },
    {
        "id": "d4e3111f.b25ea",
        "type": "link out",
        "z": "33c9a78a.cc8c18",
        "name": "configure",
        "links": [
            "e90fb8ea.bb5528",
            "c59a9f6b.b8afe",
            "bbeb26dc.ff7ab8",
            "5b13b041.ee256",
            "91238aa6.25efe8",
            "6dd92229.dda32c",
            "750f854e.3e5eac"
        ],
        "x": 255,
        "y": 360,
        "wires": []
    },
    {
        "id": "e90fb8ea.bb5528",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "",
        "links": [
            "d4e3111f.b25ea"
        ],
        "x": 135,
        "y": 280,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "c59a9f6b.b8afe",
        "type": "link in",
        "z": "f7a455cc.3fefe8",
        "name": "",
        "links": [
            "d4e3111f.b25ea"
        ],
        "x": 135,
        "y": 180,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "bbeb26dc.ff7ab8",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "",
        "links": [
            "d4e3111f.b25ea"
        ],
        "x": 395,
        "y": 400,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "5b13b041.ee256",
        "type": "link in",
        "z": "8bcf2d43.2e243",
        "name": "",
        "links": [
            "d4e3111f.b25ea"
        ],
        "x": 395,
        "y": 140,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "6c1b3177.30bd2",
        "type": "open-door",
        "z": "86bbf50e.a7f188",
        "name": "open-door",
        "config": "cbd92359.dbf19",
        "x": 470,
        "y": 640,
        "wires": [
            [
                "cf49a18d.73b92"
            ]
        ]
    },
    {
        "id": "cf49a18d.73b92",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 600,
        "wires": []
    },
    {
        "id": "f6fe5b25.975708",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-1",
        "group": "aa8a9aa4.208ff8",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Entrance",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\":405419896, \"door\":1 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "ae9ed478.d78068",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-2",
        "group": "aa8a9aa4.208ff8",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Workshop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\":405419896, \"door\":2 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "37325e2d.2dfce2",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-3",
        "group": "aa8a9aa4.208ff8",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Tower",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\":405419896, \"door\":3 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "d63d369f.4da2e8",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-4",
        "group": "aa8a9aa4.208ff8",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Dungeon",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\":405419896, \"door\":4 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "63876dfb.f45824",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "920f64db.d2fd58",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "label-IPv4",
        "label": "IPv4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 80,
        "y": 440,
        "wires": []
    },
    {
        "id": "552627e8.24d418",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "920f64db.d2fd58",
        "order": 18,
        "width": 5,
        "height": 1,
        "name": "label-events",
        "label": "Events",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 90,
        "y": 480,
        "wires": []
    },
    {
        "id": "62ed9054.f3d32",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "920f64db.d2fd58",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "label-datetime",
        "label": "Date/time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 100,
        "y": 520,
        "wires": []
    },
    {
        "id": "26b54fcb.c978d",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "920f64db.d2fd58",
        "order": 19,
        "width": 5,
        "height": 1,
        "name": "label-doors",
        "label": "Doors",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 90,
        "y": 560,
        "wires": []
    },
    {
        "id": "29dbb7ba.438588",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-1",
        "group": "aa8a9aa4.208ff8",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Door X",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\": 303986753, \"door\":1 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "4c4ef468.37c2dc",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-2",
        "group": "aa8a9aa4.208ff8",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Door Y",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\": 303986753, \"door\":2 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "6c2c5614.0621c8",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-3",
        "group": "aa8a9aa4.208ff8",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Laboratory",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\": 303986753, \"door\":3 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 760,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "4539c0cb.71ab6",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-4",
        "group": "aa8a9aa4.208ff8",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Kitchen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\": 303986753, \"door\":4 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "2371c9b8.1532e6",
        "type": "ui_ui_control",
        "z": "c56e1667.998748",
        "name": "tab-event",
        "events": "change",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "89dc1ab0.a68848"
            ]
        ]
    },
    {
        "id": "89dc1ab0.a68848",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "initialise-table",
        "func": "if (msg.payload === 'change' && msg.tab && msg.name === 'events') {\n    const events = flow.get('events') || []\n\n    msg.payload = {\n        'command': 'setData',\n        'arguments': [ events, false ]\n    }\n\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "c488256d.ca2ac8"
            ]
        ]
    },
    {
        "id": "c488256d.ca2ac8",
        "type": "delay",
        "z": "c56e1667.998748",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "b9a22810.4f89d8"
            ]
        ]
    },
    {
        "id": "60dcbb9f.c0dfa4",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "cards",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "3c02f9ca.0d36c6",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "78c4fc48.bc5bf4",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "573f9bfa.7e4564",
        "order": 17,
        "width": 4,
        "height": 1,
        "name": "cards",
        "label": "records",
        "format": "{{msg.payload.cards}}",
        "layout": "row-spread",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "b8460bf9.4811f8",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "4f2ad0e3.4c05e",
        "type": "get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "config": "cbd92359.dbf19",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "78c4fc48.bc5bf4",
                "60dcbb9f.c0dfa4"
            ]
        ]
    },
    {
        "id": "5e0f520c.488c5c",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "c03a3b24.d45c48",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "label-device",
        "label": "device",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 90,
        "y": 160,
        "wires": []
    },
    {
        "id": "eaeac9ae.d9f158",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "573f9bfa.7e4564",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "label-datetime",
        "label": "date/time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 260,
        "y": 160,
        "wires": []
    },
    {
        "id": "e620268a.6479f8",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "573f9bfa.7e4564",
        "order": 15,
        "width": 5,
        "height": 1,
        "name": "label-cards",
        "label": "cards",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 250,
        "y": 240,
        "wires": []
    },
    {
        "id": "3d04b912.df9496",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "c03a3b24.d45c48",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "label-listener",
        "label": "listener",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 90,
        "y": 200,
        "wires": []
    },
    {
        "id": "4476c068.0741c",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "573f9bfa.7e4564",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "label-doors",
        "label": "doors",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 250,
        "y": 200,
        "wires": []
    },
    {
        "id": "52e71095.7d5f8",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "ffdc2439.246b38",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "label-status",
        "label": "status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "a2a726be.7c3488",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "ffdc2439.246b38",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "label-event",
        "label": "event",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "6ce7f877.625e48",
        "type": "get-card",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "config": "cbd92359.dbf19",
        "x": 460,
        "y": 360,
        "wires": [
            [
                "f6808502.b5c9e8",
                "75f21b8.86ccbe4"
            ]
        ]
    },
    {
        "id": "356a2abe.2ea636",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"cardNumber\": 65538 }",
        "payloadType": "json",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "6ce7f877.625e48"
            ]
        ]
    },
    {
        "id": "f6808502.b5c9e8",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "92910a57.c53858",
        "type": "ui_dropdown",
        "z": "2a36b650.4b9b7a",
        "name": "controller",
        "label": "",
        "tooltip": "",
        "place": "<select controller>",
        "group": "975ca31.d8d236",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "405419896",
                "value": 405419896,
                "type": "num"
            },
            {
                "label": "303986753",
                "value": 303986753,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "set-device",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "fe2f6f7f.53fd9"
            ]
        ]
    },
    {
        "id": "6277cd72.6d7ea4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('get-card.device', msg.payload)\n        break;\n\n    case 'set-card-number':\n        flow.set('get-card.cardnumber', msg.payload)\n        break;\n}\n\nconst deviceId = flow.get('get-card.device')\nconst cardNumber = flow.get('get-card.cardnumber')\n\nif (deviceId && cardNumber) {\n    msg.payload = { \n        deviceId: deviceId,\n        cardNumber: cardNumber\n    }\n        \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "6ce7f877.625e48"
            ]
        ]
    },
    {
        "id": "52a5b4e7.d2590c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "card.status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 640,
        "wires": []
    },
    {
        "id": "75f21b8.86ccbe4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "retrieved",
        "func": "status = { topic:msg.topic, payload: '' }\ncard = { topic:msg.topic, payload:msg.payload.card }\n\nif (msg.payload.error) {\n    switch (msg.payload.error) {\n        case -1: \n            status.payload = 'card not found'\n            card.payload = { \n                number: '', \n                valid: { \n                    from: '', \n                    to: '' \n                }, \n                doors: { \n                    1: '', \n                    2: '', \n                    3: '', \n                    4: '' \n                    \n                } \n                \n            }\n            break\n            \n        case -2:\n            status.payload  = 'card deleted'\n            card.payload = { \n                number: '', \n                valid: { \n                    from: '', \n                    to: '' \n                }, \n                doors: { \n                    1: '', \n                    2: '', \n                    3: '', \n                    4: '' \n                    \n                } \n                \n            }\n            break\n    }\n}\n\nreturn [ status, card ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "d5de73fc.318b9"
            ],
            [
                "ed03620e.d9ff",
                "e7671a59.2c71c8"
            ]
        ]
    },
    {
        "id": "7fe3bec1.b4483",
        "type": "put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "config": "cbd92359.dbf19",
        "x": 1400,
        "y": 180,
        "wires": [
            [
                "6a069f42.59c15",
                "8194bf5e.b9a13"
            ]
        ]
    },
    {
        "id": "83d878a.58b0188",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{ \"deviceId\": 405419896, \"card\": { \"number\":61532836, \"valid\": { \"from\":\"2019-01-02\", \"to\":\"2021-12-31\" }, \"doors\": { \"1\":true, \"2\":false, \"3\":true, \"4\":true } } }",
        "payloadType": "json",
        "x": 1210,
        "y": 180,
        "wires": [
            [
                "7fe3bec1.b4483"
            ]
        ]
    },
    {
        "id": "6a069f42.59c15",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 140,
        "wires": []
    },
    {
        "id": "9caadcc7.b679f",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst yyyymmdd = (d) => {\n    const year = format(d.getFullYear(), 4)\n    const month = format(d.getMonth()+1, 2)\n    const day = format(d.getDate(), 2)\n    \n    return year + '-' + month + '-' + day\n}\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('put-card.device', msg.payload)\n        break\n\n    case 'set-card-number':\n        flow.set('put-card.card.number', msg.payload)\n        break\n\n    case 'set-card-valid-from':\n        flow.set('put-card.card.valid.from', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-valid-to':\n        flow.set('put-card.card.valid.to', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-doors-1':\n        flow.set('put-card.card.doors.1', msg.payload)\n        break    \n\n    case 'set-card-doors-2':\n        flow.set('put-card.card.doors.2', msg.payload)\n        break    \n\n    case 'set-card-doors-3':\n        flow.set('put-card.card.doors.3', msg.payload)\n        break    \n\n    case 'set-card-doors-4':\n        flow.set('put-card.card.doors.4', msg.payload)\n        break    \n        \n    case 'put-card':\n        const deviceId = flow.get('put-card.device')\n        const cardNumber = flow.get('put-card.card.number')\n        const validFrom = flow.get('put-card.card.valid.from')\n        const validTo = flow.get('put-card.card.valid.to')\n        const door1 = flow.get('put-card.card.doors.1')\n        const door2 = flow.get('put-card.card.doors.2')\n        const door3 = flow.get('put-card.card.doors.3')\n        const door4 = flow.get('put-card.card.doors.4')\n\n        console.log(deviceId, cardNumber, validFrom, validTo)\n        \n        if (deviceId && cardNumber && validFrom && validTo) {\n            msg.payload = { \n                deviceId: deviceId,\n                card: {\n                    number: cardNumber,\n                    valid: {\n                        from: validFrom,\n                        to: validTo\n                    },\n                    doors: {\n                        \"1\": door1 || false,\n                        \"2\": door2 || false,\n                        \"3\": door3 || false,\n                        \"4\": door4 || false\n                    }\n                }\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1210,
        "y": 220,
        "wires": [
            [
                "7fe3bec1.b4483"
            ]
        ]
    },
    {
        "id": "46db6d43.a9d444",
        "type": "ui_text_input",
        "z": "2a36b650.4b9b7a",
        "name": "card.number",
        "label": "card number",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "set-card-number",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "cb6b878.02d9b78"
            ]
        ]
    },
    {
        "id": "83c1860b.02d9f8",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 7,
        "width": 1,
        "height": 1,
        "name": "label-from",
        "label": "from",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 280,
        "wires": []
    },
    {
        "id": "70cb34bc.8def6c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 10,
        "width": 1,
        "height": 1,
        "name": "label-to",
        "label": "to",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "c18e5552.2e5a48",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "group": "80ebf5dd.1d2018",
        "order": 20,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "put-card",
        "x": 1040,
        "y": 600,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "8194bf5e.b9a13",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "func": "if (msg.payload.stored) {\n    msg.payload = 'card updated'\n} else {\n    msg.payload = 'error adding/updating card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1570,
        "y": 180,
        "wires": [
            [
                "191160b2.4d831f"
            ]
        ]
    },
    {
        "id": "e6da52cd.93a8e",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"cardNumber\": 61532836 }",
        "payloadType": "json",
        "x": 270,
        "y": 840,
        "wires": [
            [
                "4ac01a83.a74ec4"
            ]
        ]
    },
    {
        "id": "e7473423.ef6728",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('delete-card.device', msg.payload)\n        break;\n\n    case 'set-card-number':\n        flow.set('delete-card.card.number', msg.payload)\n        break;\n        \n    case 'delete-card':\n        const deviceId = flow.get('delete-card.device')\n        const cardNumber = flow.get('delete-card.card.number')\n\n        if (deviceId && cardNumber) {\n            msg.payload = { \n                deviceId: deviceId,\n                cardNumber: cardNumber\n            }\n        \n            return msg\n        }\n        break        \n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 880,
        "wires": [
            [
                "4ac01a83.a74ec4"
            ]
        ]
    },
    {
        "id": "4ac01a83.a74ec4",
        "type": "delete-card",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "config": "cbd92359.dbf19",
        "x": 450,
        "y": 880,
        "wires": [
            [
                "d35026f6.29b788",
                "aad3691e.482588"
            ]
        ]
    },
    {
        "id": "d35026f6.29b788",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 840,
        "wires": []
    },
    {
        "id": "e09b14f4.d89ca8",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "group": "80ebf5dd.1d2018",
        "order": 21,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "delete-card",
        "x": 90,
        "y": 920,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "fe2f6f7f.53fd9",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "card-device",
        "links": [
            "f93335b9.2a2448",
            "93805387.eb6cd",
            "a74d4fc3.50b25",
            "f8912a16.6e32d8",
            "db72adb4.36261",
            "36bef050.3e6b9",
            "66291483.55a63c"
        ],
        "x": 215,
        "y": 200,
        "wires": []
    },
    {
        "id": "f93335b9.2a2448",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 340,
        "wires": [
            [
                "6277cd72.6d7ea4"
            ]
        ]
    },
    {
        "id": "93805387.eb6cd",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 840,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "cb6b878.02d9b78",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "card-number",
        "links": [
            "bd883038.dbaac",
            "129b9c14.1aba94",
            "3036418d.f8557e",
            "1fbf5878.4949c8"
        ],
        "x": 215,
        "y": 240,
        "wires": []
    },
    {
        "id": "bd883038.dbaac",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 135,
        "y": 380,
        "wires": [
            [
                "6277cd72.6d7ea4"
            ]
        ]
    },
    {
        "id": "129b9c14.1aba94",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 135,
        "y": 880,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "a74d4fc3.50b25",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 1055,
        "y": 200,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "3036418d.f8557e",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 1055,
        "y": 240,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "f8233afa.37a5c8",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "card-status",
        "links": [
            "d5de73fc.318b9",
            "b00ce9c1.ba59d8",
            "191160b2.4d831f",
            "fefda9af.f92c78"
        ],
        "x": 895,
        "y": 640,
        "wires": [
            [
                "52a5b4e7.d2590c"
            ]
        ]
    },
    {
        "id": "d5de73fc.318b9",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 775,
        "y": 340,
        "wires": []
    },
    {
        "id": "b00ce9c1.ba59d8",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 735,
        "y": 880,
        "wires": []
    },
    {
        "id": "aad3691e.482588",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "func": "if (msg.payload.deleted) {\n    msg.payload = 'card deleted'\n} else {\n    msg.payload = 'error deleting card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 880,
        "wires": [
            [
                "b00ce9c1.ba59d8"
            ]
        ]
    },
    {
        "id": "e70a1f2e.dcd39",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "card-from",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-from",
        "x": 1040,
        "y": 360,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "ed03620e.d9ff",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "valid-dates",
        "func": "const parse = function(s) {\n    const re = /^([0-9]{4})-([0-9]{2})-([0-9]{2})$/\n    const match = re.exec(s)\n    \n    if (match !== null && match.length > 3) {\n        const year = parseInt(match[1], 10)\n        const month = parseInt(match[2], 10)\n        const day = parseInt(match[3], 10)\n        const date = new Date()\n\n        date.setYear(year)\n        date.setMonth(month - 1)\n        date.setDate(day)\n        \n        return date\n    }\n    \n    return null\n}\n        \nif (msg.payload.valid) {\n    const from = parse(msg.payload.valid.from)\n    const to = parse(msg.payload.valid.to)\n    let p = null\n    let q = null\n\n    if (from !== null) {\n        p = { topic:msg.topic, payload:from }\n    }\n\n    if (to !== null) {\n        q = { topic:msg.topic, payload:to }\n    }\n\n    return [p,q]\n}\n\nreturn [null, null]\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 380,
        "wires": [
            [
                "e70a1f2e.dcd39"
            ],
            [
                "51e5131e.65bf4c"
            ]
        ]
    },
    {
        "id": "51e5131e.65bf4c",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "card-to",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-to",
        "x": 1040,
        "y": 400,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "191160b2.4d831f",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 1695,
        "y": 180,
        "wires": []
    },
    {
        "id": "6eac8a4e.b9baf4",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.1",
        "label": "entrance",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 13,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-1",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "e7671a59.2c71c8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "doors",
        "func": "if (msg.payload.doors) {\n    const door1 = { topic:msg.topic, payload:msg.payload.doors[\"1\"] }\n    const door2 = { topic:msg.topic, payload:msg.payload.doors[\"2\"] }\n    const door3 = { topic:msg.topic, payload:msg.payload.doors[\"3\"] }\n    const door4 = { topic:msg.topic, payload:msg.payload.doors[\"4\"] }\n\n    return [ door1, door2, door3, door4 ]\n}\n\nreturn [ null, null, null, null ]\n\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 810,
        "y": 500,
        "wires": [
            [
                "6eac8a4e.b9baf4"
            ],
            [
                "9eb1f7b1.8b0968"
            ],
            [
                "34ea4d9f.8c2892"
            ],
            [
                "81c28b36.1b34e8"
            ]
        ]
    },
    {
        "id": "9eb1f7b1.8b0968",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.2",
        "label": "workshop",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 15,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-2",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "34ea4d9f.8c2892",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.3",
        "label": "tower",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 17,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-3",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "81c28b36.1b34e8",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.4",
        "label": "dungeon",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 19,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-4",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 560,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "6f571cdf.961f74",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"index\": 1 }",
        "payloadType": "json",
        "x": 270,
        "y": 740,
        "wires": [
            [
                "13f668be.c2e417"
            ]
        ]
    },
    {
        "id": "32cd75ea.8b84ba",
        "type": "ui_table",
        "z": "2a36b650.4b9b7a",
        "group": "975ca31.d8d236",
        "name": "cards",
        "order": 7,
        "width": 14,
        "height": 16,
        "columns": [
            {
                "field": "number",
                "title": "card number",
                "width": "134",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "valid.from",
                "title": "from",
                "width": "108",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "valid.to",
                "title": "to",
                "width": "108",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.1",
                "title": "entrance",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.2",
                "title": "workshop",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.3",
                "title": "tower",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.4",
                "title": "dungeon",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 850,
        "y": 740,
        "wires": []
    },
    {
        "id": "5b79d6d.06dc728",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "refresh",
        "group": "975ca31.d8d236",
        "order": 5,
        "width": 1,
        "height": 2,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "x": 70,
        "y": 660,
        "wires": [
            [
                "920606cd.352758"
            ]
        ]
    },
    {
        "id": "196e0519.9c92cb",
        "type": "get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "config": "cbd92359.dbf19",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "920606cd.352758"
            ]
        ]
    },
    {
        "id": "920606cd.352758",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "refresh-cards",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('refresh.device', msg.payload)\n        break;\n\n    case 'refresh':\n        { const deviceId = flow.get('refresh.device')\n\n          if (deviceId) {\n              return [ \n                  { topic:'get-cards', payload: { deviceId:deviceId } },\n                  null\n              ]\n          }\n        }\n        break\n\n    case 'get-cards':\n        { flow.set('refresh.count', msg.payload.cards)\n          flow.set('refresh.index', 0)\n          flow.set('cards', new Map())\n\n          const deviceId = flow.get('refresh.device')\n          const index = flow.get('refresh.index') || 0\n\n          if (deviceId) {\n              next = index + 1\n              flow.set('refresh.index', next)\n              return [ \n                null,\n                { topic:'get-card-by-index', payload: { deviceId:deviceId, index:next } }\n              ]\n            }\n        }\n        break\n\n    case 'get-card-by-index':\n        if (msg.payload.error !== -1) {\n            const deviceId = flow.get('refresh.device')\n            const count = flow.get('refresh.count')\n            const index = flow.get('refresh.index')\n            const cards = flow.get('cards')\n\n            if (deviceId && index && cards.size < count) {\n                next = index + 1\n                flow.set('refresh.index', next)\n                return [ \n                    null,\n                    { topic:'get-card-by-index', payload: { deviceId:deviceId, index:next } }\n                ]\n            }\n        }\n        break\n}\n\nreturn [null, null]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "196e0519.9c92cb"
            ],
            [
                "13f668be.c2e417"
            ]
        ]
    },
    {
        "id": "33497a02.770536",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card@",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 700,
        "wires": []
    },
    {
        "id": "db72adb4.36261",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 115,
        "y": 620,
        "wires": [
            [
                "920606cd.352758"
            ]
        ]
    },
    {
        "id": "13f668be.c2e417",
        "type": "get-card-by-index",
        "z": "2a36b650.4b9b7a",
        "name": "get-card-by-index",
        "config": "cbd92359.dbf19",
        "x": 490,
        "y": 740,
        "wires": [
            [
                "920606cd.352758",
                "33497a02.770536",
                "c4f9384f.7089b8"
            ]
        ]
    },
    {
        "id": "c4f9384f.7089b8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "cards",
        "func": "const cards = flow.get('cards') || new Map()\nconst doors = flow.get('doors')\n\nconst deviceId = msg.payload.deviceId\nconst card = msg.payload.card\nconst list = []\n\nif (!msg.payload.error || msg.payload.error === 0) {\n   cards.set(card.number, card)\n\n   flow.set('cards', cards)\n}\n\nfor (const [k,v] of cards) {\n  list.push(v)\n}\n\nmsg.payload = {\n    'command': 'setData',\n    'arguments': [ list, false ]\n}\n\nreturn msg;    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "const doors = {\n    405419896: {\n        1: 'ENTRANCE',\n        2: 'WORKSHOP',\n        3: 'TOWER',\n        4: 'DUNGEON'\n    },\n    303986753: {\n        1: 'DOOR X',\n        2: 'DOOR Y',\n        3: 'LABORATORY',\n        4: 'KITCHEN'\n    }\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 690,
        "y": 740,
        "wires": [
            [
                "32cd75ea.8b84ba"
            ]
        ]
    },
    {
        "id": "f6b826f5.187ae8",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 270,
        "y": 980,
        "wires": [
            [
                "874f55c6.6f00b8"
            ]
        ]
    },
    {
        "id": "d435a504.9295d8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "delete-cards",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('delete-cards.device', msg.payload)\n        break;\n\n    case 'delete-cards':\n        const deviceId = flow.get('delete-cards.device')\n\n        if (deviceId) {\n            msg.payload = { \n                deviceId: deviceId\n            }\n        \n            return msg\n        }\n        break        \n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 1020,
        "wires": [
            [
                "874f55c6.6f00b8"
            ]
        ]
    },
    {
        "id": "3b1532d.e15adce",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 980,
        "wires": []
    },
    {
        "id": "12b53ea2.d23791",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "delete-cards",
        "group": "975ca31.d8d236",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "delete all",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "delete-cards",
        "x": 90,
        "y": 1040,
        "wires": [
            [
                "d435a504.9295d8"
            ]
        ]
    },
    {
        "id": "36bef050.3e6b9",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 1000,
        "wires": [
            [
                "d435a504.9295d8"
            ]
        ]
    },
    {
        "id": "d5e17469.7208d8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "func": "if (msg.payload.deleted) {\n    msg.payload = 'card deleted'\n} else {\n    msg.payload = 'error deleting card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "874f55c6.6f00b8",
        "type": "delete-all-cards",
        "z": "2a36b650.4b9b7a",
        "name": "delete-all-cards",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 1020,
        "wires": [
            [
                "d5e17469.7208d8",
                "3b1532d.e15adce"
            ]
        ]
    },
    {
        "id": "639ffbe2.214cc4",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "3be8dcd9.c0ec74",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "9e7ddaee.4eaa48"
            ]
        ]
    },
    {
        "id": "f6190f5c.e5ef9",
        "type": "ui_text",
        "z": "b5da19a5.72a0c8",
        "group": "573f9bfa.7e4564",
        "order": 21,
        "width": 4,
        "height": 1,
        "name": "event-index",
        "label": "event index",
        "format": "{{msg.payload.index}}",
        "layout": "row-spread",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "c8f3aa0a.3b4ae8",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 120,
        "wires": [
            [
                "9e7ddaee.4eaa48"
            ]
        ]
    },
    {
        "id": "9e7ddaee.4eaa48",
        "type": "get-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "config": "cbd92359.dbf19",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "f6190f5c.e5ef9",
                "639ffbe2.214cc4"
            ]
        ]
    },
    {
        "id": "67a3ecb.770e614",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "573f9bfa.7e4564",
        "order": 19,
        "width": 5,
        "height": 1,
        "name": "label-events",
        "label": "events",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 250,
        "y": 280,
        "wires": []
    },
    {
        "id": "9499cd07.adf01",
        "type": "comment",
        "z": "b5da19a5.72a0c8",
        "name": "detail page: event index ",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "cb614bbf.65eb68",
        "type": "comment",
        "z": "2a36b650.4b9b7a",
        "name": "detail page: card record count",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "e08eaeaa.741ee",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "set-event-index",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "701112a1.4079dc",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"index\":13 }",
        "payloadType": "json",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "738563e5.ad729c"
            ]
        ]
    },
    {
        "id": "e2f95c0b.0b82f",
        "type": "comment",
        "z": "b5da19a5.72a0c8",
        "name": "configuration page: event index ",
        "info": "",
        "x": 190,
        "y": 220,
        "wires": []
    },
    {
        "id": "738563e5.ad729c",
        "type": "set-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "set-event-index",
        "config": "cbd92359.dbf19",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "e08eaeaa.741ee",
                "f59ec658.7fb798"
            ]
        ]
    },
    {
        "id": "66de5d72.ad8814",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-event-index.device', msg.payload)\n        break;\n\n    case 'set-event-index':\n        flow.set('set-event-index.index', msg.payload)\n        break;\n}\n\nconst deviceId = flow.get('set-event-index.device')\nconst index = flow.get('set-event-index.index')\n\nif (deviceId && index) {\n    msg.payload = { \n        deviceId: deviceId,\n        index: index\n    }\n        \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "738563e5.ad729c"
            ]
        ]
    },
    {
        "id": "f59ec658.7fb798",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "event-index-updated",
        "func": "const deviceId = flow.get('set-event-index.device')\nconst index = flow.get('set-event-index.index')\n\nif (msg.payload.updated && deviceId && index) {\n    msg.payload = { \n        \"deviceId\": deviceId,\n        \"index\": index\n    }\n    \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 300,
        "wires": [
            [
                "f6190f5c.e5ef9"
            ]
        ]
    },
    {
        "id": "5ad9c8ce.15e9d8",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "920f64db.d2fd58",
        "order": 20,
        "width": 2,
        "height": 1,
        "name": "label-listener",
        "label": "listener",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 250,
        "y": 480,
        "wires": []
    },
    {
        "id": "ae6397dc.08f558",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "920f64db.d2fd58",
        "order": 28,
        "width": 2,
        "height": 1,
        "name": "label-event-index",
        "label": "index",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "27ec3017.bb1d",
        "type": "ui_text_input",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "label": "index",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 29,
        "width": 3,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "set-event-index",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "66de5d72.ad8814"
            ]
        ]
    },
    {
        "id": "6dd92229.dda32c",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "",
        "links": [
            "d4e3111f.b25ea"
        ],
        "x": 195,
        "y": 300,
        "wires": [
            [
                "66de5d72.ad8814"
            ]
        ]
    },
    {
        "id": "a75552ac.fbf6a",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "959338c3.e9e528",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"index\":13 }",
        "payloadType": "json",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "7cf7e46b.641d4c"
            ]
        ]
    },
    {
        "id": "ff39879c.00afd8",
        "type": "comment",
        "z": "b5da19a5.72a0c8",
        "name": "events page",
        "info": "",
        "x": 150,
        "y": 460,
        "wires": []
    },
    {
        "id": "969e6ec3.60ba6",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-event-index.device', msg.payload)\n        break;\n\n    case 'set-event-index':\n        const deviceId = flow.get('set-event-index.device')\n        const index = msg.payload\n\n        if (deviceId && index) {\n            msg.payload = { \n                deviceId: deviceId,\n                index: index\n            }\n        \n            return msg\n        }\n        break;\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 540,
        "wires": [
            [
                "7cf7e46b.641d4c"
            ]
        ]
    },
    {
        "id": "6be3562c.613718",
        "type": "ui_text_input",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "label": "index",
        "tooltip": "",
        "group": "659dc42b.91f43c",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "set-event-index",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "969e6ec3.60ba6"
            ]
        ]
    },
    {
        "id": "7cf7e46b.641d4c",
        "type": "get-event",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "config": "cbd92359.dbf19",
        "x": 540,
        "y": 540,
        "wires": [
            [
                "a75552ac.fbf6a",
                "fae74f01.5e9fb"
            ]
        ]
    },
    {
        "id": "fae74f01.5e9fb",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "append-event",
        "func": "const events = flow.get('fetched') || []\nconst doors = flow.get('doors')\n\nconst deviceId = msg.payload.deviceId\nconst event = msg.payload.event\nconst index = event.index\nconst timestamp = event.timestamp\nconst eventType = event.type.event.toUpperCase()\nconst granted = event.granted\nconst direction = event.direction.direction.toUpperCase()\nconst reason = event.reason.reason.toUpperCase()\nlet   door = event.door\n\nif (doors[deviceId] && doors[deviceId][event.door]) {\n    door = doors[deviceId][event.door]\n}\n\nconst item = {\n    'deviceId': deviceId,\n    'index': index,\n    'timestamp': timestamp,\n    'type': eventType,\n    'granted': granted,\n    'door': door,\n    'direction': direction,\n    'reason': reason,\n}\n    \nevents.push(item)\n\nif (events.length > 8) {\n    events.shift()\n}\n\nflow.set('fetched', events)\n\nmsg.payload = {\n    'command': 'setData',\n    'arguments': [ events, false ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "const doors = {\n    405419896: {\n        1: 'ENTRANCE',\n        2: 'WORKSHOP',\n        3: 'TOWER',\n        4: 'DUNGEON'\n    },\n    303986753: {\n        1: 'DOOR X',\n        2: 'DOOR Y',\n        3: 'LABORATORY',\n        4: 'KITCHEN'\n    }\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 740,
        "y": 540,
        "wires": [
            [
                "fcd11c8b.3687f"
            ]
        ]
    },
    {
        "id": "fcd11c8b.3687f",
        "type": "ui_table",
        "z": "b5da19a5.72a0c8",
        "group": "659dc42b.91f43c",
        "name": "single-events",
        "order": 4,
        "width": 22,
        "height": 7,
        "columns": [
            {
                "field": "deviceId",
                "title": "controller",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "index",
                "title": "index",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timestamp",
                "title": "timestamp",
                "width": "160",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "type",
                "title": "event type",
                "width": "132",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "granted",
                "title": "Granted?",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "door",
                "title": "door",
                "width": "112",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "direction",
                "title": "direction",
                "width": "108",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "reason",
                "title": "reason",
                "width": "224",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "b66de9ec.5490b8",
        "type": "ui_text",
        "z": "c56e1667.998748",
        "group": "659dc42b.91f43c",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "events-table-title",
        "label": "received events",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "ef8dbc78.012f8",
        "type": "ui_ui_control",
        "z": "b5da19a5.72a0c8",
        "name": "tab-event",
        "events": "change",
        "x": 540,
        "y": 580,
        "wires": [
            [
                "a3a01c91.245eb"
            ]
        ]
    },
    {
        "id": "a3a01c91.245eb",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "initialise-table",
        "func": "if (msg.payload === 'change' && msg.tab && msg.name === 'events') {\n    const events = flow.get('fetched') || []\n\n    msg.payload = {\n        'command': 'setData',\n        'arguments': [ events, false ]\n    }\n\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e06f8bac.c4d578",
        "type": "ui_dropdown",
        "z": "b5da19a5.72a0c8",
        "name": "controller",
        "label": "",
        "tooltip": "",
        "place": "<select controller>",
        "group": "659dc42b.91f43c",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "405419896",
                "value": 405419896,
                "type": "num"
            },
            {
                "label": "303986753",
                "value": 303986753,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "set-device",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "969e6ec3.60ba6"
            ]
        ]
    },
    {
        "id": "23ed32e1.98a00e",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\":405419896, \"door\":1 }",
        "payloadType": "json",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    }
]