examples/dashboard/all-flows.json
[
    {
        "id": "33c9a78a.cc8c18",
        "type": "tab",
        "label": "0-common",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a640a000.d83cb",
        "type": "tab",
        "label": "1-get-devices",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f0ca7ab6.b09058",
        "type": "tab",
        "label": "2-get-device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8bcf2d43.2e243",
        "type": "tab",
        "label": "3-IPv4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c56e1667.998748",
        "type": "tab",
        "label": "4-listen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b2b669ed.2b50b8",
        "type": "tab",
        "label": "5-status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f7a455cc.3fefe8",
        "type": "tab",
        "label": "6-time",
        "disabled": false,
        "info": ""
    },
    {
        "id": "86bbf50e.a7f188",
        "type": "tab",
        "label": "7-doors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a36b650.4b9b7a",
        "type": "tab",
        "label": "8-cards",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5da19a5.72a0c8",
        "type": "tab",
        "label": "9-events",
        "disabled": false,
        "info": ""
    },
    {
        "id": "94dcacf5.b4e19",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "ea318236.7f96",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "db5795ea.c20108",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "uhppoted dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "none",
            "dateFormat": "YYYY-MM-DD",
            "sizes": {
                "sx": 48,
                "sy": 28,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 6,
                "py": 6
            }
        }
    },
    {
        "id": "ea318236.7f96",
        "type": "ui_tab",
        "z": "",
        "name": "overview",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "664471ed.acdea",
        "type": "ui_group",
        "z": "",
        "name": "303986753",
        "tab": "ea318236.7f96",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d2f384d6.885a08",
        "type": "ui_group",
        "z": "",
        "name": "controls",
        "tab": "ea318236.7f96",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c03a3b24.d45c48",
        "type": "ui_group",
        "z": "",
        "name": "column-1",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f29b4883.377448",
        "type": "ui_tab",
        "z": "",
        "name": "events",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "659dc42b.91f43c",
        "type": "ui_group",
        "z": "",
        "name": "events",
        "tab": "f29b4883.377448",
        "order": 1,
        "disp": false,
        "width": 22,
        "collapse": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configuration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ffdc2439.246b38",
        "type": "ui_group",
        "z": "",
        "name": "column-3",
        "tab": "2731970.74c476a",
        "order": 4,
        "disp": false,
        "width": 7,
        "collapse": false
    },
    {
        "id": "920f64db.d2fd58",
        "type": "ui_group",
        "z": "",
        "name": "column-1",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": false,
        "width": 5,
        "collapse": false
    },
    {
        "id": "aa8a9aa4.208ff8",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "7236652.51cee9c",
        "order": 1,
        "disp": false,
        "width": 3,
        "collapse": false
    },
    {
        "id": "573f9bfa.7e4564",
        "type": "ui_group",
        "z": "",
        "name": "column-2",
        "tab": "2731970.74c476a",
        "order": 3,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "bb81af8b.a4ff7",
        "type": "ui_tab",
        "z": "",
        "name": "cards",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "80ebf5dd.1d2018",
        "type": "ui_group",
        "z": "",
        "name": "card",
        "tab": "bb81af8b.a4ff7",
        "order": 2,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "8808f6fd.98aea8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "c94272e.53ab69",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "9122342b.ec2d28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "30b19d5a.decfa2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "b0be8022.aa34a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "cb89a097.4271e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "52376a52.aeb724",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "a6f7227e.ec51c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d5c77a7d.bea588",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "975ca31.d8d236",
        "type": "ui_group",
        "z": "",
        "name": "cards",
        "tab": "bb81af8b.a4ff7",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\"},\"405419896\":{\"address\":\"192.168.1.100:60000\"}}",
        "debug": true
    },
    {
        "id": "7236652.51cee9c",
        "type": "ui_tab",
        "z": "",
        "name": "doors",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3e8521cf.0cd58e",
        "type": "ui_group",
        "z": "",
        "name": "303986753",
        "tab": "7236652.51cee9c",
        "order": 2,
        "disp": false,
        "width": 3,
        "collapse": false
    },
    {
        "id": "471d5bd3.286154",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "975ca31.d8d236",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "b79f9ce8.be4a7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "975ca31.d8d236",
        "order": 5,
        "width": 10,
        "height": 1
    },
    {
        "id": "6b385338.0aa06c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "50319719.dc3b78",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "35949e1e.04faa2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "821c2fcf.f00bf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "5cfbb1d7.89bc1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d1957e8.d033d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "b124fb81.db2598",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "7f6b6bc7.2da7b4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "41cfe91f.be6cd8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "80ebf5dd.1d2018",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d07e28c.31b64e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "659dc42b.91f43c",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "a9a0f061.e413e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "659dc42b.91f43c",
        "order": 6,
        "width": 19,
        "height": 1
    },
    {
        "id": "1000ef2a.3f7e81",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "659dc42b.91f43c",
        "order": 8,
        "width": 22,
        "height": 1
    },
    {
        "id": "f04a9c93.e5737",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "659dc42b.91f43c",
        "order": 10,
        "width": 16,
        "height": 1
    },
    {
        "id": "aee33fcb.43067",
        "type": "ui_group",
        "z": "",
        "name": "column-3",
        "tab": "e4b36c96.1a567",
        "order": 3,
        "disp": false,
        "width": 8,
        "collapse": false
    },
    {
        "id": "c2787cda.4b539",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "c4bb3bd0.e5d778",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "7a18dafa.3d2464",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "17c2eb53.aae775",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "c269815f.a4a2b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 11,
        "width": 5,
        "height": 1
    },
    {
        "id": "37c719c5.a06b36",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "f6c48e06.de13f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "e3450c44.aab16",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 18,
        "width": 5,
        "height": 1
    },
    {
        "id": "7bf910dd.7537b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "920f64db.d2fd58",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "4240a7b6.b7ae28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "aee33fcb.43067",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "bc13390b.991218",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "aee33fcb.43067",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "58744d4c.f6e594",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "aee33fcb.43067",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "7c6de930.9970b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "aee33fcb.43067",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "a0cfd30a.0bfaf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "aee33fcb.43067",
        "order": 9,
        "width": 8,
        "height": 1
    },
    {
        "id": "c223343d.409db8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "aee33fcb.43067",
        "order": 23,
        "width": 4,
        "height": 1
    },
    {
        "id": "7ec1a831.3c2f28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "d56468d1.c7f488",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "7add4da3.76d3f4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "6c820387.0a605c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "6f3928f3.5da298",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "e32cffc1.4c7de",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "846d7611.6d60a8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "1c2f72f7.c161cd",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "cb8792a.e7ab57",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "1e96901c.e4908",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "9418990c.d8d9b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c03a3b24.d45c48",
        "order": 24,
        "width": 6,
        "height": 1
    },
    {
        "id": "3bf3a963.bfd676",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "54d6ebf7.2641d4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "81b285dd.ae2f08",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "a5aac6e1.f7d9e8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "b3b17d2f.9ea6e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "7b6f0adb.6e0554",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "2bb9c5c7.a3f2ba",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "3edf6cdc.d437d4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "3d6bfa50.dd47e6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "573f9bfa.7e4564",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "2e3ac03.ab9304",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "a7613b32.2b8408",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "7d9c9db0.bf1434",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "9a584a81.b0aa78",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "61c09c4.ab3e564",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "b42d3851.1e3d28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "bc027e1c.aa2af",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "94d6733a.5d8c2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "1faa52.9746c5ae",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "1986a71b.84e179",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 17,
        "width": 4,
        "height": 1
    },
    {
        "id": "34fb236.aa17adc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "a0857b74.f840f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "9c60c47f.b85918",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "f2f2919c.3b6ef",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "fa5eb929.9f58b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "ecce67c8.d7c7b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "b6dead40.e612f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "8e16aa6.da38a58",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "942e3e54.8f1f1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffdc2439.246b38",
        "order": 54,
        "width": 2,
        "height": 1
    },
    {
        "id": "6a470566.d4725c",
        "type": "get-devices",
        "z": "a640a000.d83cb",
        "name": "get-devices",
        "topic": "get-devices",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "31429769.0664e8",
                "6699677.c355098",
                "30341779.5c29e8"
            ]
        ]
    },
    {
        "id": "31429769.0664e8",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "f6ad52d3.c2e48",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "serial-number",
        "label": "Serial number:",
        "format": "{{device.serialNumber}}",
        "layout": "row-spread",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "bbb6a438.f22818",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "serial-number",
        "label": "Serial number:",
        "format": "{{device.serialNumber}}",
        "layout": "row-spread",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "bafadb7f.3afc08",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "address",
        "label": "Address:",
        "format": "{{device.address}}",
        "layout": "row-spread",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "39ee342f.a465ec",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "address",
        "label": "Address:",
        "format": "{{device.address}}",
        "layout": "row-spread",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "626c9a77.193a04",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "netmask",
        "label": "Subnet mask:",
        "format": "{{device.netmask}}",
        "layout": "row-spread",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "5b2ec683.3d2c38",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "netmask",
        "label": "Subnet mask:",
        "format": "{{device.netmask}}",
        "layout": "row-spread",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "6699677.c355098",
        "type": "function",
        "z": "a640a000.d83cb",
        "name": "405419896",
        "func": "for (i=0; i<msg.payload.length; i++) {\n    deviceId = msg.payload[i].deviceId\n    device = msg.payload[i].device;\n    if (deviceId == 405419896) {\n        return msg.payload[i];        \n    }\n}\n\nreturn { device: {} }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 80,
        "wires": [
            [
                "f6ad52d3.c2e48",
                "bafadb7f.3afc08",
                "626c9a77.193a04",
                "c6fd23f4.c50dd",
                "15d5ff89.9ac5b",
                "764b47ed.8d8fc8",
                "2f037ed3.618ec2"
            ]
        ]
    },
    {
        "id": "c6fd23f4.c50dd",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "gateway",
        "label": "Gateway:",
        "format": "{{device.gateway}}",
        "layout": "row-spread",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "30341779.5c29e8",
        "type": "function",
        "z": "a640a000.d83cb",
        "name": "303986753",
        "func": "for (i=0; i<msg.payload.length; i++) {\n    deviceId = msg.payload[i].deviceId\n    device = msg.payload[i].device;\n    if (deviceId == 303986753) {\n        return msg.payload[i];        \n    }\n}\n\nreturn { device: {} }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "bbb6a438.f22818",
                "39ee342f.a465ec",
                "5b2ec683.3d2c38",
                "47d113b.40769ec",
                "b1bd0325.bd849",
                "329e5483.d305bc",
                "79f990b5.78342"
            ]
        ]
    },
    {
        "id": "47d113b.40769ec",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "gateway",
        "label": "Gateway:",
        "format": "{{device.gateway}}",
        "layout": "row-spread",
        "x": 740,
        "y": 500,
        "wires": []
    },
    {
        "id": "15d5ff89.9ac5b",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "MAC",
        "label": "MAC address:",
        "format": "{{device.MAC}}",
        "layout": "row-spread",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1bd0325.bd849",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "MAC",
        "label": "MAC address:",
        "format": "{{device.MAC}}",
        "layout": "row-spread",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "764b47ed.8d8fc8",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "version",
        "label": "Version:",
        "format": "{{device.version}}",
        "layout": "row-spread",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "329e5483.d305bc",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "version",
        "label": "Version:",
        "format": "{{device.version}}",
        "layout": "row-spread",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "2f037ed3.618ec2",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "date",
        "label": "System date:",
        "format": "{{device.date}}",
        "layout": "row-spread",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "79f990b5.78342",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "date",
        "label": "System date:",
        "format": "{{device.date}}",
        "layout": "row-spread",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "a78a2bf0.74fbe8",
        "type": "ui_button",
        "z": "a640a000.d83cb",
        "name": "refresh",
        "group": "d2f384d6.885a08",
        "order": 7,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "refresh",
        "tooltip": "Get controller summary information",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{}",
        "payloadType": "json",
        "topic": "refresh-controllers",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "6a470566.d4725c"
            ]
        ]
    },
    {
        "id": "a308f042.ba17e",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "d1910029.3c322",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "serial-number",
        "label": "serial number",
        "format": "{{device.serialNumber}}",
        "layout": "row-spread",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "b3759b8c.663488",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 7,
        "width": 5,
        "height": 1,
        "name": "device-address",
        "label": "address",
        "format": "{{device.address}}",
        "layout": "row-spread",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "b600fca7.8931e",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 9,
        "width": 5,
        "height": 1,
        "name": "device-netmask",
        "label": "netmask",
        "format": "{{device.netmask}}",
        "layout": "row-spread",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "883c8d8e.59439",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 11,
        "width": 5,
        "height": 1,
        "name": "device-gateway",
        "label": "gateway",
        "format": "{{device.gateway}}",
        "layout": "row-spread",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "23b47a89.08ab86",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 13,
        "width": 5,
        "height": 1,
        "name": "device-MAC",
        "label": "MAC:",
        "format": "{{device.MAC}}",
        "layout": "row-spread",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "e26cb52b.2aee58",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 15,
        "width": 5,
        "height": 1,
        "name": "device-version",
        "label": "version",
        "format": "{{device.version}}",
        "layout": "row-spread",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "8666ad46.99a95",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 17,
        "width": 5,
        "height": 1,
        "name": "device-date",
        "label": "system date",
        "format": "{{device.date}}",
        "layout": "row-spread",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "cf961bd6.504938",
        "type": "get-device",
        "z": "f0ca7ab6.b09058",
        "name": "get-device",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "a308f042.ba17e",
                "6114aece.3cdf7"
            ]
        ]
    },
    {
        "id": "6114aece.3cdf7",
        "type": "function",
        "z": "f0ca7ab6.b09058",
        "name": "",
        "func": "return { device: msg.payload.device }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "d1910029.3c322",
                "b3759b8c.663488",
                "b600fca7.8931e",
                "883c8d8e.59439",
                "23b47a89.08ab86",
                "e26cb52b.2aee58",
                "8666ad46.99a95"
            ]
        ]
    },
    {
        "id": "18a61437.de498c",
        "type": "listen",
        "z": "c56e1667.998748",
        "name": "listen",
        "config": "cbd92359.dbf19",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "d378e1d6.40fe9",
                "b8dcd439.9a0448"
            ]
        ]
    },
    {
        "id": "b8dcd439.9a0448",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "b9a22810.4f89d8",
        "type": "ui_table",
        "z": "c56e1667.998748",
        "group": "659dc42b.91f43c",
        "name": "received-events",
        "order": 11,
        "width": 22,
        "height": 16,
        "columns": [
            {
                "field": "timestamp",
                "title": "timestamp",
                "width": "160",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "deviceId",
                "title": "controller",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "type",
                "title": "event type",
                "width": "132",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "granted",
                "title": "granted?",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "door",
                "title": "door",
                "width": "112",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "direction",
                "title": "direction",
                "width": "108",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "reason",
                "title": "reason",
                "width": "224",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "forceLock",
                "title": "force locked?",
                "width": "136",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fireAlarm",
                "title": "fire alarm",
                "width": "108",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "d378e1d6.40fe9",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "append-event",
        "func": "const events = flow.get('events') || []\nconst doors = flow.get('doors')\n\nconst deviceId = msg.payload.deviceId\nconst event = msg.payload.state\nconst timestamp = event.event.timestamp\nconst eventType = event.event.type.event.toUpperCase()\nconst granted = event.event.granted\nconst direction = event.event.direction.direction.toUpperCase()\nconst reason = event.event.reason.reason.toUpperCase()\nconst forceLock = event.inputs.forceLock\nconst fireAlarm = event.inputs.fireAlarm\nlet   door = event.door\n\nif (doors[deviceId] && doors[deviceId][event.event.door]) {\n    door = doors[deviceId][event.event.door]\n}\n\nconst item = {\n    'timestamp': timestamp,\n    'deviceId': deviceId,\n    'type': eventType,\n    'granted': granted,\n    'door': door,\n    'direction': direction,\n    'reason': reason,\n    'forceLock': forceLock,\n    'fireAlarm': fireAlarm\n}\n    \nevents.push(item)\n\nif (events.length > 32) {\n    events.shift()\n}\n\nflow.set('events', events)\n\nmsg.payload = {\n    'command': 'setData',\n    'arguments': [ events, false ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "const doors = {\n    405419896: {\n        1: 'ENTRANCE',\n        2: 'WORKSHOP',\n        3: 'TOWER',\n        4: 'DUNGEON'\n    },\n    303986753: {\n        1: 'DOOR X',\n        2: 'DOOR Y',\n        3: 'LABORATORY',\n        4: 'KITCHEN'\n    }\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "b9a22810.4f89d8",
                "f166aff5.ee995"
            ]
        ]
    },
    {
        "id": "45ee145d.a3525c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "IPv4",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-address.device', msg.payload)\n        break;\n\n    case 'set-address':\n        flow.set('set-address.address', msg.payload)\n        break;\n\n    case 'set-netmask':\n        flow.set('set-address.netmask', msg.payload)\n        break;\n\n    case 'set-gateway':\n        flow.set('set-address.gateway', msg.payload)\n        break;\n\n    case 'set':\n        let deviceId = flow.get('set-address.device')\n        let address = flow.get('set-address.address')\n        let netmask = flow.get('set-address.netmask')\n        let gateway = flow.get('set-address.gateway')\n\n        if (deviceId && address && netmask && gateway) {\n            msg.payload = {\n               deviceId: deviceId,\n               address: address,\n               netmask: netmask,\n               gateway: gateway\n            }        \n        \n            return msg\n        }\n        break;\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 120,
        "wires": [
            [
                "13a984d5.221c9b"
            ]
        ]
    },
    {
        "id": "b6a91dc2.1e37",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-address",
        "label": "address",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-address",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "c5052b18.578d98",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-netmask",
        "label": "netmask",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-netmask",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "5b16f8e7.972fb8",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-gateway",
        "label": "gateway",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-gateway",
        "x": 500,
        "y": 240,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "43a592be.9cc00c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "address",
        "func": "const deviceId = Number(msg.payload)\nconst controllers = flow.get('controllers')\n\nif (deviceId && controllers && controllers[deviceId]) {\n    const controller = controllers[deviceId]\n    \n    if (controller.IPv4) {\n       return { \n           topic: 'address', \n           payload: controller.IPv4.address \n       }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "b6a91dc2.1e37"
            ]
        ]
    },
    {
        "id": "1d2d547f.68acbc",
        "type": "get-status",
        "z": "b2b669ed.2b50b8",
        "name": "get-status",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "52d5b0c5.0e178",
                "66b13a53.2d40c4"
            ]
        ]
    },
    {
        "id": "52d5b0c5.0e178",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "66b13a53.2d40c4",
        "type": "function",
        "z": "b2b669ed.2b50b8",
        "name": "",
        "func": "return { state: msg.payload.state }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "a3aed72f.f0e048",
                "56871d27.da9ed4",
                "e00afbc8.15cb08",
                "b0695f96.173a",
                "3492fdc3.027362",
                "4a9b9ce7.cdd104",
                "26cd9d97.cca782",
                "a843b372.3b8a3",
                "920674f5.d4c3c8",
                "817be76d.110368",
                "c0eef76d.216288",
                "ca12ab41.ead508",
                "17050338.bd609d",
                "5589c510.5d81fc",
                "c7c5ecf6.38c19",
                "a8c13b2.cb6c9c8",
                "a2517dc1.e48db",
                "f38fbfbe.e8863",
                "6533f5de.14f6fc",
                "bd162cea.4ff96",
                "99f55329.e68b",
                "cbd52694.d57618",
                "629e6ee6.edbd",
                "ef0e11ca.d798",
                "2a139873.d98058",
                "975db344.fe62c"
            ]
        ]
    },
    {
        "id": "a3aed72f.f0e048",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 6,
        "width": 5,
        "height": 1,
        "name": "status-serial-number",
        "label": "serial number",
        "format": "{{state.serialNumber}}",
        "layout": "row-spread",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "56871d27.da9ed4",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 19,
        "width": 5,
        "height": 1,
        "name": "status-event-index",
        "label": "index",
        "format": "{{state.event.index}}",
        "layout": "row-spread",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd3d980e.eef9a8",
        "type": "link in",
        "z": "b2b669ed.2b50b8",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "1d2d547f.68acbc"
            ]
        ]
    },
    {
        "id": "e00afbc8.15cb08",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 23,
        "width": 5,
        "height": 1,
        "name": "status-event-type",
        "label": "type",
        "format": "{{state.event.type.event}}",
        "layout": "row-spread",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "b0695f96.173a",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 31,
        "width": 5,
        "height": 1,
        "name": "status-event-granted",
        "label": "granted",
        "format": "{{state.event.granted}}",
        "layout": "row-spread",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "3492fdc3.027362",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 27,
        "width": 5,
        "height": 1,
        "name": "status-event-door",
        "label": "door",
        "format": "{{state.event.door}}",
        "layout": "row-spread",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "4a9b9ce7.cdd104",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 29,
        "width": 5,
        "height": 1,
        "name": "status-event-direction",
        "label": "direction",
        "format": "{{state.event.direction.direction}}",
        "layout": "row-spread",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "26cd9d97.cca782",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 25,
        "width": 5,
        "height": 1,
        "name": "status-event-card",
        "label": "card",
        "format": "{{state.event.card}}",
        "layout": "row-spread",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "a843b372.3b8a3",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 21,
        "width": 5,
        "height": 1,
        "name": "status-event-timestamp",
        "label": "@",
        "format": "{{state.event.timestamp}}",
        "layout": "row-spread",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "920674f5.d4c3c8",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 37,
        "width": 2,
        "height": 1,
        "name": "door-1",
        "label": "",
        "format": "{{state.doors[1]}}",
        "layout": "col-center",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "817be76d.110368",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 41,
        "width": 2,
        "height": 1,
        "name": "door-2",
        "label": "",
        "format": "{{state.doors[2]}}",
        "layout": "col-center",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "c0eef76d.216288",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 45,
        "width": 2,
        "height": 1,
        "name": "door-3",
        "label": "",
        "format": "{{state.doors[3]}}",
        "layout": "col-center",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "ca12ab41.ead508",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 49,
        "width": 2,
        "height": 1,
        "name": "door-4",
        "label": "",
        "format": "{{state.doors[4]}}",
        "layout": "col-center",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "17050338.bd609d",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 38,
        "width": 2,
        "height": 1,
        "name": "button-1",
        "label": "",
        "format": "{{state.buttons[1]}}",
        "layout": "col-center",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "5589c510.5d81fc",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 42,
        "width": 2,
        "height": 1,
        "name": "button-2",
        "label": "",
        "format": "{{state.buttons[2]}}",
        "layout": "col-center",
        "x": 700,
        "y": 560,
        "wires": []
    },
    {
        "id": "c7c5ecf6.38c19",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 46,
        "width": 2,
        "height": 1,
        "name": "button-3",
        "label": "",
        "format": "{{state.buttons[3]}}",
        "layout": "col-center",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "a8c13b2.cb6c9c8",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 50,
        "width": 2,
        "height": 1,
        "name": "button-4",
        "label": "",
        "format": "{{state.buttons[4]}}",
        "layout": "col-center",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "a2517dc1.e48db",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "system-status",
        "label": "system status",
        "format": "{{state.system.status}}",
        "layout": "row-spread",
        "x": 960,
        "y": 40,
        "wires": []
    },
    {
        "id": "f38fbfbe.e8863",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 10,
        "width": 5,
        "height": 1,
        "name": "system-date",
        "label": "system date",
        "format": "{{state.system.date}}",
        "layout": "row-spread",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "6533f5de.14f6fc",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 12,
        "width": 5,
        "height": 1,
        "name": "system-time",
        "label": "system time",
        "format": "{{state.system.time}}",
        "layout": "row-spread",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "bd162cea.4ff96",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 14,
        "width": 5,
        "height": 1,
        "name": "special-info",
        "label": "special info",
        "format": "{{state.specialInfo}}",
        "layout": "row-spread",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "99f55329.e68b",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 39,
        "width": 2,
        "height": 1,
        "name": "relay-1",
        "label": "",
        "format": "{{state.relays.relays[1]}}",
        "layout": "col-center",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "cbd52694.d57618",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 43,
        "width": 2,
        "height": 1,
        "name": "relay-2",
        "label": "",
        "format": "{{state.relays.relays[2]}}",
        "layout": "col-center",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "629e6ee6.edbd",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 47,
        "width": 2,
        "height": 1,
        "name": "relay-3",
        "label": "",
        "format": "{{state.relays.relays[3]}}",
        "layout": "col-center",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "ef0e11ca.d798",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 51,
        "width": 2,
        "height": 1,
        "name": "relay-4",
        "label": "",
        "format": "{{state.relays.relays[4]}}",
        "layout": "col-center",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "2a139873.d98058",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 53,
        "width": 5,
        "height": 1,
        "name": "force-locked",
        "label": "force locked",
        "format": "{{state.inputs.forceLock}}",
        "layout": "row-spread",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "975db344.fe62c",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 55,
        "width": 5,
        "height": 1,
        "name": "fire-alarm",
        "label": "fire alarm",
        "format": "{{state.inputs.fireAlarm}}",
        "layout": "row-spread",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "6a3d799.3fe3688",
        "type": "get-time",
        "z": "f7a455cc.3fefe8",
        "name": "get-time",
        "config": "cbd92359.dbf19",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "2c2ab991.619516",
                "7bf9bf1f.c2c11"
            ]
        ]
    },
    {
        "id": "2c2ab991.619516",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "date/time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "7bf9bf1f.c2c11",
        "type": "ui_text",
        "z": "f7a455cc.3fefe8",
        "group": "c03a3b24.d45c48",
        "order": 26,
        "width": 4,
        "height": 1,
        "name": "datetime",
        "label": "",
        "format": "{{msg.payload.datetime}}",
        "layout": "row-spread",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "a7169ed8.d4f29",
        "type": "link in",
        "z": "f7a455cc.3fefe8",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "6a3d799.3fe3688"
            ]
        ]
    },
    {
        "id": "eabdc94d.323a48",
        "type": "link in",
        "z": "f0ca7ab6.b09058",
        "name": "",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "cf961bd6.504938"
            ]
        ]
    },
    {
        "id": "801f7f25.d85eb",
        "type": "ui_button",
        "z": "33c9a78a.cc8c18",
        "name": "405419896",
        "group": "c03a3b24.d45c48",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "405419896",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "topic": "",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "46cebfa2.e38c6"
            ]
        ]
    },
    {
        "id": "46cebfa2.e38c6",
        "type": "link out",
        "z": "33c9a78a.cc8c18",
        "name": "refresh",
        "links": [
            "fd3d980e.eef9a8",
            "a7169ed8.d4f29",
            "eabdc94d.323a48",
            "e036a638.1da6d8",
            "1d446f7d.8d4dd1",
            "fd5cb328.52147",
            "b8460bf9.4811f8",
            "311af5c6.40b9aa",
            "c8f3aa0a.3b4ae8",
            "74f184d2.65a5ac"
        ],
        "x": 255,
        "y": 200,
        "wires": []
    },
    {
        "id": "45f39906.fe8258",
        "type": "ui_button",
        "z": "33c9a78a.cc8c18",
        "name": "303986753",
        "group": "c03a3b24.d45c48",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "303986753",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{ \"deviceId\": 303986753 }",
        "payloadType": "json",
        "topic": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "46cebfa2.e38c6"
            ]
        ]
    },
    {
        "id": "804a318e.14ddb",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "ea3bdfee.bf0d1",
        "type": "set-time",
        "z": "f7a455cc.3fefe8",
        "name": "set-time",
        "config": "cbd92359.dbf19",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "804a318e.14ddb"
            ]
        ]
    },
    {
        "id": "cbe2b9d7.ec8fe8",
        "type": "ui_text_input",
        "z": "f7a455cc.3fefe8",
        "name": "time",
        "label": "",
        "tooltip": "",
        "group": "aee33fcb.43067",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "time",
        "delay": "0",
        "topic": "set-time",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "c729598d.d63658",
        "type": "ui_date_picker",
        "z": "f7a455cc.3fefe8",
        "name": "date",
        "label": "",
        "group": "aee33fcb.43067",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-date",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "1768d838.2f1398",
        "type": "function",
        "z": "f7a455cc.3fefe8",
        "name": "datetime",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('set-time.device', msg.payload)\n        break\n\n    case 'set-date':\n        flow.set('set-time.date', new Date(msg.payload))\n        break\n\n    case 'set-time':\n        const dt = new Date(msg.payload)\n        const tz = dt.getTimezoneOffset()\n        flow.set('set-time.time', new Date(msg.payload + tz*60*1000))\n        break\n        \n    case 'set':\n        let deviceId = flow.get('set-time.device')\n        let date = flow.get('set-time.date')\n        let time = flow.get('set-time.time')\n\n        if (!date) {\n            date = new Date()\n        }\n\n        if (!time) {\n            time = new Date()\n        }\n\n        if (deviceId && date && time) {\n            const year = format(date.getFullYear(), 4)\n            const month = format(date.getMonth()+1, 2)\n            const day = format(date.getDate(), 2)\n            const hours = format(time.getHours(), 2)\n            const minutes = format(time.getMinutes(), 2)\n            const seconds = format(time.getSeconds(), 2)\n\n            msg.payload = { \n                deviceId: deviceId,\n                datetime: year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "ea3bdfee.bf0d1"
            ]
        ]
    },
    {
        "id": "d0069706.de5418",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 6,
        "width": 5,
        "height": 1,
        "name": "door-1",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "1d446f7d.8d4dd1",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 140,
        "wires": [
            [
                "292b6aca.7aa1e6"
            ]
        ]
    },
    {
        "id": "bedb99cc.cc0768",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "6c1033a4.e0d67c"
            ]
        ]
    },
    {
        "id": "292b6aca.7aa1e6",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "doors",
        "func": "entrance = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 1\n    }\n}\n\nworkshop = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 2\n    }\n}\n\ntower = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 3\n    }\n}\n\ndungeon = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 4\n    }\n}\n\nreturn [ entrance, workshop, tower, dungeon ];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "bedb99cc.cc0768"
            ],
            [
                "e7e0d04a.234f7"
            ],
            [
                "c1762251.eb596"
            ],
            [
                "77f19a6f.95b404"
            ]
        ]
    },
    {
        "id": "315cefc9.048fa",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "door-2",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "e7e0d04a.234f7",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "a5ff7250.e42f2"
            ]
        ]
    },
    {
        "id": "b42f80aa.aebdd",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 10,
        "width": 5,
        "height": 1,
        "name": "door-3",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "c1762251.eb596",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "9d6e0405.d9f328"
            ]
        ]
    },
    {
        "id": "87126e15.ad945",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 12,
        "width": 5,
        "height": 1,
        "name": "door-4",
        "label": "{{msg.payload.door.name}}",
        "format": "{{msg.payload.door.delay}} {{msg.payload.door.state}}",
        "layout": "row-spread",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "77f19a6f.95b404",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 500,
        "y": 240,
        "wires": [
            [
                "6794a130.2506"
            ]
        ]
    },
    {
        "id": "70a4e5a1.040e3c",
        "type": "ui_text",
        "z": "c56e1667.998748",
        "group": "c03a3b24.d45c48",
        "order": 21,
        "width": 4,
        "height": 1,
        "name": "listen-address",
        "label": "address",
        "format": "{{msg.payload.address}}",
        "layout": "row-spread",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "fd5cb328.52147",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 340,
        "wires": [
            [
                "75e6f5f0.c7e47c"
            ]
        ]
    },
    {
        "id": "75e6f5f0.c7e47c",
        "type": "get-listener",
        "z": "c56e1667.998748",
        "name": "get-listener",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "70a4e5a1.040e3c",
                "e36670e.0a94b9"
            ]
        ]
    },
    {
        "id": "e36670e.0a94b9",
        "type": "ui_text",
        "z": "c56e1667.998748",
        "group": "c03a3b24.d45c48",
        "order": 23,
        "width": 4,
        "height": 1,
        "name": "listen-port",
        "label": "port",
        "format": "{{msg.payload.port}}",
        "layout": "row-spread",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "48b92667.8a59b8",
        "type": "set-listener",
        "z": "c56e1667.998748",
        "name": "set-listener",
        "config": "cbd92359.dbf19",
        "x": 910,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3331c261.f5db3e",
        "type": "ui_text_input",
        "z": "c56e1667.998748",
        "name": "listener-address",
        "label": "address",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-address",
        "x": 520,
        "y": 500,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "512a17cd.9fb318",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "listener",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('set-listener.device', msg.payload)\n        break\n\n    case 'set-address':\n        flow.set('set-listener.address', msg.payload)\n        break\n\n    case 'set-port':\n        flow.set('set-listener.port', msg.payload)\n        break\n        \n    case 'set':\n        let deviceId = flow.get('set-listener.device')\n        let address = flow.get('set-listener.address')\n        let port = flow.get('set-listener.port')\n\n        if (deviceId && address && port) {\n            msg.payload = { \n                deviceId: deviceId,\n                address: address,\n                port: port\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 460,
        "wires": [
            [
                "48b92667.8a59b8"
            ]
        ]
    },
    {
        "id": "5217acb4.4afe04",
        "type": "ui_text_input",
        "z": "c56e1667.998748",
        "name": "listener-port",
        "label": "port",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 15,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "set-port",
        "x": 530,
        "y": 540,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "b1aa91f5.5d6f",
        "type": "comment",
        "z": "33c9a78a.cc8c18",
        "name": "refresh",
        "info": "",
        "x": 70,
        "y": 160,
        "wires": []
    },
    {
        "id": "7539018f.f0f9d",
        "type": "comment",
        "z": "33c9a78a.cc8c18",
        "name": "configuration",
        "info": "",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "1fa242ff.1717cd",
        "type": "ui_dropdown",
        "z": "33c9a78a.cc8c18",
        "name": "controller",
        "label": "",
        "tooltip": "",
        "place": "<select controller>",
        "group": "920f64db.d2fd58",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "set-device",
        "x": 680,
        "y": 80,
        "wires": [
            [
                "71d6ed03.ece134"
            ]
        ]
    },
    {
        "id": "c59a9f6b.b8afe",
        "type": "link in",
        "z": "f7a455cc.3fefe8",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 175,
        "y": 340,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "bbeb26dc.ff7ab8",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 575,
        "y": 460,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "5b13b041.ee256",
        "type": "link in",
        "z": "8bcf2d43.2e243",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 555,
        "y": 120,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "6c1b3177.30bd2",
        "type": "open-door",
        "z": "86bbf50e.a7f188",
        "name": "open-door",
        "config": "cbd92359.dbf19",
        "x": 650,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "f6fe5b25.975708",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-1",
        "group": "aa8a9aa4.208ff8",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Entrance",
        "tooltip": "Opens entrance door",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":1 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "ae9ed478.d78068",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-2",
        "group": "aa8a9aa4.208ff8",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Workshop",
        "tooltip": "Opens door to workshop",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":2 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "37325e2d.2dfce2",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-3",
        "group": "aa8a9aa4.208ff8",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Tower",
        "tooltip": "Opens door to tower",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":3 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1140,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "d63d369f.4da2e8",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-4",
        "group": "aa8a9aa4.208ff8",
        "order": 4,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Dungeon",
        "tooltip": "Opens door to dungeon",
        "color": "#C00000",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\":405419896, \"door\":4 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1180,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "63876dfb.f45824",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "920f64db.d2fd58",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "label-IPv4",
        "label": "IPv4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "29dbb7ba.438588",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-1",
        "group": "3e8521cf.0cd58e",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Door X",
        "tooltip": "Opens mysterious door 'X'",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":1 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1260,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "4c4ef468.37c2dc",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-2",
        "group": "3e8521cf.0cd58e",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Door Y",
        "tooltip": "Opens the door to 'Y'",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":2 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1300,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "6c2c5614.0621c8",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-3",
        "group": "3e8521cf.0cd58e",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Laboratory",
        "tooltip": "Opens the laboratory door",
        "color": "#C00000",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":3 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1340,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "4539c0cb.71ab6",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-4",
        "group": "3e8521cf.0cd58e",
        "order": 4,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Kitchen",
        "tooltip": "Opens the kitchen door",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "fa-id-card",
        "payload": "{ \"deviceId\": 303986753, \"door\":4 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 330,
        "y": 1380,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "2371c9b8.1532e6",
        "type": "ui_ui_control",
        "z": "c56e1667.998748",
        "name": "tab-event",
        "events": "change",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "89dc1ab0.a68848"
            ]
        ]
    },
    {
        "id": "89dc1ab0.a68848",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "initialise-table",
        "func": "if ((msg.payload === 'change') && (typeof msg.tab !== \"undefined\") && (msg.name === 'events')) {\n    const events = flow.get('events') || []\n  \n    msg.payload = {\n        'command': 'setData',\n        'arguments': [ events, false ]\n    }\n\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "c488256d.ca2ac8"
            ]
        ]
    },
    {
        "id": "c488256d.ca2ac8",
        "type": "delay",
        "z": "c56e1667.998748",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "b9a22810.4f89d8"
            ]
        ]
    },
    {
        "id": "60dcbb9f.c0dfa4",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "cards",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "78c4fc48.bc5bf4",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "573f9bfa.7e4564",
        "order": 15,
        "width": 3,
        "height": 1,
        "name": "cards",
        "label": "count",
        "format": "{{msg.payload.cards}}",
        "layout": "row-spread",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "b8460bf9.4811f8",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 220,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "4f2ad0e3.4c05e",
        "type": "get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "config": "cbd92359.dbf19",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "78c4fc48.bc5bf4",
                "60dcbb9f.c0dfa4"
            ]
        ]
    },
    {
        "id": "5e0f520c.488c5c",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "c03a3b24.d45c48",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "label-device",
        "label": "device",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 90,
        "y": 280,
        "wires": []
    },
    {
        "id": "eaeac9ae.d9f158",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "c03a3b24.d45c48",
        "order": 25,
        "width": 2,
        "height": 1,
        "name": "label-datetime",
        "label": "date/time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 100,
        "y": 360,
        "wires": []
    },
    {
        "id": "e620268a.6479f8",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "573f9bfa.7e4564",
        "order": 14,
        "width": 2,
        "height": 1,
        "name": "label-cards",
        "label": "cards",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 90,
        "y": 440,
        "wires": []
    },
    {
        "id": "3d04b912.df9496",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "c03a3b24.d45c48",
        "order": 20,
        "width": 2,
        "height": 1,
        "name": "label-listener",
        "label": "listener",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 90,
        "y": 320,
        "wires": []
    },
    {
        "id": "4476c068.0741c",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "573f9bfa.7e4564",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "label-doors",
        "label": "doors",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 90,
        "y": 400,
        "wires": []
    },
    {
        "id": "52e71095.7d5f8",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "ffdc2439.246b38",
        "order": 4,
        "width": 7,
        "height": 1,
        "name": "label-status",
        "label": "status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 90,
        "y": 520,
        "wires": []
    },
    {
        "id": "a2a726be.7c3488",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "ffdc2439.246b38",
        "order": 16,
        "width": 2,
        "height": 1,
        "name": "label-event",
        "label": "event",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 90,
        "y": 560,
        "wires": []
    },
    {
        "id": "6ce7f877.625e48",
        "type": "get-card",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "config": "cbd92359.dbf19",
        "x": 460,
        "y": 500,
        "wires": [
            [
                "4ce6edf2.3af724"
            ],
            [
                "75f21b8.86ccbe4",
                "f6808502.b5c9e8"
            ]
        ]
    },
    {
        "id": "f6808502.b5c9e8",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "92910a57.c53858",
        "type": "ui_dropdown",
        "z": "2a36b650.4b9b7a",
        "name": "controller",
        "label": "",
        "tooltip": "",
        "place": "<select controller>",
        "group": "975ca31.d8d236",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "set-device",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "fe2f6f7f.53fd9"
            ]
        ]
    },
    {
        "id": "6277cd72.6d7ea4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('get-card.device', msg.payload)\n        break;\n\n    case 'set-card-number':\n        flow.set('get-card.cardnumber', msg.payload)\n        break;\n}\n\nconst deviceId = flow.get('get-card.device')\nconst cardNumber = flow.get('get-card.cardnumber')\n\nif (deviceId && cardNumber) {\n    msg.payload = { \n        deviceId: deviceId,\n        cardNumber: cardNumber\n    }\n        \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "6ce7f877.625e48"
            ]
        ]
    },
    {
        "id": "52a5b4e7.d2590c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "card.status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 740,
        "wires": []
    },
    {
        "id": "75f21b8.86ccbe4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "retrieved",
        "func": "card = msg.payload.card\nmsg.payload = card\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 520,
        "wires": [
            [
                "ed03620e.d9ff",
                "e7671a59.2c71c8"
            ]
        ]
    },
    {
        "id": "7fe3bec1.b4483",
        "type": "put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "config": "cbd92359.dbf19",
        "x": 1420,
        "y": 320,
        "wires": [
            [
                "6a069f42.59c15",
                "8194bf5e.b9a13"
            ]
        ]
    },
    {
        "id": "6a069f42.59c15",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 280,
        "wires": []
    },
    {
        "id": "9caadcc7.b679f",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst yyyymmdd = (d) => {\n    const year = format(d.getFullYear(), 4)\n    const month = format(d.getMonth()+1, 2)\n    const day = format(d.getDate(), 2)\n    \n    return year + '-' + month + '-' + day\n}\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('put-card.device', msg.payload)\n        break\n\n    case 'set-card-number':\n        flow.set('put-card.card.number', msg.payload)\n        break\n\n    case 'set-card-valid-from':\n        flow.set('put-card.card.valid.from', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-valid-to':\n        flow.set('put-card.card.valid.to', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-doors-1':\n        flow.set('put-card.card.doors.1', msg.payload)\n        break    \n\n    case 'set-card-doors-2':\n        flow.set('put-card.card.doors.2', msg.payload)\n        break    \n\n    case 'set-card-doors-3':\n        flow.set('put-card.card.doors.3', msg.payload)\n        break    \n\n    case 'set-card-doors-4':\n        flow.set('put-card.card.doors.4', msg.payload)\n        break    \n        \n    case 'put-card':\n        const deviceId = flow.get('put-card.device')\n        const cardNumber = flow.get('put-card.card.number')\n        const validFrom = flow.get('put-card.card.valid.from')\n        const validTo = flow.get('put-card.card.valid.to')\n        const door1 = flow.get('put-card.card.doors.1')\n        const door2 = flow.get('put-card.card.doors.2')\n        const door3 = flow.get('put-card.card.doors.3')\n        const door4 = flow.get('put-card.card.doors.4')\n\n        console.log(deviceId, cardNumber, validFrom, validTo)\n        \n        if (deviceId && cardNumber && validFrom && validTo) {\n            msg.payload = { \n                deviceId: deviceId,\n                card: {\n                    number: cardNumber,\n                    valid: {\n                        from: validFrom,\n                        to: validTo\n                    },\n                    doors: {\n                        \"1\": door1 || false,\n                        \"2\": door2 || false,\n                        \"3\": door3 || false,\n                        \"4\": door4 || false\n                    }\n                }\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1250,
        "y": 320,
        "wires": [
            [
                "7fe3bec1.b4483"
            ]
        ]
    },
    {
        "id": "46db6d43.a9d444",
        "type": "ui_text_input",
        "z": "2a36b650.4b9b7a",
        "name": "card.number",
        "label": "card number",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "set-card-number",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "cb6b878.02d9b78"
            ]
        ]
    },
    {
        "id": "83c1860b.02d9f8",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 7,
        "width": 1,
        "height": 1,
        "name": "label-from",
        "label": "from",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 380,
        "wires": []
    },
    {
        "id": "70cb34bc.8def6c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 10,
        "width": 1,
        "height": 1,
        "name": "label-to",
        "label": "to",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "c18e5552.2e5a48",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "group": "80ebf5dd.1d2018",
        "order": 20,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "put-card",
        "x": 1060,
        "y": 700,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "8194bf5e.b9a13",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "func": "if (msg.payload.stored) {\n    msg.payload = 'card updated'\n} else {\n    msg.payload = 'error adding/updating card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1590,
        "y": 320,
        "wires": [
            [
                "191160b2.4d831f"
            ]
        ]
    },
    {
        "id": "e7473423.ef6728",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('delete-card.device', msg.payload)\n        break;\n\n    case 'set-card-number':\n        flow.set('delete-card.card.number', msg.payload)\n        break;\n        \n    case 'delete-card':\n        const deviceId = flow.get('delete-card.device')\n        const cardNumber = flow.get('delete-card.card.number')\n\n        if (deviceId && cardNumber) {\n            msg.payload = { \n                deviceId: deviceId,\n                cardNumber: cardNumber\n            }\n        \n            return msg\n        }\n        break        \n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 1200,
        "wires": [
            [
                "4ac01a83.a74ec4"
            ]
        ]
    },
    {
        "id": "4ac01a83.a74ec4",
        "type": "delete-card",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "config": "cbd92359.dbf19",
        "x": 470,
        "y": 1200,
        "wires": [
            [
                "d35026f6.29b788",
                "aad3691e.482588"
            ]
        ]
    },
    {
        "id": "d35026f6.29b788",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e09b14f4.d89ca8",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "group": "80ebf5dd.1d2018",
        "order": 21,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "delete-card",
        "x": 90,
        "y": 1240,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "fe2f6f7f.53fd9",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "card-controller",
        "links": [
            "11c70f5e.08eca1",
            "36bef050.3e6b9",
            "93805387.eb6cd",
            "a74d4fc3.50b25",
            "db72adb4.36261",
            "f93335b9.2a2448",
            "51859f2a.5f682"
        ],
        "x": 275,
        "y": 380,
        "wires": []
    },
    {
        "id": "f93335b9.2a2448",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 480,
        "wires": [
            [
                "6277cd72.6d7ea4"
            ]
        ]
    },
    {
        "id": "93805387.eb6cd",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 1160,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "cb6b878.02d9b78",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "card-number",
        "links": [
            "bd883038.dbaac",
            "129b9c14.1aba94",
            "3036418d.f8557e",
            "1fbf5878.4949c8"
        ],
        "x": 275,
        "y": 420,
        "wires": []
    },
    {
        "id": "bd883038.dbaac",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 135,
        "y": 520,
        "wires": [
            [
                "6277cd72.6d7ea4"
            ]
        ]
    },
    {
        "id": "129b9c14.1aba94",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 135,
        "y": 1200,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "a74d4fc3.50b25",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 1075,
        "y": 300,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "3036418d.f8557e",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 1075,
        "y": 340,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "f8233afa.37a5c8",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "card-status",
        "links": [
            "d5de73fc.318b9",
            "b00ce9c1.ba59d8",
            "191160b2.4d831f",
            "fefda9af.f92c78"
        ],
        "x": 895,
        "y": 740,
        "wires": [
            [
                "52a5b4e7.d2590c"
            ]
        ]
    },
    {
        "id": "b00ce9c1.ba59d8",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 795,
        "y": 1200,
        "wires": []
    },
    {
        "id": "aad3691e.482588",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "func": "if (msg.payload.deleted) {\n    msg.payload = 'card deleted'\n} else {\n    msg.payload = 'error deleting card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 1200,
        "wires": [
            [
                "b00ce9c1.ba59d8"
            ]
        ]
    },
    {
        "id": "e70a1f2e.dcd39",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "card-from",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-from",
        "x": 1060,
        "y": 460,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "ed03620e.d9ff",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "valid-dates",
        "func": "const parse = function(s) {\n    const re = /^([0-9]{4})-([0-9]{2})-([0-9]{2})$/\n    const match = re.exec(s)\n    \n    if (match !== null && match.length > 3) {\n        const year = parseInt(match[1], 10)\n        const month = parseInt(match[2], 10)\n        const day = parseInt(match[3], 10)\n        const date = new Date()\n\n        date.setYear(year)\n        date.setMonth(month - 1)\n        date.setDate(day)\n        \n        return date\n    }\n    \n    return null\n}\n        \nif (msg.payload.valid) {\n    const from = parse(msg.payload.valid.from)\n    const to = parse(msg.payload.valid.to)\n    let p = null\n    let q = null\n\n    if (from !== null) {\n        p = { topic:msg.topic, payload:from }\n    }\n\n    if (to !== null) {\n        q = { topic:msg.topic, payload:to }\n    }\n\n    return [p,q]\n}\n\nreturn [null, null]\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 500,
        "wires": [
            [
                "e70a1f2e.dcd39"
            ],
            [
                "51e5131e.65bf4c"
            ]
        ]
    },
    {
        "id": "51e5131e.65bf4c",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "card-to",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-to",
        "x": 1060,
        "y": 500,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "191160b2.4d831f",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 1715,
        "y": 320,
        "wires": []
    },
    {
        "id": "6eac8a4e.b9baf4",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.1",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 13,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-1",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1050,
        "y": 540,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "e7671a59.2c71c8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "doors",
        "func": "if (msg.payload.doors) {\n   const controllers = flow.get('controllers')\n   const deviceId = flow.get('get-card.device')\n   const device = controllers[deviceId]\n   const doors = {\n       '1': { topic: 'door 1', payload: msg.payload.doors['1'] },\n       '2': { topic: 'door 2', payload: msg.payload.doors['2'] },\n       '3': { topic: 'door 3', payload: msg.payload.doors['3'] },\n       '4': { topic: 'door 4', payload: msg.payload.doors['4'] }\n   }\n\n   if (device && device.doors) {\n       doors[1].topic = device.doors[1].name\n       doors[2].topic = device.doors[2].name\n       doors[3].topic = device.doors[3].name\n       doors[4].topic = device.doors[4].name\n   }\n\n   return [ doors[1], doors[2], doors[3], doors[4] ]\n}\n\nreturn [ null, null, null, null ]\n\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 560,
        "wires": [
            [
                "6eac8a4e.b9baf4"
            ],
            [
                "9eb1f7b1.8b0968"
            ],
            [
                "34ea4d9f.8c2892"
            ],
            [
                "81c28b36.1b34e8"
            ]
        ]
    },
    {
        "id": "9eb1f7b1.8b0968",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.2",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 15,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-2",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1050,
        "y": 580,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "34ea4d9f.8c2892",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.3",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 17,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-3",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1050,
        "y": 620,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "81c28b36.1b34e8",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.4",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 19,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-4",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1050,
        "y": 660,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "32cd75ea.8b84ba",
        "type": "ui_table",
        "z": "2a36b650.4b9b7a",
        "group": "975ca31.d8d236",
        "name": "cards",
        "order": 6,
        "width": 14,
        "height": 16,
        "columns": [
            {
                "field": "number",
                "title": "card number",
                "width": "134",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "valid.from",
                "title": "from",
                "width": "108",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "valid.to",
                "title": "to",
                "width": "108",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.1",
                "title": "entrance",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.2",
                "title": "workshop",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.3",
                "title": "tower",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.4",
                "title": "dungeon",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1130,
        "y": 960,
        "wires": []
    },
    {
        "id": "5b79d6d.06dc728",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "refresh-cards",
        "group": "975ca31.d8d236",
        "order": 3,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "refresh",
        "tooltip": "Get cards from controller",
        "color": "#008000",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "920606cd.352758"
            ]
        ]
    },
    {
        "id": "196e0519.9c92cb",
        "type": "get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "config": "cbd92359.dbf19",
        "x": 420,
        "y": 780,
        "wires": [
            [
                "a6377ea9.6a093"
            ]
        ]
    },
    {
        "id": "920606cd.352758",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "refresh",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('refresh.device', Number(msg.payload))\n        break;\n\n    case 'refresh':\n        { const deviceId = flow.get('refresh.device')\n\n          if (deviceId) {\n              return { \n                  topic: 'get-cards',\n                  payload: { deviceId:deviceId } \n              }\n          }\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 780,
        "wires": [
            [
                "196e0519.9c92cb"
            ]
        ]
    },
    {
        "id": "33497a02.770536",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card@",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1000,
        "wires": []
    },
    {
        "id": "db72adb4.36261",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 760,
        "wires": [
            [
                "920606cd.352758"
            ]
        ]
    },
    {
        "id": "13f668be.c2e417",
        "type": "get-card-by-index",
        "z": "2a36b650.4b9b7a",
        "name": "get-card-by-index",
        "topic": "get-card-by-index",
        "config": "cbd92359.dbf19",
        "x": 490,
        "y": 900,
        "wires": [
            [
                "4098b71e.12c1b8"
            ],
            [
                "33497a02.770536",
                "de510a21.addef8"
            ]
        ]
    },
    {
        "id": "d435a504.9295d8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "delete-cards",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('delete-cards.device', msg.payload)\n        break;\n\n    case 'delete-cards':\n        const deviceId = flow.get('delete-cards.device')\n\n        if (deviceId) {\n            msg.payload = { \n                deviceId: deviceId\n            }\n        \n            return msg\n        }\n        break        \n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 1340,
        "wires": [
            [
                "874f55c6.6f00b8"
            ]
        ]
    },
    {
        "id": "3b1532d.e15adce",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1300,
        "wires": []
    },
    {
        "id": "12b53ea2.d23791",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "delete-cards",
        "group": "975ca31.d8d236",
        "order": 4,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "delete all",
        "tooltip": "Deletes all cards",
        "color": "#C00000",
        "bgcolor": "#F3B567",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "delete-cards",
        "x": 90,
        "y": 1360,
        "wires": [
            [
                "d435a504.9295d8"
            ]
        ]
    },
    {
        "id": "36bef050.3e6b9",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 1320,
        "wires": [
            [
                "d435a504.9295d8"
            ]
        ]
    },
    {
        "id": "d5e17469.7208d8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "func": "if (msg.payload.deleted) {\n    msg.payload = 'card deleted'\n} else {\n    msg.payload = 'error deleting card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "874f55c6.6f00b8",
        "type": "delete-all-cards",
        "z": "2a36b650.4b9b7a",
        "name": "delete-all-cards",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 1340,
        "wires": [
            [
                "d5e17469.7208d8",
                "3b1532d.e15adce"
            ]
        ]
    },
    {
        "id": "f6190f5c.e5ef9",
        "type": "ui_text",
        "z": "b5da19a5.72a0c8",
        "group": "573f9bfa.7e4564",
        "order": 22,
        "width": 3,
        "height": 1,
        "name": "event-index",
        "label": "index",
        "format": "{{msg.payload.index}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "c8f3aa0a.3b4ae8",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 195,
        "y": 160,
        "wires": [
            [
                "9e7ddaee.4eaa48",
                "20c36b30.a20fe4"
            ]
        ]
    },
    {
        "id": "9e7ddaee.4eaa48",
        "type": "get-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "config": "cbd92359.dbf19",
        "x": 540,
        "y": 160,
        "wires": [
            [
                "f6190f5c.e5ef9"
            ]
        ]
    },
    {
        "id": "67a3ecb.770e614",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "573f9bfa.7e4564",
        "order": 18,
        "width": 2,
        "height": 1,
        "name": "label-events",
        "label": "events",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 90,
        "y": 480,
        "wires": []
    },
    {
        "id": "9499cd07.adf01",
        "type": "comment",
        "z": "b5da19a5.72a0c8",
        "name": "detail page: events",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "cb614bbf.65eb68",
        "type": "comment",
        "z": "2a36b650.4b9b7a",
        "name": "detail page: card record count",
        "info": "",
        "x": 160,
        "y": 140,
        "wires": []
    },
    {
        "id": "e2f95c0b.0b82f",
        "type": "comment",
        "z": "b5da19a5.72a0c8",
        "name": "configuration page: event index ",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "738563e5.ad729c",
        "type": "set-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "set-event-index",
        "config": "cbd92359.dbf19",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "f59ec658.7fb798"
            ]
        ]
    },
    {
        "id": "66de5d72.ad8814",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-event-index.device', msg.payload)\n        break;\n\n    case 'set-event-index':\n        flow.set('set-event-index.index', msg.payload)\n        break;\n\n    case 'set':\n        const deviceId = flow.get('set-event-index.device')\n        const index = flow.get('set-event-index.index')\n\n        if (deviceId && index) {\n            msg.payload = { \n                deviceId: deviceId,\n                index: index\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "738563e5.ad729c"
            ]
        ]
    },
    {
        "id": "f59ec658.7fb798",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "event-index-updated",
        "func": "const deviceId = flow.get('set-event-index.device')\nconst index = flow.get('set-event-index.index')\n\nif (msg.payload.updated && deviceId && index) {\n    msg.payload = { \n        \"deviceId\": deviceId,\n        \"index\": index\n    }\n    \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 440,
        "wires": [
            [
                "f6190f5c.e5ef9"
            ]
        ]
    },
    {
        "id": "5ad9c8ce.15e9d8",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "920f64db.d2fd58",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "label-listener",
        "label": "listener",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "27ec3017.bb1d",
        "type": "ui_text_input",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "label": "index",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 20,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "set-event-index",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "66de5d72.ad8814"
            ]
        ]
    },
    {
        "id": "6dd92229.dda32c",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 195,
        "y": 440,
        "wires": [
            [
                "66de5d72.ad8814"
            ]
        ]
    },
    {
        "id": "ff39879c.00afd8",
        "type": "comment",
        "z": "b5da19a5.72a0c8",
        "name": "events page",
        "info": "",
        "x": 150,
        "y": 580,
        "wires": []
    },
    {
        "id": "969e6ec3.60ba6",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-event-index.device', msg.payload)\n        break;\n\n    case 'set-event-index':\n        const deviceId = flow.get('set-event-index.device')\n        const index = msg.payload\n\n        if (deviceId && index) {\n            return {\n                topic: 'get-event-request',\n                payload: { \n                    deviceId: deviceId,\n                    index: index\n                }\n            }\n        }\n        break;\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 740,
        "wires": [
            [
                "7cf7e46b.641d4c",
                "fae74f01.5e9fb"
            ]
        ]
    },
    {
        "id": "6be3562c.613718",
        "type": "ui_text_input",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "label": "index",
        "tooltip": "",
        "group": "659dc42b.91f43c",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "set-event-index",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "969e6ec3.60ba6"
            ]
        ]
    },
    {
        "id": "7cf7e46b.641d4c",
        "type": "get-event",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "topic": "get-event-reply",
        "config": "cbd92359.dbf19",
        "x": 560,
        "y": 760,
        "wires": [
            [
                "fae74f01.5e9fb"
            ]
        ]
    },
    {
        "id": "fae74f01.5e9fb",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "append-event",
        "func": "const events = flow.get('fetched') || []\nconst doors = flow.get('doors')\n\nswitch (msg.topic) {\n    case 'get-event-request':\n        flow.set('get-event.deviceId', Number(msg.payload.deviceId))\n        flow.set('get-event.index', msg.payload.index)\n        break\n        \n    case 'get-event-reply':\n        const id = flow.get('get-event.deviceId')\n        const eventId = flow.get('get-event.index')\n    \n        const deviceId = msg.payload.deviceId\n        const event = msg.payload.event\n        const index = event.index\n        const timestamp = event.timestamp\n        const eventType = event.type.event.toUpperCase()\n        const granted = event.granted\n        const direction = event.direction.direction.toUpperCase()\n        const reason = event.reason.reason.toUpperCase()\n        let   door = event.door\n\n        if (doors[deviceId] && doors[deviceId][event.door]) {\n            door = doors[deviceId][event.door]\n        }\n\n        if ((id && id === deviceId) && (eventId && eventId == index)) {\n            const item = {\n                'deviceId': deviceId,\n                'index': index,\n                'timestamp': timestamp,\n                'type': eventType,\n                'granted': granted,\n                'door': door,\n                'direction': direction,\n                'reason': reason,\n            }\n    \n            events.push(item)\n\n            if (events.length > 8) {\n                events.shift()\n            }\n\n            flow.set('fetched', events)\n\n            msg.payload = {\n                'command': 'setData',\n                'arguments': [ events, false ]\n            }\n            \n            return [ { topic: 'status', payload: \"\" }, msg ]\n        } else {\n            return [ { topic: 'status', payload: \"not found\" }, null ]\n        }\n        break\n}\n\nreturn [ null, null ]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "const doors = {\n    405419896: {\n        1: 'ENTRANCE',\n        2: 'WORKSHOP',\n        3: 'TOWER',\n        4: 'DUNGEON'\n    },\n    303986753: {\n        1: 'DOOR X',\n        2: 'DOOR Y',\n        3: 'LABORATORY',\n        4: 'KITCHEN'\n    }\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 740,
        "y": 740,
        "wires": [
            [
                "8bf467eb.92a0f8"
            ],
            [
                "fcd11c8b.3687f"
            ]
        ]
    },
    {
        "id": "fcd11c8b.3687f",
        "type": "ui_table",
        "z": "b5da19a5.72a0c8",
        "group": "659dc42b.91f43c",
        "name": "single-events",
        "order": 7,
        "width": 22,
        "height": 7,
        "columns": [
            {
                "field": "deviceId",
                "title": "controller",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "index",
                "title": "index",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timestamp",
                "title": "timestamp",
                "width": "160",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "type",
                "title": "event type",
                "width": "132",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "granted",
                "title": "Granted?",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "door",
                "title": "door",
                "width": "112",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "direction",
                "title": "direction",
                "width": "108",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "reason",
                "title": "reason",
                "width": "224",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 970,
        "y": 760,
        "wires": []
    },
    {
        "id": "b66de9ec.5490b8",
        "type": "ui_text",
        "z": "c56e1667.998748",
        "group": "659dc42b.91f43c",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "events-table-title",
        "label": "received events",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "ef8dbc78.012f8",
        "type": "ui_ui_control",
        "z": "b5da19a5.72a0c8",
        "name": "tab-event",
        "events": "change",
        "x": 380,
        "y": 800,
        "wires": [
            [
                "4fe93047.b30f5"
            ]
        ]
    },
    {
        "id": "a3a01c91.245eb",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "initialise-table",
        "func": "if (msg.payload === 'change' && msg.tab && msg.name === 'events') {\n    const events = flow.get('fetched') || []\n\n    msg.payload = {\n        'command': 'setData',\n        'arguments': [ events, false ]\n    }\n\n    return msg;\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 800,
        "wires": [
            [
                "fcd11c8b.3687f"
            ]
        ]
    },
    {
        "id": "e06f8bac.c4d578",
        "type": "ui_dropdown",
        "z": "b5da19a5.72a0c8",
        "name": "controller",
        "label": "",
        "tooltip": "",
        "place": "<select controller>",
        "group": "659dc42b.91f43c",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "set-device",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "969e6ec3.60ba6"
            ]
        ]
    },
    {
        "id": "13a984d5.221c9b",
        "type": "set-ip",
        "z": "8bcf2d43.2e243",
        "name": "set-ip",
        "config": "cbd92359.dbf19",
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d5de73fc.318b9",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 795,
        "y": 440,
        "wires": []
    },
    {
        "id": "4ce6edf2.3af724",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "status",
        "func": "const status = { topic: msg.topic, payload: msg.payload.status.message }\nlet card = null\n\nif (msg.payload.status.code !== 0) {\n   card = { \n       topic: msg.topic,\n       payload: { \n           card: { \n               number: '', \n               valid: { \n                   from: '', \n                   to: '' \n                   \n               }, \n               doors: { \n                   1: '', \n                   2: '', \n                   3: '', \n                   4: '' \n                   \n               } \n           }\n           \n       }\n   }\n}\n\nreturn [ status, card ]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "d5de73fc.318b9"
            ],
            [
                "75f21b8.86ccbe4"
            ]
        ]
    },
    {
        "id": "a00f3712.ee7008",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "ffdc2439.246b38",
        "order": 34,
        "width": 2,
        "height": 1,
        "name": "label-status-doors",
        "label": "doors",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 110,
        "y": 600,
        "wires": []
    },
    {
        "id": "abe27c60.cf061",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "ffdc2439.246b38",
        "order": 35,
        "width": 2,
        "height": 1,
        "name": "label-status-buttons",
        "label": "buttons",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 120,
        "y": 640,
        "wires": []
    },
    {
        "id": "339d99a1.1a9c16",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "ffdc2439.246b38",
        "order": 33,
        "width": 2,
        "height": 1,
        "name": "label-status-relays",
        "label": "relays",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 110,
        "y": 680,
        "wires": []
    },
    {
        "id": "f1bce408.8b6368",
        "type": "ui_text",
        "z": "33c9a78a.cc8c18",
        "group": "ffdc2439.246b38",
        "order": 52,
        "width": 2,
        "height": 1,
        "name": "label-status-inputs",
        "label": "inputs",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 110,
        "y": 720,
        "wires": []
    },
    {
        "id": "a9b121e.23fc3e",
        "type": "inject",
        "z": "33c9a78a.cc8c18",
        "name": "setup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "controllers",
        "payload": "{\"controllers\":{\"303986753\":{\"IPv4\":{\"address\":\"192.168.1.100\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"},\"listener\":{\"address\":\"192.168.1.100\",\"port\":60001},\"doors\":{\"1\":{\"name\":\"door X\",\"delay\":5,\"control\":\"normally closed\"},\"2\":{\"name\":\"door Y\",\"delay\":5,\"control\":\"normally closed\"},\"3\":{\"name\":\"laboratory\",\"delay\":5,\"control\":\"normally closed\"},\"4\":{\"name\":\"kitchen\",\"delay\":5,\"control\":\"normally closed\"}}},\"405419896\":{\"IPv4\":{\"address\":\"192.168.1.100\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"},\"listener\":{\"address\":\"192.168.1.100\",\"port\":60001},\"doors\":{\"1\":{\"name\":\"entrance\",\"delay\":5,\"control\":\"normally closed\"},\"2\":{\"name\":\"workshop\",\"delay\":5,\"control\":\"normally closed\"},\"3\":{\"name\":\"tower\",\"delay\":5,\"control\":\"normally closed\"},\"4\":{\"name\":\"dungeon\",\"delay\":5,\"control\":\"normally closed\"}}}}}",
        "payloadType": "json",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "a023fb14.897008"
            ]
        ]
    },
    {
        "id": "3ac2df68.5991b",
        "type": "comment",
        "z": "33c9a78a.cc8c18",
        "name": "system config",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "a023fb14.897008",
        "type": "link out",
        "z": "33c9a78a.cc8c18",
        "name": "setup",
        "links": [
            "c9da7cbe.df265",
            "ba97d2cc.cdc3b",
            "4a1fbead.20c0e",
            "1cf33550.8fc68b",
            "dfd29d39.eb75a",
            "6e513556.7919cc",
            "bc6d752a.1a51a8"
        ],
        "x": 255,
        "y": 80,
        "wires": []
    },
    {
        "id": "6c1033a4.e0d67c",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-1",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 1'\n\nif (device && device.doors && device.doors[1]) {\n    name = device.doors[1].name\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "d0069706.de5418"
            ]
        ]
    },
    {
        "id": "a5ff7250.e42f2",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-2",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 2'\n\nif (device && device.doors && device.doors[2]) {\n    name = device.doors[2].name\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 160,
        "wires": [
            [
                "315cefc9.048fa"
            ]
        ]
    },
    {
        "id": "9d6e0405.d9f328",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-3",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 3'\n\nif (device && device.doors && device.doors[3]) {\n    name = device.doors[3].name\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 200,
        "wires": [
            [
                "b42f80aa.aebdd"
            ]
        ]
    },
    {
        "id": "6794a130.2506",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-4",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload.deviceId\nconst device = controllers[deviceId]\nlet   name = 'door 4'\n\nif (device && device.doors && device.doors[4]) {\n    name = device.doors[4].name\n}\n\nconst door = {\n    name:  name,\n    state: msg.payload.doorControlState.control.state,\n    delay: msg.payload.doorControlState.delay + 's'\n}\n\nmsg.payload = { door: door }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "87126e15.ad945"
            ]
        ]
    },
    {
        "id": "c9da7cbe.df265",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 155,
        "y": 40,
        "wires": [
            [
                "16949541.7965bb"
            ]
        ]
    },
    {
        "id": "16949541.7965bb",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "setup",
        "func": "flow.set('controllers', msg.payload.controllers)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ba97d2cc.cdc3b",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 135,
        "y": 40,
        "wires": [
            [
                "cac018fe.0afcf8"
            ]
        ]
    },
    {
        "id": "cac018fe.0afcf8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "setup",
        "func": "const controllers = msg.payload.controllers\n\nif (controllers) {\n    flow.set('controllers', controllers)\n\n    const options = []\n    Object.entries(controllers).forEach(([k,v]) => {\n      options.push(k) \n    })\n\n    return { \n        topic:'set-controllers', \n        options: options\n    }\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 230,
        "y": 40,
        "wires": [
            [
                "92910a57.c53858"
            ]
        ]
    },
    {
        "id": "5198ce10.2b81d",
        "type": "comment",
        "z": "2a36b650.4b9b7a",
        "name": "cards table",
        "info": "",
        "x": 100,
        "y": 320,
        "wires": []
    },
    {
        "id": "e37b45c2.fabe48",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 5,
        "width": 1,
        "height": 1,
        "name": "label-door-1",
        "label": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "9a69f42.4602008",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 7,
        "width": 1,
        "height": 1,
        "name": "label-door-2",
        "label": "2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "72afa0d4.8d581",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 9,
        "width": 1,
        "height": 1,
        "name": "label-door-3",
        "label": "3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "6a59290f.62fe48",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 11,
        "width": 1,
        "height": 1,
        "name": "label-door-4",
        "label": "4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "6967be99.82896",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 36,
        "width": 1,
        "height": 1,
        "name": "label-door-1",
        "label": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "a8559a5d.db6938",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 40,
        "width": 1,
        "height": 1,
        "name": "label-door-2",
        "label": "2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "9bdfdd07.333ed",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 44,
        "width": 1,
        "height": 1,
        "name": "label-door-3",
        "label": "3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 440,
        "wires": []
    },
    {
        "id": "e89c2ea7.19e92",
        "type": "ui_text",
        "z": "b2b669ed.2b50b8",
        "group": "ffdc2439.246b38",
        "order": 48,
        "width": 1,
        "height": 1,
        "name": "label-door-4",
        "label": "4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "71d6ed03.ece134",
        "type": "link out",
        "z": "33c9a78a.cc8c18",
        "name": "controller",
        "links": [
            "c0f56704.302048",
            "aeec3a78.eec6d8",
            "5b13b041.ee256",
            "bbeb26dc.ff7ab8",
            "4bee8740.f53308",
            "6dd92229.dda32c",
            "f99540c.285e1c",
            "f1f358f4.a86a38",
            "3c0f330f.3cda1c",
            "b7011bf3.252e48",
            "56449e45.562bb",
            "c59a9f6b.b8afe"
        ],
        "x": 795,
        "y": 80,
        "wires": []
    },
    {
        "id": "3f851cae.42c3e4",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"setColumns\",\"arguments\":[[{\"title\":\"card number\",\"field\":\"number\",\"align\":\"left\",\"width\":134},{\"title\":\"from\",\"field\":\"valid.from\",\"align\":\"left\",\"width\":108},{\"title\":\"to\",\"field\":\"valid.to\",\"align\":\"left\",\"width\":108},{\"title\":\"door.1\",\"field\":\"doors.1\",\"align\":\"center\",\"width\":100,\"formatter\":\"tickCross\"},{\"title\":\"door.2\",\"field\":\"doors.2\",\"align\":\"center\",\"width\":100,\"formatter\":\"tickCross\"},{\"title\":\"door.3\",\"field\":\"doors.3\",\"align\":\"center\",\"width\":100,\"formatter\":\"tickCross\"},{\"title\":\"door.4\",\"field\":\"doors.4\",\"align\":\"center\",\"width\":100,\"formatter\":\"tickCross\"}]]}",
        "payloadType": "json",
        "x": 970,
        "y": 840,
        "wires": [
            [
                "32cd75ea.8b84ba"
            ]
        ]
    },
    {
        "id": "e825163c.2e4f18",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "doors",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload\n\nif (controllers && controllers[deviceId]) {\n    const device = controllers[deviceId]\n    const columns = {\n        \"command\": \"setColumns\",\n        \"arguments\": [\n            [\n                {\n                    \"title\": \"card number\",\n                    \"field\": \"number\",\n                    \"align\": \"left\",\n                    \"width\": 134\n                },\n                {\n                    \"title\": \"from\",\n                    \"field\": \"valid.from\",\n                    \"align\": \"left\",\n                    \"width\": 108\n                },\n                {\n                    \"title\": \"to\",\n                    \"field\": \"valid.to\",\n                    \"align\": \"left\",\n                    \"width\": 108\n                },\n                {\n                    \"title\": device.doors[1].name,\n                    \"field\": \"doors.1\",\n                    \"align\": \"center\",\n                    \"width\": 100,\n                    \"formatter\": \"tickCross\"\n                },\n                {\n                    \"title\": device.doors[2].name,\n                    \"field\": \"doors.2\",\n                    \"align\": \"center\",\n                    \"width\": 100,\n                    \"formatter\": \"tickCross\"\n                },\n                {\n                    \"title\": device.doors[3].name,\n                    \"field\": \"doors.3\",\n                    \"align\": \"center\",\n                    \"width\": 100,\n                    \"formatter\": \"tickCross\"\n                },\n                {\n                    \"title\": device.doors[4].name,\n                    \"field\": \"doors.4\",\n                    \"align\": \"center\",\n                    \"width\": 100,\n                    \"formatter\": \"tickCross\"\n                }\n            ]\n        ]\n    }\n    \n    return { topic:'set-doors',  payload: columns }\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 970,
        "y": 880,
        "wires": [
            [
                "32cd75ea.8b84ba"
            ]
        ]
    },
    {
        "id": "11c70f5e.08eca1",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 835,
        "y": 880,
        "wires": [
            [
                "e825163c.2e4f18"
            ]
        ]
    },
    {
        "id": "f166aff5.ee995",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a1fbead.20c0e",
        "type": "link in",
        "z": "33c9a78a.cc8c18",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 435,
        "y": 80,
        "wires": [
            [
                "43b42a3.c611ed4"
            ]
        ]
    },
    {
        "id": "43b42a3.c611ed4",
        "type": "function",
        "z": "33c9a78a.cc8c18",
        "name": "setup",
        "func": "const controllers = msg.payload.controllers\n\nif (controllers) {\n    const options = []\n    Object.entries(controllers).forEach(([k,v]) => {\n      options.push(k) \n    })\n\n    return { \n        topic:'set-controllers', \n        options: options\n    }\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 80,
        "wires": [
            [
                "1fa242ff.1717cd"
            ]
        ]
    },
    {
        "id": "3c8819ad.7a7ad6",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "74b54a3b.4a9634"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "74b54a3b.4a9634",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "initialise",
        "func": "const index = { topic:'set-index', payload:1 }\n\nreturn index",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 900,
        "wires": [
            [
                "6be3562c.613718"
            ]
        ]
    },
    {
        "id": "dfd29d39.eb75a",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 135,
        "y": 640,
        "wires": [
            [
                "ec30476f.b2b518"
            ]
        ]
    },
    {
        "id": "ec30476f.b2b518",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "setup",
        "func": "const controllers = msg.payload.controllers\n\nif (controllers) {\n    flow.set('controllers', controllers)\n\n    const options = []\n    Object.entries(controllers).forEach(([k,v]) => {\n      options.push(k) \n    })\n\n    return { \n        topic:'set-controllers', \n        options: options\n    }\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 640,
        "wires": [
            [
                "e06f8bac.c4d578"
            ]
        ]
    },
    {
        "id": "aa152261.eb314",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "list-cards",
        "func": "const map = flow.get('cards') || new Map()\nconst list = []\n\nif (msg.payload) {\n    const deviceId = Number(msg.payload)\n    const cards = map.get(deviceId) || new Map()\n\n    for (const [k,v] of cards) {\n        list.push(v)\n    }\n}\n\nreturn {\n    topic: 'list-cards',\n    payload: {\n        'command': 'setData',\n        'arguments': [ list, false ]\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 960,
        "wires": [
            [
                "32cd75ea.8b84ba"
            ]
        ]
    },
    {
        "id": "51859f2a.5f682",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 835,
        "y": 920,
        "wires": [
            [
                "aa152261.eb314"
            ]
        ]
    },
    {
        "id": "de510a21.addef8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "add-card",
        "func": "const deviceId = msg.payload.deviceId\nconst card = msg.payload.card\n\nconst map = flow.get('cards') || new Map()\nconst cards = map.get(deviceId) || new Map()\n\nif (card.number !== '') {\n    cards.set(card.number, card)\n    map.set(deviceId, cards)\n\n    flow.set('cards', map)\n}\n\nreturn { \n    topic: 'updated',\n    payload: deviceId\n}\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 960,
        "wires": [
            [
                "aa152261.eb314",
                "e15d01a.96f34"
            ]
        ]
    },
    {
        "id": "a6377ea9.6a093",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "refresh-setup",
        "func": "const deviceId = msg.payload.deviceId\nconst count = msg.payload.cards\nconst map = flow.get('cards') || new Map()\n\nif (deviceId) {\n    map.set(deviceId, new Map())\n              \n    flow.set('refresh.count', msg.payload.cards)\n    flow.set('refresh.index', 0)\n    flow.set('cards', map)\n\n    return {\n        topic: 'get-next', \n        payload: true\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "e15d01a.96f34"
            ]
        ]
    },
    {
        "id": "e15d01a.96f34",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "get-next",
        "func": "const deviceId = flow.get('refresh.device')\nconst count = flow.get('refresh.count') || 0\nconst index = flow.get('refresh.index') || 0\nconst map = flow.get('cards') || new Map()\n        \nif (deviceId) {\n    const cards = map.get(deviceId) || new Map()\n\n    if (cards.size < count) {\n        next = index + 1\n        flow.set('refresh.index', next)\n        return {\n            topic:'get-card-by-index', \n            payload: { \n                deviceId:deviceId, \n                index:next \n            } \n        }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 900,
        "wires": [
            [
                "13f668be.c2e417"
            ]
        ]
    },
    {
        "id": "4098b71e.12c1b8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "not-found?",
        "func": "if (msg.payload.status.code !== 0) {\n    return { \n        topic: 'get-next',\n        payload: true\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 840,
        "wires": [
            [
                "e15d01a.96f34"
            ]
        ]
    },
    {
        "id": "9b0040b6.02d8c",
        "type": "ui_ui_control",
        "z": "2a36b650.4b9b7a",
        "name": "tab-event",
        "events": "change",
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "4451de5a.3d5ea"
            ]
        ]
    },
    {
        "id": "6df1685e.0d8448",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "initialise-list",
        "func": "if ((msg.payload === 'change') && (typeof msg.tab !== \"undefined\") && (msg.name === 'cards')) {\n      const deviceId = flow.get('refresh.device')\n      \n      if (deviceId) {\n          msg.payload = deviceId\n          \n          return msg;\n      }\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 1040,
        "wires": [
            [
                "aa152261.eb314"
            ]
        ]
    },
    {
        "id": "4451de5a.3d5ea",
        "type": "delay",
        "z": "2a36b650.4b9b7a",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "6df1685e.0d8448"
            ]
        ]
    },
    {
        "id": "8bf467eb.92a0f8",
        "type": "ui_text",
        "z": "b5da19a5.72a0c8",
        "group": "659dc42b.91f43c",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "event-message",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 980,
        "y": 700,
        "wires": []
    },
    {
        "id": "c366ced3.a4094",
        "type": "ui_button",
        "z": "b5da19a5.72a0c8",
        "name": "clear-events",
        "group": "659dc42b.91f43c",
        "order": 5,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "clear",
        "tooltip": "Clear event list",
        "color": "#008000",
        "bgcolor": "#A6BBCF",
        "icon": "fa-trash",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 550,
        "y": 680,
        "wires": [
            [
                "d3301867.210768"
            ]
        ]
    },
    {
        "id": "d3301867.210768",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "clear-events",
        "func": "const events = []\n\nflow.set('fetched', events)\n\nmsg.payload = {\n    'command': 'setData',\n    'arguments': [ events, false ]\n}\n            \nreturn [ { topic: 'status', payload: \"\" }, msg ]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "const doors = {\n    405419896: {\n        1: 'ENTRANCE',\n        2: 'WORKSHOP',\n        3: 'TOWER',\n        4: 'DUNGEON'\n    },\n    303986753: {\n        1: 'DOOR X',\n        2: 'DOOR Y',\n        3: 'LABORATORY',\n        4: 'KITCHEN'\n    }\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 730,
        "y": 680,
        "wires": [
            [
                "8bf467eb.92a0f8"
            ],
            [
                "fcd11c8b.3687f"
            ]
        ]
    },
    {
        "id": "4fe93047.b30f5",
        "type": "delay",
        "z": "b5da19a5.72a0c8",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 570,
        "y": 800,
        "wires": [
            [
                "a3a01c91.245eb"
            ]
        ]
    },
    {
        "id": "d42939ad.f9a8a8",
        "type": "ui_text",
        "z": "b5da19a5.72a0c8",
        "group": "573f9bfa.7e4564",
        "order": 19,
        "width": 3,
        "height": 1,
        "name": "event-count",
        "label": "count",
        "format": "{{msg.payload.event.index}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "2876daa.4b1aa26",
        "type": "get-event",
        "z": "b5da19a5.72a0c8",
        "name": "get-last-event",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "d42939ad.f9a8a8"
            ]
        ]
    },
    {
        "id": "20c36b30.a20fe4",
        "type": "change",
        "z": "b5da19a5.72a0c8",
        "name": "get-last-event",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": msg.payload.deviceId, \"index\": 4294967295 }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "2876daa.4b1aa26"
            ]
        ]
    },
    {
        "id": "6e513556.7919cc",
        "type": "link in",
        "z": "8bcf2d43.2e243",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 155,
        "y": 40,
        "wires": [
            [
                "b05b2198.5e26c"
            ]
        ]
    },
    {
        "id": "b05b2198.5e26c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "setup",
        "func": "flow.set('controllers', msg.payload.controllers)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "cdfb6f1b.4c3e4",
        "type": "ui_button",
        "z": "8bcf2d43.2e243",
        "name": "set-IPv4",
        "group": "920f64db.d2fd58",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "Sets controller network address, netmask and gateway",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "set",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "aeec3a78.eec6d8",
        "type": "link in",
        "z": "8bcf2d43.2e243",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 155,
        "y": 200,
        "wires": [
            [
                "43a592be.9cc00c",
                "e2ef3fce.f8e3b",
                "808c2dbd.260fc"
            ]
        ]
    },
    {
        "id": "e2ef3fce.f8e3b",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "netmask",
        "func": "const deviceId = Number(msg.payload)\nconst controllers = flow.get('controllers')\n\nif (deviceId && controllers && controllers[deviceId]) {\n    const controller = controllers[deviceId]\n    \n    if (controller.IPv4) {\n       return { \n           topic: 'netmask', \n           payload: controller.IPv4.netmask\n       }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "c5052b18.578d98"
            ]
        ]
    },
    {
        "id": "808c2dbd.260fc",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "gateway",
        "func": "const deviceId = Number(msg.payload)\nconst controllers = flow.get('controllers')\n\nif (deviceId && controllers && controllers[deviceId]) {\n    const controller = controllers[deviceId]\n    \n    if (controller.IPv4) {\n       return { \n           topic: 'gateway', \n           payload: controller.IPv4.gateway\n       }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "5b16f8e7.972fb8"
            ]
        ]
    },
    {
        "id": "e1847d1c.42739",
        "type": "ui_button",
        "z": "c56e1667.998748",
        "name": "set-listener",
        "group": "920f64db.d2fd58",
        "order": 17,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "Sets controller network address, netmask and gateway",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "set",
        "x": 530,
        "y": 580,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "bc6d752a.1a51a8",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "",
        "links": [
            "a023fb14.897008"
        ],
        "x": 155,
        "y": 40,
        "wires": [
            [
                "d2a1aaaf.3e9318"
            ]
        ]
    },
    {
        "id": "d2a1aaaf.3e9318",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "setup",
        "func": "flow.set('controllers', msg.payload.controllers)    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b019c75e.68a738",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "address",
        "func": "const deviceId = Number(msg.payload)\nconst controllers = flow.get('controllers')\n\nif (deviceId && controllers && controllers[deviceId]) {\n    const controller = controllers[deviceId]\n    \n    if (controller.listener) {\n       return { \n           topic: 'address', \n           payload: controller.listener.address \n       }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 500,
        "wires": [
            [
                "3331c261.f5db3e"
            ]
        ]
    },
    {
        "id": "4bee8740.f53308",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 155,
        "y": 540,
        "wires": [
            [
                "b019c75e.68a738",
                "b70f609a.39ab7"
            ]
        ]
    },
    {
        "id": "b70f609a.39ab7",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "port",
        "func": "const deviceId = Number(msg.payload)\nconst controllers = flow.get('controllers')\n\nif (deviceId && controllers && controllers[deviceId]) {\n    const controller = controllers[deviceId]\n    \n    if (controller.listener) {\n       return { \n           topic: 'port', \n           payload: controller.listener.port\n       }\n    }\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "5217acb4.4afe04"
            ]
        ]
    },
    {
        "id": "89a4d64f.aae948",
        "type": "ui_button",
        "z": "b5da19a5.72a0c8",
        "name": "set-event-index",
        "group": "920f64db.d2fd58",
        "order": 22,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "Sets controller network address, netmask and gateway",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "set",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "66de5d72.ad8814"
            ]
        ]
    },
    {
        "id": "f99540c.285e1c",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 195,
        "y": 300,
        "wires": [
            [
                "fde41bec.17d968"
            ]
        ]
    },
    {
        "id": "73204863.135928",
        "type": "get-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "config": "cbd92359.dbf19",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "496b76d6.2b9548"
            ]
        ]
    },
    {
        "id": "fde41bec.17d968",
        "type": "function",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "func": "if (msg.payload) {\n    msg.payload = {\n        deviceId: Number(msg.payload)\n    }\n    \n    return msg\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "73204863.135928"
            ]
        ]
    },
    {
        "id": "496b76d6.2b9548",
        "type": "change",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.index",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "27ec3017.bb1d"
            ]
        ]
    },
    {
        "id": "cd8e4fed.17487",
        "type": "set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control-1",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 890,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "646ca32.1f1d75c",
        "type": "ui_numeric",
        "z": "86bbf50e.a7f188",
        "name": "delay-1",
        "label": "",
        "tooltip": "",
        "group": "aee33fcb.43067",
        "order": 12,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "set-delay",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "step": 1,
        "x": 460,
        "y": 500,
        "wires": [
            [
                "f735e4d0.506428"
            ]
        ]
    },
    {
        "id": "fd956f89.3ead1",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "control-1",
        "label": "",
        "tooltip": "",
        "place": "<select control state>",
        "group": "aee33fcb.43067",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "normally open",
                "value": "normally open",
                "type": "str"
            },
            {
                "label": "normally closed",
                "value": "normally closed",
                "type": "str"
            },
            {
                "label": "controlled",
                "value": "controlled",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-control",
        "x": 460,
        "y": 540,
        "wires": [
            [
                "f735e4d0.506428"
            ]
        ]
    },
    {
        "id": "b387bd67.ca5f9",
        "type": "ui_numeric",
        "z": "86bbf50e.a7f188",
        "name": "delay-2",
        "label": "",
        "tooltip": "",
        "group": "aee33fcb.43067",
        "order": 15,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "set-delay",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "step": 1,
        "x": 460,
        "y": 640,
        "wires": [
            [
                "3e95cfc.44a1c3"
            ]
        ]
    },
    {
        "id": "da0e7b9b.8d5f28",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "control-2",
        "label": "",
        "tooltip": "",
        "place": "<select control state>",
        "group": "aee33fcb.43067",
        "order": 16,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "normally open",
                "value": "normally open",
                "type": "str"
            },
            {
                "label": "normally closed",
                "value": "normally closed",
                "type": "str"
            },
            {
                "label": "controlled",
                "value": "controlled",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-control",
        "x": 460,
        "y": 680,
        "wires": [
            [
                "3e95cfc.44a1c3"
            ]
        ]
    },
    {
        "id": "6e89f6cc.477eb8",
        "type": "ui_text",
        "z": "f7a455cc.3fefe8",
        "group": "aee33fcb.43067",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "label-datetime",
        "label": "date/time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 120,
        "y": 260,
        "wires": []
    },
    {
        "id": "884adddc.4d671",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "aee33fcb.43067",
        "order": 11,
        "width": 2,
        "height": 1,
        "name": "door-1",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "f56ee65b.b00e98",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "aee33fcb.43067",
        "order": 14,
        "width": 2,
        "height": 1,
        "name": "door-2",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "6b8ea67a.0ca0f8",
        "type": "ui_numeric",
        "z": "86bbf50e.a7f188",
        "name": "delay-3",
        "label": "",
        "tooltip": "",
        "group": "aee33fcb.43067",
        "order": 18,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "set-delay",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "step": 1,
        "x": 460,
        "y": 780,
        "wires": [
            [
                "e455630d.7089e"
            ]
        ]
    },
    {
        "id": "f21d22a9.a9f9b",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "control-3",
        "label": "",
        "tooltip": "",
        "place": "<select control state>",
        "group": "aee33fcb.43067",
        "order": 19,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "normally open",
                "value": "normally open",
                "type": "str"
            },
            {
                "label": "normally closed",
                "value": "normally closed",
                "type": "str"
            },
            {
                "label": "controlled",
                "value": "controlled",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-control",
        "x": 460,
        "y": 820,
        "wires": [
            [
                "e455630d.7089e"
            ]
        ]
    },
    {
        "id": "4f2839ae.28bad8",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "aee33fcb.43067",
        "order": 17,
        "width": 2,
        "height": 1,
        "name": "door-3",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 450,
        "y": 740,
        "wires": []
    },
    {
        "id": "8f682ba0.944998",
        "type": "ui_numeric",
        "z": "86bbf50e.a7f188",
        "name": "delay-4",
        "label": "",
        "tooltip": "",
        "group": "aee33fcb.43067",
        "order": 21,
        "width": 2,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "set-delay",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "step": 1,
        "x": 460,
        "y": 920,
        "wires": [
            [
                "a6475900.efa528"
            ]
        ]
    },
    {
        "id": "1b53608.94952a",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "control-4",
        "label": "",
        "tooltip": "",
        "place": "<select control state>",
        "group": "aee33fcb.43067",
        "order": 22,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "normally open",
                "value": "normally open",
                "type": "str"
            },
            {
                "label": "normally closed",
                "value": "normally closed",
                "type": "str"
            },
            {
                "label": "controlled",
                "value": "controlled",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-control",
        "x": 460,
        "y": 960,
        "wires": [
            [
                "a6475900.efa528"
            ]
        ]
    },
    {
        "id": "4e707382.0be21c",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "aee33fcb.43067",
        "order": 20,
        "width": 2,
        "height": 1,
        "name": "door-4",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 450,
        "y": 880,
        "wires": []
    },
    {
        "id": "a2ff60b0.e4d4d",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "set-doors",
        "group": "aee33fcb.43067",
        "order": 24,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "Sets the controller door delays and control states",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "set",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "f735e4d0.506428",
                "3e95cfc.44a1c3",
                "e455630d.7089e",
                "a6475900.efa528"
            ]
        ]
    },
    {
        "id": "46ffef63.319ea",
        "type": "ui_text",
        "z": "b5da19a5.72a0c8",
        "group": "920f64db.d2fd58",
        "order": 19,
        "width": 2,
        "height": 1,
        "name": "label-events",
        "label": "events",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 150,
        "y": 400,
        "wires": []
    },
    {
        "id": "f1f358f4.a86a38",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 155,
        "y": 500,
        "wires": [
            [
                "fa1c6034.ba5af",
                "140a8b07.613185",
                "db99fac4.013b98",
                "b9a59a0.a0fd468"
            ]
        ]
    },
    {
        "id": "fa1c6034.ba5af",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-1",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload\n\nif (controllers && controllers[deviceId]) {\n    const device = controllers[deviceId]\n    \n    door = { topic:\"set-door\", payload: device.doors[1].name}\n    delay = { topic:\"set-delay\", payload: device.doors[1].delay}\n    control = { topic:\"set-control\", payload: device.doors[1].control}\n\n    return [ door,delay,control ]\n}\n\nreturn [ null,null,null ]\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 500,
        "wires": [
            [
                "884adddc.4d671"
            ],
            [
                "646ca32.1f1d75c",
                "f735e4d0.506428"
            ],
            [
                "fd956f89.3ead1"
            ]
        ]
    },
    {
        "id": "140a8b07.613185",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-2",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload\n\nif (controllers && controllers[deviceId]) {\n    const device = controllers[deviceId]\n    \n    door = { topic:\"set-door\", payload: device.doors[2].name}\n    delay = { topic:\"set-delay\", payload: device.doors[2].delay}\n    control = { topic:\"set-control\", payload: device.doors[2].control}\n\n    return [ door,delay,control ]\n}\n\nreturn [ null,null,null ]\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 640,
        "wires": [
            [
                "f56ee65b.b00e98"
            ],
            [
                "b387bd67.ca5f9",
                "3e95cfc.44a1c3"
            ],
            [
                "da0e7b9b.8d5f28"
            ]
        ]
    },
    {
        "id": "db99fac4.013b98",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-3",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload\n\nif (controllers && controllers[deviceId]) {\n    const device = controllers[deviceId]\n    \n    door = { topic:\"set-door\", payload: device.doors[3].name}\n    delay = { topic:\"set-delay\", payload: device.doors[3].delay}\n    control = { topic:\"set-control\", payload: device.doors[3].control}\n\n    return [ door,delay,control ]\n}\n\nreturn [ null,null,null ]\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 780,
        "wires": [
            [
                "4f2839ae.28bad8"
            ],
            [
                "6b8ea67a.0ca0f8",
                "e455630d.7089e"
            ],
            [
                "f21d22a9.a9f9b"
            ]
        ]
    },
    {
        "id": "b9a59a0.a0fd468",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-4",
        "func": "const controllers = flow.get('controllers')\nconst deviceId = msg.payload\n\nif (controllers && controllers[deviceId]) {\n    const device = controllers[deviceId]\n    \n    door = { topic:\"set-door\", payload: device.doors[4].name}\n    delay = { topic:\"set-delay\", payload: device.doors[4].delay}\n    control = { topic:\"set-control\", payload: device.doors[4].control}\n\n    return [ door,delay,control ]\n}\n\nreturn [ null,null,null ]\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 920,
        "wires": [
            [
                "4e707382.0be21c"
            ],
            [
                "8f682ba0.944998",
                "a6475900.efa528"
            ],
            [
                "1b53608.94952a"
            ]
        ]
    },
    {
        "id": "f735e4d0.506428",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-control-1",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-door-1-control.device', msg.payload)\n        break;\n\n    case 'set-door':\n        flow.set('set-door-1-control.door', msg.payload)\n        break;\n\n    case 'set-delay':\n        flow.set('set-door-1-control.delay', msg.payload)\n        break;\n\n    case 'set-control':\n        flow.set('set-door-1-control.control', msg.payload)\n        break;\n        \n    case 'set':\n        let deviceId = flow.get('set-door-1-control.device')\n        let delay = flow.get('set-door-1-control.delay')\n        let control = flow.get('set-door-1-control.control')\n\n        if (deviceId && delay && control) {\n           msg.payload = { \n               deviceId: deviceId,\n               door: 1,\n               delay: delay,\n               control: control\n           }\n            return msg\n        }\n        break\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 460,
        "wires": [
            [
                "cd8e4fed.17487"
            ]
        ]
    },
    {
        "id": "3c0f330f.3cda1c",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "",
        "links": [
            "71d6ed03.ece134"
        ],
        "x": 515,
        "y": 340,
        "wires": [
            [
                "f735e4d0.506428",
                "3e95cfc.44a1c3",
                "e455630d.7089e",
                "a6475900.efa528"
            ]
        ]
    },
    {
        "id": "3e95cfc.44a1c3",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-control-2",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-door-2-control.device', msg.payload)\n        break;\n\n    case 'set-door':\n        flow.set('set-door-2-control.door', msg.payload)\n        break;\n\n    case 'set-delay':\n        flow.set('set-door-2-control.delay', msg.payload)\n        break;\n\n    case 'set-control':\n        flow.set('set-door-2-control.control', msg.payload)\n        break;\n        \n    case 'set':\n        let deviceId = flow.get('set-door-2-control.device')\n        let delay = flow.get('set-door-2-control.delay')\n        let control = flow.get('set-door-2-control.control')\n\n        if (deviceId && delay && control) {\n           msg.payload = { \n               deviceId: deviceId,\n               door: 2,\n               delay: delay,\n               control: control\n           }\n            return msg\n        }\n        break\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 600,
        "wires": [
            [
                "79faf369.faabcc"
            ]
        ]
    },
    {
        "id": "79faf369.faabcc",
        "type": "set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control-2",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 890,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e455630d.7089e",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-control-3",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-door-3-control.device', msg.payload)\n        break;\n\n    case 'set-door':\n        flow.set('set-door-3-control.door', msg.payload)\n        break;\n\n    case 'set-delay':\n        flow.set('set-door-3-control.delay', msg.payload)\n        break;\n\n    case 'set-control':\n        flow.set('set-door-3-control.control', msg.payload)\n        break;\n        \n    case 'set':\n        let deviceId = flow.get('set-door-3-control.device')\n        let delay = flow.get('set-door-3-control.delay')\n        let control = flow.get('set-door-3-control.control')\n\n        if (deviceId && delay && control) {\n           msg.payload = { \n               deviceId: deviceId,\n               door: 3,\n               delay: delay,\n               control: control\n           }\n            return msg\n        }\n        break\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 740,
        "wires": [
            [
                "c258df7c.314b8"
            ]
        ]
    },
    {
        "id": "c258df7c.314b8",
        "type": "set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control-3",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 890,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "a6475900.efa528",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-control-4",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-door-4-control.device', msg.payload)\n        break;\n\n    case 'set-door':\n        flow.set('set-door-4-control.door', msg.payload)\n        break;\n\n    case 'set-delay':\n        flow.set('set-door-4-control.delay', msg.payload)\n        break;\n\n    case 'set-control':\n        flow.set('set-door-4-control.control', msg.payload)\n        break;\n        \n    case 'set':\n        let deviceId = flow.get('set-door-4-control.device')\n        let delay = flow.get('set-door-4-control.delay')\n        let control = flow.get('set-door-4-control.control')\n\n        if (deviceId && delay && control) {\n           msg.payload = { \n               deviceId: deviceId,\n               door: 4,\n               delay: delay,\n               control: control\n           }\n            return msg\n        }\n        break\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 880,
        "wires": [
            [
                "47f22c48.933e04"
            ]
        ]
    },
    {
        "id": "47f22c48.933e04",
        "type": "set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control-4",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 890,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "6b260c3c.af71e4",
        "type": "ui_button",
        "z": "f7a455cc.3fefe8",
        "name": "set-datetime",
        "group": "aee33fcb.43067",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "Sets the controller date and time",
        "color": "#FFFFFF",
        "bgcolor": "#A6BBCF",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "set",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "974e2138.dbd93",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "aee33fcb.43067",
        "order": 10,
        "width": 8,
        "height": 1,
        "name": "label-doors",
        "label": "doors",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 210,
        "y": 400,
        "wires": []
    }
]