examples/dashboard/cards.json
[
    {
        "id": "2a36b650.4b9b7a",
        "type": "tab",
        "label": "cards",
        "disabled": false,
        "info": ""
    },
    {
        "id": "60dcbb9f.c0dfa4",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "cards",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "3c02f9ca.0d36c6",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "78c4fc48.bc5bf4",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "573f9bfa.7e4564",
        "order": 17,
        "width": 4,
        "height": 1,
        "name": "cards",
        "label": "records",
        "format": "{{msg.payload.cards}}",
        "layout": "row-spread",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "b8460bf9.4811f8",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "4f2ad0e3.4c05e",
        "type": "get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "config": "cbd92359.dbf19",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "78c4fc48.bc5bf4",
                "60dcbb9f.c0dfa4"
            ]
        ]
    },
    {
        "id": "6ce7f877.625e48",
        "type": "get-card",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "config": "cbd92359.dbf19",
        "x": 460,
        "y": 360,
        "wires": [
            [
                "f6808502.b5c9e8",
                "75f21b8.86ccbe4"
            ]
        ]
    },
    {
        "id": "356a2abe.2ea636",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"cardNumber\": 65538 }",
        "payloadType": "json",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "6ce7f877.625e48"
            ]
        ]
    },
    {
        "id": "f6808502.b5c9e8",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "92910a57.c53858",
        "type": "ui_dropdown",
        "z": "2a36b650.4b9b7a",
        "name": "controller",
        "label": "",
        "tooltip": "",
        "place": "<select controller>",
        "group": "975ca31.d8d236",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "405419896",
                "value": 405419896,
                "type": "num"
            },
            {
                "label": "303986753",
                "value": 303986753,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "set-device",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "fe2f6f7f.53fd9"
            ]
        ]
    },
    {
        "id": "6277cd72.6d7ea4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('get-card.device', msg.payload)\n        break;\n\n    case 'set-card-number':\n        flow.set('get-card.cardnumber', msg.payload)\n        break;\n}\n\nconst deviceId = flow.get('get-card.device')\nconst cardNumber = flow.get('get-card.cardnumber')\n\nif (deviceId && cardNumber) {\n    msg.payload = { \n        deviceId: deviceId,\n        cardNumber: cardNumber\n    }\n        \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "6ce7f877.625e48"
            ]
        ]
    },
    {
        "id": "52a5b4e7.d2590c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "card.status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 640,
        "wires": []
    },
    {
        "id": "75f21b8.86ccbe4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "retrieved",
        "func": "status = { topic:msg.topic, payload: '' }\ncard = { topic:msg.topic, payload:msg.payload.card }\n\nif (msg.payload.error) {\n    switch (msg.payload.error) {\n        case -1: \n            status.payload = 'card not found'\n            card.payload = { \n                number: '', \n                valid: { \n                    from: '', \n                    to: '' \n                }, \n                doors: { \n                    1: '', \n                    2: '', \n                    3: '', \n                    4: '' \n                    \n                } \n                \n            }\n            break\n            \n        case -2:\n            status.payload  = 'card deleted'\n            card.payload = { \n                number: '', \n                valid: { \n                    from: '', \n                    to: '' \n                }, \n                doors: { \n                    1: '', \n                    2: '', \n                    3: '', \n                    4: '' \n                    \n                } \n                \n            }\n            break\n    }\n}\n\nreturn [ status, card ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "d5de73fc.318b9"
            ],
            [
                "ed03620e.d9ff",
                "e7671a59.2c71c8"
            ]
        ]
    },
    {
        "id": "7fe3bec1.b4483",
        "type": "put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "config": "cbd92359.dbf19",
        "x": 1400,
        "y": 180,
        "wires": [
            [
                "6a069f42.59c15",
                "8194bf5e.b9a13"
            ]
        ]
    },
    {
        "id": "83d878a.58b0188",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{ \"deviceId\": 405419896, \"card\": { \"number\":61532836, \"valid\": { \"from\":\"2019-01-02\", \"to\":\"2021-12-31\" }, \"doors\": { \"1\":true, \"2\":false, \"3\":true, \"4\":true } } }",
        "payloadType": "json",
        "x": 1210,
        "y": 180,
        "wires": [
            [
                "7fe3bec1.b4483"
            ]
        ]
    },
    {
        "id": "6a069f42.59c15",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 140,
        "wires": []
    },
    {
        "id": "9caadcc7.b679f",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst yyyymmdd = (d) => {\n    const year = format(d.getFullYear(), 4)\n    const month = format(d.getMonth()+1, 2)\n    const day = format(d.getDate(), 2)\n    \n    return year + '-' + month + '-' + day\n}\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('put-card.device', msg.payload)\n        break\n\n    case 'set-card-number':\n        flow.set('put-card.card.number', msg.payload)\n        break\n\n    case 'set-card-valid-from':\n        flow.set('put-card.card.valid.from', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-valid-to':\n        flow.set('put-card.card.valid.to', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-doors-1':\n        flow.set('put-card.card.doors.1', msg.payload)\n        break    \n\n    case 'set-card-doors-2':\n        flow.set('put-card.card.doors.2', msg.payload)\n        break    \n\n    case 'set-card-doors-3':\n        flow.set('put-card.card.doors.3', msg.payload)\n        break    \n\n    case 'set-card-doors-4':\n        flow.set('put-card.card.doors.4', msg.payload)\n        break    \n        \n    case 'put-card':\n        const deviceId = flow.get('put-card.device')\n        const cardNumber = flow.get('put-card.card.number')\n        const validFrom = flow.get('put-card.card.valid.from')\n        const validTo = flow.get('put-card.card.valid.to')\n        const door1 = flow.get('put-card.card.doors.1')\n        const door2 = flow.get('put-card.card.doors.2')\n        const door3 = flow.get('put-card.card.doors.3')\n        const door4 = flow.get('put-card.card.doors.4')\n\n        console.log(deviceId, cardNumber, validFrom, validTo)\n        \n        if (deviceId && cardNumber && validFrom && validTo) {\n            msg.payload = { \n                deviceId: deviceId,\n                card: {\n                    number: cardNumber,\n                    valid: {\n                        from: validFrom,\n                        to: validTo\n                    },\n                    doors: {\n                        \"1\": door1 || false,\n                        \"2\": door2 || false,\n                        \"3\": door3 || false,\n                        \"4\": door4 || false\n                    }\n                }\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1210,
        "y": 220,
        "wires": [
            [
                "7fe3bec1.b4483"
            ]
        ]
    },
    {
        "id": "46db6d43.a9d444",
        "type": "ui_text_input",
        "z": "2a36b650.4b9b7a",
        "name": "card.number",
        "label": "card number",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "set-card-number",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "cb6b878.02d9b78"
            ]
        ]
    },
    {
        "id": "83c1860b.02d9f8",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 7,
        "width": 1,
        "height": 1,
        "name": "label-from",
        "label": "from",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 280,
        "wires": []
    },
    {
        "id": "70cb34bc.8def6c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 10,
        "width": 1,
        "height": 1,
        "name": "label-to",
        "label": "to",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "c18e5552.2e5a48",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "group": "80ebf5dd.1d2018",
        "order": 20,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "put-card",
        "x": 1040,
        "y": 600,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "8194bf5e.b9a13",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "func": "if (msg.payload.stored) {\n    msg.payload = 'card updated'\n} else {\n    msg.payload = 'error adding/updating card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1570,
        "y": 180,
        "wires": [
            [
                "191160b2.4d831f"
            ]
        ]
    },
    {
        "id": "e6da52cd.93a8e",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"cardNumber\": 61532836 }",
        "payloadType": "json",
        "x": 270,
        "y": 840,
        "wires": [
            [
                "4ac01a83.a74ec4"
            ]
        ]
    },
    {
        "id": "e7473423.ef6728",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('delete-card.device', msg.payload)\n        break;\n\n    case 'set-card-number':\n        flow.set('delete-card.card.number', msg.payload)\n        break;\n        \n    case 'delete-card':\n        const deviceId = flow.get('delete-card.device')\n        const cardNumber = flow.get('delete-card.card.number')\n\n        if (deviceId && cardNumber) {\n            msg.payload = { \n                deviceId: deviceId,\n                cardNumber: cardNumber\n            }\n        \n            return msg\n        }\n        break        \n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 880,
        "wires": [
            [
                "4ac01a83.a74ec4"
            ]
        ]
    },
    {
        "id": "4ac01a83.a74ec4",
        "type": "delete-card",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "config": "cbd92359.dbf19",
        "x": 450,
        "y": 880,
        "wires": [
            [
                "d35026f6.29b788",
                "aad3691e.482588"
            ]
        ]
    },
    {
        "id": "d35026f6.29b788",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 840,
        "wires": []
    },
    {
        "id": "e09b14f4.d89ca8",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "group": "80ebf5dd.1d2018",
        "order": 21,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "delete-card",
        "x": 90,
        "y": 920,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "fe2f6f7f.53fd9",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "card-device",
        "links": [
            "f93335b9.2a2448",
            "93805387.eb6cd",
            "a74d4fc3.50b25",
            "f8912a16.6e32d8",
            "db72adb4.36261",
            "36bef050.3e6b9",
            "66291483.55a63c"
        ],
        "x": 215,
        "y": 200,
        "wires": []
    },
    {
        "id": "f93335b9.2a2448",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 340,
        "wires": [
            [
                "6277cd72.6d7ea4"
            ]
        ]
    },
    {
        "id": "93805387.eb6cd",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 840,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "cb6b878.02d9b78",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "card-number",
        "links": [
            "bd883038.dbaac",
            "129b9c14.1aba94",
            "3036418d.f8557e",
            "1fbf5878.4949c8"
        ],
        "x": 215,
        "y": 240,
        "wires": []
    },
    {
        "id": "bd883038.dbaac",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 135,
        "y": 380,
        "wires": [
            [
                "6277cd72.6d7ea4"
            ]
        ]
    },
    {
        "id": "129b9c14.1aba94",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 135,
        "y": 880,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "a74d4fc3.50b25",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 1055,
        "y": 200,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "3036418d.f8557e",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 1055,
        "y": 240,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "f8233afa.37a5c8",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "card-status",
        "links": [
            "d5de73fc.318b9",
            "b00ce9c1.ba59d8",
            "191160b2.4d831f",
            "fefda9af.f92c78"
        ],
        "x": 895,
        "y": 640,
        "wires": [
            [
                "52a5b4e7.d2590c"
            ]
        ]
    },
    {
        "id": "d5de73fc.318b9",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 775,
        "y": 340,
        "wires": []
    },
    {
        "id": "b00ce9c1.ba59d8",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 735,
        "y": 880,
        "wires": []
    },
    {
        "id": "aad3691e.482588",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "func": "if (msg.payload.deleted) {\n    msg.payload = 'card deleted'\n} else {\n    msg.payload = 'error deleting card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 880,
        "wires": [
            [
                "b00ce9c1.ba59d8"
            ]
        ]
    },
    {
        "id": "e70a1f2e.dcd39",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "card-from",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-from",
        "x": 1040,
        "y": 360,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "ed03620e.d9ff",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "valid-dates",
        "func": "const parse = function(s) {\n    const re = /^([0-9]{4})-([0-9]{2})-([0-9]{2})$/\n    const match = re.exec(s)\n    \n    if (match !== null && match.length > 3) {\n        const year = parseInt(match[1], 10)\n        const month = parseInt(match[2], 10)\n        const day = parseInt(match[3], 10)\n        const date = new Date()\n\n        date.setYear(year)\n        date.setMonth(month - 1)\n        date.setDate(day)\n        \n        return date\n    }\n    \n    return null\n}\n        \nif (msg.payload.valid) {\n    const from = parse(msg.payload.valid.from)\n    const to = parse(msg.payload.valid.to)\n    let p = null\n    let q = null\n\n    if (from !== null) {\n        p = { topic:msg.topic, payload:from }\n    }\n\n    if (to !== null) {\n        q = { topic:msg.topic, payload:to }\n    }\n\n    return [p,q]\n}\n\nreturn [null, null]\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 380,
        "wires": [
            [
                "e70a1f2e.dcd39"
            ],
            [
                "51e5131e.65bf4c"
            ]
        ]
    },
    {
        "id": "51e5131e.65bf4c",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "card-to",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-to",
        "x": 1040,
        "y": 400,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "191160b2.4d831f",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 1695,
        "y": 180,
        "wires": []
    },
    {
        "id": "6eac8a4e.b9baf4",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.1",
        "label": "entrance",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 13,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-1",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "e7671a59.2c71c8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "doors",
        "func": "if (msg.payload.doors) {\n    const door1 = { topic:msg.topic, payload:msg.payload.doors[\"1\"] }\n    const door2 = { topic:msg.topic, payload:msg.payload.doors[\"2\"] }\n    const door3 = { topic:msg.topic, payload:msg.payload.doors[\"3\"] }\n    const door4 = { topic:msg.topic, payload:msg.payload.doors[\"4\"] }\n\n    return [ door1, door2, door3, door4 ]\n}\n\nreturn [ null, null, null, null ]\n\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 810,
        "y": 500,
        "wires": [
            [
                "6eac8a4e.b9baf4"
            ],
            [
                "9eb1f7b1.8b0968"
            ],
            [
                "34ea4d9f.8c2892"
            ],
            [
                "81c28b36.1b34e8"
            ]
        ]
    },
    {
        "id": "9eb1f7b1.8b0968",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.2",
        "label": "workshop",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 15,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-2",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "34ea4d9f.8c2892",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.3",
        "label": "tower",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 17,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-3",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "81c28b36.1b34e8",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.4",
        "label": "dungeon",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 19,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-4",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 560,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "6f571cdf.961f74",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"index\": 1 }",
        "payloadType": "json",
        "x": 270,
        "y": 740,
        "wires": [
            [
                "13f668be.c2e417"
            ]
        ]
    },
    {
        "id": "32cd75ea.8b84ba",
        "type": "ui_table",
        "z": "2a36b650.4b9b7a",
        "group": "975ca31.d8d236",
        "name": "cards",
        "order": 7,
        "width": 14,
        "height": 16,
        "columns": [
            {
                "field": "number",
                "title": "card number",
                "width": "134",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "valid.from",
                "title": "from",
                "width": "108",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "valid.to",
                "title": "to",
                "width": "108",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.1",
                "title": "entrance",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.2",
                "title": "workshop",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.3",
                "title": "tower",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "doors.4",
                "title": "dungeon",
                "width": "100",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 850,
        "y": 740,
        "wires": []
    },
    {
        "id": "5b79d6d.06dc728",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "refresh",
        "group": "975ca31.d8d236",
        "order": 5,
        "width": 1,
        "height": 2,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "x": 70,
        "y": 660,
        "wires": [
            [
                "920606cd.352758"
            ]
        ]
    },
    {
        "id": "196e0519.9c92cb",
        "type": "get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "config": "cbd92359.dbf19",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "920606cd.352758"
            ]
        ]
    },
    {
        "id": "920606cd.352758",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "refresh-cards",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('refresh.device', msg.payload)\n        break;\n\n    case 'refresh':\n        { const deviceId = flow.get('refresh.device')\n\n          if (deviceId) {\n              return [ \n                  { topic:'get-cards', payload: { deviceId:deviceId } },\n                  null\n              ]\n          }\n        }\n        break\n\n    case 'get-cards':\n        { flow.set('refresh.count', msg.payload.cards)\n          flow.set('refresh.index', 0)\n          flow.set('cards', new Map())\n\n          const deviceId = flow.get('refresh.device')\n          const index = flow.get('refresh.index') || 0\n\n          if (deviceId) {\n              next = index + 1\n              flow.set('refresh.index', next)\n              return [ \n                null,\n                { topic:'get-card-by-index', payload: { deviceId:deviceId, index:next } }\n              ]\n            }\n        }\n        break\n\n    case 'get-card-by-index':\n        if (msg.payload.error !== -1) {\n            const deviceId = flow.get('refresh.device')\n            const count = flow.get('refresh.count')\n            const index = flow.get('refresh.index')\n            const cards = flow.get('cards')\n\n            if (deviceId && index && cards.size < count) {\n                next = index + 1\n                flow.set('refresh.index', next)\n                return [ \n                    null,\n                    { topic:'get-card-by-index', payload: { deviceId:deviceId, index:next } }\n                ]\n            }\n        }\n        break\n}\n\nreturn [null, null]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "196e0519.9c92cb"
            ],
            [
                "13f668be.c2e417"
            ]
        ]
    },
    {
        "id": "33497a02.770536",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card@",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 700,
        "wires": []
    },
    {
        "id": "db72adb4.36261",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 115,
        "y": 620,
        "wires": [
            [
                "920606cd.352758"
            ]
        ]
    },
    {
        "id": "13f668be.c2e417",
        "type": "get-card-by-index",
        "z": "2a36b650.4b9b7a",
        "name": "get-card-by-index",
        "config": "cbd92359.dbf19",
        "x": 490,
        "y": 740,
        "wires": [
            [
                "920606cd.352758",
                "33497a02.770536",
                "c4f9384f.7089b8"
            ]
        ]
    },
    {
        "id": "c4f9384f.7089b8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "cards",
        "func": "const cards = flow.get('cards') || new Map()\nconst doors = flow.get('doors')\n\nconst deviceId = msg.payload.deviceId\nconst card = msg.payload.card\nconst list = []\n\nif (!msg.payload.error || msg.payload.error === 0) {\n   cards.set(card.number, card)\n\n   flow.set('cards', cards)\n}\n\nfor (const [k,v] of cards) {\n  list.push(v)\n}\n\nmsg.payload = {\n    'command': 'setData',\n    'arguments': [ list, false ]\n}\n\nreturn msg;    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "const doors = {\n    405419896: {\n        1: 'ENTRANCE',\n        2: 'WORKSHOP',\n        3: 'TOWER',\n        4: 'DUNGEON'\n    },\n    303986753: {\n        1: 'DOOR X',\n        2: 'DOOR Y',\n        3: 'LABORATORY',\n        4: 'KITCHEN'\n    }\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 690,
        "y": 740,
        "wires": [
            [
                "32cd75ea.8b84ba"
            ]
        ]
    },
    {
        "id": "f6b826f5.187ae8",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 270,
        "y": 980,
        "wires": [
            [
                "874f55c6.6f00b8"
            ]
        ]
    },
    {
        "id": "d435a504.9295d8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "delete-cards",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('delete-cards.device', msg.payload)\n        break;\n\n    case 'delete-cards':\n        const deviceId = flow.get('delete-cards.device')\n\n        if (deviceId) {\n            msg.payload = { \n                deviceId: deviceId\n            }\n        \n            return msg\n        }\n        break        \n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 1020,
        "wires": [
            [
                "874f55c6.6f00b8"
            ]
        ]
    },
    {
        "id": "3b1532d.e15adce",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 980,
        "wires": []
    },
    {
        "id": "12b53ea2.d23791",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "delete-cards",
        "group": "975ca31.d8d236",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "delete all",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "delete-cards",
        "x": 90,
        "y": 1040,
        "wires": [
            [
                "d435a504.9295d8"
            ]
        ]
    },
    {
        "id": "36bef050.3e6b9",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 1000,
        "wires": [
            [
                "d435a504.9295d8"
            ]
        ]
    },
    {
        "id": "d5e17469.7208d8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "func": "if (msg.payload.deleted) {\n    msg.payload = 'card deleted'\n} else {\n    msg.payload = 'error deleting card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "874f55c6.6f00b8",
        "type": "delete-all-cards",
        "z": "2a36b650.4b9b7a",
        "name": "delete-all-cards",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 1020,
        "wires": [
            [
                "d5e17469.7208d8",
                "3b1532d.e15adce"
            ]
        ]
    },
    {
        "id": "cb614bbf.65eb68",
        "type": "comment",
        "z": "2a36b650.4b9b7a",
        "name": "detail page: card record count",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "573f9bfa.7e4564",
        "type": "ui_group",
        "z": "",
        "name": "column-2",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\n   \"405419896\": {\n      \"address\": \"192.168.1.100:60000\"\n   },\n   \"303986753\": {\n      \"address\": \"192.168.1.100:60000\"\n   }\n}",
        "debug": true
    },
    {
        "id": "975ca31.d8d236",
        "type": "ui_group",
        "z": "",
        "name": "cards",
        "tab": "bb81af8b.a4ff7",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "80ebf5dd.1d2018",
        "type": "ui_group",
        "z": "",
        "name": "card",
        "tab": "bb81af8b.a4ff7",
        "order": 2,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb81af8b.a4ff7",
        "type": "ui_tab",
        "z": "",
        "name": "cards",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]