examples/dashboard/doors.json
[
    {
        "id": "86bbf50e.a7f188",
        "type": "tab",
        "label": "doors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2046730f.81897c",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "7317e0e6.862af",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "292b6aca.7aa1e6"
            ]
        ]
    },
    {
        "id": "d0069706.de5418",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "door-1",
        "label": "Entrance",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.control.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "1d446f7d.8d4dd1",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 80,
        "wires": [
            [
                "292b6aca.7aa1e6"
            ]
        ]
    },
    {
        "id": "bedb99cc.cc0768",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "d0069706.de5418",
                "2046730f.81897c"
            ]
        ]
    },
    {
        "id": "292b6aca.7aa1e6",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "doors",
        "func": "entrance = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 1\n    }\n}\n\nworkshop = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 2\n    }\n}\n\ntower = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 3\n    }\n}\n\ndungeon = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 4\n    }\n}\n\nreturn [ entrance, workshop, tower, dungeon ];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "bedb99cc.cc0768"
            ],
            [
                "e7e0d04a.234f7"
            ],
            [
                "c1762251.eb596"
            ],
            [
                "77f19a6f.95b404"
            ]
        ]
    },
    {
        "id": "315cefc9.048fa",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "door-2",
        "label": "Workshop",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.control.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "e7e0d04a.234f7",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "315cefc9.048fa"
            ]
        ]
    },
    {
        "id": "b42f80aa.aebdd",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "door-3",
        "label": "Tower",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.control.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "c1762251.eb596",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "b42f80aa.aebdd"
            ]
        ]
    },
    {
        "id": "87126e15.ad945",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "573f9bfa.7e4564",
        "order": 13,
        "width": 4,
        "height": 1,
        "name": "door-4",
        "label": "Dungeon",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.control.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "77f19a6f.95b404",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "87126e15.ad945"
            ]
        ]
    },
    {
        "id": "6d8d48f7.397bb8",
        "type": "set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control",
        "config": "cbd92359.dbf19",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "552b0a9d.9bc984"
            ]
        ]
    },
    {
        "id": "552b0a9d.9bc984",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "2a6bfd65.85b982",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "door-control",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-door-control.device', msg.payload)\n        break;\n\n    case 'set-door':\n        flow.set('set-door-control.door', msg.payload)\n        break;\n\n    case 'set-delay':\n        flow.set('set-door-control.delay', msg.payload)\n        break;\n\n    case 'set-control':\n        flow.set('set-door-control.control', msg.payload)\n        break;\n}\n\nlet deviceId = flow.get('set-door-control.device')\nlet door = flow.get('set-door-control.door')\nlet delay = flow.get('set-door-control.delay')\nlet control = flow.get('set-door-control.control')\n\nif (deviceId && door && delay && control) {\n    msg.payload = { \n        deviceId: deviceId,\n        door: door,\n        delay: delay,\n        control: control\n    }\n        \n    return msg\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "6d8d48f7.397bb8"
            ]
        ]
    },
    {
        "id": "5fb4202c.0de66",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"door\":1,\"delay\":6,\"control\":\"normally closed\"}",
        "payloadType": "json",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "6d8d48f7.397bb8"
            ]
        ]
    },
    {
        "id": "17002233.3f01ae",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "door",
        "label": "door:",
        "tooltip": "",
        "place": "<select door>",
        "group": "920f64db.d2fd58",
        "order": 23,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "entrance",
                "value": 1,
                "type": "num"
            },
            {
                "label": "workshop",
                "value": "2",
                "type": "str"
            },
            {
                "label": "tower",
                "value": "3",
                "type": "str"
            },
            {
                "label": "dungeon",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-door",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "658fc734.2cb608",
        "type": "ui_numeric",
        "z": "86bbf50e.a7f188",
        "name": "delay",
        "label": "delay:",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 31,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "set-delay",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "step": 1,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "b9f51091.3fdb3",
        "type": "ui_dropdown",
        "z": "86bbf50e.a7f188",
        "name": "control",
        "label": "control:",
        "tooltip": "",
        "place": "<select control state>",
        "group": "920f64db.d2fd58",
        "order": 27,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "normally open",
                "value": "normally open",
                "type": "str"
            },
            {
                "label": "normally closed",
                "value": "normally closed",
                "type": "str"
            },
            {
                "label": "controlled",
                "value": "controlled",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "set-control",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "e90fb8ea.bb5528",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "",
        "links": [
            "d4e3111f.b25ea"
        ],
        "x": 135,
        "y": 280,
        "wires": [
            [
                "2a6bfd65.85b982"
            ]
        ]
    },
    {
        "id": "6c1b3177.30bd2",
        "type": "open-door",
        "z": "86bbf50e.a7f188",
        "name": "open-door",
        "config": "cbd92359.dbf19",
        "x": 470,
        "y": 640,
        "wires": [
            [
                "cf49a18d.73b92"
            ]
        ]
    },
    {
        "id": "cf49a18d.73b92",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 600,
        "wires": []
    },
    {
        "id": "f6fe5b25.975708",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-1",
        "group": "aa8a9aa4.208ff8",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Entrance",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\":405419896, \"door\":1 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "ae9ed478.d78068",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-2",
        "group": "aa8a9aa4.208ff8",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Workshop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\":405419896, \"door\":2 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "37325e2d.2dfce2",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-3",
        "group": "aa8a9aa4.208ff8",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Tower",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\":405419896, \"door\":3 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "d63d369f.4da2e8",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "405419896-door-4",
        "group": "aa8a9aa4.208ff8",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Dungeon",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\":405419896, \"door\":4 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "29dbb7ba.438588",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-1",
        "group": "aa8a9aa4.208ff8",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Door X",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\": 303986753, \"door\":1 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "4c4ef468.37c2dc",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-2",
        "group": "aa8a9aa4.208ff8",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Door Y",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\": 303986753, \"door\":2 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "6c2c5614.0621c8",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-3",
        "group": "aa8a9aa4.208ff8",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Laboratory",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\": 303986753, \"door\":3 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 760,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "4539c0cb.71ab6",
        "type": "ui_button",
        "z": "86bbf50e.a7f188",
        "name": "303986753-door-4",
        "group": "aa8a9aa4.208ff8",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Kitchen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\": 303986753, \"door\":4 }",
        "payloadType": "json",
        "topic": "open-door",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "23ed32e1.98a00e",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\":405419896, \"door\":1 }",
        "payloadType": "json",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "573f9bfa.7e4564",
        "type": "ui_group",
        "z": "",
        "name": "column-2",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\n   \"405419896\": {\n      \"address\": \"192.168.1.100:60000\"\n   },\n   \"303986753\": {\n      \"address\": \"192.168.1.100:60000\"\n   }\n}",
        "debug": true
    },
    {
        "id": "920f64db.d2fd58",
        "type": "ui_group",
        "z": "",
        "name": "configuration",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "aa8a9aa4.208ff8",
        "type": "ui_group",
        "z": "",
        "name": "open door",
        "tab": "e4b36c96.1a567",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "manage",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]