examples/dashboard/IPv4.json
[
    {
        "id": "8bcf2d43.2e243",
        "type": "tab",
        "label": "IPv4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c601d685.422838",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "da41e071.55ece",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-address",
        "payload": "{\"deviceId\":405419896,\"address\":\"192.168.1.125\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
        "payloadType": "json",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "2a10c0a9.e8d6"
            ]
        ]
    },
    {
        "id": "45ee145d.a3525c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "IPv4",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('set-address.device', msg.payload)\n        break;\n\n    case 'set-address':\n        flow.set('set-address.address', msg.payload)\n        break;\n\n    case 'set-netmask':\n        flow.set('set-address.netmask', msg.payload)\n        break;\n\n    case 'set-gateway':\n        flow.set('set-address.gateway', msg.payload)\n        break;\n}\n\nlet deviceId = flow.get('set-address.device')\nlet address = flow.get('set-address.address')\nlet netmask = flow.get('set-address.netmask')\nlet gateway = flow.get('set-address.gateway')\n\nif (deviceId && address && netmask && gateway) {\n    msg.payload = {\n        deviceId: deviceId,\n        address: address,\n        netmask: netmask,\n        gateway: gateway\n    }        \n        \n    return msg\n}\n\nreturn null\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "2a10c0a9.e8d6"
            ]
        ]
    },
    {
        "id": "2a10c0a9.e8d6",
        "type": "set-address",
        "z": "8bcf2d43.2e243",
        "name": "set-address",
        "config": "cbd92359.dbf19",
        "x": 710,
        "y": 140,
        "wires": [
            [
                "c601d685.422838"
            ]
        ]
    },
    {
        "id": "7a342239.47727c",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "43a592be.9cc00c"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "b6a91dc2.1e37",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-address",
        "label": "address",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-address",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "c5052b18.578d98",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-netmask",
        "label": "netmask",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-netmask",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "5b16f8e7.972fb8",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "IPv4-gateway",
        "label": "gateway",
        "tooltip": "",
        "group": "920f64db.d2fd58",
        "order": 15,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "set-gateway",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "43a592be.9cc00c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "initialise",
        "func": "const address = { topic:'address', payload:'192.168.1.100' }\nconst netmask = { topic:'netmask', payload:'255.255.255.0' }\nconst gateway = { topic:'gateway', payload:'192.168.1.1' }\n\nreturn [address, netmask, gateway]",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "b6a91dc2.1e37"
            ],
            [
                "c5052b18.578d98"
            ],
            [
                "5b16f8e7.972fb8"
            ]
        ]
    },
    {
        "id": "5b13b041.ee256",
        "type": "link in",
        "z": "8bcf2d43.2e243",
        "name": "",
        "links": [
            "d4e3111f.b25ea"
        ],
        "x": 395,
        "y": 140,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "920f64db.d2fd58",
        "type": "ui_group",
        "z": "",
        "name": "configuration",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "manage",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]