examples/cards.json
[
    {
        "id": "2a36b650.4b9b7a",
        "type": "tab",
        "label": "cards",
        "disabled": false,
        "info": ""
    },
    {
        "id": "60dcbb9f.c0dfa4",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "cards",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "3c02f9ca.0d36c6",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "78c4fc48.bc5bf4",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "573f9bfa.7e4564",
        "order": 17,
        "width": 4,
        "height": 1,
        "name": "cards",
        "label": "records",
        "format": "{{msg.payload.cards}}",
        "layout": "row-spread",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "b8460bf9.4811f8",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 80,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "4f2ad0e3.4c05e",
        "type": "get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "uhppote": "d596ac54.cced",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "78c4fc48.bc5bf4",
                "60dcbb9f.c0dfa4"
            ]
        ]
    },
    {
        "id": "6ce7f877.625e48",
        "type": "get-card",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "uhppote": "d596ac54.cced",
        "x": 460,
        "y": 200,
        "wires": [
            [
                "f6808502.b5c9e8",
                "75f21b8.86ccbe4"
            ]
        ]
    },
    {
        "id": "356a2abe.2ea636",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"cardNumber\": 65538 }",
        "payloadType": "json",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "6ce7f877.625e48"
            ]
        ]
    },
    {
        "id": "f6808502.b5c9e8",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "92910a57.c53858",
        "type": "ui_dropdown",
        "z": "2a36b650.4b9b7a",
        "name": "controller",
        "label": "",
        "tooltip": "",
        "place": "<select controller>",
        "group": "80ebf5dd.1d2018",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "405419896",
                "value": 405419896,
                "type": "num"
            },
            {
                "label": "303986753",
                "value": 303986753,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "set-device",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "6277cd72.6d7ea4"
            ]
        ]
    },
    {
        "id": "6277cd72.6d7ea4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('get-card.device', msg.payload)\n        break;\n\n    case 'set-card-number':\n        flow.set('get-card.cardnumber', msg.payload)\n        break;\n}\n\nconst deviceId = flow.get('get-card.device')\nconst cardNumber = flow.get('get-card.cardnumber')\n\nif (deviceId && cardNumber) {\n    msg.payload = { \n        deviceId: deviceId,\n        cardNumber: cardNumber\n    }\n        \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "6ce7f877.625e48"
            ]
        ]
    },
    {
        "id": "6d4c8436.ea0e5c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 9,
        "width": 5,
        "height": 1,
        "name": "card.to",
        "label": "to",
        "format": "{{msg.payload.valid.to}}",
        "layout": "row-spread",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "64f214e2.4a72ec",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 11,
        "width": 5,
        "height": 1,
        "name": "card.doors.1",
        "label": "entrance",
        "format": "{{msg.payload.doors['1']}}",
        "layout": "row-spread",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "7debe0b0.f09da",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 13,
        "width": 5,
        "height": 1,
        "name": "card.door.2",
        "label": "workshop",
        "format": "{{msg.payload.doors['2']}}",
        "layout": "row-spread",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "864ef546.afd158",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 15,
        "width": 5,
        "height": 1,
        "name": "card.door.3",
        "label": "tower",
        "format": "{{msg.payload.doors['3']}}",
        "layout": "row-spread",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "4ad7af4a.432e1",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 17,
        "width": 5,
        "height": 1,
        "name": "card.door.4",
        "label": "dungeon",
        "format": "{{msg.payload.doors['4']}}",
        "layout": "row-spread",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "52a5b4e7.d2590c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "card.status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "75f21b8.86ccbe4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "func": "status = { topic:msg.topic, payload: '' }\ncard = { topic:msg.topic, payload:msg.payload.card }\n\nif (msg.payload.error) {\n    switch (msg.payload.error) {\n        case -1: \n            status.payload = 'card not found'\n            card.payload = { \n                number: '', \n                valid: { \n                    from: '', \n                    to: '' \n                }, \n                doors: { \n                    1: '', \n                    2: '', \n                    3: '', \n                    4: '' \n                    \n                } \n                \n            }\n            break\n            \n        case -2:\n            status.payload  = 'card deleted'\n            card.payload = { \n                number: '', \n                valid: { \n                    from: '', \n                    to: '' \n                }, \n                doors: { \n                    1: '', \n                    2: '', \n                    3: '', \n                    4: '' \n                    \n                } \n                \n            }\n            break\n    }\n}\n\nreturn [ status, card ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 200,
        "wires": [
            [
                "52a5b4e7.d2590c"
            ],
            [
                "6d4c8436.ea0e5c",
                "64f214e2.4a72ec",
                "7debe0b0.f09da",
                "864ef546.afd158",
                "4ad7af4a.432e1",
                "aec7c797.c5d9e8"
            ]
        ]
    },
    {
        "id": "7fe3bec1.b4483",
        "type": "put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "uhppote": "d596ac54.cced",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "6a069f42.59c15",
                "8194bf5e.b9a13"
            ]
        ]
    },
    {
        "id": "83d878a.58b0188",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{ \"deviceId\": 405419896, \"card\": { \"number\":61532836, \"valid\": { \"from\":\"2019-01-02\", \"to\":\"2021-12-31\" }, \"doors\": { \"1\":true, \"2\":false, \"3\":true, \"4\":true } } }",
        "payloadType": "json",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "7fe3bec1.b4483"
            ]
        ]
    },
    {
        "id": "6a069f42.59c15",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "9caadcc7.b679f",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst yyyymmdd = (d) => {\n    const year = format(d.getFullYear(), 4)\n    const month = format(d.getMonth()+1, 2)\n    const day = format(d.getDate(), 2)\n    \n    return year + '-' + month + '-' + day\n}\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('put-card.device', msg.payload)\n        break\n\n    case 'set-card-number':\n        flow.set('put-card.card.number', msg.payload)\n        break\n\n    case 'set-card-valid-from':\n        flow.set('put-card.card.valid.from', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-valid-to':\n        flow.set('put-card.card.valid.to', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-doors-1':\n        flow.set('put-card.card.doors.1', msg.payload)\n        break    \n\n    case 'set-card-doors-2':\n        flow.set('put-card.card.doors.2', msg.payload)\n        break    \n\n    case 'set-card-doors-3':\n        flow.set('put-card.card.doors.3', msg.payload)\n        break    \n\n    case 'set-card-doors-4':\n        flow.set('put-card.card.doors.3', msg.payload)\n        break    \n        \n    case 'put-card':\n        console.log('put')\n        const deviceId = flow.get('put-card.device')\n        const cardNumber = flow.get('put-card.card.number')\n        const validFrom = flow.get('put-card.card.valid.from')\n        const validTo = flow.get('put-card.card.valid.to')\n        const door1 = flow.get('put-card.card.doors.1')\n        const door2 = flow.get('put-card.card.doors.2')\n        const door3 = flow.get('put-card.card.doors.3')\n        const door4 = flow.get('put-card.card.doors.4')\n\n        console.log('>>', deviceId)\n        console.log('>>', cardNumber)\n        console.log('>>', validFrom)\n        console.log('>>', validTo)\n        console.log('>>', door1)\n        console.log('>>', door2)\n        console.log('>>', door3)\n        console.log('>>', door4)\n\n        if (deviceId && cardNumber && validFrom && validTo) {\n            msg.payload = { \n                deviceId: deviceId,\n                card: {\n                    number: cardNumber,\n                    valid: {\n                        from: validFrom,\n                        to: validTo\n                    },\n                    doors: {\n                        \"1\": door1 || false,\n                        \"2\": door2 || false,\n                        \"3\": door3 || false,\n                        \"4\": door4 || false\n                    }\n                }\n            }\n        \n            console.log(msg)\n\n            return msg\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "7fe3bec1.b4483"
            ]
        ]
    },
    {
        "id": "46db6d43.a9d444",
        "type": "ui_text_input",
        "z": "2a36b650.4b9b7a",
        "name": "card.number",
        "label": "number",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "set-card-number",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "6277cd72.6d7ea4"
            ]
        ]
    },
    {
        "id": "aec7c797.c5d9e8",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 7,
        "width": 5,
        "height": 1,
        "name": "card.from",
        "label": "from",
        "format": "{{msg.payload.valid.from}}",
        "layout": "row-spread",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "58e019e7.bc3778",
        "type": "ui_text_input",
        "z": "2a36b650.4b9b7a",
        "name": "put.card.number",
        "label": "number",
        "tooltip": "",
        "group": "d5c77a7d.bea588",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "set-card-number",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "e4f80df.9c593f",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "put.card.from",
        "label": "",
        "group": "d5c77a7d.bea588",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-from",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "8ca35386.48bc8",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "put.card.to",
        "label": "",
        "group": "d5c77a7d.bea588",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-to",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "c1d62c6c.4fccb",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "put.card.door.1",
        "label": "entrance",
        "tooltip": "",
        "group": "d5c77a7d.bea588",
        "order": 14,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-door-1",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "3c101f27.fbffd",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "put.card.door.2",
        "label": "workshop",
        "tooltip": "",
        "group": "d5c77a7d.bea588",
        "order": 16,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-door-2",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "a5f012c5.033b",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "put.card.door.3",
        "label": "tower",
        "tooltip": "",
        "group": "d5c77a7d.bea588",
        "order": 18,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-door-3",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "fa8d762b.1f0c38",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "put.card.door.4",
        "label": "dungeon",
        "tooltip": "",
        "group": "d5c77a7d.bea588",
        "order": 20,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-door-4",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "657b3e95.5797d",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "d5c77a7d.bea588",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "label-put",
        "label": "add or update a card",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 120,
        "y": 440,
        "wires": []
    },
    {
        "id": "83c1860b.02d9f8",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "d5c77a7d.bea588",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "label-from",
        "label": "from",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 130,
        "y": 480,
        "wires": []
    },
    {
        "id": "70cb34bc.8def6c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "d5c77a7d.bea588",
        "order": 11,
        "width": 1,
        "height": 1,
        "name": "label-to",
        "label": "to",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "c18e5552.2e5a48",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "group": "d5c77a7d.bea588",
        "order": 22,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "add/update card",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "put-card",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "670233a.09550cc",
        "type": "ui_dropdown",
        "z": "2a36b650.4b9b7a",
        "name": "controller",
        "label": "",
        "tooltip": "",
        "place": "<select controller>",
        "group": "d5c77a7d.bea588",
        "order": 4,
        "width": "5",
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "405419896",
                "value": 405419896,
                "type": "num"
            },
            {
                "label": "303986753",
                "value": 303986753,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "set-device",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "5b504f76.6667a",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "d5c77a7d.bea588",
        "order": 22,
        "width": 0,
        "height": 0,
        "name": "put-card.result",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 840,
        "y": 580,
        "wires": []
    },
    {
        "id": "8194bf5e.b9a13",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "result",
        "func": "if (msg.payload.stored) {\n    msg.payload = 'card updated'\n} else {\n    msg.payload = 'error adding/updating card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 580,
        "wires": [
            [
                "5b504f76.6667a"
            ]
        ]
    },
    {
        "id": "573f9bfa.7e4564",
        "type": "ui_group",
        "z": "",
        "name": "column-2",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "80ebf5dd.1d2018",
        "type": "ui_group",
        "z": "",
        "name": "card",
        "tab": "bb81af8b.a4ff7",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "d5c77a7d.bea588",
        "type": "ui_group",
        "z": "",
        "name": "add/update",
        "tab": "bb81af8b.a4ff7",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb81af8b.a4ff7",
        "type": "ui_tab",
        "z": "",
        "name": "cards",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]