examples/cards.json
[
    {
        "id": "2a36b650.4b9b7a",
        "type": "tab",
        "label": "cards",
        "disabled": false,
        "info": ""
    },
    {
        "id": "60dcbb9f.c0dfa4",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "cards",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "3c02f9ca.0d36c6",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "78c4fc48.bc5bf4",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "573f9bfa.7e4564",
        "order": 17,
        "width": 4,
        "height": 1,
        "name": "cards",
        "label": "records",
        "format": "{{msg.payload.cards}}",
        "layout": "row-spread",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "b8460bf9.4811f8",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 200,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "4f2ad0e3.4c05e",
        "type": "get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "uhppote": "d596ac54.cced",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "78c4fc48.bc5bf4",
                "60dcbb9f.c0dfa4"
            ]
        ]
    },
    {
        "id": "6ce7f877.625e48",
        "type": "get-card",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "uhppote": "d596ac54.cced",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "f6808502.b5c9e8",
                "75f21b8.86ccbe4"
            ]
        ]
    },
    {
        "id": "356a2abe.2ea636",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"cardNumber\": 65538 }",
        "payloadType": "json",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "6ce7f877.625e48"
            ]
        ]
    },
    {
        "id": "f6808502.b5c9e8",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "92910a57.c53858",
        "type": "ui_dropdown",
        "z": "2a36b650.4b9b7a",
        "name": "controller",
        "label": "",
        "tooltip": "",
        "place": "<select controller>",
        "group": "80ebf5dd.1d2018",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "405419896",
                "value": 405419896,
                "type": "num"
            },
            {
                "label": "303986753",
                "value": 303986753,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "set-device",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "fe2f6f7f.53fd9"
            ]
        ]
    },
    {
        "id": "6277cd72.6d7ea4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('get-card.device', msg.payload)\n        break;\n\n    case 'set-card-number':\n        flow.set('get-card.cardnumber', msg.payload)\n        break;\n}\n\nconst deviceId = flow.get('get-card.device')\nconst cardNumber = flow.get('get-card.cardnumber')\n\nif (deviceId && cardNumber) {\n    msg.payload = { \n        deviceId: deviceId,\n        cardNumber: cardNumber\n    }\n        \n    return msg\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "6ce7f877.625e48"
            ]
        ]
    },
    {
        "id": "52a5b4e7.d2590c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "card.status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "75f21b8.86ccbe4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "retrieved",
        "func": "status = { topic:msg.topic, payload: '' }\ncard = { topic:msg.topic, payload:msg.payload.card }\n\nif (msg.payload.error) {\n    switch (msg.payload.error) {\n        case -1: \n            status.payload = 'card not found'\n            card.payload = { \n                number: '', \n                valid: { \n                    from: '', \n                    to: '' \n                }, \n                doors: { \n                    1: '', \n                    2: '', \n                    3: '', \n                    4: '' \n                    \n                } \n                \n            }\n            break\n            \n        case -2:\n            status.payload  = 'card deleted'\n            card.payload = { \n                number: '', \n                valid: { \n                    from: '', \n                    to: '' \n                }, \n                doors: { \n                    1: '', \n                    2: '', \n                    3: '', \n                    4: '' \n                    \n                } \n                \n            }\n            break\n    }\n}\n\nreturn [ status, card ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "d5de73fc.318b9"
            ],
            [
                "ed03620e.d9ff",
                "e7671a59.2c71c8"
            ]
        ]
    },
    {
        "id": "7fe3bec1.b4483",
        "type": "put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "uhppote": "d596ac54.cced",
        "x": 1400,
        "y": 260,
        "wires": [
            [
                "6a069f42.59c15",
                "8194bf5e.b9a13"
            ]
        ]
    },
    {
        "id": "83d878a.58b0188",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{ \"deviceId\": 405419896, \"card\": { \"number\":61532836, \"valid\": { \"from\":\"2019-01-02\", \"to\":\"2021-12-31\" }, \"doors\": { \"1\":true, \"2\":false, \"3\":true, \"4\":true } } }",
        "payloadType": "json",
        "x": 1230,
        "y": 220,
        "wires": [
            [
                "7fe3bec1.b4483"
            ]
        ]
    },
    {
        "id": "6a069f42.59c15",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 220,
        "wires": []
    },
    {
        "id": "9caadcc7.b679f",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst yyyymmdd = (d) => {\n    const year = format(d.getFullYear(), 4)\n    const month = format(d.getMonth()+1, 2)\n    const day = format(d.getDate(), 2)\n    \n    return year + '-' + month + '-' + day\n}\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('put-card.device', msg.payload)\n        break\n\n    case 'set-card-number':\n        flow.set('put-card.card.number', msg.payload)\n        break\n\n    case 'set-card-valid-from':\n        flow.set('put-card.card.valid.from', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-valid-to':\n        flow.set('put-card.card.valid.to', yyyymmdd(new Date(msg.payload)))\n        break\n\n    case 'set-card-doors-1':\n        flow.set('put-card.card.doors.1', msg.payload)\n        break    \n\n    case 'set-card-doors-2':\n        flow.set('put-card.card.doors.2', msg.payload)\n        break    \n\n    case 'set-card-doors-3':\n        flow.set('put-card.card.doors.3', msg.payload)\n        break    \n\n    case 'set-card-doors-4':\n        flow.set('put-card.card.doors.4', msg.payload)\n        break    \n        \n    case 'put-card':\n        const deviceId = flow.get('put-card.device')\n        const cardNumber = flow.get('put-card.card.number')\n        const validFrom = flow.get('put-card.card.valid.from')\n        const validTo = flow.get('put-card.card.valid.to')\n        const door1 = flow.get('put-card.card.doors.1')\n        const door2 = flow.get('put-card.card.doors.2')\n        const door3 = flow.get('put-card.card.doors.3')\n        const door4 = flow.get('put-card.card.doors.4')\n\n        console.log(deviceId, cardNumber, validFrom, validTo)\n        \n        if (deviceId && cardNumber && validFrom && validTo) {\n            msg.payload = { \n                deviceId: deviceId,\n                card: {\n                    number: cardNumber,\n                    valid: {\n                        from: validFrom,\n                        to: validTo\n                    },\n                    doors: {\n                        \"1\": door1 || false,\n                        \"2\": door2 || false,\n                        \"3\": door3 || false,\n                        \"4\": door4 || false\n                    }\n                }\n            }\n        \n            return msg\n        }\n        break\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "7fe3bec1.b4483",
                "e9d49988.690a08"
            ]
        ]
    },
    {
        "id": "46db6d43.a9d444",
        "type": "ui_text_input",
        "z": "2a36b650.4b9b7a",
        "name": "card.number",
        "label": "card number",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "set-card-number",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "cb6b878.02d9b78"
            ]
        ]
    },
    {
        "id": "83c1860b.02d9f8",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 6,
        "width": 1,
        "height": 1,
        "name": "label-from",
        "label": "from",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "70cb34bc.8def6c",
        "type": "ui_text",
        "z": "2a36b650.4b9b7a",
        "group": "80ebf5dd.1d2018",
        "order": 9,
        "width": 1,
        "height": 1,
        "name": "label-to",
        "label": "to",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "c18e5552.2e5a48",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "group": "80ebf5dd.1d2018",
        "order": 19,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "put-card",
        "x": 1040,
        "y": 560,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "8194bf5e.b9a13",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "func": "if (msg.payload.stored) {\n    msg.payload = 'card updated'\n} else {\n    msg.payload = 'error adding/updating card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1570,
        "y": 260,
        "wires": [
            [
                "191160b2.4d831f"
            ]
        ]
    },
    {
        "id": "e6da52cd.93a8e",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"cardNumber\": 61532836 }",
        "payloadType": "json",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "4ac01a83.a74ec4"
            ]
        ]
    },
    {
        "id": "e7473423.ef6728",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "card",
        "func": "switch (msg.topic) {\n    case 'set-device':\n        flow.set('delete-card.device', msg.payload)\n        break;\n\n    case 'set-card-number':\n        flow.set('delete-card.card.number', msg.payload)\n        break;\n        \n    case 'delete-card':\n        const deviceId = flow.get('delete-card.device')\n        const cardNumber = flow.get('delete-card.card.number')\n\n        if (deviceId && cardNumber) {\n            msg.payload = { \n                deviceId: deviceId,\n                cardNumber: cardNumber\n            }\n        \n            return msg\n        }\n        break        \n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "4ac01a83.a74ec4"
            ]
        ]
    },
    {
        "id": "4ac01a83.a74ec4",
        "type": "delete-card",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "uhppote": "d596ac54.cced",
        "x": 470,
        "y": 660,
        "wires": [
            [
                "d35026f6.29b788",
                "aad3691e.482588"
            ]
        ]
    },
    {
        "id": "d35026f6.29b788",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "e09b14f4.d89ca8",
        "type": "ui_button",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "group": "80ebf5dd.1d2018",
        "order": 20,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "delete-card",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "fe2f6f7f.53fd9",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "card-device",
        "links": [
            "f93335b9.2a2448",
            "93805387.eb6cd",
            "a74d4fc3.50b25"
        ],
        "x": 215,
        "y": 40,
        "wires": []
    },
    {
        "id": "f93335b9.2a2448",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 135,
        "y": 300,
        "wires": [
            [
                "6277cd72.6d7ea4"
            ]
        ]
    },
    {
        "id": "93805387.eb6cd",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 155,
        "y": 660,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "cb6b878.02d9b78",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "card-number",
        "links": [
            "bd883038.dbaac",
            "129b9c14.1aba94",
            "3036418d.f8557e"
        ],
        "x": 215,
        "y": 80,
        "wires": []
    },
    {
        "id": "bd883038.dbaac",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 135,
        "y": 340,
        "wires": [
            [
                "6277cd72.6d7ea4"
            ]
        ]
    },
    {
        "id": "129b9c14.1aba94",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 155,
        "y": 700,
        "wires": [
            [
                "e7473423.ef6728"
            ]
        ]
    },
    {
        "id": "a74d4fc3.50b25",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "fe2f6f7f.53fd9"
        ],
        "x": 1075,
        "y": 240,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "3036418d.f8557e",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "cb6b878.02d9b78"
        ],
        "x": 1075,
        "y": 280,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "f8233afa.37a5c8",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "card-status",
        "links": [
            "d5de73fc.318b9",
            "b00ce9c1.ba59d8",
            "191160b2.4d831f"
        ],
        "x": 315,
        "y": 40,
        "wires": [
            [
                "52a5b4e7.d2590c"
            ]
        ]
    },
    {
        "id": "d5de73fc.318b9",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 785,
        "y": 300,
        "wires": []
    },
    {
        "id": "b00ce9c1.ba59d8",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 755,
        "y": 660,
        "wires": []
    },
    {
        "id": "aad3691e.482588",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "func": "if (msg.payload.deleted) {\n    msg.payload = 'card deleted'\n} else {\n    msg.payload = 'error deleting card'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 660,
        "wires": [
            [
                "b00ce9c1.ba59d8"
            ]
        ]
    },
    {
        "id": "e70a1f2e.dcd39",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "card-from",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-from",
        "x": 1040,
        "y": 320,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "ed03620e.d9ff",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "valid-dates",
        "func": "const parse = function(s) {\n    const re = /^([0-9]{4})-([0-9]{2})-([0-9]{2})$/\n    const match = re.exec(s)\n    \n    if (match !== null && match.length > 3) {\n        const year = parseInt(match[1], 10)\n        const month = parseInt(match[2], 10)\n        const day = parseInt(match[3], 10)\n        const date = new Date()\n\n        date.setYear(year)\n        date.setMonth(month - 1)\n        date.setDate(day)\n        \n        return date\n    }\n    \n    return null\n}\n        \nif (msg.payload.valid) {\n    const from = parse(msg.payload.valid.from)\n    const to = parse(msg.payload.valid.to)\n    let p = null\n    let q = null\n\n    if (from !== null) {\n        p = { topic:msg.topic, payload:from }\n    }\n\n    if (to !== null) {\n        q = { topic:msg.topic, payload:to }\n    }\n\n    return [p,q]\n}\n\nreturn [null, null]\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 340,
        "wires": [
            [
                "e70a1f2e.dcd39"
            ],
            [
                "51e5131e.65bf4c"
            ]
        ]
    },
    {
        "id": "51e5131e.65bf4c",
        "type": "ui_date_picker",
        "z": "2a36b650.4b9b7a",
        "name": "card-to",
        "label": "",
        "group": "80ebf5dd.1d2018",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-card-valid-to",
        "x": 1040,
        "y": 360,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "191160b2.4d831f",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "links": [
            "f8233afa.37a5c8"
        ],
        "x": 1695,
        "y": 260,
        "wires": []
    },
    {
        "id": "6eac8a4e.b9baf4",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.1",
        "label": "entrance",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 12,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-1",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "e7671a59.2c71c8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "doors",
        "func": "if (msg.payload.doors) {\n    const door1 = { topic:msg.topic, payload:msg.payload.doors[\"1\"] }\n    const door2 = { topic:msg.topic, payload:msg.payload.doors[\"2\"] }\n    const door3 = { topic:msg.topic, payload:msg.payload.doors[\"3\"] }\n    const door4 = { topic:msg.topic, payload:msg.payload.doors[\"4\"] }\n\n    return [ door1, door2, door3, door4 ]\n}\n\nreturn [ null, null, null, null ]\n\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 810,
        "y": 460,
        "wires": [
            [
                "6eac8a4e.b9baf4"
            ],
            [
                "9eb1f7b1.8b0968"
            ],
            [
                "34ea4d9f.8c2892"
            ],
            [
                "81c28b36.1b34e8"
            ]
        ]
    },
    {
        "id": "9eb1f7b1.8b0968",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.2",
        "label": "workshop",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 14,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-2",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "34ea4d9f.8c2892",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.3",
        "label": "tower",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 16,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-3",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "81c28b36.1b34e8",
        "type": "ui_switch",
        "z": "2a36b650.4b9b7a",
        "name": "card.doors.4",
        "label": "dungeon",
        "tooltip": "",
        "group": "80ebf5dd.1d2018",
        "order": 18,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "set-card-doors-4",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "9caadcc7.b679f"
            ]
        ]
    },
    {
        "id": "e9d49988.690a08",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 320,
        "wires": []
    },
    {
        "id": "573f9bfa.7e4564",
        "type": "ui_group",
        "z": "",
        "name": "column-2",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "80ebf5dd.1d2018",
        "type": "ui_group",
        "z": "",
        "name": "card",
        "tab": "bb81af8b.a4ff7",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "detail",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb81af8b.a4ff7",
        "type": "ui_tab",
        "z": "",
        "name": "cards",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]