examples/dashboard.json
[
    {
        "id": "a640a000.d83cb",
        "type": "tab",
        "label": "get-devices",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f0ca7ab6.b09058",
        "type": "tab",
        "label": "get-xxx",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8bcf2d43.2e243",
        "type": "tab",
        "label": "set-xxx",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c56e1667.998748",
        "type": "tab",
        "label": "listen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "94dcacf5.b4e19",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "ea318236.7f96",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "db5795ea.c20108",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "uhppoted dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "none",
            "dateFormat": "YYYY-MM-DD",
            "sizes": {
                "sx": 48,
                "sy": 28,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ea318236.7f96",
        "type": "ui_tab",
        "z": "",
        "name": "overview",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "664471ed.acdea",
        "type": "ui_group",
        "z": "",
        "name": "303986753",
        "tab": "ea318236.7f96",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d2f384d6.885a08",
        "type": "ui_group",
        "z": "",
        "name": "controls",
        "tab": "ea318236.7f96",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "devices",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c03a3b24.d45c48",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "4999",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "f29b4883.377448",
        "type": "ui_tab",
        "z": "",
        "name": "events",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "659dc42b.91f43c",
        "type": "ui_group",
        "z": "",
        "name": "events",
        "tab": "f29b4883.377448",
        "order": 1,
        "disp": false,
        "width": 22,
        "collapse": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configuration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "828448f4.2dc598",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false
    },
    {
        "id": "209fd0d2.ccbba",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "828448f4.2dc598",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "ca1524a7.2ef138",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "828448f4.2dc598",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "7da88b2e.c66bc4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "828448f4.2dc598",
        "order": 6,
        "width": 9,
        "height": 1
    },
    {
        "id": "8926fe7d.aced6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "828448f4.2dc598",
        "order": 8,
        "width": 9,
        "height": 1
    },
    {
        "id": "42809d6c.daa414",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "828448f4.2dc598",
        "order": 9,
        "width": 13,
        "height": 1
    },
    {
        "id": "123139b4.1c4d86",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "828448f4.2dc598",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "6a470566.d4725c",
        "type": "get-devices",
        "z": "a640a000.d83cb",
        "name": "get-devices",
        "uhppote": "d596ac54.cced",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "31429769.0664e8",
                "6699677.c355098",
                "30341779.5c29e8"
            ]
        ]
    },
    {
        "id": "31429769.0664e8",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "82a8517a.6ef88",
        "type": "inject",
        "z": "a640a000.d83cb",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "6a470566.d4725c",
                "b36ac360.b2d72"
            ]
        ]
    },
    {
        "id": "f6ad52d3.c2e48",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "serial-number",
        "label": "Serial number:",
        "format": "{{device.serialNumber}}",
        "layout": "row-spread",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "bbb6a438.f22818",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "serial-number",
        "label": "Serial number:",
        "format": "{{device.serialNumber}}",
        "layout": "row-spread",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "bafadb7f.3afc08",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "address",
        "label": "Address:",
        "format": "{{device.address}}",
        "layout": "row-spread",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "39ee342f.a465ec",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "address",
        "label": "Address:",
        "format": "{{device.address}}",
        "layout": "row-spread",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "626c9a77.193a04",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "subnet",
        "label": "Subnet mask:",
        "format": "{{device.subnet}}",
        "layout": "row-spread",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "5b2ec683.3d2c38",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "subnet",
        "label": "Subnet mask:",
        "format": "{{device.subnet}}",
        "layout": "row-spread",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "6699677.c355098",
        "type": "function",
        "z": "a640a000.d83cb",
        "name": "405419896",
        "func": "for (i=0; i<msg.payload.length; i++) {\n    deviceId = msg.payload[i].deviceId\n    device = msg.payload[i].device;\n    if (deviceId == 405419896) {\n        return msg.payload[i];        \n    }\n}\n\nreturn { device: {} }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 80,
        "wires": [
            [
                "f6ad52d3.c2e48",
                "bafadb7f.3afc08",
                "626c9a77.193a04",
                "c6fd23f4.c50dd",
                "15d5ff89.9ac5b",
                "764b47ed.8d8fc8",
                "2f037ed3.618ec2"
            ]
        ]
    },
    {
        "id": "c6fd23f4.c50dd",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "gateway",
        "label": "Gateway:",
        "format": "{{device.gateway}}",
        "layout": "row-spread",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "30341779.5c29e8",
        "type": "function",
        "z": "a640a000.d83cb",
        "name": "303986753",
        "func": "for (i=0; i<msg.payload.length; i++) {\n    deviceId = msg.payload[i].deviceId\n    device = msg.payload[i].device;\n    if (deviceId == 303986753) {\n        return msg.payload[i];        \n    }\n}\n\nreturn { device: {} }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "bbb6a438.f22818",
                "39ee342f.a465ec",
                "5b2ec683.3d2c38",
                "47d113b.40769ec",
                "b1bd0325.bd849",
                "329e5483.d305bc",
                "79f990b5.78342"
            ]
        ]
    },
    {
        "id": "47d113b.40769ec",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "gateway",
        "label": "Gateway:",
        "format": "{{device.gateway}}",
        "layout": "row-spread",
        "x": 740,
        "y": 500,
        "wires": []
    },
    {
        "id": "15d5ff89.9ac5b",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "MAC",
        "label": "MAC address:",
        "format": "{{device.MAC}}",
        "layout": "row-spread",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1bd0325.bd849",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "MAC",
        "label": "MAC address:",
        "format": "{{device.MAC}}",
        "layout": "row-spread",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "764b47ed.8d8fc8",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "version",
        "label": "Version:",
        "format": "{{device.version}}",
        "layout": "row-spread",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "329e5483.d305bc",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "version",
        "label": "Version:",
        "format": "{{device.version}}",
        "layout": "row-spread",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "2f037ed3.618ec2",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "date",
        "label": "System date:",
        "format": "{{device.date}}",
        "layout": "row-spread",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "79f990b5.78342",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "date",
        "label": "System date:",
        "format": "{{device.date}}",
        "layout": "row-spread",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "a78a2bf0.74fbe8",
        "type": "ui_button",
        "z": "a640a000.d83cb",
        "name": "refresh",
        "group": "d2f384d6.885a08",
        "order": 7,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "6a470566.d4725c"
            ]
        ]
    },
    {
        "id": "b36ac360.b2d72",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "start",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "a308f042.ba17e",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "661f7370.91414c",
        "type": "inject",
        "z": "f0ca7ab6.b09058",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "cf961bd6.504938"
            ]
        ]
    },
    {
        "id": "d1910029.3c322",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "serial-number",
        "label": "Serial number:",
        "format": "{{device.serialNumber}}",
        "layout": "row-spread",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "b3759b8c.663488",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "address",
        "label": "Address:",
        "format": "{{device.address}}",
        "layout": "row-spread",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "b600fca7.8931e",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "subnet",
        "label": "Subnet mask:",
        "format": "{{device.subnet}}",
        "layout": "row-spread",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "883c8d8e.59439",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "gateway",
        "label": "Gateway:",
        "format": "{{device.gateway}}",
        "layout": "row-spread",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "23b47a89.08ab86",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "MAC",
        "label": "MAC address:",
        "format": "{{device.MAC}}",
        "layout": "row-spread",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "e26cb52b.2aee58",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "version",
        "label": "Version:",
        "format": "{{device.version}}",
        "layout": "row-spread",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "8666ad46.99a95",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "date",
        "label": "System date:",
        "format": "{{device.date}}",
        "layout": "row-spread",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "cf961bd6.504938",
        "type": "get-device",
        "z": "f0ca7ab6.b09058",
        "name": "get-device",
        "uhppote": "d596ac54.cced",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "a308f042.ba17e",
                "6114aece.3cdf7"
            ]
        ]
    },
    {
        "id": "32d4df8c.50c3e",
        "type": "ui_button",
        "z": "f0ca7ab6.b09058",
        "name": "refresh",
        "group": "c03a3b24.d45c48",
        "order": 1,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "405419896",
        "tooltip": "",
        "color": "",
        "bgcolor": "#A6BBCF",
        "icon": "fa-refresh",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "topic": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "cf961bd6.504938",
                "9c68ca5e.8a8ca8"
            ]
        ]
    },
    {
        "id": "6114aece.3cdf7",
        "type": "function",
        "z": "f0ca7ab6.b09058",
        "name": "",
        "func": "deviceId = msg.payload.deviceId\ndevice = msg.payload.device;\n    \nif (deviceId == 405419896) {\n    return { device: msg.payload.device }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 80,
        "wires": [
            [
                "d1910029.3c322",
                "b3759b8c.663488",
                "b600fca7.8931e",
                "883c8d8e.59439",
                "23b47a89.08ab86",
                "e26cb52b.2aee58",
                "8666ad46.99a95"
            ]
        ]
    },
    {
        "id": "18a61437.de498c",
        "type": "listen",
        "z": "c56e1667.998748",
        "name": "listen",
        "uhppote": "d596ac54.cced",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "b8dcd439.9a0448",
                "d378e1d6.40fe9"
            ]
        ]
    },
    {
        "id": "b8dcd439.9a0448",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "b9a22810.4f89d8",
        "type": "ui_table",
        "z": "c56e1667.998748",
        "group": "659dc42b.91f43c",
        "name": "",
        "order": 1,
        "width": "22",
        "height": "16",
        "columns": [
            {
                "field": "timestamp",
                "title": "Timestamp",
                "width": "176",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "type",
                "title": "Event Type",
                "width": "144",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "granted",
                "title": "Granted?",
                "width": "112",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "door",
                "title": "Door",
                "width": "112",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "direction",
                "title": "Direction",
                "width": "112",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "reason",
                "title": "Reason",
                "width": "240",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "forceLock",
                "title": "Force Locked?",
                "width": "144",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fireAlarm",
                "title": "Fire Alarm",
                "width": "112",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 490,
        "y": 80,
        "wires": []
    },
    {
        "id": "d378e1d6.40fe9",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "",
        "func": "const events = context.get('events') || []\nconst doors = flow.get('doors')\n\nconst event = msg.payload.event\nconst timestamp = event.event.timestamp\nconst eventType = event.event.type.event.toUpperCase()\nconst granted = event.event.granted\nconst direction = event.event.direction.direction.toUpperCase()\nconst reason = event.event.reason.reason.toUpperCase()\nconst forceLock = event.inputs.forceLock\nconst fireAlarm = event.inputs.fireAlarm\nconst door = doors[event.event.door] || '???'\n\nconst item = {\n    'timestamp': timestamp,\n    'type': eventType,\n    'granted': granted,\n    'door': door,\n    'direction': direction,\n    'reason': reason,\n    'forceLock': forceLock,\n    'fireAlarm': fireAlarm\n}\n    \nevents.push(item)\n\nif (events.length > 32) {\n    events.shift()\n}\n\ncontext.set('events', events)\n\n// msg.payload = events\n\nmsg.payload = {\n    'command': 'setData',\n    'arguments': [ events, false ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "const doors = {\n    1: 'ENTRANCE',\n    2: 'WORKSHOP',\n    3: 'UPSTAIRS',\n    4: 'LABORATORY'\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "b9a22810.4f89d8"
            ]
        ]
    },
    {
        "id": "c601d685.422838",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "da41e071.55ece",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"192.168.1.100\",\"subnet\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
        "payloadType": "json",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "75c8e264.6e9a3c",
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "45ee145d.a3525c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "IPv4",
        "func": "const deviceId = 405419896\n\nswitch (msg.topic) {\n    case 'set-address':\n        flow.set('set-address.address', msg.payload)\n        return null;\n\n    case 'set-subnet':\n        flow.set('set-address.subnet', msg.payload)\n        return null;\n\n    case 'set-gateway':\n        flow.set('set-address.gateway', msg.payload)\n        return null;\n        \n    case 'set':\n        let address = flow.get('set-address.address')\n        let subnet = flow.get('set-address.subnet')\n        let gateway = flow.get('set-address.gateway')\n\n        if (!address) {\n          address = '192.168.1.100'\n        }\n\n        if (!subnet) {\n          subnet = '255.255.255.20'\n        }\n\n        if (!gateway) {\n          gateway = '192.168.1.1'\n        }\n\n        msg.payload = {\n           deviceId: deviceId,\n           address: address,\n           subnet: subnet,\n           gateway: gateway\n        }        \n        \n        return msg\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "2a10c0a9.e8d6"
            ]
        ]
    },
    {
        "id": "2a10c0a9.e8d6",
        "type": "set-address",
        "z": "8bcf2d43.2e243",
        "name": "set-address",
        "uhppote": "d596ac54.cced",
        "x": 650,
        "y": 120,
        "wires": [
            [
                "c601d685.422838"
            ]
        ]
    },
    {
        "id": "7a342239.47727c",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "initialise",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"192.168.1.100\",\"subnet\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
        "payloadType": "json",
        "x": 100,
        "y": 20,
        "wires": [
            [
                "43a592be.9cc00c"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "9c68ca5e.8a8ca8",
        "type": "get-time",
        "z": "f0ca7ab6.b09058",
        "name": "get-time",
        "uhppote": "d596ac54.cced",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "863fa500.867e88",
                "3912848d.1eb2cc"
            ]
        ]
    },
    {
        "id": "863fa500.867e88",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "date/time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "4a110e49.51384",
        "type": "inject",
        "z": "f0ca7ab6.b09058",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "9c68ca5e.8a8ca8"
            ]
        ]
    },
    {
        "id": "3912848d.1eb2cc",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "datetime",
        "label": "get-time",
        "format": "{{msg.payload.datetime}}",
        "layout": "row-spread",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "d979664f.2fc508",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "6d1cf10c.ff47",
                "17d31cd9.bc3053"
            ]
        ]
    },
    {
        "id": "53ee8284.a9ac0c",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "a89af1fe.70029",
        "type": "set-time",
        "z": "8bcf2d43.2e243",
        "name": "set-time",
        "uhppote": "d596ac54.cced",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "53ee8284.a9ac0c"
            ]
        ]
    },
    {
        "id": "7a6c819b.77775",
        "type": "ui_button",
        "z": "8bcf2d43.2e243",
        "name": "set-time",
        "group": "828448f4.2dc598",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "set date/time",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "set",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "6d1cf10c.ff47"
            ]
        ]
    },
    {
        "id": "a101c589.608118",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "time",
        "label": "",
        "tooltip": "",
        "group": "828448f4.2dc598",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "time",
        "delay": "0",
        "topic": "set-time",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "6d1cf10c.ff47"
            ]
        ]
    },
    {
        "id": "428a0105.ac3c6",
        "type": "ui_date_picker",
        "z": "8bcf2d43.2e243",
        "name": "date",
        "label": "",
        "group": "828448f4.2dc598",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-date",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "6d1cf10c.ff47"
            ]
        ]
    },
    {
        "id": "6d1cf10c.ff47",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "datetime",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst deviceId = 405419896\n\nswitch (msg.topic) {\n    case 'set-date':\n        flow.set('set-time.date', new Date(msg.payload))\n        return null;\n\n    case 'set-time':\n        const dt = new Date(msg.payload)\n        const tz = dt.getTimezoneOffset()\n        flow.set('set-time.time', new Date(msg.payload + tz*60*1000))\n        return null;\n        \n    case 'set':\n        let date = flow.get('set-time.date')\n        let time = flow.get('set-time.time')\n\n        if (!date) {\n          date = new Date()\n        }\n\n        if (!time) {\n          time = new Date()\n        }\n\n        const year = format(date.getFullYear(), 4)\n        const month = format(date.getMonth()+1, 2)\n        const day = format(date.getDate(), 2)\n        const hours = format(time.getHours(), 2)\n        const minutes = format(time.getMinutes(), 2)\n        const seconds = format(time.getSeconds(), 2)\n\n        msg.payload = { \n            deviceId: deviceId,\n            datetime: year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds\n        }\n        \n        return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 320,
        "wires": [
            [
                "a89af1fe.70029"
            ]
        ]
    },
    {
        "id": "75c8e264.6e9a3c",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "start",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "17d31cd9.bc3053",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "start",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "b6a91dc2.1e37",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "address",
        "label": "address",
        "tooltip": "",
        "group": "828448f4.2dc598",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "address",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "c5052b18.578d98",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "subnet",
        "label": "subnet",
        "tooltip": "",
        "group": "828448f4.2dc598",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "subnet",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "5b16f8e7.972fb8",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "gateway",
        "label": "gateway",
        "tooltip": "",
        "group": "828448f4.2dc598",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "gateway",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "e88b8d2a.efd4d",
        "type": "ui_button",
        "z": "8bcf2d43.2e243",
        "name": "set-address",
        "group": "828448f4.2dc598",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "set IPv4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "set",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "43a592be.9cc00c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "initialise",
        "func": "const address = { topic:'address', payload:'192.168.1.100' }\nconst subnet = { topic:'subnet', payload:'255.255.255.0' }\nconst gateway = { topic:'gateway', payload:'192.168.1.1' }\n\nreturn [address, subnet, gateway]",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "b6a91dc2.1e37"
            ],
            [
                "c5052b18.578d98"
            ],
            [
                "5b16f8e7.972fb8"
            ]
        ]
    }
]