examples/doors.json
[
    {
        "id": "86bbf50e.a7f188",
        "type": "tab",
        "label": "doors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2046730f.81897c",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "door 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "7317e0e6.862af",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "292b6aca.7aa1e6"
            ]
        ]
    },
    {
        "id": "d0069706.de5418",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "58853d00.4f7b14",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "door-1",
        "label": "Entrance",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "1d446f7d.8d4dd1",
        "type": "link in",
        "z": "86bbf50e.a7f188",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 80,
        "wires": [
            [
                "292b6aca.7aa1e6"
            ]
        ]
    },
    {
        "id": "bedb99cc.cc0768",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "uhppote": "d596ac54.cced",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "d0069706.de5418",
                "2046730f.81897c"
            ]
        ]
    },
    {
        "id": "292b6aca.7aa1e6",
        "type": "function",
        "z": "86bbf50e.a7f188",
        "name": "doors",
        "func": "entrance = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 1\n    }\n}\n\nworkshop = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 2\n    }\n}\n\ntower = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 3\n    }\n}\n\ndungeon = {\n    topic: msg.topic,\n    payload: {\n        deviceId: msg.payload.deviceId,\n        door: 4\n    }\n}\n\nreturn [ entrance, workshop, tower, dungeon ];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "bedb99cc.cc0768"
            ],
            [
                "e7e0d04a.234f7"
            ],
            [
                "c1762251.eb596"
            ],
            [
                "77f19a6f.95b404"
            ]
        ]
    },
    {
        "id": "315cefc9.048fa",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "58853d00.4f7b14",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "door-2",
        "label": "Workshop",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "e7e0d04a.234f7",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "uhppote": "d596ac54.cced",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "315cefc9.048fa"
            ]
        ]
    },
    {
        "id": "b42f80aa.aebdd",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "58853d00.4f7b14",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "door-3",
        "label": "Tower",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "c1762251.eb596",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "uhppote": "d596ac54.cced",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "b42f80aa.aebdd"
            ]
        ]
    },
    {
        "id": "87126e15.ad945",
        "type": "ui_text",
        "z": "86bbf50e.a7f188",
        "group": "58853d00.4f7b14",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "door-4",
        "label": "Dungeon",
        "format": "{{msg.payload.doorControlState.delay}}s, {{msg.payload.doorControlState.state}}",
        "layout": "row-spread",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "77f19a6f.95b404",
        "type": "get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "uhppote": "d596ac54.cced",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "87126e15.ad945"
            ]
        ]
    },
    {
        "id": "58853d00.4f7b14",
        "type": "ui_group",
        "z": "",
        "name": "doors",
        "tab": "2731970.74c476a",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "4999",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "devices",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]