examples/examples.json
[
    {
        "id": "a640a000.d83cb",
        "type": "tab",
        "label": "1-get-devices",
        "disabled": false,
        "info": "# get-devices: basic example\n\nIssues a _get-devices_ broadcast command and displays the received information for the access controller with serial number 405419896.\n\nThe _get-devices_ flow in the _dashboard_ flowset contains a more complete example."
    },
    {
        "id": "f0ca7ab6.b09058",
        "type": "tab",
        "label": "2-get-device",
        "disabled": false,
        "info": "# get-device: basic example\n\nIssues a _get-device_ command to the controller with serial number 405419896.\n\nThe _get-device_ flow in the _dashboard_ flowset contains a more complete example."
    },
    {
        "id": "8bcf2d43.2e243",
        "type": "tab",
        "label": "3-IPv4",
        "disabled": false,
        "info": "# set-ip: basic example\n\nIssues a _set-ip_ command to set the IPv4 address, netmask and gateway for the controller with serial number 405419896.\n\nThe _IPv4_ flow in the _dashboard_ flowset contains a more complete example."
    },
    {
        "id": "c56e1667.998748",
        "type": "tab",
        "label": "4-listen",
        "disabled": false,
        "info": "# event-listener: basic examples\n\nBasic examples for the _listen_, _get-listener_ and _set-listener_ nodes.\n\n - The _listen_ example establishes a listening node on startup that publishes received events to the debug window\n\n - the _get-listener_ example retrieves the current event listener IP address and port for the controller with serial number 405419896.\n\n - the _set-listener_ example sets '192.168.1.100:60001' as the event listener IP address and port for the controller with serial number 405419896.\n\nThe _listen_ flow in the _dashboard_ flowset contains a more complete example.\n"
    },
    {
        "id": "b2b669ed.2b50b8",
        "type": "tab",
        "label": "5-status",
        "disabled": false,
        "info": "# get-status: basic example\n\nIssues a _get-status_ command to the controller with serial number 405419896 and publishes the received status to the debug pane.\n\nThe _status_ flow in the _dashboard_ flowset contains a more complete example."
    },
    {
        "id": "f7a455cc.3fefe8",
        "type": "tab",
        "label": "6-time",
        "disabled": false,
        "info": "# system date/time: basic examples\n\nBasic examples for the _get-time_ and _set-time_ nodes.\n\n - the _get-time_ example retrieves the current system date and time from the controller with serial number 405419896.\n\n - the _set-time_ example sets the system date and time for the controller with serial number 405419896 to the current time\n\nThe _time_ flow in the _dashboard_ flowset contains a more complete example."
    },
    {
        "id": "86bbf50e.a7f188",
        "type": "tab",
        "label": "7-doors",
        "disabled": false,
        "info": "# door control: basic examples\n\nBasic examples for the _get-door-control_, _set-door-control_ and _open-door_ nodes.\n\n - the _get-door-control_ example retrieves the current open delay to 5 seconds and control state for door 1 from the controller with serial number 405419896.\n\n - the _set-door-control_ example sets the open delay to 5 seconds and control state to 'normally closed' for door 1 on the controller with serial number 405419896.\n\n - the _open-door_ example opens door 1 on the controller with serial number 405419896 to the current time\n\nThe _doors_ flow in the _dashboard_ flowset contains a more complete example."
    },
    {
        "id": "2a36b650.4b9b7a",
        "type": "tab",
        "label": "8-cards",
        "disabled": false,
        "info": "# card management: basic examples\n\nBasic examples for the _get-cards_, _get-card_, _get-card-by-index_, _put-card_, _delete-card_ and _delete-cards_ nodes.\n\n - the _get-cards_ example retrieves the number of stored card records from the controller with serial number 405419896.\n\n - the _get-card_ example retrieves the card record for card number 65538 from the controller with serial number 405419896.\n\n- the _get-card-by-index_ example retrieves the card record at record #3 from the controller with serial number 405419896.\n\n - the _put-card_ example stores card number 61532836 (valid from 2021-01-01 to 2021-13-31 and with access to doors 1, 3 and 4) to the controller with serial number 405419896.\n\n - the _delete-card_ example deletes the card record for card number 61532836 from the controller with serial number 405419896.\n\n - the _delete-cards_ example deletes all card records from the controller with serial number 405419896.\n\nThe _cards_ flow in the _dashboard_ flowset contains a more complete example."
    },
    {
        "id": "590b5d52.6f70e4",
        "type": "tab",
        "label": "9-time-profiles",
        "disabled": false,
        "info": ""
    },
    {
        "id": "66c3d22e.434c7c",
        "type": "tab",
        "label": "10-tasklist",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5da19a5.72a0c8",
        "type": "tab",
        "label": "11-events",
        "disabled": false,
        "info": "# event retrieval: basic examples\n\nBasic examples for the _get-event-index_, _set-event-index_ and _get-event_ nodes.\n\n - the _get-event-index_ example retrieves the current 'downloaded event index' from the controller with serial number 405419896.\n\n - the _set-event-index_ example set the 'downloaded event index' to 17 for the controller with serial number 405419896.\n\n - the _get-event_ example retrieves the event record at record #3 from the controller with serial number 405419896.\n\nThe _events_ flow in the _dashboard_ flowset contains a more complete example."
    },
    {
        "id": "084b05a6c596f92a",
        "type": "tab",
        "label": "12-set-pc-control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17ac43b079dc0788",
        "type": "tab",
        "label": "13-set-interlock",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "093e8f2cad65974a",
        "type": "tab",
        "label": "14-restore-default-parameters",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf35d9904542f0af",
        "type": "uhppoted-config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    },
    {
        "id": "31429769.0664e8",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "82a8517a.6ef88",
        "type": "inject",
        "z": "a640a000.d83cb",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test-get-controllers",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "fa5c3f4666ddf394"
            ]
        ]
    },
    {
        "id": "6699677.c355098",
        "type": "function",
        "z": "a640a000.d83cb",
        "name": "parse",
        "func": "for (i=0; i<msg.payload.length; i++) {\n    deviceId = msg.payload[i].deviceId\n    device = msg.payload[i].device;\n    if (deviceId == 405419896) {\n        return msg.payload[i];        \n    }\n}\n\nreturn { device: {} }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "86fc5747.ceaf78",
                "27be4ab8.2eac96",
                "301b11ef.dbf73e",
                "10c3ab90.e85124",
                "5707c80e.570f78",
                "86dd1102.ee59d",
                "c6be71d1.b0f19"
            ]
        ]
    },
    {
        "id": "86fc5747.ceaf78",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "serial-number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.serialNumber",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "27be4ab8.2eac96",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "address",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.address",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "301b11ef.dbf73e",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "netmask",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.netmask",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "10c3ab90.e85124",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "gateway",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.gateway",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "5707c80e.570f78",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "MAC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.MAC",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "86dd1102.ee59d",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "version",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.version",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "c6be71d1.b0f19",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "date",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.date",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "fa5c3f4666ddf394",
        "type": "uhppoted-get-devices",
        "z": "a640a000.d83cb",
        "name": "get-devices",
        "topic": "get-devices",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "31429769.0664e8",
                "6699677.c355098"
            ]
        ]
    },
    {
        "id": "a308f042.ba17e",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "661f7370.91414c",
        "type": "inject",
        "z": "f0ca7ab6.b09058",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "cf961bd6.504938"
            ]
        ]
    },
    {
        "id": "cf961bd6.504938",
        "type": "uhppoted-get-device",
        "z": "f0ca7ab6.b09058",
        "name": "get-device",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "a308f042.ba17e",
                "6114aece.3cdf7"
            ]
        ]
    },
    {
        "id": "6114aece.3cdf7",
        "type": "function",
        "z": "f0ca7ab6.b09058",
        "name": "parse",
        "func": "return { \n    device: msg.payload.device \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "58ed0404.db248c",
                "61911f03.0d3d8",
                "d091e3d4.0b37",
                "97b9824d.da92d",
                "b539bbe4.6eb9d8",
                "8e4bb15a.08e78",
                "73a68892.3598d8"
            ]
        ]
    },
    {
        "id": "58ed0404.db248c",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "serial-number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.serialNumber",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "61911f03.0d3d8",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "address",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.address",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "d091e3d4.0b37",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "netmask",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.netmask",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "97b9824d.da92d",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "gateway",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.gateway",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "b539bbe4.6eb9d8",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "MAC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.MAC",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "8e4bb15a.08e78",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "version",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.version",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "73a68892.3598d8",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "date",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.date",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "78a35c24f5a1f2f7",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 400,
        "wires": []
    },
    {
        "id": "4cfaeb95fa7b0084",
        "type": "inject",
        "z": "f0ca7ab6.b09058",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "f12b1459d211e6d6"
            ]
        ]
    },
    {
        "id": "f12b1459d211e6d6",
        "type": "uhppoted-get-device",
        "z": "f0ca7ab6.b09058",
        "name": "get-device-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 440,
        "wires": [
            [
                "78a35c24f5a1f2f7",
                "0d89280c91e6ae59"
            ]
        ]
    },
    {
        "id": "0d89280c91e6ae59",
        "type": "function",
        "z": "f0ca7ab6.b09058",
        "name": "parse",
        "func": "return { \n    device: msg.payload.device \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 440,
        "wires": [
            [
                "89ee4a2a3e4d6c87",
                "a911f784db14c6c8",
                "275f60f1abfe2775",
                "187dee1670747667",
                "48197925f3624535",
                "a2148856d751e8bd",
                "7dad7ae5d17ae824"
            ]
        ]
    },
    {
        "id": "89ee4a2a3e4d6c87",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "serial-number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.serialNumber",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "a911f784db14c6c8",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "address",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.address",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "275f60f1abfe2775",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "netmask",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.netmask",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 520,
        "wires": []
    },
    {
        "id": "187dee1670747667",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "gateway",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.gateway",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "48197925f3624535",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "MAC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.MAC",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 600,
        "wires": []
    },
    {
        "id": "a2148856d751e8bd",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "version",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.version",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 640,
        "wires": []
    },
    {
        "id": "7dad7ae5d17ae824",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "date",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.date",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 680,
        "wires": []
    },
    {
        "id": "c601d685.422838",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "da41e071.55ece",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-address",
        "payload": "{\"deviceId\":405419896,\"address\":\"192.168.1.125\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "13a984d5.221c9b"
            ]
        ]
    },
    {
        "id": "13a984d5.221c9b",
        "type": "uhppoted-set-ip",
        "z": "8bcf2d43.2e243",
        "name": "set-ip",
        "config": "cf35d9904542f0af",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "c601d685.422838"
            ]
        ]
    },
    {
        "id": "f6a34498213a5766",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "b267a94cc5f28f8e",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-address",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"address\":\"192.168.1.125\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
        "payloadType": "json",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "2312b07b0bdde6e8"
            ]
        ]
    },
    {
        "id": "2312b07b0bdde6e8",
        "type": "uhppoted-set-ip",
        "z": "8bcf2d43.2e243",
        "name": "set-ip-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "f6a34498213a5766"
            ]
        ]
    },
    {
        "id": "b94136c7.ef3808",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "19dfdabc.2fc645",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "75e6f5f0.c7e47c"
            ]
        ]
    },
    {
        "id": "75e6f5f0.c7e47c",
        "type": "uhppoted-get-listener",
        "z": "c56e1667.998748",
        "name": "get-listener",
        "config": "cf35d9904542f0af",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "b94136c7.ef3808",
                "4a5cf0bf.725ff",
                "e37a3ee9.78969"
            ]
        ]
    },
    {
        "id": "48b92667.8a59b8",
        "type": "uhppoted-set-listener",
        "z": "c56e1667.998748",
        "name": "set-listener",
        "config": "cf35d9904542f0af",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "8463e096.b3a5f"
            ]
        ]
    },
    {
        "id": "87c6a583.0bc8c8",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-listener",
        "payload": "{\"deviceId\":405419896,\"address\":\"192.168.1.100\",\"port\":60001}",
        "payloadType": "json",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "48b92667.8a59b8"
            ]
        ]
    },
    {
        "id": "8463e096.b3a5f",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 480,
        "wires": []
    },
    {
        "id": "4a5cf0bf.725ff",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "listener-address",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.address",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "e37a3ee9.78969",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "listener-port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.port",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "18a61437.de498c",
        "type": "uhppoted-listen",
        "z": "c56e1667.998748",
        "name": "listen",
        "config": "cf35d9904542f0af",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "b8dcd439.9a0448"
            ]
        ]
    },
    {
        "id": "b8dcd439.9a0448",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "08829fbbe177a0e2",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "86aa48a9e620c6cf",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "c7466e083310bf9b"
            ]
        ]
    },
    {
        "id": "c7466e083310bf9b",
        "type": "uhppoted-get-listener",
        "z": "c56e1667.998748",
        "name": "get-listener-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "08829fbbe177a0e2",
                "ab8db78b320eb9fb",
                "855631832896d28c"
            ]
        ]
    },
    {
        "id": "ab8db78b320eb9fb",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "listener-address",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.address",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "855631832896d28c",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "listener-port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.port",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "8dc08c333b80e03c",
        "type": "uhppoted-set-listener",
        "z": "c56e1667.998748",
        "name": "set-listener-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 540,
        "wires": [
            [
                "9654600eb7374f06"
            ]
        ]
    },
    {
        "id": "22512f8ce8fabe30",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-listener",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"address\":\"192.168.1.100\",\"port\":60001}",
        "payloadType": "json",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "8dc08c333b80e03c"
            ]
        ]
    },
    {
        "id": "9654600eb7374f06",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "2dc88a53.cf8646",
        "type": "inject",
        "z": "b2b669ed.2b50b8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "1d2d547f.68acbc"
            ]
        ]
    },
    {
        "id": "1d2d547f.68acbc",
        "type": "uhppoted-get-status",
        "z": "b2b669ed.2b50b8",
        "name": "get-status",
        "config": "cf35d9904542f0af",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "52d5b0c5.0e178",
                "66b13a53.2d40c4"
            ]
        ]
    },
    {
        "id": "52d5b0c5.0e178",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "66b13a53.2d40c4",
        "type": "function",
        "z": "b2b669ed.2b50b8",
        "name": "parse",
        "func": "return { state: msg.payload.state }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "ef31d4ba.63efa8",
                "29ce6298.a64dbe",
                "556bdbce.b524f4",
                "6111d895.7465d8",
                "4fb75951.33bd28",
                "b2228a25.b93978",
                "cd1868d9.6cea48",
                "e838e0df.3d412",
                "a0e71bbf.291688",
                "ae4ad5b4.12a328",
                "68b25cad.09ccb4",
                "8dcc56b2.9d3838",
                "b6e7e1e1.f8ea5",
                "b67b2038.bdb01",
                "8e8ff17a.6d6b9",
                "87389d80.11682",
                "69fc31ff.ef909",
                "16fccb9a.92d2e4",
                "ad99bfe8.44984",
                "1d9c039d.3e3e1c",
                "6a7fa162.6c726",
                "6d6a1058.fbb0d",
                "8927a0c3.ec594",
                "dbbde5d.034b118",
                "26e811ba.7bad4e",
                "b0a7a2ad.4e775"
            ]
        ]
    },
    {
        "id": "ef31d4ba.63efa8",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "serial-number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.serialNumber",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "29ce6298.a64dbe",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.index",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.index",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "556bdbce.b524f4",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.type",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.type.event",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "6111d895.7465d8",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.granted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.granted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "4fb75951.33bd28",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.door",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.door",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "b2228a25.b93978",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.direction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.direction.direction",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "cd1868d9.6cea48",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.card",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.card",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "e838e0df.3d412",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.timestamp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.timestamp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "a0e71bbf.291688",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 580,
        "wires": []
    },
    {
        "id": "ae4ad5b4.12a328",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[2]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 620,
        "wires": []
    },
    {
        "id": "68b25cad.09ccb4",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[3]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 660,
        "wires": []
    },
    {
        "id": "8dcc56b2.9d3838",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[4]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "b6e7e1e1.f8ea5",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 760,
        "wires": []
    },
    {
        "id": "b67b2038.bdb01",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[2]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 800,
        "wires": []
    },
    {
        "id": "8e8ff17a.6d6b9",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[3]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 840,
        "wires": []
    },
    {
        "id": "87389d80.11682",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[4]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 880,
        "wires": []
    },
    {
        "id": "69fc31ff.ef909",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "system-status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.system.status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "16fccb9a.92d2e4",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "system-date",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.system.date",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "ad99bfe8.44984",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "system-time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.system.time",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "1d9c039d.3e3e1c",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "special-info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.specialInfo",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6a7fa162.6c726",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 940,
        "wires": []
    },
    {
        "id": "6d6a1058.fbb0d",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[2]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 980,
        "wires": []
    },
    {
        "id": "8927a0c3.ec594",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[3]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1020,
        "wires": []
    },
    {
        "id": "dbbde5d.034b118",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[4]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1060,
        "wires": []
    },
    {
        "id": "26e811ba.7bad4e",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "force-locked",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.inputs.forceLock",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b0a7a2ad.4e775",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "fire-alarm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.inputs.fireAlarm",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1200,
        "wires": []
    },
    {
        "id": "345ecd1b51ecbc87",
        "type": "inject",
        "z": "b2b669ed.2b50b8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "c1164d125de7fb37"
            ]
        ]
    },
    {
        "id": "c1164d125de7fb37",
        "type": "uhppoted-get-status",
        "z": "b2b669ed.2b50b8",
        "name": "get-status-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 1300,
        "wires": [
            [
                "2e609672fca503b4",
                "b3049e97d6eb10b3"
            ]
        ]
    },
    {
        "id": "2e609672fca503b4",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b3049e97d6eb10b3",
        "type": "function",
        "z": "b2b669ed.2b50b8",
        "name": "parse",
        "func": "return { state: msg.payload.state }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 1300,
        "wires": [
            [
                "69b6ec9fb1d10244",
                "5d5a95168609a422",
                "d3a9cc5fbe07cc3b",
                "1521f0c3fd005973",
                "c8b9e01ec5a83858",
                "84f9f9764b4b0690",
                "037b3dbebb4574a3",
                "113eccacb4cea2f7",
                "69453707d42e5ed3",
                "18abe547973b519f",
                "163ec66be18d463e",
                "cfea5f409b4f6243",
                "f498fa8b18422b86",
                "d24d8b37e20e3500",
                "3e7d0addebab604e",
                "4b1ec7e98f25c2a2",
                "a8ea916d89968b03",
                "f432cc6d8b131fed",
                "615909d136e8f7dd",
                "adfd5f91def67099",
                "133244519101cb1b",
                "335d229ae14945f7",
                "da3c44fcdb97cb69",
                "3a65bcf75b53d77b",
                "0cbb9275551f2cad",
                "a80e23e04ab53354"
            ]
        ]
    },
    {
        "id": "69b6ec9fb1d10244",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "serial-number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.serialNumber",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1300,
        "wires": []
    },
    {
        "id": "5d5a95168609a422",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.index",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.index",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d3a9cc5fbe07cc3b",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.type",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.type.event",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1520,
        "wires": []
    },
    {
        "id": "1521f0c3fd005973",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.granted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.granted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1560,
        "wires": []
    },
    {
        "id": "c8b9e01ec5a83858",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.door",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.door",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1600,
        "wires": []
    },
    {
        "id": "84f9f9764b4b0690",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.direction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.direction.direction",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1640,
        "wires": []
    },
    {
        "id": "037b3dbebb4574a3",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.card",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.card",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1680,
        "wires": []
    },
    {
        "id": "113eccacb4cea2f7",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.timestamp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.timestamp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1720,
        "wires": []
    },
    {
        "id": "69453707d42e5ed3",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1780,
        "wires": []
    },
    {
        "id": "18abe547973b519f",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[2]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1820,
        "wires": []
    },
    {
        "id": "163ec66be18d463e",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[3]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1860,
        "wires": []
    },
    {
        "id": "cfea5f409b4f6243",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[4]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1900,
        "wires": []
    },
    {
        "id": "f498fa8b18422b86",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1960,
        "wires": []
    },
    {
        "id": "d24d8b37e20e3500",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[2]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 2000,
        "wires": []
    },
    {
        "id": "3e7d0addebab604e",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[3]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 2040,
        "wires": []
    },
    {
        "id": "4b1ec7e98f25c2a2",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[4]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 2080,
        "wires": []
    },
    {
        "id": "a8ea916d89968b03",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "system-status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.system.status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1340,
        "wires": []
    },
    {
        "id": "f432cc6d8b131fed",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "system-date",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.system.date",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1380,
        "wires": []
    },
    {
        "id": "615909d136e8f7dd",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "system-time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.system.time",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1420,
        "wires": []
    },
    {
        "id": "adfd5f91def67099",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "special-info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.specialInfo",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 2320,
        "wires": []
    },
    {
        "id": "133244519101cb1b",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 2140,
        "wires": []
    },
    {
        "id": "335d229ae14945f7",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[2]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 2180,
        "wires": []
    },
    {
        "id": "da3c44fcdb97cb69",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[3]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 2220,
        "wires": []
    },
    {
        "id": "3a65bcf75b53d77b",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[4]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 2260,
        "wires": []
    },
    {
        "id": "0cbb9275551f2cad",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "force-locked",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.inputs.forceLock",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 2360,
        "wires": []
    },
    {
        "id": "a80e23e04ab53354",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "fire-alarm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.inputs.fireAlarm",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 2400,
        "wires": []
    },
    {
        "id": "6a3d799.3fe3688",
        "type": "uhppoted-get-time",
        "z": "f7a455cc.3fefe8",
        "name": "get-time",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "2c2ab991.619516",
                "cab00341.6e077"
            ]
        ]
    },
    {
        "id": "2c2ab991.619516",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "d84c21e5.b2692",
        "type": "inject",
        "z": "f7a455cc.3fefe8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "6a3d799.3fe3688"
            ]
        ]
    },
    {
        "id": "9d254489.c08578",
        "type": "inject",
        "z": "f7a455cc.3fefe8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-time",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "50ebe86.e579018"
            ]
        ]
    },
    {
        "id": "804a318e.14ddb",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "ea3bdfee.bf0d1",
        "type": "uhppoted-set-time",
        "z": "f7a455cc.3fefe8",
        "name": "set-time",
        "config": "cf35d9904542f0af",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "804a318e.14ddb"
            ]
        ]
    },
    {
        "id": "cab00341.6e077",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "date-time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.datetime",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "50ebe86.e579018",
        "type": "function",
        "z": "f7a455cc.3fefe8",
        "name": "format",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst datetime = new Date()\n\nconst year = format(datetime.getFullYear(), 4)\nconst month = format(datetime.getMonth()+1, 2)\nconst day = format(datetime.getDate(), 2)\nconst hours = format(datetime.getHours(), 2)\nconst minutes = format(datetime.getMinutes(), 2)\nconst seconds = format(datetime.getSeconds(), 2)\n\nmsg.payload = { \n    deviceId: 405419896,\n    datetime: year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds\n}\n        \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "ea3bdfee.bf0d1"
            ]
        ]
    },
    {
        "id": "296aa0e2884f2bf7",
        "type": "uhppoted-get-time",
        "z": "f7a455cc.3fefe8",
        "name": "get-time-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "d6bd38fff41a5cf4",
                "fe1664d755f2e926"
            ]
        ]
    },
    {
        "id": "d6bd38fff41a5cf4",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "71e32904692a6463",
        "type": "inject",
        "z": "f7a455cc.3fefe8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "296aa0e2884f2bf7"
            ]
        ]
    },
    {
        "id": "fe1664d755f2e926",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "date-time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.datetime",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "a195b6e24d2fb8e0",
        "type": "inject",
        "z": "f7a455cc.3fefe8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-time",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "a582159b9006a6a5"
            ]
        ]
    },
    {
        "id": "cacac9cf5676c159",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "0d96f9c39f461e84",
        "type": "uhppoted-set-time",
        "z": "f7a455cc.3fefe8",
        "name": "set-time-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "cacac9cf5676c159"
            ]
        ]
    },
    {
        "id": "a582159b9006a6a5",
        "type": "function",
        "z": "f7a455cc.3fefe8",
        "name": "format",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst datetime = new Date()\n\nconst year = format(datetime.getFullYear(), 4)\nconst month = format(datetime.getMonth()+1, 2)\nconst day = format(datetime.getDate(), 2)\nconst hours = format(datetime.getHours(), 2)\nconst minutes = format(datetime.getMinutes(), 2)\nconst seconds = format(datetime.getSeconds(), 2)\n\nmsg.payload = { \n    \"controller\": {\n        \"controller\": 405419896,\n        \"address\": \"192.168.1.100\",\n        \"protocol\": \"tcp\"\n     },\n    datetime: year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds\n}\n        \nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 400,
        "wires": [
            [
                "0d96f9c39f461e84"
            ]
        ]
    },
    {
        "id": "2046730f.81897c",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "7317e0e6.862af",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"door\":1 }",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "bedb99cc.cc0768"
            ]
        ]
    },
    {
        "id": "bedb99cc.cc0768",
        "type": "uhppoted-get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "2046730f.81897c",
                "ed5427f.86328d8",
                "e6a2598d.e7f958"
            ]
        ]
    },
    {
        "id": "6d8d48f7.397bb8",
        "type": "uhppoted-set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "552b0a9d.9bc984",
                "742df092.553a2",
                "6ef964a9.7c2b4c"
            ]
        ]
    },
    {
        "id": "552b0a9d.9bc984",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "5fb4202c.0de66",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"door\":1,\"delay\":6,\"control\":\"controlled\"}",
        "payloadType": "json",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "6d8d48f7.397bb8"
            ]
        ]
    },
    {
        "id": "6c1b3177.30bd2",
        "type": "uhppoted-open-door",
        "z": "86bbf50e.a7f188",
        "name": "open-door",
        "config": "cf35d9904542f0af",
        "x": 290,
        "y": 700,
        "wires": [
            [
                "cf49a18d.73b92",
                "e35ca985.ab1a28"
            ]
        ]
    },
    {
        "id": "cf49a18d.73b92",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 700,
        "wires": []
    },
    {
        "id": "23ed32e1.98a00e",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\":405419896, \"door\":1 }",
        "payloadType": "json",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "6c1b3177.30bd2"
            ]
        ]
    },
    {
        "id": "ed5427f.86328d8",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "door-1.delay",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doorControlState.delay",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "e6a2598d.e7f958",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "door-1.control",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doorControlState.control.state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "742df092.553a2",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "door-1.delay",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doorControlState.delay",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "6ef964a9.7c2b4c",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "door-1.control",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doorControlState.control.state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "e35ca985.ab1a28",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "door-1.opened",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.opened",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "6fb4de2c034f070e",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "5cebf8a91adb13bb",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"keypads\":{\"1\":true,\"2\":true,\"3\":false,\"4\":true}}",
        "payloadType": "json",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "76ada944ebac3023"
            ]
        ]
    },
    {
        "id": "4de9ec54d837178c",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "keypads",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.keypads",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 860,
        "wires": []
    },
    {
        "id": "76ada944ebac3023",
        "type": "uhppoted-activate-keypads",
        "z": "86bbf50e.a7f188",
        "name": "",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 820,
        "wires": [
            [
                "4de9ec54d837178c",
                "6fb4de2c034f070e"
            ]
        ]
    },
    {
        "id": "92cf53d41bac1edc",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "updated",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.updated",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 900,
        "wires": []
    },
    {
        "id": "d156b212adf0a68b",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 980,
        "wires": []
    },
    {
        "id": "e6843ed2f354d55e",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"door\":3,\"passcodes\":[12345,999999,54321]}",
        "payloadType": "json",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "d642fe8a140a7ba2"
            ]
        ]
    },
    {
        "id": "b67a695c34e6a8f8",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.ok",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d642fe8a140a7ba2",
        "type": "uhppoted-set-door-passcodes",
        "z": "86bbf50e.a7f188",
        "name": "",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 980,
        "wires": [
            [
                "d156b212adf0a68b",
                "b67a695c34e6a8f8"
            ]
        ]
    },
    {
        "id": "e86f034f65d101fb",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 240,
        "wires": []
    },
    {
        "id": "d6a948ce207fa5f8",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"door\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "5201a1df3a6ee4f7"
            ]
        ]
    },
    {
        "id": "5201a1df3a6ee4f7",
        "type": "uhppoted-get-door-control",
        "z": "86bbf50e.a7f188",
        "name": "get-door-control-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "e86f034f65d101fb",
                "8e70abd472fc3fc0",
                "4928f992daf01ec5"
            ]
        ]
    },
    {
        "id": "8e70abd472fc3fc0",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "door-1.delay",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doorControlState.delay",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "4928f992daf01ec5",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "door-1.control",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doorControlState.control.state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "dead4074a99e4f8d",
        "type": "uhppoted-set-door-control",
        "z": "86bbf50e.a7f188",
        "name": "set-door-control-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "82b2868de8304652",
                "505a94d4e1ec0d37",
                "0ab5bd7e8304a2b7"
            ]
        ]
    },
    {
        "id": "82b2868de8304652",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 540,
        "wires": []
    },
    {
        "id": "7c0d25f83ae1467c",
        "type": "inject",
        "z": "86bbf50e.a7f188",
        "name": "test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"door\":1,\"delay\":6,\"control\":\"controlled\"}",
        "payloadType": "json",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "dead4074a99e4f8d"
            ]
        ]
    },
    {
        "id": "505a94d4e1ec0d37",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "door-1.delay",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doorControlState.delay",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 580,
        "wires": []
    },
    {
        "id": "0ab5bd7e8304a2b7",
        "type": "debug",
        "z": "86bbf50e.a7f188",
        "name": "door-1.control",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doorControlState.control.state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 620,
        "wires": []
    },
    {
        "id": "60dcbb9f.c0dfa4",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "3c02f9ca.0d36c6",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "4f2ad0e3.4c05e",
        "type": "uhppoted-get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "config": "cf35d9904542f0af",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "60dcbb9f.c0dfa4",
                "650c4dc7.5f9424"
            ]
        ]
    },
    {
        "id": "6ce7f877.625e48",
        "type": "uhppoted-get-card",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "config": "cf35d9904542f0af",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "f6808502.b5c9e8",
                "75f21b8.86ccbe4",
                "b2143813.901048"
            ]
        ]
    },
    {
        "id": "356a2abe.2ea636",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"cardNumber\":8165537}",
        "payloadType": "json",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "6ce7f877.625e48"
            ]
        ]
    },
    {
        "id": "f6808502.b5c9e8",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "75f21b8.86ccbe4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "parse",
        "func": "if (msg.payload.card) {\n    msg.payload = msg.payload.card    \n} else {\n    msg.payload = {\n        number: '', \n        valid: { \n            from: '', \n            to: '' \n        }, \n        doors: { \n            1: '', \n            2: '', \n            3: '', \n            4: '' \n        },\n        PIN: ''\n    }\n}\n\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 540,
        "wires": [
            [
                "b2fd1c17.3bc25",
                "975dcdef.367a6",
                "296d7d38.b2ed42",
                "7df632fc.3db16c",
                "cf4a8622.c08938",
                "9e2a41a9.a89d2",
                "6b38aa75.455224",
                "40085138d2d899c4"
            ]
        ]
    },
    {
        "id": "e6da52cd.93a8e",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"cardNumber\":6153283}",
        "payloadType": "json",
        "x": 130,
        "y": 2440,
        "wires": [
            [
                "4ac01a83.a74ec4"
            ]
        ]
    },
    {
        "id": "4ac01a83.a74ec4",
        "type": "uhppoted-delete-card",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 2440,
        "wires": [
            [
                "d35026f6.29b788",
                "626b62f3.eadd9c"
            ]
        ]
    },
    {
        "id": "d35026f6.29b788",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2440,
        "wires": []
    },
    {
        "id": "6f571cdf.961f74",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"index\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "13f668be.c2e417"
            ]
        ]
    },
    {
        "id": "13f668be.c2e417",
        "type": "uhppoted-get-card-by-index",
        "z": "2a36b650.4b9b7a",
        "name": "get-card-by-index",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 1220,
        "wires": [
            [
                "e3a1a21e.0060f",
                "770d6800.eb11f8",
                "a1b8d4cb.97fbf8"
            ]
        ]
    },
    {
        "id": "f6b826f5.187ae8",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 2660,
        "wires": [
            [
                "874f55c6.6f00b8"
            ]
        ]
    },
    {
        "id": "3b1532d.e15adce",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2660,
        "wires": []
    },
    {
        "id": "874f55c6.6f00b8",
        "type": "uhppoted-delete-all-cards",
        "z": "2a36b650.4b9b7a",
        "name": "delete-all-cards",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 2660,
        "wires": [
            [
                "3b1532d.e15adce",
                "a2a24ee6.f182d"
            ]
        ]
    },
    {
        "id": "650c4dc7.5f9424",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "cards",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.cards",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "54d0141d.4fa96c",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card.status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "975dcdef.367a6",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-from",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valid.from",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "b2fd1c17.3bc25",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card.number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.number",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "296d7d38.b2ed42",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-to",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valid.to",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "7df632fc.3db16c",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"1\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 520,
        "wires": []
    },
    {
        "id": "cf4a8622.c08938",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"2\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "9e2a41a9.a89d2",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"3\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "6b38aa75.455224",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"4\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 640,
        "wires": []
    },
    {
        "id": "7fe3bec1.b4483",
        "type": "uhppoted-put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 2100,
        "wires": [
            [
                "6a069f42.59c15",
                "e7d56173.84b31"
            ]
        ]
    },
    {
        "id": "83d878a.58b0188",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"deviceId\":405419896,\"card\":{\"number\":8165537,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"doors\":{\"1\":true,\"2\":false,\"3\":true,\"4\":true}}}",
        "payloadType": "json",
        "x": 130,
        "y": 2100,
        "wires": [
            [
                "7fe3bec1.b4483"
            ]
        ]
    },
    {
        "id": "6a069f42.59c15",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2100,
        "wires": []
    },
    {
        "id": "e3a1a21e.0060f",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1180,
        "wires": []
    },
    {
        "id": "f2a7c5f4.853908",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card.status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3e1eca4f.cb02a6",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-from",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valid.from",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1300,
        "wires": []
    },
    {
        "id": "fe01ea65.730528",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card.number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.number",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b8efe8f2.2861e8",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-to",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valid.to",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1340,
        "wires": []
    },
    {
        "id": "2b0604dc.a5441c",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"1\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1380,
        "wires": []
    },
    {
        "id": "4ee29dba.c78e34",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"2\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1420,
        "wires": []
    },
    {
        "id": "c7144546.1ac938",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"3\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1460,
        "wires": []
    },
    {
        "id": "3d7d4f69.da296",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"4\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1500,
        "wires": []
    },
    {
        "id": "e7d56173.84b31",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.stored",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 2140,
        "wires": []
    },
    {
        "id": "626b62f3.eadd9c",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.deleted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2480,
        "wires": []
    },
    {
        "id": "a2a24ee6.f182d",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.deleted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2700,
        "wires": []
    },
    {
        "id": "770d6800.eb11f8",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "parse",
        "func": "if (msg.payload.card) {\n    msg.payload = msg.payload.card    \n} else {\n    msg.payload = {\n        number: '', \n        valid: { \n            from: '', \n            to: '' \n        }, \n        doors: { \n            1: '', \n            2: '', \n            3: '', \n            4: '' \n        } \n    }\n}\n\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 1400,
        "wires": [
            [
                "fe01ea65.730528",
                "3e1eca4f.cb02a6",
                "b8efe8f2.2861e8",
                "2b0604dc.a5441c",
                "4ee29dba.c78e34",
                "c7144546.1ac938",
                "3d7d4f69.da296",
                "d64cd280a7bf6873"
            ]
        ]
    },
    {
        "id": "a1b8d4cb.97fbf8",
        "type": "change",
        "z": "2a36b650.4b9b7a",
        "name": "card-status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1220,
        "wires": [
            [
                "f2a7c5f4.853908"
            ]
        ]
    },
    {
        "id": "b2143813.901048",
        "type": "change",
        "z": "2a36b650.4b9b7a",
        "name": "card-status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "54d0141d.4fa96c"
            ]
        ]
    },
    {
        "id": "ad7a666aecfc6823",
        "type": "uhppoted-put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card (with PIN)",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 330,
        "y": 2300,
        "wires": [
            [
                "f52075083324f858",
                "aff96018fdced0a4"
            ]
        ]
    },
    {
        "id": "f52075083324f858",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2300,
        "wires": []
    },
    {
        "id": "aff96018fdced0a4",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.stored",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 2340,
        "wires": []
    },
    {
        "id": "5da4edd44196b9d3",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"deviceId\":405419896,\"card\":{\"number\":8165537,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"doors\":{\"1\":true,\"2\":false,\"3\":true,\"4\":true},\"PIN\":7531}}",
        "payloadType": "json",
        "x": 130,
        "y": 2300,
        "wires": [
            [
                "ad7a666aecfc6823"
            ]
        ]
    },
    {
        "id": "40085138d2d899c4",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-PIN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.PIN",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 680,
        "wires": []
    },
    {
        "id": "d64cd280a7bf6873",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-PIN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.PIN",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1540,
        "wires": []
    },
    {
        "id": "88e0ec46d0a5727c",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "b3b669b59009998b",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "75d18b525b9132f8"
            ]
        ]
    },
    {
        "id": "75d18b525b9132f8",
        "type": "uhppoted-get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "88e0ec46d0a5727c",
                "0e040ba0c85eacaa"
            ]
        ]
    },
    {
        "id": "0e040ba0c85eacaa",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "cards",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.cards",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "46a3ef6fd389597b",
        "type": "uhppoted-get-card",
        "z": "2a36b650.4b9b7a",
        "name": "get-card-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 290,
        "y": 780,
        "wires": [
            [
                "8beb1a921ca557d9",
                "9bbf9e8038f1fe83",
                "2305e965f66cdf14"
            ]
        ]
    },
    {
        "id": "da8d239ff79d6eb3",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"cardNumber\":8165537}",
        "payloadType": "json",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "46a3ef6fd389597b"
            ]
        ]
    },
    {
        "id": "8beb1a921ca557d9",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 740,
        "wires": []
    },
    {
        "id": "9bbf9e8038f1fe83",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "parse",
        "func": "if (msg.payload.card) {\n    msg.payload = msg.payload.card    \n} else {\n    msg.payload = {\n        number: '', \n        valid: { \n            from: '', \n            to: '' \n        }, \n        doors: { \n            1: '', \n            2: '', \n            3: '', \n            4: '' \n        },\n        PIN: ''\n    }\n}\n\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 960,
        "wires": [
            [
                "dce5607954876cc5",
                "90db0ef6850379c7",
                "f3ad67984b106eaa",
                "7a3e5d6cbff39cd9",
                "0bff368afa3cfaed",
                "041ef6063cd9cece",
                "fda63cbd740aa401",
                "aab22981c82c2200"
            ]
        ]
    },
    {
        "id": "4a32a79a2edc8fb7",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card.status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 780,
        "wires": []
    },
    {
        "id": "90db0ef6850379c7",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-from",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valid.from",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 860,
        "wires": []
    },
    {
        "id": "dce5607954876cc5",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card.number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.number",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 820,
        "wires": []
    },
    {
        "id": "f3ad67984b106eaa",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-to",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valid.to",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 900,
        "wires": []
    },
    {
        "id": "7a3e5d6cbff39cd9",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"1\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 940,
        "wires": []
    },
    {
        "id": "0bff368afa3cfaed",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"2\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 980,
        "wires": []
    },
    {
        "id": "041ef6063cd9cece",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"3\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1020,
        "wires": []
    },
    {
        "id": "fda63cbd740aa401",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"4\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2305e965f66cdf14",
        "type": "change",
        "z": "2a36b650.4b9b7a",
        "name": "card-status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 780,
        "wires": [
            [
                "4a32a79a2edc8fb7"
            ]
        ]
    },
    {
        "id": "aab22981c82c2200",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-PIN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.PIN",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1100,
        "wires": []
    },
    {
        "id": "789cb23f60bbb0b8",
        "type": "uhppoted-get-card-by-index",
        "z": "2a36b650.4b9b7a",
        "name": "get-card-by-index-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 1640,
        "wires": [
            [
                "eac71dcb92c494df",
                "49a165e07dda22a2",
                "94eca3f10ac3be46"
            ]
        ]
    },
    {
        "id": "56f90807cc8a7a63",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"index\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 1640,
        "wires": [
            [
                "789cb23f60bbb0b8"
            ]
        ]
    },
    {
        "id": "eac71dcb92c494df",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1600,
        "wires": []
    },
    {
        "id": "2ba37b439bb25bfa",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card.status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1640,
        "wires": []
    },
    {
        "id": "564a862a1a0b6798",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-from",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valid.from",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1720,
        "wires": []
    },
    {
        "id": "16f1f36caeb00944",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card.number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.number",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1680,
        "wires": []
    },
    {
        "id": "2456a602d22cd35d",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-to",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valid.to",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1760,
        "wires": []
    },
    {
        "id": "475260f5b8397a49",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"1\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1800,
        "wires": []
    },
    {
        "id": "81f5d018c1a545e9",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"2\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1840,
        "wires": []
    },
    {
        "id": "bfd703fbf392a776",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"3\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1880,
        "wires": []
    },
    {
        "id": "75dbceb0a70f8aea",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"4\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1920,
        "wires": []
    },
    {
        "id": "49a165e07dda22a2",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "parse",
        "func": "if (msg.payload.card) {\n    msg.payload = msg.payload.card    \n} else {\n    msg.payload = {\n        number: '', \n        valid: { \n            from: '', \n            to: '' \n        }, \n        doors: { \n            1: '', \n            2: '', \n            3: '', \n            4: '' \n        } \n    }\n}\n\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 1820,
        "wires": [
            [
                "16f1f36caeb00944",
                "564a862a1a0b6798",
                "2456a602d22cd35d",
                "475260f5b8397a49",
                "81f5d018c1a545e9",
                "bfd703fbf392a776",
                "75dbceb0a70f8aea",
                "15f936dc966ff7c6"
            ]
        ]
    },
    {
        "id": "94eca3f10ac3be46",
        "type": "change",
        "z": "2a36b650.4b9b7a",
        "name": "card-status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1640,
        "wires": [
            [
                "2ba37b439bb25bfa"
            ]
        ]
    },
    {
        "id": "15f936dc966ff7c6",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-PIN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.PIN",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1960,
        "wires": []
    },
    {
        "id": "56be19dff1557f05",
        "type": "uhppoted-put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 2200,
        "wires": [
            [
                "a7bbb5510bcc2a1a",
                "813034c03ac0a678"
            ]
        ]
    },
    {
        "id": "fa54e33c2508f8b8",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"card\":{\"number\":8165537,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"doors\":{\"1\":true,\"2\":false,\"3\":true,\"4\":true}}}",
        "payloadType": "json",
        "x": 130,
        "y": 2200,
        "wires": [
            [
                "56be19dff1557f05"
            ]
        ]
    },
    {
        "id": "a7bbb5510bcc2a1a",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2200,
        "wires": []
    },
    {
        "id": "813034c03ac0a678",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.stored",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 2240,
        "wires": []
    },
    {
        "id": "6002d1604b71e586",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"cardNumber\":6153283}",
        "payloadType": "json",
        "x": 130,
        "y": 2540,
        "wires": [
            [
                "99b25039f798f1f8"
            ]
        ]
    },
    {
        "id": "99b25039f798f1f8",
        "type": "uhppoted-delete-card",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 2540,
        "wires": [
            [
                "217fc58a6f74ced7",
                "cb1e528be08ab5e1"
            ]
        ]
    },
    {
        "id": "217fc58a6f74ced7",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2540,
        "wires": []
    },
    {
        "id": "cb1e528be08ab5e1",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.deleted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2580,
        "wires": []
    },
    {
        "id": "40c21733e205a361",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 2760,
        "wires": [
            [
                "87cc932dc94baab1"
            ]
        ]
    },
    {
        "id": "b3bf5b55310c1d50",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2760,
        "wires": []
    },
    {
        "id": "87cc932dc94baab1",
        "type": "uhppoted-delete-all-cards",
        "z": "2a36b650.4b9b7a",
        "name": "delete-all-cards-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 330,
        "y": 2760,
        "wires": [
            [
                "b3bf5b55310c1d50",
                "e7e83aef3d6b1de0"
            ]
        ]
    },
    {
        "id": "e7e83aef3d6b1de0",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.deleted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2800,
        "wires": []
    },
    {
        "id": "d9f2a76f.385308",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"profileId\":29}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "8a160494.ad27f8"
            ]
        ]
    },
    {
        "id": "b4fb88e0.f808a8",
        "type": "debug",
        "z": "590b5d52.6f70e4",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "8a160494.ad27f8",
        "type": "uhppoted-get-time-profile",
        "z": "590b5d52.6f70e4",
        "name": "",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "b4fb88e0.f808a8"
            ]
        ]
    },
    {
        "id": "1a80cd98.b11242",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"profile\":{\"id\":29,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"weekdays\":[\"Monday\",\"Thursday\",\"Friday\"],\"segments\":[{\"start\":\"08:00\",\"end\":\"11:30\"},{\"start\":\"13:15\",\"end\":\"17:45\"}],\"linkedTo\":3}}",
        "payloadType": "json",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "eff19860.5c6da8"
            ]
        ]
    },
    {
        "id": "eff19860.5c6da8",
        "type": "uhppoted-set-time-profile",
        "z": "590b5d52.6f70e4",
        "name": "",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "1438b372.807b6d"
            ]
        ]
    },
    {
        "id": "1438b372.807b6d",
        "type": "debug",
        "z": "590b5d52.6f70e4",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "3c1aa5c1.4d2a0a",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896}",
        "payloadType": "json",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "5bf5bd59.814154"
            ]
        ]
    },
    {
        "id": "c9080b4.9da3bf8",
        "type": "debug",
        "z": "590b5d52.6f70e4",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "5bf5bd59.814154",
        "type": "uhppoted-clear-time-profiles",
        "z": "590b5d52.6f70e4",
        "name": "",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "c9080b4.9da3bf8"
            ]
        ]
    },
    {
        "id": "8c3a28ff.bb9a08",
        "type": "uhppoted-put-card",
        "z": "590b5d52.6f70e4",
        "name": "put-card-with-time-profile",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "bad92d49.a0e61"
            ]
        ]
    },
    {
        "id": "924ed50d.855988",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"deviceId\":405419896,\"card\":{\"number\":6153283,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"doors\":{\"1\":true,\"2\":false,\"3\":29,\"4\":true}}}",
        "payloadType": "json",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "8c3a28ff.bb9a08"
            ]
        ]
    },
    {
        "id": "bad92d49.a0e61",
        "type": "debug",
        "z": "590b5d52.6f70e4",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "75098299.b6febc",
        "type": "uhppoted-get-card",
        "z": "590b5d52.6f70e4",
        "name": "get-card-with-time-profile",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "30f08ba4.620154"
            ]
        ]
    },
    {
        "id": "94300170.74219",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"cardNumber\":6153283}",
        "payloadType": "json",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "75098299.b6febc"
            ]
        ]
    },
    {
        "id": "30f08ba4.620154",
        "type": "debug",
        "z": "590b5d52.6f70e4",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "a9922968.8bbee8",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "f980b203.9b821"
            ]
        ]
    },
    {
        "id": "f5331de1.7dc18",
        "type": "debug",
        "z": "66c3d22e.434c7c",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "f980b203.9b821",
        "type": "uhppoted-clear-task-list",
        "z": "66c3d22e.434c7c",
        "name": "",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "f5331de1.7dc18"
            ]
        ]
    },
    {
        "id": "5dac42cd.fc4c8c",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896}",
        "payloadType": "json",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "13d7bc91.a53133"
            ]
        ]
    },
    {
        "id": "775d352c.a8155c",
        "type": "debug",
        "z": "66c3d22e.434c7c",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "13d7bc91.a53133",
        "type": "uhppoted-refresh-task-list",
        "z": "66c3d22e.434c7c",
        "name": "",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "775d352c.a8155c"
            ]
        ]
    },
    {
        "id": "885f0991.1066e8",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"task\":{\"task\":5,\"door\":3,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"weekdays\":[\"Monday\",\"Wednesday\",\"Friday\"],\"start\":\"08:30\",\"cards\":7}}",
        "payloadType": "json",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "cdc76803.768e88"
            ]
        ]
    },
    {
        "id": "476c6a89.2ced14",
        "type": "debug",
        "z": "66c3d22e.434c7c",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "cdc76803.768e88",
        "type": "uhppoted-add-task",
        "z": "66c3d22e.434c7c",
        "name": "add-numeric-task",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "476c6a89.2ced14"
            ]
        ]
    },
    {
        "id": "6c00cf3a.3fe4d",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"task\":{\"task\":\"enable time profile\",\"door\":3,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"weekdays\":[\"Monday\",\"Wednesday\",\"Friday\"],\"start\":\"08:30\",\"cards\":7}}",
        "payloadType": "json",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "cc7f21cd.1853b"
            ]
        ]
    },
    {
        "id": "460d928b.c7737c",
        "type": "debug",
        "z": "66c3d22e.434c7c",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "cc7f21cd.1853b",
        "type": "uhppoted-add-task",
        "z": "66c3d22e.434c7c",
        "name": "add-text-task",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "460d928b.c7737c"
            ]
        ]
    },
    {
        "id": "639ffbe2.214cc4",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "3be8dcd9.c0ec74",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "9e7ddaee.4eaa48"
            ]
        ]
    },
    {
        "id": "9e7ddaee.4eaa48",
        "type": "uhppoted-get-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "639ffbe2.214cc4",
                "8778c04a.5b27b"
            ]
        ]
    },
    {
        "id": "e08eaeaa.741ee",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "701112a1.4079dc",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"index\":14 }",
        "payloadType": "json",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "738563e5.ad729c"
            ]
        ]
    },
    {
        "id": "738563e5.ad729c",
        "type": "uhppoted-set-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "set-event-index",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "e08eaeaa.741ee",
                "80d37f1b.e049a"
            ]
        ]
    },
    {
        "id": "a75552ac.fbf6a",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "959338c3.e9e528",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"index\":17 }",
        "payloadType": "json",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "7cf7e46b.641d4c"
            ]
        ]
    },
    {
        "id": "7cf7e46b.641d4c",
        "type": "uhppoted-get-event",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "config": "cf35d9904542f0af",
        "x": 280,
        "y": 560,
        "wires": [
            [
                "a75552ac.fbf6a",
                "a9cd7169.9f80b",
                "d0248137.40611",
                "efd22b62.f8dd98",
                "528f92e2.4cc88c",
                "10303c8c.5ee653",
                "6b2ec04b.e162e",
                "3e133140.9cd2ce"
            ]
        ]
    },
    {
        "id": "8778c04a.5b27b",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event-index",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.index",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "80d37f1b.e049a",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "updated",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.updated",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 480,
        "wires": []
    },
    {
        "id": "a9cd7169.9f80b",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "serial-number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.deviceId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "d0248137.40611",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.index",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.index",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "efd22b62.f8dd98",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.timestamp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.timestamp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 680,
        "wires": []
    },
    {
        "id": "528f92e2.4cc88c",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.type",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.type.event",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 720,
        "wires": []
    },
    {
        "id": "10303c8c.5ee653",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.granted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.granted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 760,
        "wires": []
    },
    {
        "id": "6b2ec04b.e162e",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.direction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.direction.direction",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 800,
        "wires": []
    },
    {
        "id": "3e133140.9cd2ce",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.reason",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.reason.reason",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 840,
        "wires": []
    },
    {
        "id": "8321868.c35fa78",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "1dd15bdb.488f04",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"enable\": true }",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "6f2638b.e4c53c8"
            ]
        ]
    },
    {
        "id": "2b58807c.84593",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "updated",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.updated",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "6f2638b.e4c53c8",
        "type": "uhppoted-record-special-events",
        "z": "b5da19a5.72a0c8",
        "name": "record-special-events",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "8321868.c35fa78",
                "2b58807c.84593"
            ]
        ]
    },
    {
        "id": "151d9f771d865c35",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 900,
        "wires": []
    },
    {
        "id": "711dac43b52c5446",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test-overwritten-event",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 201020304, \"index\":73 }",
        "payloadType": "json",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "0f093ad785df38d1"
            ]
        ]
    },
    {
        "id": "0f093ad785df38d1",
        "type": "uhppoted-get-event",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 380,
        "y": 900,
        "wires": [
            [
                "151d9f771d865c35",
                "84662bc59ae14e03",
                "b6b04fd356bf712a",
                "b595fcb13cd56f4f",
                "017af93e48751394",
                "616da492f4b6121c",
                "fa8b8cf3b7335faf",
                "ab7ff3bbed4907d7"
            ]
        ]
    },
    {
        "id": "84662bc59ae14e03",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "serial-number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.deviceId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 940,
        "wires": []
    },
    {
        "id": "b6b04fd356bf712a",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.index",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.index",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 980,
        "wires": []
    },
    {
        "id": "b595fcb13cd56f4f",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.timestamp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.timestamp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1020,
        "wires": []
    },
    {
        "id": "017af93e48751394",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.type",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.type.event",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1060,
        "wires": []
    },
    {
        "id": "616da492f4b6121c",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.granted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.granted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1100,
        "wires": []
    },
    {
        "id": "fa8b8cf3b7335faf",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.direction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.direction.direction",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ab7ff3bbed4907d7",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.reason",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.reason.reason",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1180,
        "wires": []
    },
    {
        "id": "1c0c621d32b01106",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "2b28e0b04eb5932c",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"enable\":true}",
        "payloadType": "json",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "e1a931b276724b43"
            ]
        ]
    },
    {
        "id": "ed430abe92a4c55a",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "updated",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.updated",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "e1a931b276724b43",
        "type": "uhppoted-record-special-events",
        "z": "b5da19a5.72a0c8",
        "name": "record-special-events-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "1c0c621d32b01106",
                "ed430abe92a4c55a"
            ]
        ]
    },
    {
        "id": "8a7531d7b8109a99",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "132f4b6bcbb8c39c",
        "type": "inject",
        "z": "084b05a6c596f92a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"enable\": true }",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "fc341cfabe5d9a38"
            ]
        ]
    },
    {
        "id": "66ebd6872aee5190",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "updated",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.updated",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "533ddcf57003f6c5",
        "type": "uhppoted-set-pc-control",
        "z": "084b05a6c596f92a",
        "name": "",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 500,
        "y": 100,
        "wires": [
            [
                "8a7531d7b8109a99",
                "66ebd6872aee5190"
            ]
        ]
    },
    {
        "id": "f8ce8d9c686eec75",
        "type": "uhppoted-listen",
        "z": "084b05a6c596f92a",
        "name": "listen",
        "config": "cf35d9904542f0af",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "2190c4453a0eb105",
                "49437c908c4fe007"
            ]
        ]
    },
    {
        "id": "2190c4453a0eb105",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 260,
        "wires": []
    },
    {
        "id": "49437c908c4fe007",
        "type": "function",
        "z": "084b05a6c596f92a",
        "name": "event handler",
        "func": "const cards = [ 8165538, 10058399 ]\nconst event = msg.payload.state.event\nlet swipe = null\nlet granted = null\nlet denied = null\nlet open = null\n\n// card swipe?\nif (event.type.code === 1) {\n    swipe = msg.payload.state.event    \n}\n\n// card swipe and remote access control ?\nif (event.type.code === 1 && event.reason.code === 5 && event.granted == false) {\n    if (cards.includes(event.card)) {\n        granted = { \"timestamp\": event.timestamp,\n                    \"card\": event.card,\n                    \"door\": event.door\n                  }\n\n        open = msg\n        open.payload = {\n                  deviceId: msg.payload.deviceId,\n                  door: event.door\n               }\n    } else {\n        denied = { \n                   \"timestamp\": event.timestamp,\n                   \"card\": event.card,\n                   \"door\": event.door\n                 }\n    }\n}\n\nreturn [ swipe, granted, denied, open ]\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "0974ea4cdb46c4d0"
            ],
            [
                "7ba7c37174572581"
            ],
            [
                "3b3c95833152d702"
            ],
            [
                "39d3e1563d8382f4"
            ]
        ]
    },
    {
        "id": "0974ea4cdb46c4d0",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "swipe",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "7ba7c37174572581",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "granted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "3b3c95833152d702",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "denied",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "39d3e1563d8382f4",
        "type": "uhppoted-open-door",
        "z": "084b05a6c596f92a",
        "name": "open-door",
        "config": "cf35d9904542f0af",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "748949c6bd00c596",
                "a942a9ad5d0ab0ca"
            ]
        ]
    },
    {
        "id": "748949c6bd00c596",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "a942a9ad5d0ab0ca",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "door-opened",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.opened",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "fc341cfabe5d9a38",
        "type": "trigger",
        "z": "084b05a6c596f92a",
        "name": "send",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "533ddcf57003f6c5"
            ],
            [
                "b54620d8e5822dc6"
            ]
        ]
    },
    {
        "id": "b54620d8e5822dc6",
        "type": "delay",
        "z": "084b05a6c596f92a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "fc341cfabe5d9a38"
            ]
        ]
    },
    {
        "id": "8d9e23e3fc3ef45c",
        "type": "debug",
        "z": "17ac43b079dc0788",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "5ea032df07f2af52",
        "type": "inject",
        "z": "17ac43b079dc0788",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"interlock\": 4 }",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "de3b45665b6aec40"
            ]
        ]
    },
    {
        "id": "4dd316821f27ffc7",
        "type": "debug",
        "z": "17ac43b079dc0788",
        "name": "updated",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.updated",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "de3b45665b6aec40",
        "type": "uhppoted-set-interlock",
        "z": "17ac43b079dc0788",
        "name": "set-interlock",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "8d9e23e3fc3ef45c",
                "4dd316821f27ffc7"
            ]
        ]
    },
    {
        "id": "7c3b3f494d28c28a",
        "type": "debug",
        "z": "093e8f2cad65974a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "3e20f74de8a23794",
        "type": "inject",
        "z": "093e8f2cad65974a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "02373e6ceb8dbcd1"
            ]
        ]
    },
    {
        "id": "d125c3764b05339d",
        "type": "debug",
        "z": "093e8f2cad65974a",
        "name": "reset",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.reset",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "02373e6ceb8dbcd1",
        "type": "uhppoted-restore-default-parameters",
        "z": "093e8f2cad65974a",
        "name": "",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "7c3b3f494d28c28a",
                "d125c3764b05339d"
            ]
        ]
    }
]