examples/get-device.json
[
    {
        "id": "f0ca7ab6.b09058",
        "type": "tab",
        "label": "get-device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a308f042.ba17e",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "661f7370.91414c",
        "type": "inject",
        "z": "f0ca7ab6.b09058",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "cf20838b.e2a89",
                "cf961bd6.504938"
            ]
        ]
    },
    {
        "id": "d1910029.3c322",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "device",
        "label": "Device ID:",
        "format": "{{device.deviceId}}",
        "layout": "row-spread",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "b3759b8c.663488",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "address",
        "label": "Address:",
        "format": "{{device.address}}",
        "layout": "row-spread",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "b600fca7.8931e",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "subnet",
        "label": "Subnet mask:",
        "format": "{{device.subnet}}",
        "layout": "row-spread",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "883c8d8e.59439",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "gateway",
        "label": "Gateway:",
        "format": "{{device.gateway}}",
        "layout": "row-spread",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "23b47a89.08ab86",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "MAC",
        "label": "MAC address:",
        "format": "{{device.MAC}}",
        "layout": "row-spread",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "e26cb52b.2aee58",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "version",
        "label": "Version:",
        "format": "{{device.version}}",
        "layout": "row-spread",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "8666ad46.99a95",
        "type": "ui_text",
        "z": "f0ca7ab6.b09058",
        "group": "c03a3b24.d45c48",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "date",
        "label": "Date:",
        "format": "{{device.date}}",
        "layout": "row-spread",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "cf20838b.e2a89",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "start",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "cf961bd6.504938",
        "type": "get-device",
        "z": "f0ca7ab6.b09058",
        "name": "get-device",
        "uhppote": "d596ac54.cced",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "a308f042.ba17e",
                "6114aece.3cdf7"
            ]
        ]
    },
    {
        "id": "32d4df8c.50c3e",
        "type": "ui_button",
        "z": "f0ca7ab6.b09058",
        "name": "",
        "group": "a363178d.ee7038",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "cf961bd6.504938",
                "cf20838b.e2a89"
            ]
        ]
    },
    {
        "id": "6114aece.3cdf7",
        "type": "function",
        "z": "f0ca7ab6.b09058",
        "name": "",
        "func": "return msg.payload;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 80,
        "wires": [
            [
                "d1910029.3c322",
                "b3759b8c.663488",
                "b600fca7.8931e",
                "883c8d8e.59439",
                "23b47a89.08ab86",
                "e26cb52b.2aee58",
                "8666ad46.99a95"
            ]
        ]
    },
    {
        "id": "c03a3b24.d45c48",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "4999",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "a363178d.ee7038",
        "type": "ui_group",
        "z": "",
        "name": "controls",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": 4,
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "devices",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]