examples/get-devices.json
[
    {
        "id": "a640a000.d83cb",
        "type": "tab",
        "label": "get-devices",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6a470566.d4725c",
        "type": "get-devices",
        "z": "a640a000.d83cb",
        "name": "get-devices",
        "timeout": "2500",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "31429769.0664e8",
                "6699677.c355098",
                "30341779.5c29e8"
            ]
        ]
    },
    {
        "id": "31429769.0664e8",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "82a8517a.6ef88",
        "type": "inject",
        "z": "a640a000.d83cb",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "6a470566.d4725c",
                "b36ac360.b2d72"
            ]
        ]
    },
    {
        "id": "f6ad52d3.c2e48",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "device",
        "label": "device-id:",
        "format": "{{device.id}}",
        "layout": "row-left",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "bbb6a438.f22818",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "device",
        "label": "device-id:",
        "format": "{{device.id}}",
        "layout": "row-left",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "bafadb7f.3afc08",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "address",
        "label": "address:",
        "format": "{{device.address}}",
        "layout": "row-left",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "39ee342f.a465ec",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "address",
        "label": "address:",
        "format": "{{device.address}}",
        "layout": "row-left",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "626c9a77.193a04",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "subnet",
        "label": "subnet mask:",
        "format": "{{device.subnet}}",
        "layout": "row-left",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "5b2ec683.3d2c38",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "subnet",
        "label": "subnet mask:",
        "format": "{{device.subnet}}",
        "layout": "row-left",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "6699677.c355098",
        "type": "function",
        "z": "a640a000.d83cb",
        "name": "405419896",
        "func": "for (i=0; i<msg.payload.length; i++) {\n    device = msg.payload[i].device;\n    if (device.id == 405419896) {\n        return msg.payload[i];        \n    }\n}\n\nreturn { device: {} }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 80,
        "wires": [
            [
                "f6ad52d3.c2e48",
                "bafadb7f.3afc08",
                "626c9a77.193a04",
                "c6fd23f4.c50dd",
                "15d5ff89.9ac5b",
                "764b47ed.8d8fc8",
                "2f037ed3.618ec2"
            ]
        ]
    },
    {
        "id": "c6fd23f4.c50dd",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "gateway",
        "label": "gateway:",
        "format": "{{device.gateway}}",
        "layout": "row-left",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "30341779.5c29e8",
        "type": "function",
        "z": "a640a000.d83cb",
        "name": "303986753",
        "func": "for (i=0; i<msg.payload.length; i++) {\n    device = msg.payload[i].device;\n    if (device.id == 303986753) {\n        return msg.payload[i];        \n    }\n}\n\nreturn { device: {} }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "bbb6a438.f22818",
                "39ee342f.a465ec",
                "5b2ec683.3d2c38",
                "47d113b.40769ec",
                "b1bd0325.bd849",
                "329e5483.d305bc",
                "79f990b5.78342"
            ]
        ]
    },
    {
        "id": "47d113b.40769ec",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "gateway",
        "label": "gateway:",
        "format": "{{device.gateway}}",
        "layout": "row-left",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "15d5ff89.9ac5b",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "MAC",
        "label": "MAC address:",
        "format": "{{device.MAC}}",
        "layout": "row-left",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1bd0325.bd849",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "MAC",
        "label": "MAC address:",
        "format": "{{device.MAC}}",
        "layout": "row-left",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "764b47ed.8d8fc8",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "version",
        "label": "version:",
        "format": "{{device.version}}",
        "layout": "row-left",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "329e5483.d305bc",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "version",
        "label": "version:",
        "format": "{{device.version}}",
        "layout": "row-left",
        "x": 700,
        "y": 580,
        "wires": []
    },
    {
        "id": "2f037ed3.618ec2",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "94dcacf5.b4e19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "date",
        "label": "date:",
        "format": "{{device.date}}",
        "layout": "row-left",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "79f990b5.78342",
        "type": "ui_text",
        "z": "a640a000.d83cb",
        "group": "664471ed.acdea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "date",
        "label": "date:",
        "format": "{{device.date}}",
        "layout": "row-left",
        "x": 690,
        "y": 620,
        "wires": []
    },
    {
        "id": "a78a2bf0.74fbe8",
        "type": "ui_button",
        "z": "a640a000.d83cb",
        "name": "refresh",
        "group": "d2f384d6.885a08",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "6a470566.d4725c"
            ]
        ]
    },
    {
        "id": "b36ac360.b2d72",
        "type": "debug",
        "z": "a640a000.d83cb",
        "name": "start",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "94dcacf5.b4e19",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "ea318236.7f96",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "664471ed.acdea",
        "type": "ui_group",
        "z": "",
        "name": "303986753",
        "tab": "ea318236.7f96",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d2f384d6.885a08",
        "type": "ui_group",
        "z": "",
        "name": "controls",
        "tab": "ea318236.7f96",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ea318236.7f96",
        "type": "ui_tab",
        "z": "",
        "name": "Devices",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]