examples/get-and-set-listener.json
[
    {
        "id": "60e1eeae.c0995",
        "type": "tab",
        "label": "get/set-listener",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fcbc9138.ae077",
        "type": "debug",
        "z": "60e1eeae.c0995",
        "name": "listener",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "7b36ef3b.9e256",
        "type": "inject",
        "z": "60e1eeae.c0995",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "991982ca.da227"
            ]
        ]
    },
    {
        "id": "80feda0f.68d0c8",
        "type": "ui_text",
        "z": "60e1eeae.c0995",
        "group": "62c7e067.8adce",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "address",
        "label": "address",
        "format": "{{msg.payload.address}}",
        "layout": "row-spread",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "e036a638.1da6d8",
        "type": "link in",
        "z": "60e1eeae.c0995",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 115,
        "y": 40,
        "wires": [
            [
                "991982ca.da227"
            ]
        ]
    },
    {
        "id": "991982ca.da227",
        "type": "get-listener",
        "z": "60e1eeae.c0995",
        "name": "get-listener",
        "uhppote": "d596ac54.cced",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "fcbc9138.ae077",
                "80feda0f.68d0c8",
                "8be7c19d.53054"
            ]
        ]
    },
    {
        "id": "8be7c19d.53054",
        "type": "ui_text",
        "z": "60e1eeae.c0995",
        "group": "62c7e067.8adce",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "port",
        "label": "port",
        "format": "{{msg.payload.port}}",
        "layout": "row-spread",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "62c7e067.8adce",
        "type": "ui_group",
        "z": "",
        "name": "get-listener",
        "tab": "2731970.74c476a",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "4999",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "devices",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]