examples/listen.json
[
    {
        "id": "c56e1667.998748",
        "type": "tab",
        "label": "listen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "18a61437.de498c",
        "type": "listen",
        "z": "c56e1667.998748",
        "name": "listen",
        "uhppote": "d596ac54.cced",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "b8dcd439.9a0448",
                "d378e1d6.40fe9"
            ]
        ]
    },
    {
        "id": "b8dcd439.9a0448",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "b9a22810.4f89d8",
        "type": "ui_table",
        "z": "c56e1667.998748",
        "group": "659dc42b.91f43c",
        "name": "",
        "order": 1,
        "width": "22",
        "height": "16",
        "columns": [
            {
                "field": "timestamp",
                "title": "Timestamp",
                "width": "176",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "type",
                "title": "Event Type",
                "width": "144",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "granted",
                "title": "Granted?",
                "width": "112",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "door",
                "title": "Door",
                "width": "112",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "direction",
                "title": "Direction",
                "width": "112",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "reason",
                "title": "Reason",
                "width": "240",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "forceLock",
                "title": "Force Locked?",
                "width": "144",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fireAlarm",
                "title": "Fire Alarm",
                "width": "112",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 490,
        "y": 80,
        "wires": []
    },
    {
        "id": "d378e1d6.40fe9",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "",
        "func": "const events = context.get('events') || []\nconst doors = flow.get('doors')\n\nconst event = msg.payload.state\nconst timestamp = event.event.timestamp\nconst eventType = event.event.type.event.toUpperCase()\nconst granted = event.event.granted\nconst direction = event.event.direction.direction.toUpperCase()\nconst reason = event.event.reason.reason.toUpperCase()\nconst forceLock = event.inputs.forceLock\nconst fireAlarm = event.inputs.fireAlarm\nconst door = doors[event.event.door] || '???'\n\nconst item = {\n    'timestamp': timestamp,\n    'type': eventType,\n    'granted': granted,\n    'door': door,\n    'direction': direction,\n    'reason': reason,\n    'forceLock': forceLock,\n    'fireAlarm': fireAlarm\n}\n    \nevents.push(item)\n\nif (events.length > 32) {\n    events.shift()\n}\n\ncontext.set('events', events)\n\n// msg.payload = events\n\nmsg.payload = {\n    'command': 'setData',\n    'arguments': [ events, false ]\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "const doors = {\n    1: 'ENTRANCE',\n    2: 'WORKSHOP',\n    3: 'UPSTAIRS',\n    4: 'LABORATORY'\n}\n\nflow.set('doors', doors)",
        "finalize": "",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "b9a22810.4f89d8"
            ]
        ]
    },
    {
        "id": "b94136c7.ef3808",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "listener",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "19dfdabc.2fc645",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "75e6f5f0.c7e47c"
            ]
        ]
    },
    {
        "id": "70a4e5a1.040e3c",
        "type": "ui_text",
        "z": "c56e1667.998748",
        "group": "62c7e067.8adce",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "address",
        "label": "address",
        "format": "{{msg.payload.address}}",
        "layout": "row-spread",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "fd5cb328.52147",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 155,
        "y": 180,
        "wires": [
            [
                "75e6f5f0.c7e47c"
            ]
        ]
    },
    {
        "id": "75e6f5f0.c7e47c",
        "type": "get-listener",
        "z": "c56e1667.998748",
        "name": "get-listener",
        "uhppote": "d596ac54.cced",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "b94136c7.ef3808",
                "70a4e5a1.040e3c",
                "e36670e.0a94b9"
            ]
        ]
    },
    {
        "id": "e36670e.0a94b9",
        "type": "ui_text",
        "z": "c56e1667.998748",
        "group": "62c7e067.8adce",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "port",
        "label": "port",
        "format": "{{msg.payload.port}}",
        "layout": "row-spread",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "48b92667.8a59b8",
        "type": "set-listener",
        "z": "c56e1667.998748",
        "name": "set-listener",
        "uhppote": "d596ac54.cced",
        "x": 670,
        "y": 320,
        "wires": [
            [
                "8463e096.b3a5f"
            ]
        ]
    },
    {
        "id": "87c6a583.0bc8c8",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-listener",
        "payload": "{\"deviceId\":405419896,\"address\":\"192.168.1.100\",\"port\":60001}",
        "payloadType": "json",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "48b92667.8a59b8"
            ]
        ]
    },
    {
        "id": "8463e096.b3a5f",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "3331c261.f5db3e",
        "type": "ui_text_input",
        "z": "c56e1667.998748",
        "name": "address",
        "label": "address",
        "tooltip": "",
        "group": "1a9d0189.af6a6e",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "set-address",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "512a17cd.9fb318",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "listener",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\n\nswitch (msg.topic) {\n    case 'set-device':\n        flow.set('set-listener.device', msg.payload)\n        return null;\n\n    case 'set-address':\n        flow.set('set-listener.address', msg.payload)\n        return null;\n\n    case 'set-port':\n        flow.set('set-listener.port', msg.payload)\n        return null;\n        \n    case 'set':\n        let deviceId = flow.get('set-listener.device')\n        let address = flow.get('set-listener.address')\n        let port = flow.get('set-listener.port')\n\n        if (!address) {\n          address = '192.168.1.100'\n        }\n\n        if (!port) {\n          port = 60001\n        }\n\n        if (deviceId && address && port) {\n            msg.payload = { \n                deviceId: deviceId,\n                address: address,\n                port: port\n            }\n        \n            return msg\n        }\n      \n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "48b92667.8a59b8"
            ]
        ]
    },
    {
        "id": "c4d1234d.d0bed",
        "type": "ui_button",
        "z": "c56e1667.998748",
        "name": "ok",
        "group": "1a9d0189.af6a6e",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "set-listener",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "set",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "89e06038.ac5c8",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "8239439e.8e136"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "8239439e.8e136",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "initialise",
        "func": "const address = { topic:'address', payload:'192.168.1.100' }\nconst port = { topic:'port', payload:60001 }\n\nreturn [ address, port ]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "3331c261.f5db3e"
            ],
            [
                "5217acb4.4afe04"
            ]
        ]
    },
    {
        "id": "5217acb4.4afe04",
        "type": "ui_text_input",
        "z": "c56e1667.998748",
        "name": "port",
        "label": "port",
        "tooltip": "",
        "group": "1a9d0189.af6a6e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "set-port",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "bbeb26dc.ff7ab8",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "",
        "links": [
            "d4e3111f.b25ea"
        ],
        "x": 355,
        "y": 320,
        "wires": [
            [
                "512a17cd.9fb318"
            ]
        ]
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "659dc42b.91f43c",
        "type": "ui_group",
        "z": "",
        "name": "events",
        "tab": "f29b4883.377448",
        "order": 1,
        "disp": false,
        "width": 22,
        "collapse": false
    },
    {
        "id": "62c7e067.8adce",
        "type": "ui_group",
        "z": "",
        "name": "get-listener",
        "tab": "2731970.74c476a",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1a9d0189.af6a6e",
        "type": "ui_group",
        "z": "",
        "name": "set-listener",
        "tab": "e4b36c96.1a567",
        "order": 2,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "f29b4883.377448",
        "type": "ui_tab",
        "z": "",
        "name": "events",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "devices",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configuration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]