examples/listen.json
[
    {
        "id": "c56e1667.998748",
        "type": "tab",
        "label": "listen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "18a61437.de498c",
        "type": "listen",
        "z": "c56e1667.998748",
        "name": "listen",
        "uhppote": "d596ac54.cced",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "b8dcd439.9a0448",
                "86b877aa.6e9148"
            ]
        ]
    },
    {
        "id": "b8dcd439.9a0448",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "6acfff58.f6c3f",
        "type": "ui_list",
        "z": "c56e1667.998748",
        "group": "659dc42b.91f43c",
        "name": "events",
        "order": 7,
        "width": "6",
        "height": "10",
        "lineType": "one",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "86b877aa.6e9148",
        "type": "function",
        "z": "c56e1667.998748",
        "name": "",
        "func": "let   events = context.get('events')\nconst event = msg.payload.event\nconst item = {\n      \"title\": event.timestamp + ' ' + event.type.code + ' ' + event.granted,\n      \"description\": \"event thing\",\n      //\"icon\": \"watch.svg\"\n      //\"icon_name\": \"font-awesome/fa-automobile\",\n      // \"info\": \"asdfasdf\",\n    }\n\nif (events) {\n  events.push(item)\n} else {\n  events = [item]\n}\n\ncontext.set('events', events)\n\nmsg.payload = events\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "6acfff58.f6c3f"
            ]
        ]
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "4999",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "659dc42b.91f43c",
        "type": "ui_group",
        "z": "",
        "name": "events",
        "tab": "f29b4883.377448",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f29b4883.377448",
        "type": "ui_tab",
        "z": "",
        "name": "events",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]