examples/set-address.json
[
    {
        "id": "8bcf2d43.2e243",
        "type": "tab",
        "label": "set-address",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c601d685.422838",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "da41e071.55ece",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"192.168.1.100\",\"subnet\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
        "payloadType": "json",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "75c8e264.6e9a3c",
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "45ee145d.a3525c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "IPv4",
        "func": "const deviceId = 405419896\n\nswitch (msg.topic) {\n    case 'set-address':\n        flow.set('set-address.address', msg.payload)\n        return null;\n\n    case 'set-subnet':\n        flow.set('set-address.subnet', msg.payload)\n        return null;\n\n    case 'set-gateway':\n        flow.set('set-address.gateway', msg.payload)\n        return null;\n        \n    case 'set':\n        let address = flow.get('set-address.address')\n        let subnet = flow.get('set-address.subnet')\n        let gateway = flow.get('set-address.gateway')\n\n        if (!address) {\n          address = '192.168.1.100'\n        }\n\n        if (!subnet) {\n          subnet = '255.255.255.20'\n        }\n\n        if (!gateway) {\n          gateway = '192.168.1.1'\n        }\n\n        msg.payload = {\n           deviceId: deviceId,\n           address: address,\n           subnet: subnet,\n           gateway: gateway\n        }        \n        \n        return msg\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "2a10c0a9.e8d6"
            ]
        ]
    },
    {
        "id": "2a10c0a9.e8d6",
        "type": "set-address",
        "z": "8bcf2d43.2e243",
        "name": "set-address",
        "uhppote": "d596ac54.cced",
        "x": 650,
        "y": 120,
        "wires": [
            [
                "c601d685.422838"
            ]
        ]
    },
    {
        "id": "7a342239.47727c",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "initialise",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"192.168.1.100\",\"subnet\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
        "payloadType": "json",
        "x": 100,
        "y": 20,
        "wires": [
            [
                "43a592be.9cc00c"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "75c8e264.6e9a3c",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "start",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "b6a91dc2.1e37",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "address",
        "label": "address",
        "tooltip": "",
        "group": "828448f4.2dc598",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "address",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "c5052b18.578d98",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "subnet",
        "label": "subnet",
        "tooltip": "",
        "group": "828448f4.2dc598",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "subnet",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "5b16f8e7.972fb8",
        "type": "ui_text_input",
        "z": "8bcf2d43.2e243",
        "name": "gateway",
        "label": "gateway",
        "tooltip": "",
        "group": "828448f4.2dc598",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "gateway",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "e88b8d2a.efd4d",
        "type": "ui_button",
        "z": "8bcf2d43.2e243",
        "name": "set-address",
        "group": "828448f4.2dc598",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "set IPv4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "set",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "43a592be.9cc00c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "initialise",
        "func": "const address = { topic:'address', payload:'192.168.1.100' }\nconst subnet = { topic:'subnet', payload:'255.255.255.0' }\nconst gateway = { topic:'gateway', payload:'192.168.1.1' }\n\nreturn [address, subnet, gateway]",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "b6a91dc2.1e37"
            ],
            [
                "c5052b18.578d98"
            ],
            [
                "5b16f8e7.972fb8"
            ]
        ]
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "4999",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "828448f4.2dc598",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configuration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]