examples/set-xxx.json
[
    {
        "id": "8bcf2d43.2e243",
        "type": "tab",
        "label": "set-xxx",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c601d685.422838",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 40,
        "wires": []
    },
    {
        "id": "da41e071.55ece",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"192.168.1.100\",\"subnet\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
        "payloadType": "json",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "75c8e264.6e9a3c",
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "75c8e264.6e9a3c",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "start",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "45ee145d.a3525c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "IPv4",
        "func": "const deviceId = 405419896\nconst address = msg.payload.address\nconst subnet = msg.payload.subnet\nconst gateway = msg.payload.gateway\n\nmsg.payload = {\n    deviceId: deviceId,\n    address: address,\n    subnet: subnet,\n    gateway: gateway\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "2a10c0a9.e8d6"
            ]
        ]
    },
    {
        "id": "2a10c0a9.e8d6",
        "type": "set-address",
        "z": "8bcf2d43.2e243",
        "name": "set-address",
        "uhppote": "d596ac54.cced",
        "x": 650,
        "y": 80,
        "wires": [
            [
                "c601d685.422838"
            ]
        ]
    },
    {
        "id": "e8c940b.a7290c",
        "type": "ui_form",
        "z": "8bcf2d43.2e243",
        "name": "IPv4",
        "label": "IPv4",
        "group": "828448f4.2dc598",
        "order": 1,
        "width": 8,
        "height": 5,
        "options": [
            {
                "label": "address",
                "value": "address",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "subnet mask",
                "value": "subnet",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "gateway",
                "value": "gateway",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "address": "",
            "subnet": "",
            "gateway": ""
        },
        "payload": "",
        "submit": "set address",
        "cancel": "cancel",
        "topic": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "45ee145d.a3525c"
            ]
        ],
        "inputLabels": [
            "initial-configuration"
        ],
        "outputLabels": [
            "updated-configuration"
        ]
    },
    {
        "id": "7a342239.47727c",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "initialise",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"192.168.1.100\",\"subnet\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
        "payloadType": "json",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "e8c940b.a7290c"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "d979664f.2fc508",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "aa696fcd.18016"
            ]
        ]
    },
    {
        "id": "aa696fcd.18016",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "datetime",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst deviceId = 405419896\nconst datetime = new Date(msg.payload)\n\nconst year = format(datetime.getFullYear(), 4)\nconst month = format(datetime.getMonth() + 1, 2)\nconst day = format(datetime.getDate() + 1, 2)\nconst hours = format(datetime.getHours(), 2)\nconst minutes = format(datetime.getMinutes(), 2)\nconst seconds = format(datetime.getSeconds(), 2)\nconst date = year + '-' + month + '-' + day\nconst time = hours + ':' + minutes + ':' + seconds\n\nmsg.payload = {\n    deviceId: deviceId,\n    datetime: date + ' ' + time\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 180,
        "wires": [
            [
                "a89af1fe.70029"
            ]
        ]
    },
    {
        "id": "53ee8284.a9ac0c",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "a89af1fe.70029",
        "type": "set-time",
        "z": "8bcf2d43.2e243",
        "name": "set-time",
        "uhppote": "d596ac54.cced",
        "x": 640,
        "y": 180,
        "wires": [
            [
                "53ee8284.a9ac0c"
            ]
        ]
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "4999",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "828448f4.2dc598",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configuration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]