examples/set-address.json
[
    {
        "id": "8bcf2d43.2e243",
        "type": "tab",
        "label": "set-address",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c601d685.422838",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 40,
        "wires": []
    },
    {
        "id": "da41e071.55ece",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "75c8e264.6e9a3c",
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "75c8e264.6e9a3c",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "start",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "45ee145d.a3525c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "IPv4",
        "func": "msg.payload = {\n    deviceId: 405419896,\n    address: '192.168.1.100',\n    subnet: '255.255.254.0',\n    gateway: '192.168.1.1'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "2a10c0a9.e8d6"
            ]
        ]
    },
    {
        "id": "2a10c0a9.e8d6",
        "type": "set-address",
        "z": "8bcf2d43.2e243",
        "name": "set-address",
        "uhppote": "d596ac54.cced",
        "x": 650,
        "y": 80,
        "wires": [
            [
                "c601d685.422838"
            ]
        ]
    },
    {
        "id": "e8c940b.a7290c",
        "type": "ui_form",
        "z": "8bcf2d43.2e243",
        "name": "IPv4",
        "label": "IPv4",
        "group": "828448f4.2dc598",
        "order": 1,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "address",
                "value": "address",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "subnet mask",
                "value": "subnet",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "gateway",
                "value": "gateway",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "address": "",
            "subnet": "",
            "gateway": ""
        },
        "payload": "",
        "submit": "set",
        "cancel": "cancel",
        "topic": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "45ee145d.a3525c",
                "75c8e264.6e9a3c"
            ]
        ],
        "inputLabels": [
            "initial-configuration"
        ],
        "outputLabels": [
            "updated-configuration"
        ]
    },
    {
        "id": "7a342239.47727c",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "initialise",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"192.168.1.100\",\"subnet\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
        "payloadType": "json",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "e8c940b.a7290c"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "4999",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "828448f4.2dc598",
        "type": "ui_group",
        "z": "",
        "name": "405419896",
        "tab": "e4b36c96.1a567",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configuration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]