examples/set-address.json
[
    {
        "id": "8bcf2d43.2e243",
        "type": "tab",
        "label": "set-address",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c601d685.422838",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "da41e071.55ece",
        "type": "inject",
        "z": "8bcf2d43.2e243",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "75c8e264.6e9a3c",
                "45ee145d.a3525c"
            ]
        ]
    },
    {
        "id": "75c8e264.6e9a3c",
        "type": "debug",
        "z": "8bcf2d43.2e243",
        "name": "start",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "e488790e.15ee88",
        "type": "ui_button",
        "z": "8bcf2d43.2e243",
        "name": "",
        "group": "a363178d.ee7038",
        "order": 3,
        "width": "4",
        "height": 1,
        "passthru": false,
        "label": "configure",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "45ee145d.a3525c",
                "75c8e264.6e9a3c"
            ]
        ]
    },
    {
        "id": "45ee145d.a3525c",
        "type": "function",
        "z": "8bcf2d43.2e243",
        "name": "IPv4",
        "func": "msg.payload = {\n    deviceId: 405419896,\n    address: '192.168.1.100',\n    subnet: '255.255.254.0',\n    gateway: '192.168.1.1'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "2a10c0a9.e8d6"
            ]
        ]
    },
    {
        "id": "2a10c0a9.e8d6",
        "type": "set-address",
        "z": "8bcf2d43.2e243",
        "name": "set-address",
        "uhppote": "d596ac54.cced",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "c601d685.422838"
            ]
        ]
    },
    {
        "id": "a363178d.ee7038",
        "type": "ui_group",
        "z": "",
        "name": "controls",
        "tab": "2731970.74c476a",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "4999",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "405419896",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]