examples/time.json
[
    {
        "id": "f7a455cc.3fefe8",
        "type": "tab",
        "label": "time",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6a3d799.3fe3688",
        "type": "get-time",
        "z": "f7a455cc.3fefe8",
        "name": "get-time",
        "uhppote": "d596ac54.cced",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "2c2ab991.619516",
                "7bf9bf1f.c2c11"
            ]
        ]
    },
    {
        "id": "2c2ab991.619516",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "date/time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "d84c21e5.b2692",
        "type": "inject",
        "z": "f7a455cc.3fefe8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "6a3d799.3fe3688"
            ]
        ]
    },
    {
        "id": "7bf9bf1f.c2c11",
        "type": "ui_text",
        "z": "f7a455cc.3fefe8",
        "group": "c3165a65.60bed8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "datetime",
        "label": "Date/time",
        "format": "{{msg.payload.datetime}}",
        "layout": "row-spread",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "a7169ed8.d4f29",
        "type": "link in",
        "z": "f7a455cc.3fefe8",
        "name": "refresh",
        "links": [
            "fbd6b7a7.cd1af8",
            "46cebfa2.e38c6"
        ],
        "x": 135,
        "y": 80,
        "wires": [
            [
                "6a3d799.3fe3688"
            ]
        ]
    },
    {
        "id": "9d254489.c08578",
        "type": "inject",
        "z": "f7a455cc.3fefe8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "804a318e.14ddb",
        "type": "debug",
        "z": "f7a455cc.3fefe8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "ea3bdfee.bf0d1",
        "type": "set-time",
        "z": "f7a455cc.3fefe8",
        "name": "set-time",
        "uhppote": "d596ac54.cced",
        "x": 480,
        "y": 180,
        "wires": [
            [
                "804a318e.14ddb"
            ]
        ]
    },
    {
        "id": "ca054f41.1f22f",
        "type": "ui_button",
        "z": "f7a455cc.3fefe8",
        "name": "ok",
        "group": "d18397cc.a852f8",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "set date/time",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "set",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "cbe2b9d7.ec8fe8",
        "type": "ui_text_input",
        "z": "f7a455cc.3fefe8",
        "name": "time",
        "label": "",
        "tooltip": "",
        "group": "d18397cc.a852f8",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "time",
        "delay": "0",
        "topic": "set-time",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "c729598d.d63658",
        "type": "ui_date_picker",
        "z": "f7a455cc.3fefe8",
        "name": "date",
        "label": "",
        "group": "d18397cc.a852f8",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "set-date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "1768d838.2f1398"
            ]
        ]
    },
    {
        "id": "1768d838.2f1398",
        "type": "function",
        "z": "f7a455cc.3fefe8",
        "name": "datetime",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst deviceId = 405419896\n\nswitch (msg.topic) {\n    case 'set-date':\n        flow.set('set-time.date', new Date(msg.payload))\n        return null;\n\n    case 'set-time':\n        const dt = new Date(msg.payload)\n        const tz = dt.getTimezoneOffset()\n        flow.set('set-time.time', new Date(msg.payload + tz*60*1000))\n        return null;\n        \n    case 'set':\n        let date = flow.get('set-time.date')\n        let time = flow.get('set-time.time')\n\n        if (!date) {\n          date = new Date()\n        }\n\n        if (!time) {\n          time = new Date()\n        }\n\n        const year = format(date.getFullYear(), 4)\n        const month = format(date.getMonth()+1, 2)\n        const day = format(date.getDate(), 2)\n        const hours = format(time.getHours(), 2)\n        const minutes = format(time.getMinutes(), 2)\n        const seconds = format(time.getSeconds(), 2)\n\n        msg.payload = { \n            deviceId: deviceId,\n            datetime: year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds\n        }\n        \n        return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "ea3bdfee.bf0d1"
            ]
        ]
    },
    {
        "id": "d596ac54.cced",
        "type": "uhppote",
        "z": "",
        "name": "development",
        "timeout": "4999",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "debug": true
    },
    {
        "id": "c3165a65.60bed8",
        "type": "ui_group",
        "z": "",
        "name": "get-time",
        "tab": "2731970.74c476a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d18397cc.a852f8",
        "type": "ui_group",
        "z": "",
        "name": "set-time",
        "tab": "e4b36c96.1a567",
        "order": 3,
        "disp": false,
        "width": 4,
        "collapse": false
    },
    {
        "id": "2731970.74c476a",
        "type": "ui_tab",
        "z": "",
        "name": "devices",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4b36c96.1a567",
        "type": "ui_tab",
        "z": "",
        "name": "configuration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]