integration-tests/integration-tests.json
[{"id":"de85fbbc.953fc8","type":"tab","label":"0-integration-tests","disabled":false,"info":""},{"id":"db5795ea.c20108","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"uhppoted dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"none","dateFormat":"YYYY-MM-DD","sizes":{"sx":48,"sy":28,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c03a3b24.d45c48","type":"ui_group","z":"","name":"column-1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"659dc42b.91f43c","type":"ui_group","z":"","name":"events","tab":"","order":1,"disp":false,"width":22,"collapse":false},{"id":"ffdc2439.246b38","type":"ui_group","z":"","name":"column-3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"920f64db.d2fd58","type":"ui_group","z":"","name":"configuration","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"573f9bfa.7e4564","type":"ui_group","z":"","name":"column-2","tab":"","order":2,"disp":false,"width":"5","collapse":false},{"id":"80ebf5dd.1d2018","type":"ui_group","z":"","name":"card","tab":"","order":2,"disp":false,"width":6,"collapse":false},{"id":"8808f6fd.98aea8","type":"ui_spacer","name":"spacer","group":"d5c77a7d.bea588","order":1,"width":6,"height":1},{"id":"c94272e.53ab69","type":"ui_spacer","name":"spacer","group":"d5c77a7d.bea588","order":2,"width":6,"height":1},{"id":"9122342b.ec2d28","type":"ui_spacer","name":"spacer","group":"d5c77a7d.bea588","order":3,"width":6,"height":1},{"id":"30b19d5a.decfa2","type":"ui_spacer","name":"spacer","group":"d5c77a7d.bea588","order":4,"width":6,"height":1},{"id":"b0be8022.aa34a","type":"ui_spacer","name":"spacer","group":"d5c77a7d.bea588","order":6,"width":1,"height":1},{"id":"cb89a097.4271e","type":"ui_spacer","name":"spacer","group":"d5c77a7d.bea588","order":8,"width":1,"height":1},{"id":"52376a52.aeb724","type":"ui_spacer","name":"spacer","group":"d5c77a7d.bea588","order":10,"width":1,"height":1},{"id":"a6f7227e.ec51c","type":"ui_spacer","name":"spacer","group":"d5c77a7d.bea588","order":12,"width":1,"height":1},{"id":"975ca31.d8d236","type":"ui_group","z":"","name":"cards","tab":"","order":1,"disp":false,"width":"14","collapse":false},{"id":"50bde6a9.1b0d98","type":"ui_spacer","name":"spacer","group":"975ca31.d8d236","order":2,"width":3,"height":1},{"id":"4d83bdd3.94be24","type":"ui_spacer","name":"spacer","group":"975ca31.d8d236","order":4,"width":1,"height":1},{"id":"790bdac8.f21294","type":"ui_spacer","name":"spacer","group":"975ca31.d8d236","order":6,"width":13,"height":1},{"id":"c14c79eb.c6bcd8","type":"ui_spacer","name":"spacer","group":"80ebf5dd.1d2018","order":1,"width":6,"height":1},{"id":"7dc0778b.9150f8","type":"ui_spacer","name":"spacer","group":"80ebf5dd.1d2018","order":2,"width":6,"height":1},{"id":"eb2edcaf.59ea4","type":"ui_spacer","name":"spacer","group":"80ebf5dd.1d2018","order":4,"width":1,"height":1},{"id":"403e65ae.60cd1c","type":"ui_spacer","name":"spacer","group":"80ebf5dd.1d2018","order":6,"width":1,"height":1},{"id":"46598fdb.4c6cf","type":"ui_spacer","name":"spacer","group":"80ebf5dd.1d2018","order":9,"width":1,"height":1},{"id":"b9692b7e.641b28","type":"ui_spacer","name":"spacer","group":"80ebf5dd.1d2018","order":12,"width":1,"height":1},{"id":"233c9bb8.f544b4","type":"ui_spacer","name":"spacer","group":"80ebf5dd.1d2018","order":14,"width":1,"height":1},{"id":"15a25520.d9af9b","type":"ui_spacer","name":"spacer","group":"80ebf5dd.1d2018","order":16,"width":1,"height":1},{"id":"7914c63.17a1c38","type":"ui_spacer","name":"spacer","group":"80ebf5dd.1d2018","order":18,"width":1,"height":1},{"id":"3e6fa457.5abd3c","type":"ui_spacer","name":"spacer","group":"c03a3b24.d45c48","order":2,"width":1,"height":1},{"id":"8fa0110d.189c8","type":"ui_spacer","name":"spacer","group":"c03a3b24.d45c48","order":4,"width":1,"height":1},{"id":"b5848008.e156a","type":"ui_spacer","name":"spacer","group":"c03a3b24.d45c48","order":6,"width":1,"height":1},{"id":"ab7f6123.0c5ad","type":"ui_spacer","name":"spacer","group":"c03a3b24.d45c48","order":8,"width":1,"height":1},{"id":"d4e31d94.5d04b","type":"ui_spacer","name":"spacer","group":"c03a3b24.d45c48","order":10,"width":1,"height":1},{"id":"cbb06d68.8cabd","type":"ui_spacer","name":"spacer","group":"c03a3b24.d45c48","order":12,"width":1,"height":1},{"id":"7b7636c8.cf1d18","type":"ui_spacer","name":"spacer","group":"c03a3b24.d45c48","order":14,"width":1,"height":1},{"id":"4e2b95fe.8d00ac","type":"ui_spacer","name":"spacer","group":"c03a3b24.d45c48","order":16,"width":6,"height":1},{"id":"71a2b68a.8c7b48","type":"ui_spacer","name":"spacer","group":"c03a3b24.d45c48","order":18,"width":1,"height":1},{"id":"b901869.26b9678","type":"ui_spacer","name":"spacer","group":"c03a3b24.d45c48","order":20,"width":1,"height":1},{"id":"af58c5ab.2553d8","type":"ui_spacer","name":"spacer","group":"573f9bfa.7e4564","order":2,"width":1,"height":1},{"id":"dc1646f1.e17ca8","type":"ui_spacer","name":"spacer","group":"573f9bfa.7e4564","order":4,"width":5,"height":1},{"id":"89cb1ff5.817f5","type":"ui_spacer","name":"spacer","group":"573f9bfa.7e4564","order":6,"width":1,"height":1},{"id":"60744e6b.f206f","type":"ui_spacer","name":"spacer","group":"573f9bfa.7e4564","order":8,"width":1,"height":1},{"id":"d7ba227c.32542","type":"ui_spacer","name":"spacer","group":"573f9bfa.7e4564","order":10,"width":1,"height":1},{"id":"84027868.149cc8","type":"ui_spacer","name":"spacer","group":"573f9bfa.7e4564","order":12,"width":1,"height":1},{"id":"b01f0dc7.9edd3","type":"ui_spacer","name":"spacer","group":"573f9bfa.7e4564","order":14,"width":5,"height":1},{"id":"a47edf21.22e26","type":"ui_spacer","name":"spacer","group":"573f9bfa.7e4564","order":16,"width":1,"height":1},{"id":"17b83208.9c1dbe","type":"ui_spacer","name":"spacer","group":"573f9bfa.7e4564","order":18,"width":5,"height":1},{"id":"e6f298aa.816638","type":"ui_spacer","name":"spacer","group":"573f9bfa.7e4564","order":20,"width":1,"height":1},{"id":"b9d8bf6.a315f4","type":"ui_spacer","name":"spacer","group":"ffdc2439.246b38","order":2,"width":1,"height":1},{"id":"22979ba0.cf6544","type":"ui_spacer","name":"spacer","group":"ffdc2439.246b38","order":4,"width":1,"height":1},{"id":"c4f329dc.2d6748","type":"ui_spacer","name":"spacer","group":"ffdc2439.246b38","order":6,"width":2,"height":1},{"id":"9739e6e3.231558","type":"ui_spacer","name":"spacer","group":"ffdc2439.246b38","order":8,"width":2,"height":1},{"id":"334e6ec1.d5c202","type":"ui_spacer","name":"spacer","group":"ffdc2439.246b38","order":10,"width":2,"height":1},{"id":"1d14bd73.a9ba03","type":"ui_spacer","name":"spacer","group":"ffdc2439.246b38","order":12,"width":2,"height":1},{"id":"27ceda14.006e36","type":"ui_spacer","name":"spacer","group":"ffdc2439.246b38","order":14,"width":2,"height":1},{"id":"cb35d9e4.1411e8","type":"ui_spacer","name":"spacer","group":"ffdc2439.246b38","order":16,"width":2,"height":1},{"id":"eb035c10.055","type":"ui_spacer","name":"spacer","group":"ffdc2439.246b38","order":18,"width":2,"height":1},{"id":"b423cc6d.d8edf","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":2,"width":5,"height":1},{"id":"169e4f36.e3f201","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":3,"width":10,"height":1},{"id":"52cc1be1.90c7a4","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":6,"width":1,"height":1},{"id":"7aac0e7e.82451","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":8,"width":1,"height":1},{"id":"dba91de7.b68f8","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":10,"width":1,"height":1},{"id":"4c684fdb.8db19","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":12,"width":1,"height":1},{"id":"6b5b323.e2a01cc","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":14,"width":1,"height":1},{"id":"51732c38.0c7814","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":16,"width":5,"height":1},{"id":"15a6b685.aa5e09","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":17,"width":10,"height":1},{"id":"24a6aec1.c18582","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":22,"width":1,"height":1},{"id":"272b322d.2f3a8e","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":24,"width":2,"height":1},{"id":"b8db9776.f33908","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":26,"width":1,"height":1},{"id":"63dc43f8.f5769c","type":"ui_spacer","name":"spacer","group":"920f64db.d2fd58","order":30,"width":1,"height":1},{"id":"a584141e.a7ead8","type":"ui_spacer","name":"spacer","group":"659dc42b.91f43c","order":3,"width":14,"height":1},{"id":"4bd8ad1e.c33884","type":"ui_spacer","name":"spacer","group":"659dc42b.91f43c","order":5,"width":22,"height":1},{"id":"48642b4d.2966b4","type":"ui_spacer","name":"spacer","group":"659dc42b.91f43c","order":7,"width":16,"height":1},{"id":"cbd92359.dbf19","type":"config","z":"","name":"integration-tests","timeout":"5000","bind":"192.168.1.100","broadcast":"192.168.1.255:60000","listen":"192.168.1.100:60001","controllers":"{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}","debug":true},{"id":"c226e86b.bcaf58","type":"inject","z":"de85fbbc.953fc8","name":"test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"running","payloadType":"str","x":110,"y":80,"wires":[["a1b12e77.e43b1","d01eb843.06acf8"]]},{"id":"ee75260d.e57f48","type":"link in","z":"de85fbbc.953fc8","name":"next","links":["16c0f45b.100a3c","225c6db3.0cb272","23b77bbe.34c2c4","4057beab.6bf3d","4dfec980.ea2838","52c87143.b34c1","72572976.d3cc18","743a6d3b.bf6674","8b94e261.add93","90b1b933.42a518","97b480a9.c74cf","a53610b4.aa3e2","b9d8a17d.1636a","c795c4ba.eb1358","c8ffe1fb.1153e","ce298e4e.9ee05","e1743203.8a5f7","e973582c.748728","f8a731fb.97baa","29050927.002c56"],"x":135,"y":140,"wires":[["a1b12e77.e43b1","3cf2db72.f87ad4"]]},{"id":"3cf2db72.f87ad4","type":"debug","z":"de85fbbc.953fc8","name":"trace","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":140,"wires":[]},{"id":"a1b12e77.e43b1","type":"switch","z":"de85fbbc.953fc8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"get-devices","vt":"str"},{"t":"eq","v":"get-device","vt":"str"},{"t":"eq","v":"set-ip","vt":"str"},{"t":"eq","v":"get-listener","vt":"str"},{"t":"eq","v":"set-listener","vt":"str"},{"t":"eq","v":"get-status","vt":"str"},{"t":"eq","v":"get-time","vt":"str"},{"t":"eq","v":"set-time","vt":"str"},{"t":"eq","v":"get-door-control","vt":"str"},{"t":"eq","v":"set-door-control-normally-open","vt":"str"},{"t":"eq","v":"set-door-control-normally-closed","vt":"str"},{"t":"eq","v":"set-door-control-controlled","vt":"str"},{"t":"eq","v":"open-door","vt":"str"},{"t":"eq","v":"get-cards","vt":"str"},{"t":"eq","v":"get-card","vt":"str"},{"t":"eq","v":"get-card-by-index","vt":"str"},{"t":"eq","v":"record-special-events","vt":"str"},{"t":"eq","v":"get-event-index","vt":"str"},{"t":"eq","v":"set-event-index","vt":"str"},{"t":"eq","v":"get-event","vt":"str"}],"checkall":"true","repair":false,"outputs":21,"x":270,"y":540,"wires":[["79e811fa.316cc"],["ed108571.dec7b8"],["f3833eda.851e3"],["2920cf87.f5c9d"],["4722a78a.3415e8"],["78fb91f3.b7b8"],["e0e061be.d2458"],["8f90d1a2.101bd"],["629cd41e.951fcc"],["f0912abc.874fa8"],["1e17bf13.e8bf91"],["85788ea9.e1396"],["2a3610c.f256bf"],["79d2e2c6.e4693c"],["f637d805.605d28"],["3091331b.90abbc"],["56b70344.feffdc"],["82b6b410.9b0ee8"],["26a1e3e7.7c8ffc"],["82f878c2.983e08"],["d8a9007b.456b3"]]},{"id":"e9060ec9.fe371","type":"get-devices","z":"de85fbbc.953fc8","name":"get-devices","topic":"","config":"cbd92359.dbf19","x":790,"y":140,"wires":[["72572976.d3cc18"]]},{"id":"bf5563db.210cb","type":"get-device","z":"de85fbbc.953fc8","name":"get-device","topic":"","config":"cbd92359.dbf19","x":790,"y":180,"wires":[["b9d8a17d.1636a"]]},{"id":"ed108571.dec7b8","type":"change","z":"de85fbbc.953fc8","name":"get-device","rules":[{"t":"set","p":"topic","pt":"msg","to":"get-device","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["bf5563db.210cb"]]},{"id":"b9d8a17d.1636a","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":180,"wires":[]},{"id":"56ef93c6.8d8c1c","type":"set-ip","z":"de85fbbc.953fc8","name":"set-ip","topic":"","config":"cbd92359.dbf19","x":770,"y":220,"wires":[["16c0f45b.100a3c"]]},{"id":"f3833eda.851e3","type":"change","z":"de85fbbc.953fc8","name":"set-ip","rules":[{"t":"set","p":"topic","pt":"msg","to":"set-ip","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"deviceId\":405419896,\"address\":\"192.168.1.125\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["56ef93c6.8d8c1c"]]},{"id":"16c0f45b.100a3c","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":220,"wires":[]},{"id":"72572976.d3cc18","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":140,"wires":[]},{"id":"79e811fa.316cc","type":"change","z":"de85fbbc.953fc8","name":"get-devices","rules":[{"t":"set","p":"topic","pt":"msg","to":"get-devices","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["e9060ec9.fe371"]]},{"id":"2920cf87.f5c9d","type":"change","z":"de85fbbc.953fc8","name":"get-listener","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["c0da3ea7.48856"]]},{"id":"c0da3ea7.48856","type":"get-listener","z":"de85fbbc.953fc8","name":"get-listener","topic":"get-listener","config":"cbd92359.dbf19","x":790,"y":260,"wires":[["743a6d3b.bf6674"]]},{"id":"743a6d3b.bf6674","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":260,"wires":[]},{"id":"4722a78a.3415e8","type":"change","z":"de85fbbc.953fc8","name":"set-listener","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"deviceId\":405419896,\"address\":\"192.168.1.100\",\"port\":60001}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":300,"wires":[["57bc7521.18562c"]]},{"id":"57bc7521.18562c","type":"set-listener","z":"de85fbbc.953fc8","name":"set-listener","topic":"set-listener","config":"cbd92359.dbf19","x":790,"y":300,"wires":[["4057beab.6bf3d"]]},{"id":"4057beab.6bf3d","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":300,"wires":[]},{"id":"e0e061be.d2458","type":"change","z":"de85fbbc.953fc8","name":"get-time","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["1f07292c.cfdc67"]]},{"id":"1f07292c.cfdc67","type":"get-time","z":"de85fbbc.953fc8","name":"get-time","topic":"get-time","config":"cbd92359.dbf19","x":780,"y":380,"wires":[["52c87143.b34c1"]]},{"id":"52c87143.b34c1","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":380,"wires":[]},{"id":"8f90d1a2.101bd","type":"function","z":"de85fbbc.953fc8","name":"set-time","func":"const format = (n, l) => String(n).padStart(l, '0')\nconst datetime = new Date()\n\nconst year = format(datetime.getFullYear(), 4)\nconst month = format(datetime.getMonth()+1, 2)\nconst day = format(datetime.getDate(), 2)\nconst hours = format(datetime.getHours(), 2)\nconst minutes = format(datetime.getMinutes(), 2)\nconst seconds = format(datetime.getSeconds(), 2)\n\nmsg.payload = { \n    deviceId: 405419896,\n    datetime: year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds\n}\n        \nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":420,"wires":[["a739a69a.0fb768"]]},{"id":"a739a69a.0fb768","type":"set-time","z":"de85fbbc.953fc8","name":"set-time","topic":"set-time","config":"cbd92359.dbf19","x":780,"y":420,"wires":[["4dfec980.ea2838"]]},{"id":"4dfec980.ea2838","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":420,"wires":[]},{"id":"78fb91f3.b7b8","type":"change","z":"de85fbbc.953fc8","name":"get-status","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[["d17948ed.f07db8"]]},{"id":"d17948ed.f07db8","type":"get-status","z":"de85fbbc.953fc8","name":"get-status","topic":"get-status","config":"cbd92359.dbf19","x":790,"y":340,"wires":[["e973582c.748728"]]},{"id":"e973582c.748728","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":340,"wires":[]},{"id":"629cd41e.951fcc","type":"change","z":"de85fbbc.953fc8","name":"get-door-control","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896, \"door\":1 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":460,"wires":[["9a3a716.1076d9"]]},{"id":"9a3a716.1076d9","type":"get-door-control","z":"de85fbbc.953fc8","name":"get-door-control","topic":"get-door-control","config":"cbd92359.dbf19","x":800,"y":460,"wires":[["23b77bbe.34c2c4"]]},{"id":"23b77bbe.34c2c4","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":460,"wires":[]},{"id":"f0912abc.874fa8","type":"change","z":"de85fbbc.953fc8","name":"set-door-control-normally-open","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"deviceId\":405419896,\"door\":1,\"delay\":5,\"control\":\"normally open\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":500,"wires":[["80547728.e83688"]]},{"id":"80547728.e83688","type":"set-door-control","z":"de85fbbc.953fc8","name":"set-door-control","topic":"set-door-control-normally-open","config":"cbd92359.dbf19","x":800,"y":500,"wires":[["a53610b4.aa3e2"]]},{"id":"a53610b4.aa3e2","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":500,"wires":[]},{"id":"1e17bf13.e8bf91","type":"change","z":"de85fbbc.953fc8","name":"set-door-control-normally-closed","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"deviceId\":405419896,\"door\":1,\"delay\":5,\"control\":\"normally closed\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[["356e1b30.f3d974"]]},{"id":"356e1b30.f3d974","type":"set-door-control","z":"de85fbbc.953fc8","name":"set-door-control","topic":"set-door-control-normally-closed","config":"cbd92359.dbf19","x":800,"y":540,"wires":[["90b1b933.42a518"]]},{"id":"90b1b933.42a518","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":540,"wires":[]},{"id":"85788ea9.e1396","type":"change","z":"de85fbbc.953fc8","name":"set-door-control-controlled","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"deviceId\":405419896,\"door\":1,\"delay\":5,\"control\":\"controlled\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":580,"wires":[["65b92504.2f897c"]]},{"id":"65b92504.2f897c","type":"set-door-control","z":"de85fbbc.953fc8","name":"set-door-control","topic":"set-door-control-controlled","config":"cbd92359.dbf19","x":800,"y":580,"wires":[["e1743203.8a5f7"]]},{"id":"e1743203.8a5f7","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":580,"wires":[]},{"id":"2a3610c.f256bf","type":"change","z":"de85fbbc.953fc8","name":"open-door","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\":405419896, \"door\":1 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":620,"wires":[["40b99c79.0a1ce4"]]},{"id":"40b99c79.0a1ce4","type":"open-door","z":"de85fbbc.953fc8","name":"open-door","topic":"open-door","config":"cbd92359.dbf19","x":790,"y":620,"wires":[["97b480a9.c74cf"]]},{"id":"97b480a9.c74cf","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":620,"wires":[]},{"id":"79d2e2c6.e4693c","type":"change","z":"de85fbbc.953fc8","name":"get-cards","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":660,"wires":[["13322554.1846db"]]},{"id":"13322554.1846db","type":"get-cards","z":"de85fbbc.953fc8","name":"get-cards","topic":"get-cards","config":"cbd92359.dbf19","x":780,"y":660,"wires":[["ce298e4e.9ee05"]]},{"id":"ce298e4e.9ee05","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":660,"wires":[]},{"id":"f637d805.605d28","type":"change","z":"de85fbbc.953fc8","name":"get-card","rules":[{"t":"set","p":"topic","pt":"msg","to":"get-card","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896, \"cardNumber\": 65537 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":700,"wires":[["dc98aa64.a856d8"]]},{"id":"dc98aa64.a856d8","type":"get-card","z":"de85fbbc.953fc8","name":"get-card","topic":"","config":"cbd92359.dbf19","x":780,"y":700,"wires":[["225c6db3.0cb272"]]},{"id":"225c6db3.0cb272","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":700,"wires":[]},{"id":"3091331b.90abbc","type":"change","z":"de85fbbc.953fc8","name":"get-card-by-index","rules":[{"t":"set","p":"topic","pt":"msg","to":"get-card-by-index","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896, \"index\": 3 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":740,"wires":[["8446af5d.11658"]]},{"id":"8446af5d.11658","type":"get-card-by-index","z":"de85fbbc.953fc8","name":"get-card-by-index","config":"cbd92359.dbf19","x":810,"y":740,"wires":[["8b94e261.add93"]]},{"id":"8b94e261.add93","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":740,"wires":[]},{"id":"82b6b410.9b0ee8","type":"change","z":"de85fbbc.953fc8","name":"get-event-index","rules":[{"t":"set","p":"topic","pt":"msg","to":"get-event-index","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":820,"wires":[["316db87a.7bef58"]]},{"id":"316db87a.7bef58","type":"get-event-index","z":"de85fbbc.953fc8","name":"get-event-index","config":"cbd92359.dbf19","x":800,"y":820,"wires":[["c795c4ba.eb1358"]]},{"id":"c795c4ba.eb1358","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":820,"wires":[]},{"id":"26a1e3e7.7c8ffc","type":"change","z":"de85fbbc.953fc8","name":"set-event-index","rules":[{"t":"set","p":"topic","pt":"msg","to":"set-event-index","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896, \"index\":14 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":860,"wires":[["6020c163.dfce9"]]},{"id":"6020c163.dfce9","type":"set-event-index","z":"de85fbbc.953fc8","name":"set-event-index","topic":"","config":"cbd92359.dbf19","x":800,"y":860,"wires":[["c8ffe1fb.1153e"]]},{"id":"c8ffe1fb.1153e","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":860,"wires":[]},{"id":"82f878c2.983e08","type":"change","z":"de85fbbc.953fc8","name":"get-event","rules":[{"t":"set","p":"topic","pt":"msg","to":"get-event","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896, \"index\":17 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":900,"wires":[["25b91212.57c65e"]]},{"id":"25b91212.57c65e","type":"get-event","z":"de85fbbc.953fc8","name":"get-event","config":"cbd92359.dbf19","x":780,"y":900,"wires":[["f8a731fb.97baa"]]},{"id":"f8a731fb.97baa","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":900,"wires":[]},{"id":"d24e1c75.37ef7","type":"listen","z":"de85fbbc.953fc8","name":"listen","config":"cbd92359.dbf19","x":770,"y":100,"wires":[["e601bdca.da8e2"]]},{"id":"e601bdca.da8e2","type":"debug","z":"de85fbbc.953fc8","name":"event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":100,"wires":[]},{"id":"d01eb843.06acf8","type":"debug","z":"de85fbbc.953fc8","name":"result","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":280,"y":80,"wires":[]},{"id":"d8a9007b.456b3","type":"change","z":"de85fbbc.953fc8","name":"complete","rules":[{"t":"set","p":"payload","pt":"msg","to":"complete","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":940,"wires":[["e95510d0.7968a"]]},{"id":"1d4028a9.08f2f7","type":"link in","z":"de85fbbc.953fc8","name":"result","links":["e95510d0.7968a"],"x":135,"y":40,"wires":[["d01eb843.06acf8"]]},{"id":"e95510d0.7968a","type":"link out","z":"de85fbbc.953fc8","name":"","links":["1d4028a9.08f2f7"],"x":595,"y":940,"wires":[]},{"id":"56b70344.feffdc","type":"change","z":"de85fbbc.953fc8","name":"record-special-events","rules":[{"t":"set","p":"topic","pt":"msg","to":"record-special-events","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{ \"deviceId\": 405419896, \"enable\":true }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":780,"wires":[["5d9e1107.f32d9"]]},{"id":"5d9e1107.f32d9","type":"record-special-events","z":"de85fbbc.953fc8","name":"record-special-events","topic":"","config":"cbd92359.dbf19","x":820,"y":780,"wires":[["29050927.002c56"]]},{"id":"29050927.002c56","type":"link out","z":"de85fbbc.953fc8","name":"","links":["ee75260d.e57f48"],"x":955,"y":780,"wires":[]}]