integration-tests/integration-tests.json
[
    {
        "id": "de85fbbc.953fc8",
        "type": "tab",
        "label": "0-integration-tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cbd92359.dbf19",
        "type": "uhppoted-config",
        "name": "integration-tests",
        "timeout": "1000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": false
    },
    {
        "id": "c226e86b.bcaf58",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start",
        "payload": "running",
        "payloadType": "str",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "d01eb843.06acf8",
                "79e811fa.316cc"
            ]
        ]
    },
    {
        "id": "ee75260d.e57f48",
        "type": "link in",
        "z": "de85fbbc.953fc8",
        "name": "trace",
        "links": [
            "16c0f45b.100a3c",
            "225c6db3.0cb272",
            "23b77bbe.34c2c4",
            "29050927.002c56",
            "4057beab.6bf3d",
            "4dfec980.ea2838",
            "52c87143.b34c1",
            "72572976.d3cc18",
            "743a6d3b.bf6674",
            "8b94e261.add93",
            "90b1b933.42a518",
            "97b480a9.c74cf",
            "a53610b4.aa3e2",
            "b9d8a17d.1636a",
            "c795c4ba.eb1358",
            "c8ffe1fb.1153e",
            "ce298e4e.9ee05",
            "e1743203.8a5f7",
            "e973582c.748728",
            "f8a731fb.97baa",
            "705ac7d3.812648",
            "1533b50f.bef23b",
            "861b8d83.23f3b",
            "b64d3e12.1547",
            "701b8859.3dfea8",
            "10a66e62.9d0c02",
            "e3dffe9e.66a8",
            "c0e6bb33a19db488",
            "9a31bb8724c61ced",
            "48ff7ac7019f5179",
            "252b172a8418a0f4"
        ],
        "x": 135,
        "y": 60,
        "wires": [
            [
                "3cf2db72.f87ad4"
            ]
        ]
    },
    {
        "id": "3cf2db72.f87ad4",
        "type": "debug",
        "z": "de85fbbc.953fc8",
        "name": "trace",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "e9060ec9.fe371",
        "type": "uhppoted-get-devices",
        "z": "de85fbbc.953fc8",
        "name": "get-devices",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 790,
        "y": 140,
        "wires": [
            [
                "dd9b5bb5.f21188",
                "ed108571.dec7b8"
            ]
        ]
    },
    {
        "id": "bf5563db.210cb",
        "type": "uhppoted-get-device",
        "z": "de85fbbc.953fc8",
        "name": "get-device",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "f37c9cbd.0b964",
                "f3833eda.851e3"
            ]
        ]
    },
    {
        "id": "ed108571.dec7b8",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-device",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "get-device",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "bf5563db.210cb"
            ]
        ]
    },
    {
        "id": "b9d8a17d.1636a",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-device",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1195,
        "y": 200,
        "wires": []
    },
    {
        "id": "56ef93c6.8d8c1c",
        "type": "uhppoted-set-ip",
        "z": "de85fbbc.953fc8",
        "name": "set-ip",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 770,
        "y": 260,
        "wires": [
            [
                "45948020.d6bff",
                "2920cf87.f5c9d"
            ]
        ]
    },
    {
        "id": "f3833eda.851e3",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "set-ip",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set-ip",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"deviceId\":405419896,\"address\":\"192.168.1.125\",\"netmask\":\"255.255.255.0\",\"gateway\":\"192.168.1.1\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "56ef93c6.8d8c1c"
            ]
        ]
    },
    {
        "id": "16c0f45b.100a3c",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "set-ip",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1195,
        "y": 260,
        "wires": []
    },
    {
        "id": "72572976.d3cc18",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-devices",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1195,
        "y": 140,
        "wires": []
    },
    {
        "id": "79e811fa.316cc",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-devices",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "get-devices",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "e9060ec9.fe371"
            ]
        ]
    },
    {
        "id": "2920cf87.f5c9d",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-listener",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "c0da3ea7.48856"
            ]
        ]
    },
    {
        "id": "c0da3ea7.48856",
        "type": "uhppoted-get-listener",
        "z": "de85fbbc.953fc8",
        "name": "get-listener",
        "topic": "get-listener",
        "config": "cbd92359.dbf19",
        "x": 790,
        "y": 320,
        "wires": [
            [
                "2d76fa55.f24ea6",
                "4722a78a.3415e8"
            ]
        ]
    },
    {
        "id": "743a6d3b.bf6674",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-listener",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1195,
        "y": 320,
        "wires": []
    },
    {
        "id": "4722a78a.3415e8",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "set-listener",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"deviceId\":405419896,\"address\":\"192.168.1.100\",\"port\":60001}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "57bc7521.18562c"
            ]
        ]
    },
    {
        "id": "57bc7521.18562c",
        "type": "uhppoted-set-listener",
        "z": "de85fbbc.953fc8",
        "name": "set-listener",
        "topic": "set-listener",
        "config": "cbd92359.dbf19",
        "x": 790,
        "y": 380,
        "wires": [
            [
                "4057beab.6bf3d",
                "78fb91f3.b7b8"
            ]
        ]
    },
    {
        "id": "4057beab.6bf3d",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "set-listener",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 380,
        "wires": []
    },
    {
        "id": "e0e061be.d2458",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 460,
        "wires": [
            [
                "1f07292c.cfdc67"
            ]
        ]
    },
    {
        "id": "1f07292c.cfdc67",
        "type": "uhppoted-get-time",
        "z": "de85fbbc.953fc8",
        "name": "get-time",
        "topic": "get-time",
        "config": "cbd92359.dbf19",
        "x": 780,
        "y": 460,
        "wires": [
            [
                "52c87143.b34c1",
                "8f90d1a2.101bd"
            ]
        ]
    },
    {
        "id": "52c87143.b34c1",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-time",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 460,
        "wires": []
    },
    {
        "id": "8f90d1a2.101bd",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "set-time",
        "func": "const format = (n, l) => String(n).padStart(l, '0')\nconst datetime = new Date()\n\nconst year = format(datetime.getFullYear(), 4)\nconst month = format(datetime.getMonth()+1, 2)\nconst day = format(datetime.getDate(), 2)\nconst hours = format(datetime.getHours(), 2)\nconst minutes = format(datetime.getMinutes(), 2)\nconst seconds = format(datetime.getSeconds(), 2)\n\nmsg.payload = { \n    deviceId: 405419896,\n    datetime: year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds\n}\n        \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 500,
        "wires": [
            [
                "a739a69a.0fb768"
            ]
        ]
    },
    {
        "id": "a739a69a.0fb768",
        "type": "uhppoted-set-time",
        "z": "de85fbbc.953fc8",
        "name": "set-time",
        "topic": "set-time",
        "config": "cbd92359.dbf19",
        "x": 780,
        "y": 500,
        "wires": [
            [
                "4dfec980.ea2838",
                "629cd41e.951fcc"
            ]
        ]
    },
    {
        "id": "4dfec980.ea2838",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "set-time",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 500,
        "wires": []
    },
    {
        "id": "78fb91f3.b7b8",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 420,
        "wires": [
            [
                "d17948ed.f07db8"
            ]
        ]
    },
    {
        "id": "d17948ed.f07db8",
        "type": "uhppoted-get-status",
        "z": "de85fbbc.953fc8",
        "name": "get-status",
        "topic": "get-status",
        "config": "cbd92359.dbf19",
        "x": 790,
        "y": 420,
        "wires": [
            [
                "e973582c.748728",
                "e0e061be.d2458"
            ]
        ]
    },
    {
        "id": "e973582c.748728",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-status",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 420,
        "wires": []
    },
    {
        "id": "629cd41e.951fcc",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-door-control",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896, \"door\":1 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 540,
        "wires": [
            [
                "9a3a716.1076d9"
            ]
        ]
    },
    {
        "id": "9a3a716.1076d9",
        "type": "uhppoted-get-door-control",
        "z": "de85fbbc.953fc8",
        "name": "get-door-control",
        "topic": "get-door-control",
        "config": "cbd92359.dbf19",
        "x": 800,
        "y": 540,
        "wires": [
            [
                "23b77bbe.34c2c4",
                "f0912abc.874fa8"
            ]
        ]
    },
    {
        "id": "23b77bbe.34c2c4",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-door-control",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 540,
        "wires": []
    },
    {
        "id": "f0912abc.874fa8",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "set-door-control-normally-open",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"deviceId\":405419896,\"door\":1,\"delay\":5,\"control\":\"normally open\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 580,
        "wires": [
            [
                "80547728.e83688"
            ]
        ]
    },
    {
        "id": "80547728.e83688",
        "type": "uhppoted-set-door-control",
        "z": "de85fbbc.953fc8",
        "name": "set-door-control",
        "topic": "set-door-control-normally-open",
        "config": "cbd92359.dbf19",
        "x": 800,
        "y": 580,
        "wires": [
            [
                "a53610b4.aa3e2",
                "1e17bf13.e8bf91"
            ]
        ]
    },
    {
        "id": "a53610b4.aa3e2",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "set-door-normally-open",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 580,
        "wires": []
    },
    {
        "id": "1e17bf13.e8bf91",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "set-door-control-normally-closed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"deviceId\":405419896,\"door\":1,\"delay\":5,\"control\":\"normally closed\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 620,
        "wires": [
            [
                "356e1b30.f3d974"
            ]
        ]
    },
    {
        "id": "356e1b30.f3d974",
        "type": "uhppoted-set-door-control",
        "z": "de85fbbc.953fc8",
        "name": "set-door-control",
        "topic": "set-door-control-normally-closed",
        "config": "cbd92359.dbf19",
        "x": 800,
        "y": 620,
        "wires": [
            [
                "90b1b933.42a518",
                "85788ea9.e1396"
            ]
        ]
    },
    {
        "id": "90b1b933.42a518",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "set-door-normally-closed",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 620,
        "wires": []
    },
    {
        "id": "85788ea9.e1396",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "set-door-control-controlled",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"deviceId\":405419896,\"door\":1,\"delay\":5,\"control\":\"controlled\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 660,
        "wires": [
            [
                "65b92504.2f897c"
            ]
        ]
    },
    {
        "id": "65b92504.2f897c",
        "type": "uhppoted-set-door-control",
        "z": "de85fbbc.953fc8",
        "name": "set-door-control",
        "topic": "set-door-control-controlled",
        "config": "cbd92359.dbf19",
        "x": 800,
        "y": 660,
        "wires": [
            [
                "e1743203.8a5f7",
                "2a3610c.f256bf"
            ]
        ]
    },
    {
        "id": "e1743203.8a5f7",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "set-door-controlled",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 660,
        "wires": []
    },
    {
        "id": "2a3610c.f256bf",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "open-door",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\":405419896, \"door\":1 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 700,
        "wires": [
            [
                "40b99c79.0a1ce4"
            ]
        ]
    },
    {
        "id": "40b99c79.0a1ce4",
        "type": "uhppoted-open-door",
        "z": "de85fbbc.953fc8",
        "name": "open-door",
        "topic": "open-door",
        "config": "cbd92359.dbf19",
        "x": 790,
        "y": 700,
        "wires": [
            [
                "97b480a9.c74cf",
                "79d2e2c6.e4693c"
            ]
        ]
    },
    {
        "id": "97b480a9.c74cf",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "open-door",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 700,
        "wires": []
    },
    {
        "id": "79d2e2c6.e4693c",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-cards",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 740,
        "wires": [
            [
                "13322554.1846db"
            ]
        ]
    },
    {
        "id": "13322554.1846db",
        "type": "uhppoted-get-cards",
        "z": "de85fbbc.953fc8",
        "name": "get-cards",
        "topic": "get-cards",
        "config": "cbd92359.dbf19",
        "x": 780,
        "y": 740,
        "wires": [
            [
                "ce298e4e.9ee05",
                "f637d805.605d28"
            ]
        ]
    },
    {
        "id": "ce298e4e.9ee05",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-cards",
        "mode": "link",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 740,
        "wires": []
    },
    {
        "id": "f637d805.605d28",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-card",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "get-card",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896, \"cardNumber\": 65537 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 780,
        "wires": [
            [
                "dc98aa64.a856d8"
            ]
        ]
    },
    {
        "id": "dc98aa64.a856d8",
        "type": "uhppoted-get-card",
        "z": "de85fbbc.953fc8",
        "name": "get-card",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 780,
        "y": 780,
        "wires": [
            [
                "225c6db3.0cb272",
                "3091331b.90abbc"
            ]
        ]
    },
    {
        "id": "225c6db3.0cb272",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-card",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 780,
        "wires": []
    },
    {
        "id": "3091331b.90abbc",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-card-by-index",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "get-card-by-index",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896, \"index\": 3 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 820,
        "wires": [
            [
                "8446af5d.11658"
            ]
        ]
    },
    {
        "id": "8446af5d.11658",
        "type": "uhppoted-get-card-by-index",
        "z": "de85fbbc.953fc8",
        "name": "get-card-by-index",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 810,
        "y": 820,
        "wires": [
            [
                "8b94e261.add93",
                "56c58b4d.0f3684"
            ]
        ]
    },
    {
        "id": "8b94e261.add93",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-card-by-index",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 820,
        "wires": []
    },
    {
        "id": "82b6b410.9b0ee8",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-event-index",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "get-event-index",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1240,
        "wires": [
            [
                "316db87a.7bef58"
            ]
        ]
    },
    {
        "id": "316db87a.7bef58",
        "type": "uhppoted-get-event-index",
        "z": "de85fbbc.953fc8",
        "name": "get-event-index",
        "config": "cbd92359.dbf19",
        "x": 800,
        "y": 1240,
        "wires": [
            [
                "c795c4ba.eb1358",
                "26a1e3e7.7c8ffc"
            ]
        ]
    },
    {
        "id": "c795c4ba.eb1358",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-event-index",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1005,
        "y": 1240,
        "wires": []
    },
    {
        "id": "26a1e3e7.7c8ffc",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "set-event-index",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set-event-index",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896, \"index\":14 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1280,
        "wires": [
            [
                "6020c163.dfce9"
            ]
        ]
    },
    {
        "id": "6020c163.dfce9",
        "type": "uhppoted-set-event-index",
        "z": "de85fbbc.953fc8",
        "name": "set-event-index",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 800,
        "y": 1280,
        "wires": [
            [
                "c8ffe1fb.1153e",
                "82f878c2.983e08"
            ]
        ]
    },
    {
        "id": "c8ffe1fb.1153e",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "set-event-index",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1005,
        "y": 1280,
        "wires": []
    },
    {
        "id": "82f878c2.983e08",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-event",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "get-event",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896, \"index\":17 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1320,
        "wires": [
            [
                "25b91212.57c65e"
            ]
        ]
    },
    {
        "id": "25b91212.57c65e",
        "type": "uhppoted-get-event",
        "z": "de85fbbc.953fc8",
        "name": "get-event",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 780,
        "y": 1320,
        "wires": [
            [
                "f8a731fb.97baa",
                "4e8722aa55ba76cc"
            ]
        ]
    },
    {
        "id": "f8a731fb.97baa",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-event",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1005,
        "y": 1320,
        "wires": []
    },
    {
        "id": "d24e1c75.37ef7",
        "type": "uhppoted-listen",
        "z": "de85fbbc.953fc8",
        "name": "listen",
        "config": "cbd92359.dbf19",
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "e601bdca.da8e2"
            ]
        ]
    },
    {
        "id": "e601bdca.da8e2",
        "type": "debug",
        "z": "de85fbbc.953fc8",
        "name": "event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 1660,
        "wires": []
    },
    {
        "id": "d01eb843.06acf8",
        "type": "debug",
        "z": "de85fbbc.953fc8",
        "name": "running",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "d8a9007b.456b3",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "complete",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "complete",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1520,
        "wires": [
            [
                "78dd925c.9213cc"
            ]
        ]
    },
    {
        "id": "56b70344.feffdc",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "record-special-events",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "record-special-events",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896, \"enable\":true }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1200,
        "wires": [
            [
                "5d9e1107.f32d9"
            ]
        ]
    },
    {
        "id": "5d9e1107.f32d9",
        "type": "uhppoted-record-special-events",
        "z": "de85fbbc.953fc8",
        "name": "record-special-events",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 820,
        "y": 1200,
        "wires": [
            [
                "29050927.002c56",
                "82b6b410.9b0ee8"
            ]
        ]
    },
    {
        "id": "29050927.002c56",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "record-special-events",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1005,
        "y": 1200,
        "wires": []
    },
    {
        "id": "963def04.98819",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "swipe",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1860,
        "wires": [
            [
                "4fd62a58.d31924"
            ]
        ]
    },
    {
        "id": "f58bbd2e.e973e",
        "type": "http request",
        "z": "de85fbbc.953fc8",
        "name": "405419896",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/uhppote/simulator/405419896/swipe",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "4fd62a58.d31924",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "swipe",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.payload = { \"door\":1, \"card-number\":65538 }\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 1860,
        "wires": [
            [
                "f58bbd2e.e973e"
            ]
        ]
    },
    {
        "id": "7297f4df.59cd3c",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "open",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1940,
        "wires": [
            [
                "49bc3a8.93c2cc4"
            ]
        ]
    },
    {
        "id": "a5c073b0.f390b",
        "type": "http request",
        "z": "de85fbbc.953fc8",
        "name": "405419896",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/uhppote/simulator/405419896/door/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "49bc3a8.93c2cc4",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "open",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.payload = { \"action\":\"open\", \"duration\":10 }\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 1940,
        "wires": [
            [
                "a5c073b0.f390b"
            ]
        ]
    },
    {
        "id": "972ca7ab.bd3778",
        "type": "comment",
        "z": "de85fbbc.953fc8",
        "name": "v8.94 events",
        "info": "",
        "x": 130,
        "y": 1720,
        "wires": []
    },
    {
        "id": "a1463018.b5bbb",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "close",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1980,
        "wires": [
            [
                "a9a84279.4277c"
            ]
        ]
    },
    {
        "id": "34982885.3e7ca8",
        "type": "http request",
        "z": "de85fbbc.953fc8",
        "name": "405419896",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/uhppote/simulator/405419896/door/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "a9a84279.4277c",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "close",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.payload = { \"action\":\"close\" }\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 1980,
        "wires": [
            [
                "34982885.3e7ca8"
            ]
        ]
    },
    {
        "id": "1cc9188e.e07d77",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "button",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1900,
        "wires": [
            [
                "eaca70e7.13719"
            ]
        ]
    },
    {
        "id": "857c3a91.e68b48",
        "type": "http request",
        "z": "de85fbbc.953fc8",
        "name": "405419896",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/uhppote/simulator/405419896/door/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "eaca70e7.13719",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "button",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.payload = { \"action\":\"button\", \"duration\":5 }\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 1900,
        "wires": [
            [
                "857c3a91.e68b48"
            ]
        ]
    },
    {
        "id": "72d425ae.fd834c",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "swipe",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2180,
        "wires": [
            [
                "f6efe6ae.0c3648"
            ]
        ]
    },
    {
        "id": "d33a00dc.d36fe",
        "type": "http request",
        "z": "de85fbbc.953fc8",
        "name": "201020304",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/uhppote/simulator/201020304/swipe",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "f6efe6ae.0c3648",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "swipe",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.payload = { \"door\":1, \"card-number\":65538 }\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 2180,
        "wires": [
            [
                "d33a00dc.d36fe"
            ]
        ]
    },
    {
        "id": "84d89e4f.77c6e",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "open",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2260,
        "wires": [
            [
                "41a96bac.a93724"
            ]
        ]
    },
    {
        "id": "1084cf83.1a3ab",
        "type": "http request",
        "z": "de85fbbc.953fc8",
        "name": "201020304",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/uhppote/simulator/201020304/door/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "41a96bac.a93724",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "open",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.payload = { \"action\":\"open\", \"duration\":10 }\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 2260,
        "wires": [
            [
                "1084cf83.1a3ab"
            ]
        ]
    },
    {
        "id": "a12c10eb.b4bd4",
        "type": "comment",
        "z": "de85fbbc.953fc8",
        "name": "v6.62 events",
        "info": "",
        "x": 130,
        "y": 2040,
        "wires": []
    },
    {
        "id": "6866266.0493ed8",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "close",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2300,
        "wires": [
            [
                "f0529c8e.367bf"
            ]
        ]
    },
    {
        "id": "b1c7c22d.29ff2",
        "type": "http request",
        "z": "de85fbbc.953fc8",
        "name": "201020304",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/uhppote/simulator/201020304/door/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "f0529c8e.367bf",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "close",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.payload = { \"action\":\"close\" }\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 2300,
        "wires": [
            [
                "b1c7c22d.29ff2"
            ]
        ]
    },
    {
        "id": "5b95ed3a.7e47e4",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "button",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2220,
        "wires": [
            [
                "d9f150e1.cb7f4"
            ]
        ]
    },
    {
        "id": "f2b6513c.1e36f",
        "type": "http request",
        "z": "de85fbbc.953fc8",
        "name": "201020304",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/uhppote/simulator/201020304/door/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "d9f150e1.cb7f4",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "button",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.payload = { \"action\":\"button\", \"duration\":5 }\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 2220,
        "wires": [
            [
                "f2b6513c.1e36f"
            ]
        ]
    },
    {
        "id": "f8405dd.75da9a",
        "type": "comment",
        "z": "de85fbbc.953fc8",
        "name": "listen",
        "info": "",
        "x": 110,
        "y": 1620,
        "wires": []
    },
    {
        "id": "b9db9abf.b52018",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "405419896",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"address\":\"192.168.1.100\",\"port\":60001}",
        "payloadType": "json",
        "x": 160,
        "y": 1760,
        "wires": [
            [
                "8fa92401.5f4928"
            ]
        ]
    },
    {
        "id": "8fa92401.5f4928",
        "type": "uhppoted-set-listener",
        "z": "de85fbbc.953fc8",
        "name": "",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 330,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "79c64098.4d0c1",
        "type": "uhppoted-record-special-events",
        "z": "de85fbbc.953fc8",
        "name": "",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 360,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "7e8213d4.bc0b4c",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "405419896",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"enable\":true }",
        "payloadType": "json",
        "x": 160,
        "y": 1800,
        "wires": [
            [
                "79c64098.4d0c1"
            ]
        ]
    },
    {
        "id": "e28eac97.a9baf",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "201020304",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":201020304,\"address\":\"192.168.1.100\",\"port\":60001}",
        "payloadType": "json",
        "x": 160,
        "y": 2080,
        "wires": [
            [
                "cefcd8d2.d1f318"
            ]
        ]
    },
    {
        "id": "cefcd8d2.d1f318",
        "type": "uhppoted-set-listener",
        "z": "de85fbbc.953fc8",
        "name": "",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 330,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "faac5fa2.4529a",
        "type": "uhppoted-record-special-events",
        "z": "de85fbbc.953fc8",
        "name": "",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 360,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "9ae6ed0a.70a2f",
        "type": "inject",
        "z": "de85fbbc.953fc8",
        "name": "201020304",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 201020304, \"enable\":true }",
        "payloadType": "json",
        "x": 160,
        "y": 2120,
        "wires": [
            [
                "faac5fa2.4529a"
            ]
        ]
    },
    {
        "id": "78dd925c.9213cc",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "complete",
        "links": [
            "c6197be1.382738"
        ],
        "x": 615,
        "y": 1520,
        "wires": []
    },
    {
        "id": "c6197be1.382738",
        "type": "link in",
        "z": "de85fbbc.953fc8",
        "name": "running",
        "links": [
            "78dd925c.9213cc"
        ],
        "x": 135,
        "y": 100,
        "wires": [
            [
                "d01eb843.06acf8"
            ]
        ]
    },
    {
        "id": "56c58b4d.0f3684",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "put-card",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "put-card",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"deviceId\":405419896,\"card\":{\"number\":6153283,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"doors\":{\"1\":true,\"2\":false,\"3\":29,\"4\":true},\"PIN\":7531}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 860,
        "wires": [
            [
                "af07c9d1.a3e5b8"
            ]
        ]
    },
    {
        "id": "af07c9d1.a3e5b8",
        "type": "uhppoted-put-card",
        "z": "de85fbbc.953fc8",
        "name": "put-card",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 780,
        "y": 860,
        "wires": [
            [
                "705ac7d3.812648",
                "8ac2be85.cc49"
            ]
        ]
    },
    {
        "id": "705ac7d3.812648",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "put-card",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 860,
        "wires": []
    },
    {
        "id": "8ac2be85.cc49",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "clear-time-profiles",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "clear-time-profiles",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\":405419896 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 900,
        "wires": [
            [
                "318c6c.cc364394"
            ]
        ]
    },
    {
        "id": "318c6c.cc364394",
        "type": "uhppoted-clear-time-profiles",
        "z": "de85fbbc.953fc8",
        "name": "clear-time-profiles",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 810,
        "y": 900,
        "wires": [
            [
                "1533b50f.bef23b",
                "d7cda23f.d1cf1"
            ]
        ]
    },
    {
        "id": "1533b50f.bef23b",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "clear-time-profiles",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 900,
        "wires": []
    },
    {
        "id": "d7cda23f.d1cf1",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "set-time-profile",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set-time-profile",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"deviceId\":405419896,\"profile\":{\"id\":29,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"weekdays\":[\"Monday\",\"Thursday\",\"Friday\"],\"segments\":[{\"start\":\"08:00\",\"end\":\"11:30\"},{\"start\":\"13:15\",\"end\":\"17:45\"}],\"linkedTo\":3}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 940,
        "wires": [
            [
                "a1aae0b5.eb954"
            ]
        ]
    },
    {
        "id": "a1aae0b5.eb954",
        "type": "uhppoted-set-time-profile",
        "z": "de85fbbc.953fc8",
        "name": "set-time-profile",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 800,
        "y": 940,
        "wires": [
            [
                "861b8d83.23f3b",
                "2861d36e.d2ddac"
            ]
        ]
    },
    {
        "id": "861b8d83.23f3b",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "set-time-profile",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 940,
        "wires": []
    },
    {
        "id": "2861d36e.d2ddac",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "get-time-profile",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "get-time-profile",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"deviceId\":405419896,\"profileId\":29}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 980,
        "wires": [
            [
                "c163f70.64dba08"
            ]
        ]
    },
    {
        "id": "c163f70.64dba08",
        "type": "uhppoted-get-time-profile",
        "z": "de85fbbc.953fc8",
        "name": "get-time-profile",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 800,
        "y": 980,
        "wires": [
            [
                "b64d3e12.1547",
                "47a3bcaa.1e4cd4"
            ]
        ]
    },
    {
        "id": "b64d3e12.1547",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "set-time-profile",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 955,
        "y": 980,
        "wires": []
    },
    {
        "id": "8b7ab5b9.8ae8f8",
        "type": "status",
        "z": "de85fbbc.953fc8",
        "name": "status",
        "scope": [
            "dd9b5bb5.f21188",
            "f37c9cbd.0b964",
            "45948020.d6bff",
            "2d76fa55.f24ea6",
            "5bfed32b.e123ec",
            "82ea096e.91bdd8",
            "c50ef222.a45c8"
        ],
        "x": 470,
        "y": 60,
        "wires": [
            [
                "bea85a63.e30a58"
            ]
        ]
    },
    {
        "id": "bea85a63.e30a58",
        "type": "debug",
        "z": "de85fbbc.953fc8",
        "name": "status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "dd9b5bb5.f21188",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "validate-get-devices",
        "func": "const devices = msg.payload\n\nif (devices.length == 3) {\n    node.status({ fill:'green', shape:'dot', text:'ok' })\n} else {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 140,
        "wires": [
            [
                "72572976.d3cc18"
            ]
        ]
    },
    {
        "id": "f37c9cbd.0b964",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "validate-get-device",
        "func": "const device = msg.payload.device\n\nif (device.serialNumber !== 405419896) {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nif (device.address !== '192.168.1.125') {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nif (device.netmask !== '255.255.255.0') {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nif (device.gateway !== '192.168.1.1') {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nif (device.MAC !== '00:12:23:34:45:56') {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n    \nif (device.version !== '0892') {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nif (device.date !== '2018-11-05') {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nnode.status({ fill:'green', shape:'dot', text:'ok' })\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 200,
        "wires": [
            [
                "b9d8a17d.1636a"
            ]
        ]
    },
    {
        "id": "45948020.d6bff",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "validate-set-ip",
        "func": "const result = msg.payload\nconst expected = '{}'\n\nif (JSON.stringify(result) !== expected) {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nnode.status({ fill:'green', shape:'dot', text:'ok' })\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "16c0f45b.100a3c"
            ]
        ]
    },
    {
        "id": "2d76fa55.f24ea6",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "validate-get-listener",
        "func": "const result = msg.payload\n\nif (result.deviceId !== 405419896) {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nif (result.address !== '192.168.1.100') {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nif (result.port !== 60001) {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nnode.status({ fill:'green', shape:'dot', text:'ok' })\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 320,
        "wires": [
            [
                "743a6d3b.bf6674"
            ]
        ]
    },
    {
        "id": "47a3bcaa.1e4cd4",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "clear-task-list",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "clear-task-list",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\":405419896 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1020,
        "wires": [
            [
                "cd0b487a.6ccae8"
            ]
        ]
    },
    {
        "id": "cd0b487a.6ccae8",
        "type": "uhppoted-clear-task-list",
        "z": "de85fbbc.953fc8",
        "name": "",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 800,
        "y": 1020,
        "wires": [
            [
                "5bfed32b.e123ec",
                "3cae88c7.8ca498"
            ]
        ]
    },
    {
        "id": "a33da4f.8356a58",
        "type": "uhppoted-add-task",
        "z": "de85fbbc.953fc8",
        "name": "",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 780,
        "y": 1080,
        "wires": [
            [
                "82ea096e.91bdd8",
                "e02370f8.ad2f9"
            ]
        ]
    },
    {
        "id": "d3f44e29.c58ab",
        "type": "uhppoted-refresh-task-list",
        "z": "de85fbbc.953fc8",
        "name": "",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 800,
        "y": 1140,
        "wires": [
            [
                "c50ef222.a45c8",
                "56b70344.feffdc"
            ]
        ]
    },
    {
        "id": "5bfed32b.e123ec",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "validate-clear-task-list",
        "func": "const result = msg.payload\n\nif (result.deviceId !== 405419896) {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nif (!result.cleared) {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nnode.status({ fill:'green', shape:'dot', text:'ok' })\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1020,
        "wires": [
            [
                "701b8859.3dfea8"
            ]
        ]
    },
    {
        "id": "701b8859.3dfea8",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "clear-task-list",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1195,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3cae88c7.8ca498",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "add-task",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "add-task",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"deviceId\":405419896,\"task\":{\"task\":\"enable time profile\",\"door\":3,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"weekdays\":[\"Monday\",\"Thursday\",\"Friday\"],\"start\":\"08:30\",\"cards\":7}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1080,
        "wires": [
            [
                "a33da4f.8356a58"
            ]
        ]
    },
    {
        "id": "82ea096e.91bdd8",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "validate-add-task",
        "func": "const result = msg.payload\n\nif (result.deviceId !== 405419896) {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nif (!result.added) {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nnode.status({ fill:'green', shape:'dot', text:'ok' })\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1080,
        "wires": [
            [
                "10a66e62.9d0c02"
            ]
        ]
    },
    {
        "id": "10a66e62.9d0c02",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "add-task",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1195,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e02370f8.ad2f9",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "refresh-task-list",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "refresh-task-list",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\":405419896 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1140,
        "wires": [
            [
                "d3f44e29.c58ab"
            ]
        ]
    },
    {
        "id": "c50ef222.a45c8",
        "type": "function",
        "z": "de85fbbc.953fc8",
        "name": "validate-refresh-tasklist",
        "func": "const result = msg.payload\n\nif (result.deviceId !== 405419896) {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nif (!result.refreshed) {\n    node.status({ fill:'red', shape:'dot', text:'failed'})\n    return msg\n}\n\nnode.status({ fill:'green', shape:'dot', text:'ok' })\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1140,
        "wires": [
            [
                "e3dffe9e.66a8"
            ]
        ]
    },
    {
        "id": "e3dffe9e.66a8",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "add-task",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1195,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f6c8f5ec13a9b82d",
        "type": "uhppoted-set-pc-control",
        "z": "de85fbbc.953fc8",
        "name": "set-pc-control",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 800,
        "y": 1360,
        "wires": [
            [
                "c0e6bb33a19db488",
                "0771ec06dfd023a3"
            ]
        ]
    },
    {
        "id": "4e8722aa55ba76cc",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "set-pc-control",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set-pc-control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896, \"enabled\":true }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1360,
        "wires": [
            [
                "f6c8f5ec13a9b82d"
            ]
        ]
    },
    {
        "id": "c0e6bb33a19db488",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "get-event",
        "mode": "link",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1005,
        "y": 1360,
        "wires": []
    },
    {
        "id": "0771ec06dfd023a3",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "set-interlock",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set-interlock",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"deviceId\": 405419896, \"interlock\":3 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1400,
        "wires": [
            [
                "444eda2a1508f290"
            ]
        ]
    },
    {
        "id": "444eda2a1508f290",
        "type": "uhppoted-set-interlock",
        "z": "de85fbbc.953fc8",
        "name": "set-interlock",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 790,
        "y": 1400,
        "wires": [
            [
                "9a31bb8724c61ced",
                "14d762bf47cc343b"
            ]
        ]
    },
    {
        "id": "9a31bb8724c61ced",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "set-interlock",
        "mode": "link",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1005,
        "y": 1400,
        "wires": []
    },
    {
        "id": "14d762bf47cc343b",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "activate-keypads",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "activate-keypads",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"deviceId\":405419896,\"keypads\":{\"1\":true,\"2\":true,\"3\":false,\"4\":true}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1440,
        "wires": [
            [
                "24c969a7c65cedcd"
            ]
        ]
    },
    {
        "id": "24c969a7c65cedcd",
        "type": "uhppoted-activate-keypads",
        "z": "de85fbbc.953fc8",
        "name": "",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 810,
        "y": 1440,
        "wires": [
            [
                "48ff7ac7019f5179",
                "72aeeecb90ad24f4"
            ]
        ]
    },
    {
        "id": "48ff7ac7019f5179",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "activate-keypads",
        "mode": "link",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1005,
        "y": 1440,
        "wires": []
    },
    {
        "id": "72aeeecb90ad24f4",
        "type": "change",
        "z": "de85fbbc.953fc8",
        "name": "set-super-passwords",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set-super-passwords",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"deviceId\":405419896,\"door\":3,\"passwords\":[12345,999999,54321]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1480,
        "wires": [
            [
                "343b60a053b57df9"
            ]
        ]
    },
    {
        "id": "343b60a053b57df9",
        "type": "uhppoted-set-super-passwords",
        "z": "de85fbbc.953fc8",
        "name": "",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 820,
        "y": 1480,
        "wires": [
            [
                "d8a9007b.456b3",
                "252b172a8418a0f4"
            ]
        ]
    },
    {
        "id": "252b172a8418a0f4",
        "type": "link out",
        "z": "de85fbbc.953fc8",
        "name": "set-super-passwords",
        "mode": "link",
        "links": [
            "ee75260d.e57f48"
        ],
        "x": 1005,
        "y": 1480,
        "wires": []
    }
]