examples/basic/1-get-devices.json
[
    {
        "id": "f0ca7ab6.b09058",
        "type": "tab",
        "label": "2-get-device",
        "disabled": false,
        "info": "# get-device: basic example\n\nIssues a _get-device_ command to the controller with serial number 405419896.\n\nThe _get-device_ flow in the _dashboard_ flowset contains a more complete example."
    },
    {
        "id": "a308f042.ba17e",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "661f7370.91414c",
        "type": "inject",
        "z": "f0ca7ab6.b09058",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896}}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "cf961bd6.504938"
            ]
        ]
    },
    {
        "id": "cf961bd6.504938",
        "type": "uhppoted-get-device",
        "z": "f0ca7ab6.b09058",
        "name": "get-device",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "1b475bda78fb39d0"
            ]
        ]
    },
    {
        "id": "6114aece.3cdf7",
        "type": "function",
        "z": "f0ca7ab6.b09058",
        "name": "parse",
        "func": "return { \n    device: msg.payload.device \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "58ed0404.db248c",
                "61911f03.0d3d8",
                "d091e3d4.0b37",
                "97b9824d.da92d",
                "b539bbe4.6eb9d8",
                "8e4bb15a.08e78",
                "73a68892.3598d8"
            ]
        ]
    },
    {
        "id": "58ed0404.db248c",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "serial-number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.serialNumber",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "61911f03.0d3d8",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "address",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.address",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "d091e3d4.0b37",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "netmask",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.netmask",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "97b9824d.da92d",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "gateway",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.gateway",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "b539bbe4.6eb9d8",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "MAC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.MAC",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "8e4bb15a.08e78",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "version",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.version",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "73a68892.3598d8",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "date",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.date",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "4cfaeb95fa7b0084",
        "type": "inject",
        "z": "f0ca7ab6.b09058",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "f12b1459d211e6d6"
            ]
        ]
    },
    {
        "id": "f12b1459d211e6d6",
        "type": "uhppoted-get-device",
        "z": "f0ca7ab6.b09058",
        "name": "get-device-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "68a62e02b458d87a"
            ]
        ]
    },
    {
        "id": "e31739459dec6f32",
        "type": "link in",
        "z": "f0ca7ab6.b09058",
        "name": "received",
        "links": [
            "1b475bda78fb39d0",
            "68a62e02b458d87a",
            "ef8850a20f5f68b0"
        ],
        "x": 545,
        "y": 100,
        "wires": [
            [
                "a308f042.ba17e"
            ]
        ]
    },
    {
        "id": "45d6c42b45d140b7",
        "type": "link in",
        "z": "f0ca7ab6.b09058",
        "name": "get-device",
        "links": [
            "1b475bda78fb39d0",
            "68a62e02b458d87a",
            "ef8850a20f5f68b0"
        ],
        "x": 545,
        "y": 140,
        "wires": [
            [
                "6114aece.3cdf7"
            ]
        ]
    },
    {
        "id": "1b475bda78fb39d0",
        "type": "link out",
        "z": "f0ca7ab6.b09058",
        "name": "get-device-udp",
        "mode": "link",
        "links": [
            "45d6c42b45d140b7",
            "e31739459dec6f32"
        ],
        "x": 435,
        "y": 100,
        "wires": []
    },
    {
        "id": "68a62e02b458d87a",
        "type": "link out",
        "z": "f0ca7ab6.b09058",
        "name": "get-device-tcp",
        "mode": "link",
        "links": [
            "45d6c42b45d140b7",
            "e31739459dec6f32"
        ],
        "x": 435,
        "y": 180,
        "wires": []
    },
    {
        "id": "441f9cddf524f6bb",
        "type": "inject",
        "z": "f0ca7ab6.b09058",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "05b93141d184148d"
            ]
        ]
    },
    {
        "id": "05b93141d184148d",
        "type": "uhppoted-get-device",
        "z": "f0ca7ab6.b09058",
        "name": "get-device-udp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "ef8850a20f5f68b0"
            ]
        ]
    },
    {
        "id": "ef8850a20f5f68b0",
        "type": "link out",
        "z": "f0ca7ab6.b09058",
        "name": "get-device-tcp",
        "mode": "link",
        "links": [
            "45d6c42b45d140b7",
            "e31739459dec6f32"
        ],
        "x": 435,
        "y": 140,
        "wires": []
    },
    {
        "id": "cf35d9904542f0af",
        "type": "uhppoted-config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    }
]