examples/basic/10-tasklist.json
[
    {
        "id": "66c3d22e.434c7c",
        "type": "tab",
        "label": "10-tasklist",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a9922968.8bbee8",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "f980b203.9b821"
            ]
        ]
    },
    {
        "id": "f980b203.9b821",
        "type": "uhppoted-clear-task-list",
        "z": "66c3d22e.434c7c",
        "name": "clear-task-list",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "a6dbc452a08a5021"
            ]
        ]
    },
    {
        "id": "5dac42cd.fc4c8c",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896}",
        "payloadType": "json",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "13d7bc91.a53133"
            ]
        ]
    },
    {
        "id": "13d7bc91.a53133",
        "type": "uhppoted-refresh-task-list",
        "z": "66c3d22e.434c7c",
        "name": "refresh-tasklist",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "65d2bb446e743803"
            ]
        ]
    },
    {
        "id": "885f0991.1066e8",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"task\":{\"task\":5,\"door\":3,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"weekdays\":[\"Monday\",\"Wednesday\",\"Friday\"],\"start\":\"08:30\",\"cards\":7}}",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "cdc76803.768e88"
            ]
        ]
    },
    {
        "id": "cdc76803.768e88",
        "type": "uhppoted-add-task",
        "z": "66c3d22e.434c7c",
        "name": "add-numeric-task",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "f3f91ce72d015bfc"
            ]
        ]
    },
    {
        "id": "6c00cf3a.3fe4d",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"task\":{\"task\":\"enable time profile\",\"door\":3,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"weekdays\":[\"Monday\",\"Wednesday\",\"Friday\"],\"start\":\"08:30\",\"cards\":7}}",
        "payloadType": "json",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "cc7f21cd.1853b"
            ]
        ]
    },
    {
        "id": "cc7f21cd.1853b",
        "type": "uhppoted-add-task",
        "z": "66c3d22e.434c7c",
        "name": "add-text-task",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "121cb192bc3b8618"
            ]
        ]
    },
    {
        "id": "c39ce007ded20d5f",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"task\":{\"task\":5,\"door\":3,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"weekdays\":[\"Monday\",\"Wednesday\",\"Friday\"],\"start\":\"08:30\",\"cards\":7}}",
        "payloadType": "json",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "f0d5e84dd2cf4647"
            ]
        ]
    },
    {
        "id": "f0d5e84dd2cf4647",
        "type": "uhppoted-add-task",
        "z": "66c3d22e.434c7c",
        "name": "add-numeric-task-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "35c9f9d4a30e34e2"
            ]
        ]
    },
    {
        "id": "1adb548b8ceb841f",
        "type": "uhppoted-add-task",
        "z": "66c3d22e.434c7c",
        "name": "add-text-task-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "9bd3326c04e55986"
            ]
        ]
    },
    {
        "id": "04bb740ae4534f9d",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"task\":{\"task\":\"enable time profile\",\"door\":3,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"weekdays\":[\"Monday\",\"Wednesday\",\"Friday\"],\"start\":\"08:30\",\"cards\":7}}",
        "payloadType": "json",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "1adb548b8ceb841f"
            ]
        ]
    },
    {
        "id": "557f359eb41f42e6",
        "type": "link in",
        "z": "66c3d22e.434c7c",
        "name": "received",
        "links": [
            "a6dbc452a08a5021",
            "f3f91ce72d015bfc",
            "35c9f9d4a30e34e2",
            "121cb192bc3b8618",
            "9bd3326c04e55986",
            "65d2bb446e743803",
            "2d3c1a5a5885d602",
            "819316292d1aee2b"
        ],
        "x": 655,
        "y": 100,
        "wires": [
            [
                "92eb38760f8be20a"
            ]
        ]
    },
    {
        "id": "92eb38760f8be20a",
        "type": "debug",
        "z": "66c3d22e.434c7c",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "f3f91ce72d015bfc",
        "type": "link out",
        "z": "66c3d22e.434c7c",
        "name": "debug",
        "mode": "link",
        "links": [
            "557f359eb41f42e6",
            "28066563a0e05d51"
        ],
        "x": 475,
        "y": 220,
        "wires": []
    },
    {
        "id": "35c9f9d4a30e34e2",
        "type": "link out",
        "z": "66c3d22e.434c7c",
        "name": "debug",
        "mode": "link",
        "links": [
            "557f359eb41f42e6",
            "28066563a0e05d51"
        ],
        "x": 475,
        "y": 260,
        "wires": []
    },
    {
        "id": "121cb192bc3b8618",
        "type": "link out",
        "z": "66c3d22e.434c7c",
        "name": "debug",
        "mode": "link",
        "links": [
            "557f359eb41f42e6",
            "28066563a0e05d51"
        ],
        "x": 475,
        "y": 340,
        "wires": []
    },
    {
        "id": "9bd3326c04e55986",
        "type": "link out",
        "z": "66c3d22e.434c7c",
        "name": "debug",
        "mode": "link",
        "links": [
            "557f359eb41f42e6",
            "28066563a0e05d51"
        ],
        "x": 475,
        "y": 380,
        "wires": []
    },
    {
        "id": "65d2bb446e743803",
        "type": "link out",
        "z": "66c3d22e.434c7c",
        "name": "debug",
        "mode": "link",
        "links": [
            "557f359eb41f42e6",
            "28066563a0e05d51"
        ],
        "x": 475,
        "y": 460,
        "wires": []
    },
    {
        "id": "a6dbc452a08a5021",
        "type": "link out",
        "z": "66c3d22e.434c7c",
        "name": "debug",
        "mode": "link",
        "links": [
            "557f359eb41f42e6",
            "28066563a0e05d51"
        ],
        "x": 475,
        "y": 100,
        "wires": []
    },
    {
        "id": "29e68d484d463771",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "b0707aebb18358c0"
            ]
        ]
    },
    {
        "id": "b0707aebb18358c0",
        "type": "uhppoted-clear-task-list",
        "z": "66c3d22e.434c7c",
        "name": "clear-tasklist-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "2d3c1a5a5885d602"
            ]
        ]
    },
    {
        "id": "2d3c1a5a5885d602",
        "type": "link out",
        "z": "66c3d22e.434c7c",
        "name": "debug",
        "mode": "link",
        "links": [
            "557f359eb41f42e6",
            "28066563a0e05d51"
        ],
        "x": 475,
        "y": 140,
        "wires": []
    },
    {
        "id": "129bd51bf5c508fc",
        "type": "inject",
        "z": "66c3d22e.434c7c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "cffb69d4674cf72d"
            ]
        ]
    },
    {
        "id": "cffb69d4674cf72d",
        "type": "uhppoted-refresh-task-list",
        "z": "66c3d22e.434c7c",
        "name": "refresh-tasklist-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "819316292d1aee2b"
            ]
        ]
    },
    {
        "id": "819316292d1aee2b",
        "type": "link out",
        "z": "66c3d22e.434c7c",
        "name": "debug",
        "mode": "link",
        "links": [
            "557f359eb41f42e6",
            "28066563a0e05d51"
        ],
        "x": 475,
        "y": 500,
        "wires": []
    },
    {
        "id": "cf35d9904542f0af",
        "type": "uhppoted-config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    }
]