examples/basic/11-events.json
[
    {
        "id": "b5da19a5.72a0c8",
        "type": "tab",
        "label": "11-events",
        "disabled": false,
        "info": "# event retrieval: basic examples\n\nBasic examples for the _get-event-index_, _set-event-index_ and _get-event_ nodes.\n\n - the _get-event-index_ example retrieves the current 'downloaded event index' from the controller with serial number 405419896.\n\n - the _set-event-index_ example set the 'downloaded event index' to 17 for the controller with serial number 405419896.\n\n - the _get-event_ example retrieves the event record at record #3 from the controller with serial number 405419896.\n\nThe _events_ flow in the _dashboard_ flowset contains a more complete example."
    },
    {
        "id": "3be8dcd9.c0ec74",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "9e7ddaee.4eaa48"
            ]
        ]
    },
    {
        "id": "9e7ddaee.4eaa48",
        "type": "uhppoted-get-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "93720d51e19ed5ef"
            ]
        ]
    },
    {
        "id": "701112a1.4079dc",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"index\":14 }",
        "payloadType": "json",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "738563e5.ad729c"
            ]
        ]
    },
    {
        "id": "738563e5.ad729c",
        "type": "uhppoted-set-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "set-event-index",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "06c6c0cbc28d7a2b"
            ]
        ]
    },
    {
        "id": "959338c3.e9e528",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"index\":17 }",
        "payloadType": "json",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "7cf7e46b.641d4c"
            ]
        ]
    },
    {
        "id": "7cf7e46b.641d4c",
        "type": "uhppoted-get-event",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "2be2e9d5d77c54d9"
            ]
        ]
    },
    {
        "id": "a9cd7169.9f80b",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "serial-number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.deviceId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "d0248137.40611",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.index",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.index",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "efd22b62.f8dd98",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.timestamp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.timestamp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "528f92e2.4cc88c",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.type",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.type.event",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "10303c8c.5ee653",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.granted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.granted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "6b2ec04b.e162e",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.direction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.direction.direction",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 380,
        "wires": []
    },
    {
        "id": "3e133140.9cd2ce",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "event.reason",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event.reason.reason",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "8321868.c35fa78",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "1dd15bdb.488f04",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"enable\": true }",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "6f2638b.e4c53c8"
            ]
        ]
    },
    {
        "id": "2b58807c.84593",
        "type": "debug",
        "z": "b5da19a5.72a0c8",
        "name": "updated",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.updated",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "6f2638b.e4c53c8",
        "type": "uhppoted-record-special-events",
        "z": "b5da19a5.72a0c8",
        "name": "record-special-events",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "5cc40db6d9f925d3"
            ]
        ]
    },
    {
        "id": "711dac43b52c5446",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test-overwritten-event",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 201020304, \"index\":73 }",
        "payloadType": "json",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "0f093ad785df38d1"
            ]
        ]
    },
    {
        "id": "0f093ad785df38d1",
        "type": "uhppoted-get-event",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 380,
        "y": 540,
        "wires": [
            [
                "dd522d0b58b29a6b"
            ]
        ]
    },
    {
        "id": "2b28e0b04eb5932c",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"enable\":true}",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "e1a931b276724b43"
            ]
        ]
    },
    {
        "id": "e1a931b276724b43",
        "type": "uhppoted-record-special-events",
        "z": "b5da19a5.72a0c8",
        "name": "record-special-events-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "5f4fe1a469cb67c5"
            ]
        ]
    },
    {
        "id": "b990cf094cd11447",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "received",
        "links": [
            "06c6c0cbc28d7a2b",
            "5cc40db6d9f925d3",
            "5f4fe1a469cb67c5",
            "93720d51e19ed5ef",
            "ac4d232bf71b7dd9",
            "add09a1b97f51d1e",
            "2be2e9d5d77c54d9",
            "dd522d0b58b29a6b",
            "a66eaca2a0b98aae"
        ],
        "x": 655,
        "y": 100,
        "wires": [
            [
                "8321868.c35fa78"
            ]
        ]
    },
    {
        "id": "1d3b15ec44a91b94",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "updated",
        "links": [
            "06c6c0cbc28d7a2b",
            "5cc40db6d9f925d3",
            "5f4fe1a469cb67c5",
            "93720d51e19ed5ef",
            "ac4d232bf71b7dd9",
            "add09a1b97f51d1e"
        ],
        "x": 655,
        "y": 140,
        "wires": [
            [
                "2b58807c.84593"
            ]
        ]
    },
    {
        "id": "5cc40db6d9f925d3",
        "type": "link out",
        "z": "b5da19a5.72a0c8",
        "name": "record-special-events",
        "mode": "link",
        "links": [
            "1d3b15ec44a91b94",
            "b990cf094cd11447"
        ],
        "x": 495,
        "y": 100,
        "wires": []
    },
    {
        "id": "5f4fe1a469cb67c5",
        "type": "link out",
        "z": "b5da19a5.72a0c8",
        "name": "record-special-events",
        "mode": "link",
        "links": [
            "1d3b15ec44a91b94",
            "b990cf094cd11447"
        ],
        "x": 495,
        "y": 140,
        "wires": []
    },
    {
        "id": "93720d51e19ed5ef",
        "type": "link out",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "mode": "link",
        "links": [
            "1d3b15ec44a91b94",
            "b990cf094cd11447"
        ],
        "x": 495,
        "y": 220,
        "wires": []
    },
    {
        "id": "97cffd0c62fae4c4",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "402b143d8493ddc5"
            ]
        ]
    },
    {
        "id": "402b143d8493ddc5",
        "type": "uhppoted-get-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "ac4d232bf71b7dd9"
            ]
        ]
    },
    {
        "id": "ac4d232bf71b7dd9",
        "type": "link out",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-index",
        "mode": "link",
        "links": [
            "1d3b15ec44a91b94",
            "b990cf094cd11447"
        ],
        "x": 495,
        "y": 260,
        "wires": []
    },
    {
        "id": "06c6c0cbc28d7a2b",
        "type": "link out",
        "z": "b5da19a5.72a0c8",
        "name": "set-event-index",
        "mode": "link",
        "links": [
            "1d3b15ec44a91b94",
            "b990cf094cd11447"
        ],
        "x": 495,
        "y": 340,
        "wires": []
    },
    {
        "id": "5f2772ca8c65f298",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"index\":14}",
        "payloadType": "json",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "ab64d6ba6fc5a49a"
            ]
        ]
    },
    {
        "id": "ab64d6ba6fc5a49a",
        "type": "uhppoted-set-event-index",
        "z": "b5da19a5.72a0c8",
        "name": "set-event-index-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 380,
        "wires": [
            [
                "add09a1b97f51d1e"
            ]
        ]
    },
    {
        "id": "add09a1b97f51d1e",
        "type": "link out",
        "z": "b5da19a5.72a0c8",
        "name": "set-event-index",
        "mode": "link",
        "links": [
            "1d3b15ec44a91b94",
            "b990cf094cd11447"
        ],
        "x": 495,
        "y": 380,
        "wires": []
    },
    {
        "id": "ce7525a4e7180451",
        "type": "link in",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "links": [
            "2be2e9d5d77c54d9",
            "dd522d0b58b29a6b",
            "a66eaca2a0b98aae"
        ],
        "x": 655,
        "y": 180,
        "wires": [
            [
                "a9cd7169.9f80b",
                "d0248137.40611",
                "efd22b62.f8dd98",
                "528f92e2.4cc88c",
                "10303c8c.5ee653",
                "6b2ec04b.e162e",
                "3e133140.9cd2ce"
            ]
        ]
    },
    {
        "id": "2be2e9d5d77c54d9",
        "type": "link out",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "mode": "link",
        "links": [
            "b990cf094cd11447",
            "ce7525a4e7180451"
        ],
        "x": 525,
        "y": 460,
        "wires": []
    },
    {
        "id": "dd522d0b58b29a6b",
        "type": "link out",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "mode": "link",
        "links": [
            "b990cf094cd11447",
            "ce7525a4e7180451"
        ],
        "x": 525,
        "y": 540,
        "wires": []
    },
    {
        "id": "07f844fb94bc5be0",
        "type": "inject",
        "z": "b5da19a5.72a0c8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"index\":17}",
        "payloadType": "json",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "46d0db7d4370b8d1"
            ]
        ]
    },
    {
        "id": "46d0db7d4370b8d1",
        "type": "uhppoted-get-event",
        "z": "b5da19a5.72a0c8",
        "name": "get-event-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 400,
        "y": 500,
        "wires": [
            [
                "a66eaca2a0b98aae"
            ]
        ]
    },
    {
        "id": "a66eaca2a0b98aae",
        "type": "link out",
        "z": "b5da19a5.72a0c8",
        "name": "get-event",
        "mode": "link",
        "links": [
            "b990cf094cd11447",
            "ce7525a4e7180451"
        ],
        "x": 525,
        "y": 500,
        "wires": []
    },
    {
        "id": "cf35d9904542f0af",
        "type": "uhppoted-config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    }
]