examples/basic/12-set-pc-control.json
[
    {
        "id": "084b05a6c596f92a",
        "type": "tab",
        "label": "12-set-pc-control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a7531d7b8109a99",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "132f4b6bcbb8c39c",
        "type": "inject",
        "z": "084b05a6c596f92a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"enable\": true }",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "fc341cfabe5d9a38"
            ]
        ]
    },
    {
        "id": "66ebd6872aee5190",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "updated",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.updated",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "533ddcf57003f6c5",
        "type": "uhppoted-set-pc-control",
        "z": "084b05a6c596f92a",
        "name": "set-pc-control",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 500,
        "y": 100,
        "wires": [
            [
                "97abc613d2ae57c9"
            ]
        ]
    },
    {
        "id": "f8ce8d9c686eec75",
        "type": "uhppoted-listen",
        "z": "084b05a6c596f92a",
        "name": "listen",
        "config": "cf35d9904542f0af",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "2190c4453a0eb105",
                "49437c908c4fe007"
            ]
        ]
    },
    {
        "id": "2190c4453a0eb105",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "49437c908c4fe007",
        "type": "function",
        "z": "084b05a6c596f92a",
        "name": "event handler",
        "func": "const cards = [ 8165538, 10058399 ]\nconst event = msg.payload.state.event\nlet swipe = null\nlet granted = null\nlet denied = null\nlet open = null\n\n// card swipe?\nif (event.type.code === 1) {\n    swipe = msg.payload.state.event    \n}\n\n// card swipe and remote access control ?\nif (event.type.code === 1 && event.reason.code === 5 && event.granted == false) {\n    if (cards.includes(event.card)) {\n        granted = { \"timestamp\": event.timestamp,\n                    \"card\": event.card,\n                    \"door\": event.door\n                  }\n\n        open = msg\n        open.payload = {\n                  deviceId: msg.payload.deviceId,\n                  door: event.door\n               }\n    } else {\n        denied = { \n                   \"timestamp\": event.timestamp,\n                   \"card\": event.card,\n                   \"door\": event.door\n                 }\n    }\n}\n\nreturn [ swipe, granted, denied, open ]\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 340,
        "wires": [
            [
                "0974ea4cdb46c4d0"
            ],
            [
                "7ba7c37174572581"
            ],
            [
                "3b3c95833152d702"
            ],
            [
                "39d3e1563d8382f4"
            ]
        ]
    },
    {
        "id": "0974ea4cdb46c4d0",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "swipe",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "7ba7c37174572581",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "granted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "3b3c95833152d702",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "denied",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "39d3e1563d8382f4",
        "type": "uhppoted-open-door",
        "z": "084b05a6c596f92a",
        "name": "open-door",
        "config": "cf35d9904542f0af",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "131a0ec7a483a6c6"
            ]
        ]
    },
    {
        "id": "a942a9ad5d0ab0ca",
        "type": "debug",
        "z": "084b05a6c596f92a",
        "name": "door-opened",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.opened",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "fc341cfabe5d9a38",
        "type": "trigger",
        "z": "084b05a6c596f92a",
        "name": "send",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "533ddcf57003f6c5"
            ],
            [
                "b54620d8e5822dc6"
            ]
        ]
    },
    {
        "id": "b54620d8e5822dc6",
        "type": "delay",
        "z": "084b05a6c596f92a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 40,
        "wires": [
            [
                "fc341cfabe5d9a38"
            ]
        ]
    },
    {
        "id": "97abc613d2ae57c9",
        "type": "link out",
        "z": "084b05a6c596f92a",
        "name": "set-pc-control",
        "mode": "link",
        "links": [
            "4673fbe24b57e489",
            "d745375e148f24be"
        ],
        "x": 655,
        "y": 100,
        "wires": []
    },
    {
        "id": "4673fbe24b57e489",
        "type": "link in",
        "z": "084b05a6c596f92a",
        "name": "received",
        "links": [
            "97abc613d2ae57c9",
            "d3536688fd49afd7",
            "131a0ec7a483a6c6"
        ],
        "x": 795,
        "y": 100,
        "wires": [
            [
                "8a7531d7b8109a99"
            ]
        ]
    },
    {
        "id": "d745375e148f24be",
        "type": "link in",
        "z": "084b05a6c596f92a",
        "name": "set-pc-control",
        "links": [
            "97abc613d2ae57c9",
            "d3536688fd49afd7"
        ],
        "x": 795,
        "y": 140,
        "wires": [
            [
                "66ebd6872aee5190"
            ]
        ]
    },
    {
        "id": "6d8447065f249ef3",
        "type": "inject",
        "z": "084b05a6c596f92a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"enable\":true}",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "8fd48c489217ae19"
            ]
        ]
    },
    {
        "id": "4b2b86039e25553d",
        "type": "uhppoted-set-pc-control",
        "z": "084b05a6c596f92a",
        "name": "set-pc-control-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "d3536688fd49afd7"
            ]
        ]
    },
    {
        "id": "8fd48c489217ae19",
        "type": "trigger",
        "z": "084b05a6c596f92a",
        "name": "send",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "4b2b86039e25553d"
            ],
            [
                "e3c9453e1a5378c9"
            ]
        ]
    },
    {
        "id": "e3c9453e1a5378c9",
        "type": "delay",
        "z": "084b05a6c596f92a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "8fd48c489217ae19"
            ]
        ]
    },
    {
        "id": "d3536688fd49afd7",
        "type": "link out",
        "z": "084b05a6c596f92a",
        "name": "set-pc-control",
        "mode": "link",
        "links": [
            "4673fbe24b57e489",
            "d745375e148f24be"
        ],
        "x": 655,
        "y": 140,
        "wires": []
    },
    {
        "id": "401ed47b9894ba1d",
        "type": "link in",
        "z": "084b05a6c596f92a",
        "name": "open-door",
        "links": [
            "131a0ec7a483a6c6"
        ],
        "x": 795,
        "y": 180,
        "wires": [
            [
                "a942a9ad5d0ab0ca"
            ]
        ]
    },
    {
        "id": "131a0ec7a483a6c6",
        "type": "link out",
        "z": "084b05a6c596f92a",
        "name": "open-door",
        "mode": "link",
        "links": [
            "401ed47b9894ba1d",
            "4673fbe24b57e489"
        ],
        "x": 635,
        "y": 400,
        "wires": []
    },
    {
        "id": "cf35d9904542f0af",
        "type": "uhppoted-config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    }
]