examples/basic/13-restore-default-parameters.json
[
    {
        "id": "093e8f2cad65974a",
        "type": "tab",
        "label": "13-restore-default-parameters",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c3b3f494d28c28a",
        "type": "debug",
        "z": "093e8f2cad65974a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "3e20f74de8a23794",
        "type": "inject",
        "z": "093e8f2cad65974a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "02373e6ceb8dbcd1"
            ]
        ]
    },
    {
        "id": "d125c3764b05339d",
        "type": "debug",
        "z": "093e8f2cad65974a",
        "name": "reset",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.reset",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "02373e6ceb8dbcd1",
        "type": "uhppoted-restore-default-parameters",
        "z": "093e8f2cad65974a",
        "name": "restore-default-parameters",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "1a192599528121a1"
            ]
        ]
    },
    {
        "id": "820d2c7b4f5cbb9c",
        "type": "link in",
        "z": "093e8f2cad65974a",
        "name": "received",
        "links": [
            "1a192599528121a1",
            "c9c56e7282c0f292"
        ],
        "x": 705,
        "y": 100,
        "wires": [
            [
                "7c3b3f494d28c28a"
            ]
        ]
    },
    {
        "id": "0653b2aabdd562d9",
        "type": "link in",
        "z": "093e8f2cad65974a",
        "name": "restore-default-parameters",
        "links": [
            "1a192599528121a1",
            "c9c56e7282c0f292"
        ],
        "x": 705,
        "y": 140,
        "wires": [
            [
                "d125c3764b05339d"
            ]
        ]
    },
    {
        "id": "1a192599528121a1",
        "type": "link out",
        "z": "093e8f2cad65974a",
        "name": "restore-default-parameters",
        "mode": "link",
        "links": [
            "0653b2aabdd562d9",
            "820d2c7b4f5cbb9c"
        ],
        "x": 545,
        "y": 100,
        "wires": []
    },
    {
        "id": "9966acb4248618ed",
        "type": "inject",
        "z": "093e8f2cad65974a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "682c0d79b58201f3"
            ]
        ]
    },
    {
        "id": "682c0d79b58201f3",
        "type": "uhppoted-restore-default-parameters",
        "z": "093e8f2cad65974a",
        "name": "restore-default-parameters-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "c9c56e7282c0f292"
            ]
        ]
    },
    {
        "id": "c9c56e7282c0f292",
        "type": "link out",
        "z": "093e8f2cad65974a",
        "name": "restore-default-parameters",
        "mode": "link",
        "links": [
            "0653b2aabdd562d9",
            "820d2c7b4f5cbb9c"
        ],
        "x": 545,
        "y": 140,
        "wires": []
    },
    {
        "id": "cf35d9904542f0af",
        "type": "uhppoted-config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    }
]