examples/basic/14-restore-default-parameters.json
[
    {
        "id": "093e8f2cad65974a",
        "type": "tab",
        "label": "14-restore-default-parameters",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c3b3f494d28c28a",
        "type": "debug",
        "z": "093e8f2cad65974a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "3e20f74de8a23794",
        "type": "inject",
        "z": "093e8f2cad65974a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "02373e6ceb8dbcd1"
            ]
        ]
    },
    {
        "id": "d125c3764b05339d",
        "type": "debug",
        "z": "093e8f2cad65974a",
        "name": "reset",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.reset",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "02373e6ceb8dbcd1",
        "type": "uhppoted-restore-default-parameters",
        "z": "093e8f2cad65974a",
        "name": "",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "7c3b3f494d28c28a",
                "d125c3764b05339d"
            ]
        ]
    },
    {
        "id": "cf35d9904542f0af",
        "type": "uhppoted-config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    }
]