examples/basic/4-event-listener.json
[
    {
        "id": "c56e1667.998748",
        "type": "tab",
        "label": "4-listen",
        "disabled": false,
        "info": "# event-listener: basic examples\n\nBasic examples for the _listen_, _get-listener_ and _set-listener_ nodes.\n\n - The _listen_ example establishes a listening node on startup that publishes received events to the debug window\n\n - the _get-listener_ example retrieves the current event listener IP address and port for the controller with serial number 405419896.\n\n - the _set-listener_ example sets '192.168.1.100:60001' as the event listener IP address and port for the controller with serial number 405419896.\n\nThe _listen_ flow in the _dashboard_ flowset contains a more complete example.\n"
    },
    {
        "id": "b94136c7.ef3808",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "19dfdabc.2fc645",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896}}",
        "payloadType": "json",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "75e6f5f0.c7e47c"
            ]
        ]
    },
    {
        "id": "75e6f5f0.c7e47c",
        "type": "uhppoted-get-listener",
        "z": "c56e1667.998748",
        "name": "get-listener",
        "config": "cf35d9904542f0af",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "dd4eef340b555843"
            ]
        ]
    },
    {
        "id": "48b92667.8a59b8",
        "type": "uhppoted-set-listener",
        "z": "c56e1667.998748",
        "name": "set-listener",
        "config": "cf35d9904542f0af",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "2be6914f23d7b2a5"
            ]
        ]
    },
    {
        "id": "87c6a583.0bc8c8",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-listener",
        "payload": "{\"controller\":{\"id\":405419896},\"address\":\"192.168.1.100\",\"port\":60001}",
        "payloadType": "json",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "48b92667.8a59b8"
            ]
        ]
    },
    {
        "id": "4a5cf0bf.725ff",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "listener-address",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.address",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "e37a3ee9.78969",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "listener-port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.port",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "18a61437.de498c",
        "type": "uhppoted-listen",
        "z": "c56e1667.998748",
        "name": "listen",
        "config": "cf35d9904542f0af",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "b8dcd439.9a0448"
            ]
        ]
    },
    {
        "id": "b8dcd439.9a0448",
        "type": "debug",
        "z": "c56e1667.998748",
        "name": "event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "86aa48a9e620c6cf",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "c7466e083310bf9b"
            ]
        ]
    },
    {
        "id": "c7466e083310bf9b",
        "type": "uhppoted-get-listener",
        "z": "c56e1667.998748",
        "name": "get-listener-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "11b333706a2d406b"
            ]
        ]
    },
    {
        "id": "8dc08c333b80e03c",
        "type": "uhppoted-set-listener",
        "z": "c56e1667.998748",
        "name": "set-listener-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "822c4512104ba471"
            ]
        ]
    },
    {
        "id": "22512f8ce8fabe30",
        "type": "inject",
        "z": "c56e1667.998748",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set-listener",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"address\":\"192.168.1.100\",\"port\":60001}",
        "payloadType": "json",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "8dc08c333b80e03c"
            ]
        ]
    },
    {
        "id": "fac10babfa379001",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "received",
        "links": [
            "dd4eef340b555843",
            "11b333706a2d406b",
            "2be6914f23d7b2a5",
            "822c4512104ba471"
        ],
        "x": 645,
        "y": 80,
        "wires": [
            [
                "b94136c7.ef3808"
            ]
        ]
    },
    {
        "id": "6732b5b29ab98d3a",
        "type": "link in",
        "z": "c56e1667.998748",
        "name": "get-listener",
        "links": [
            "dd4eef340b555843",
            "11b333706a2d406b"
        ],
        "x": 645,
        "y": 120,
        "wires": [
            [
                "4a5cf0bf.725ff",
                "e37a3ee9.78969"
            ]
        ]
    },
    {
        "id": "dd4eef340b555843",
        "type": "link out",
        "z": "c56e1667.998748",
        "name": "get-listener-udp",
        "mode": "link",
        "links": [
            "6732b5b29ab98d3a",
            "fac10babfa379001"
        ],
        "x": 435,
        "y": 180,
        "wires": []
    },
    {
        "id": "11b333706a2d406b",
        "type": "link out",
        "z": "c56e1667.998748",
        "name": "get-listener-tcp",
        "mode": "link",
        "links": [
            "6732b5b29ab98d3a",
            "fac10babfa379001"
        ],
        "x": 435,
        "y": 220,
        "wires": []
    },
    {
        "id": "2be6914f23d7b2a5",
        "type": "link out",
        "z": "c56e1667.998748",
        "name": "set-listener-udp",
        "mode": "link",
        "links": [
            "fac10babfa379001"
        ],
        "x": 425,
        "y": 300,
        "wires": []
    },
    {
        "id": "822c4512104ba471",
        "type": "link out",
        "z": "c56e1667.998748",
        "name": "set-listener-tcp",
        "mode": "link",
        "links": [
            "fac10babfa379001"
        ],
        "x": 425,
        "y": 340,
        "wires": []
    },
    {
        "id": "cf35d9904542f0af",
        "type": "uhppoted-config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    }
]