examples/basic/5-get-status.json
[
    {
        "id": "b2b669ed.2b50b8",
        "type": "tab",
        "label": "5-status",
        "disabled": false,
        "info": "# get-status: basic example\n\nIssues a _get-status_ command to the controller with serial number 405419896 and publishes the received status to the debug pane.\n\nThe _status_ flow in the _dashboard_ flowset contains a more complete example."
    },
    {
        "id": "2dc88a53.cf8646",
        "type": "inject",
        "z": "b2b669ed.2b50b8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896}}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "1d2d547f.68acbc"
            ]
        ]
    },
    {
        "id": "1d2d547f.68acbc",
        "type": "uhppoted-get-status",
        "z": "b2b669ed.2b50b8",
        "name": "get-status",
        "config": "cf35d9904542f0af",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "5d4523a5d21855c8"
            ]
        ]
    },
    {
        "id": "52d5b0c5.0e178",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "66b13a53.2d40c4",
        "type": "function",
        "z": "b2b669ed.2b50b8",
        "name": "parse",
        "func": "return { state: msg.payload.state }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "ef31d4ba.63efa8",
                "29ce6298.a64dbe",
                "556bdbce.b524f4",
                "6111d895.7465d8",
                "4fb75951.33bd28",
                "b2228a25.b93978",
                "cd1868d9.6cea48",
                "e838e0df.3d412",
                "a0e71bbf.291688",
                "ae4ad5b4.12a328",
                "68b25cad.09ccb4",
                "8dcc56b2.9d3838",
                "b6e7e1e1.f8ea5",
                "b67b2038.bdb01",
                "8e8ff17a.6d6b9",
                "87389d80.11682",
                "69fc31ff.ef909",
                "16fccb9a.92d2e4",
                "ad99bfe8.44984",
                "1d9c039d.3e3e1c",
                "6a7fa162.6c726",
                "6d6a1058.fbb0d",
                "8927a0c3.ec594",
                "dbbde5d.034b118",
                "26e811ba.7bad4e",
                "b0a7a2ad.4e775"
            ]
        ]
    },
    {
        "id": "ef31d4ba.63efa8",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "serial-number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.serialNumber",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "29ce6298.a64dbe",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.index",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.index",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "556bdbce.b524f4",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.type",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.type.event",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "6111d895.7465d8",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.granted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.granted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 400,
        "wires": []
    },
    {
        "id": "4fb75951.33bd28",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.door",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.door",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 440,
        "wires": []
    },
    {
        "id": "b2228a25.b93978",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.direction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.direction.direction",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "cd1868d9.6cea48",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.card",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.card",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 520,
        "wires": []
    },
    {
        "id": "e838e0df.3d412",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "event.timestamp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.event.timestamp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 560,
        "wires": []
    },
    {
        "id": "a0e71bbf.291688",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 620,
        "wires": []
    },
    {
        "id": "ae4ad5b4.12a328",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[2]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 660,
        "wires": []
    },
    {
        "id": "68b25cad.09ccb4",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[3]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 700,
        "wires": []
    },
    {
        "id": "8dcc56b2.9d3838",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "door-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.doors[4]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "b6e7e1e1.f8ea5",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 800,
        "wires": []
    },
    {
        "id": "b67b2038.bdb01",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[2]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 840,
        "wires": []
    },
    {
        "id": "8e8ff17a.6d6b9",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[3]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 880,
        "wires": []
    },
    {
        "id": "87389d80.11682",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "button-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.buttons[4]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 920,
        "wires": []
    },
    {
        "id": "69fc31ff.ef909",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "system-status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.system.status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "16fccb9a.92d2e4",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "system-date",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.system.date",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "ad99bfe8.44984",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "system-time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.system.time",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "1d9c039d.3e3e1c",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "special-info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.specialInfo",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 1160,
        "wires": []
    },
    {
        "id": "6a7fa162.6c726",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 980,
        "wires": []
    },
    {
        "id": "6d6a1058.fbb0d",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[2]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8927a0c3.ec594",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[3]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1060,
        "wires": []
    },
    {
        "id": "dbbde5d.034b118",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "relay-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.relays.relays[4]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1100,
        "wires": []
    },
    {
        "id": "26e811ba.7bad4e",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "force-locked",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.inputs.forceLock",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b0a7a2ad.4e775",
        "type": "debug",
        "z": "b2b669ed.2b50b8",
        "name": "fire-alarm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state.inputs.fireAlarm",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1240,
        "wires": []
    },
    {
        "id": "345ecd1b51ecbc87",
        "type": "inject",
        "z": "b2b669ed.2b50b8",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "c1164d125de7fb37"
            ]
        ]
    },
    {
        "id": "c1164d125de7fb37",
        "type": "uhppoted-get-status",
        "z": "b2b669ed.2b50b8",
        "name": "get-status-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "0116cfccc8a58852"
            ]
        ]
    },
    {
        "id": "a4fd2e7b593a4f6e",
        "type": "link in",
        "z": "b2b669ed.2b50b8",
        "name": "received",
        "links": [
            "5d4523a5d21855c8",
            "0116cfccc8a58852"
        ],
        "x": 565,
        "y": 100,
        "wires": [
            [
                "52d5b0c5.0e178"
            ]
        ]
    },
    {
        "id": "665c34da74b0cd5c",
        "type": "link in",
        "z": "b2b669ed.2b50b8",
        "name": "get-status",
        "links": [
            "5d4523a5d21855c8",
            "0116cfccc8a58852"
        ],
        "x": 565,
        "y": 140,
        "wires": [
            [
                "66b13a53.2d40c4"
            ]
        ]
    },
    {
        "id": "5d4523a5d21855c8",
        "type": "link out",
        "z": "b2b669ed.2b50b8",
        "name": "get-status-udp",
        "mode": "link",
        "links": [
            "665c34da74b0cd5c",
            "a4fd2e7b593a4f6e"
        ],
        "x": 435,
        "y": 100,
        "wires": []
    },
    {
        "id": "0116cfccc8a58852",
        "type": "link out",
        "z": "b2b669ed.2b50b8",
        "name": "get-status-tcp",
        "mode": "link",
        "links": [
            "665c34da74b0cd5c",
            "a4fd2e7b593a4f6e"
        ],
        "x": 435,
        "y": 140,
        "wires": []
    },
    {
        "id": "cf35d9904542f0af",
        "type": "uhppoted-config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    }
]