examples/basic/8-cards.json
[
    {
        "id": "2a36b650.4b9b7a",
        "type": "tab",
        "label": "8-cards",
        "disabled": false,
        "info": "# card management: basic examples\n\nBasic examples for the _get-cards_, _get-card_, _get-card-by-index_, _put-card_, _delete-card_ and _delete-cards_ nodes.\n\n - the _get-cards_ example retrieves the number of stored card records from the controller with serial number 405419896.\n\n - the _get-card_ example retrieves the card record for card number 65538 from the controller with serial number 405419896.\n\n- the _get-card-by-index_ example retrieves the card record at record #3 from the controller with serial number 405419896.\n\n - the _put-card_ example stores card number 61532836 (valid from 2021-01-01 to 2021-13-31 and with access to doors 1, 3 and 4) to the controller with serial number 405419896.\n\n - the _delete-card_ example deletes the card record for card number 61532836 from the controller with serial number 405419896.\n\n - the _delete-cards_ example deletes all card records from the controller with serial number 405419896."
    },
    {
        "id": "60dcbb9f.c0dfa4",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "3c02f9ca.0d36c6",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896}}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "4f2ad0e3.4c05e"
            ]
        ]
    },
    {
        "id": "4f2ad0e3.4c05e",
        "type": "uhppoted-get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "config": "cf35d9904542f0af",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "3218358125a216fe"
            ]
        ]
    },
    {
        "id": "6ce7f877.625e48",
        "type": "uhppoted-get-card",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "config": "cf35d9904542f0af",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "329a1f747c65c6cd"
            ]
        ]
    },
    {
        "id": "356a2abe.2ea636",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896},\"cardNumber\":8165537}",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "6ce7f877.625e48"
            ]
        ]
    },
    {
        "id": "75f21b8.86ccbe4",
        "type": "function",
        "z": "2a36b650.4b9b7a",
        "name": "parse",
        "func": "if (msg.payload.card) {\n    msg.payload = msg.payload.card    \n} else {\n    msg.payload = {\n        number: '', \n        valid: { \n            from: '', \n            to: '' \n        }, \n        doors: { \n            1: '', \n            2: '', \n            3: '', \n            4: '' \n        },\n        PIN: ''\n    }\n}\n\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 220,
        "wires": [
            [
                "b2fd1c17.3bc25",
                "975dcdef.367a6",
                "296d7d38.b2ed42",
                "7df632fc.3db16c",
                "cf4a8622.c08938",
                "9e2a41a9.a89d2",
                "6b38aa75.455224",
                "40085138d2d899c4"
            ]
        ]
    },
    {
        "id": "e6da52cd.93a8e",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896},\"cardNumber\":6153283}",
        "payloadType": "json",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "4ac01a83.a74ec4"
            ]
        ]
    },
    {
        "id": "4ac01a83.a74ec4",
        "type": "uhppoted-delete-card",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 620,
        "wires": [
            [
                "f5d8c5e3aba68de1"
            ]
        ]
    },
    {
        "id": "6f571cdf.961f74",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896},\"index\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "13f668be.c2e417"
            ]
        ]
    },
    {
        "id": "13f668be.c2e417",
        "type": "uhppoted-get-card-by-index",
        "z": "2a36b650.4b9b7a",
        "name": "get-card-by-index",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "7f6215b1dc38bd29"
            ]
        ]
    },
    {
        "id": "f6b826f5.187ae8",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896}}",
        "payloadType": "json",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "874f55c6.6f00b8"
            ]
        ]
    },
    {
        "id": "874f55c6.6f00b8",
        "type": "uhppoted-delete-all-cards",
        "z": "2a36b650.4b9b7a",
        "name": "delete-all-cards",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "b5d3ac7437ee33cb"
            ]
        ]
    },
    {
        "id": "650c4dc7.5f9424",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "cards",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.cards",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "54d0141d.4fa96c",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card.status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "975dcdef.367a6",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-from",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valid.from",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "b2fd1c17.3bc25",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card.number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.number",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "296d7d38.b2ed42",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-to",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valid.to",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "7df632fc.3db16c",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"1\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "cf4a8622.c08938",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"2\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "9e2a41a9.a89d2",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"3\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "6b38aa75.455224",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-door-4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.doors[\"4\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 460,
        "wires": []
    },
    {
        "id": "7fe3bec1.b4483",
        "type": "uhppoted-put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "06a54e9cc496a9b1"
            ]
        ]
    },
    {
        "id": "83d878a.58b0188",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"controller\":{\"id\":405419896},\"card\":{\"number\":8165537,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"doors\":{\"1\":true,\"2\":false,\"3\":true,\"4\":true}}}",
        "payloadType": "json",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "7fe3bec1.b4483"
            ]
        ]
    },
    {
        "id": "e7d56173.84b31",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "stored",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.stored",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "626b62f3.eadd9c",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "deleted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.deleted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "b2143813.901048",
        "type": "change",
        "z": "2a36b650.4b9b7a",
        "name": "card-status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 180,
        "wires": [
            [
                "54d0141d.4fa96c"
            ]
        ]
    },
    {
        "id": "ad7a666aecfc6823",
        "type": "uhppoted-put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card (with PIN)",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "74aa6083d9145953"
            ]
        ]
    },
    {
        "id": "5da4edd44196b9d3",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"controller\":{\"id\":405419896},\"card\":{\"number\":8165537,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"doors\":{\"1\":true,\"2\":false,\"3\":true,\"4\":true},\"PIN\":7531}}",
        "payloadType": "json",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "ad7a666aecfc6823"
            ]
        ]
    },
    {
        "id": "40085138d2d899c4",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "card-PIN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.PIN",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "b3b669b59009998b",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "75d18b525b9132f8"
            ]
        ]
    },
    {
        "id": "75d18b525b9132f8",
        "type": "uhppoted-get-cards",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "eb1459e5190e077a"
            ]
        ]
    },
    {
        "id": "46a3ef6fd389597b",
        "type": "uhppoted-get-card",
        "z": "2a36b650.4b9b7a",
        "name": "get-card-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "ada671e280c97d16"
            ]
        ]
    },
    {
        "id": "da8d239ff79d6eb3",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"cardNumber\":8165537}",
        "payloadType": "json",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "46a3ef6fd389597b"
            ]
        ]
    },
    {
        "id": "789cb23f60bbb0b8",
        "type": "uhppoted-get-card-by-index",
        "z": "2a36b650.4b9b7a",
        "name": "get-card-by-index-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 380,
        "wires": [
            [
                "00acb44fa5fd76bd"
            ]
        ]
    },
    {
        "id": "56f90807cc8a7a63",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"index\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "789cb23f60bbb0b8"
            ]
        ]
    },
    {
        "id": "56be19dff1557f05",
        "type": "uhppoted-put-card",
        "z": "2a36b650.4b9b7a",
        "name": "put-card-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "488169bbfb8ecdea"
            ]
        ]
    },
    {
        "id": "fa54e33c2508f8b8",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"card\":{\"number\":8165537,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"doors\":{\"1\":true,\"2\":false,\"3\":true,\"4\":true}}}",
        "payloadType": "json",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "56be19dff1557f05"
            ]
        ]
    },
    {
        "id": "6002d1604b71e586",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"cardNumber\":6153283}",
        "payloadType": "json",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "99b25039f798f1f8"
            ]
        ]
    },
    {
        "id": "99b25039f798f1f8",
        "type": "uhppoted-delete-card",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 660,
        "wires": [
            [
                "676755979613d8aa"
            ]
        ]
    },
    {
        "id": "40c21733e205a361",
        "type": "inject",
        "z": "2a36b650.4b9b7a",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"id\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "87cc932dc94baab1"
            ]
        ]
    },
    {
        "id": "87cc932dc94baab1",
        "type": "uhppoted-delete-all-cards",
        "z": "2a36b650.4b9b7a",
        "name": "delete-all-cards-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 330,
        "y": 780,
        "wires": [
            [
                "c76240aecddccda5"
            ]
        ]
    },
    {
        "id": "f95f35e062ec0a83",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "received",
        "links": [
            "3218358125a216fe",
            "329a1f747c65c6cd",
            "eb1459e5190e077a",
            "ada671e280c97d16",
            "7f6215b1dc38bd29",
            "00acb44fa5fd76bd",
            "f5d8c5e3aba68de1",
            "676755979613d8aa",
            "06a54e9cc496a9b1",
            "488169bbfb8ecdea",
            "74aa6083d9145953",
            "b5d3ac7437ee33cb",
            "c76240aecddccda5"
        ],
        "x": 645,
        "y": 100,
        "wires": [
            [
                "60dcbb9f.c0dfa4"
            ]
        ]
    },
    {
        "id": "3218358125a216fe",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "mode": "link",
        "links": [
            "30ad27180e45dcea",
            "f95f35e062ec0a83"
        ],
        "x": 425,
        "y": 100,
        "wires": []
    },
    {
        "id": "eb1459e5190e077a",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "mode": "link",
        "links": [
            "30ad27180e45dcea",
            "f95f35e062ec0a83"
        ],
        "x": 425,
        "y": 140,
        "wires": []
    },
    {
        "id": "30ad27180e45dcea",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "get-cards",
        "links": [
            "3218358125a216fe",
            "eb1459e5190e077a"
        ],
        "x": 645,
        "y": 140,
        "wires": [
            [
                "650c4dc7.5f9424"
            ]
        ]
    },
    {
        "id": "329a1f747c65c6cd",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "mode": "link",
        "links": [
            "2799c87996665b8d",
            "7c894665dc241e28",
            "f95f35e062ec0a83"
        ],
        "x": 425,
        "y": 220,
        "wires": []
    },
    {
        "id": "2799c87996665b8d",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "card-status",
        "links": [
            "329a1f747c65c6cd",
            "ada671e280c97d16",
            "7f6215b1dc38bd29",
            "00acb44fa5fd76bd"
        ],
        "x": 645,
        "y": 180,
        "wires": [
            [
                "b2143813.901048"
            ]
        ]
    },
    {
        "id": "7c894665dc241e28",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "links": [
            "329a1f747c65c6cd",
            "ada671e280c97d16",
            "7f6215b1dc38bd29",
            "00acb44fa5fd76bd"
        ],
        "x": 645,
        "y": 220,
        "wires": [
            [
                "75f21b8.86ccbe4"
            ]
        ]
    },
    {
        "id": "ada671e280c97d16",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "mode": "link",
        "links": [
            "2799c87996665b8d",
            "7c894665dc241e28",
            "f95f35e062ec0a83"
        ],
        "x": 425,
        "y": 260,
        "wires": []
    },
    {
        "id": "7f6215b1dc38bd29",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "mode": "link",
        "links": [
            "2799c87996665b8d",
            "7c894665dc241e28",
            "f95f35e062ec0a83"
        ],
        "x": 455,
        "y": 340,
        "wires": []
    },
    {
        "id": "00acb44fa5fd76bd",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "get-card",
        "mode": "link",
        "links": [
            "2799c87996665b8d",
            "7c894665dc241e28",
            "f95f35e062ec0a83"
        ],
        "x": 455,
        "y": 380,
        "wires": []
    },
    {
        "id": "4c2446cee3c427e1",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "links": [
            "f5d8c5e3aba68de1",
            "676755979613d8aa"
        ],
        "x": 645,
        "y": 300,
        "wires": [
            [
                "626b62f3.eadd9c"
            ]
        ]
    },
    {
        "id": "f5d8c5e3aba68de1",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "mode": "link",
        "links": [
            "4c2446cee3c427e1",
            "f95f35e062ec0a83"
        ],
        "x": 445,
        "y": 620,
        "wires": []
    },
    {
        "id": "676755979613d8aa",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "delete-card",
        "mode": "link",
        "links": [
            "4c2446cee3c427e1",
            "f95f35e062ec0a83"
        ],
        "x": 445,
        "y": 660,
        "wires": []
    },
    {
        "id": "3b6b2e76daa8bc9e",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "links": [
            "06a54e9cc496a9b1",
            "488169bbfb8ecdea",
            "74aa6083d9145953"
        ],
        "x": 645,
        "y": 260,
        "wires": [
            [
                "e7d56173.84b31"
            ]
        ]
    },
    {
        "id": "06a54e9cc496a9b1",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "mode": "link",
        "links": [
            "3b6b2e76daa8bc9e",
            "f95f35e062ec0a83"
        ],
        "x": 475,
        "y": 460,
        "wires": []
    },
    {
        "id": "488169bbfb8ecdea",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "mode": "link",
        "links": [
            "3b6b2e76daa8bc9e",
            "f95f35e062ec0a83"
        ],
        "x": 475,
        "y": 500,
        "wires": []
    },
    {
        "id": "74aa6083d9145953",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "put-card",
        "mode": "link",
        "links": [
            "3b6b2e76daa8bc9e",
            "f95f35e062ec0a83"
        ],
        "x": 475,
        "y": 540,
        "wires": []
    },
    {
        "id": "479105d505562652",
        "type": "debug",
        "z": "2a36b650.4b9b7a",
        "name": "cleared",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.deleted",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "49e4d34f12a40fbc",
        "type": "link in",
        "z": "2a36b650.4b9b7a",
        "name": "delete-all-cards",
        "links": [
            "b5d3ac7437ee33cb",
            "c76240aecddccda5"
        ],
        "x": 645,
        "y": 340,
        "wires": [
            [
                "479105d505562652"
            ]
        ]
    },
    {
        "id": "b5d3ac7437ee33cb",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "delete-all-cards",
        "mode": "link",
        "links": [
            "49e4d34f12a40fbc",
            "f95f35e062ec0a83"
        ],
        "x": 475,
        "y": 740,
        "wires": []
    },
    {
        "id": "c76240aecddccda5",
        "type": "link out",
        "z": "2a36b650.4b9b7a",
        "name": "delete-all-cards",
        "mode": "link",
        "links": [
            "49e4d34f12a40fbc",
            "f95f35e062ec0a83"
        ],
        "x": 475,
        "y": 780,
        "wires": []
    },
    {
        "id": "cf35d9904542f0af",
        "type": "uhppoted-config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    }
]