examples/basic/9-time-profiles.json
[
    {
        "id": "590b5d52.6f70e4",
        "type": "tab",
        "label": "9-time-profiles",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9f2a76f.385308",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896, \"profileId\": 3 }",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "8a160494.ad27f8"
            ]
        ]
    },
    {
        "id": "b4fb88e0.f808a8",
        "type": "debug",
        "z": "590b5d52.6f70e4",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "8a160494.ad27f8",
        "type": "get-time-profile",
        "z": "590b5d52.6f70e4",
        "name": "",
        "topic": "",
        "config": "cbd92359.dbf19",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "b4fb88e0.f808a8"
            ]
        ]
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    }
]