examples/basic/9-time-profiles.json
[
    {
        "id": "590b5d52.6f70e4",
        "type": "tab",
        "label": "9-time-profiles",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9f2a76f.385308",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"profileId\":29}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "8a160494.ad27f8"
            ]
        ]
    },
    {
        "id": "8a160494.ad27f8",
        "type": "uhppoted-get-time-profile",
        "z": "590b5d52.6f70e4",
        "name": "get-time-profile",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "3494593bc9cd6bf1"
            ]
        ]
    },
    {
        "id": "1a80cd98.b11242",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"profile\":{\"id\":29,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"weekdays\":[\"Monday\",\"Thursday\",\"Friday\"],\"segments\":[{\"start\":\"08:00\",\"end\":\"11:30\"},{\"start\":\"13:15\",\"end\":\"17:45\"}],\"linkedTo\":3}}",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "eff19860.5c6da8"
            ]
        ]
    },
    {
        "id": "eff19860.5c6da8",
        "type": "uhppoted-set-time-profile",
        "z": "590b5d52.6f70e4",
        "name": "set-time-profile",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "58d5705778105785"
            ]
        ]
    },
    {
        "id": "3c1aa5c1.4d2a0a",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896}",
        "payloadType": "json",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "5bf5bd59.814154"
            ]
        ]
    },
    {
        "id": "5bf5bd59.814154",
        "type": "uhppoted-clear-time-profiles",
        "z": "590b5d52.6f70e4",
        "name": "clear-time-profile",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "69166d5189bb2574"
            ]
        ]
    },
    {
        "id": "8c3a28ff.bb9a08",
        "type": "uhppoted-put-card",
        "z": "590b5d52.6f70e4",
        "name": "put-card-with-time-profile",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "435613e79ff3d582"
            ]
        ]
    },
    {
        "id": "924ed50d.855988",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"deviceId\":405419896,\"card\":{\"number\":6153283,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"doors\":{\"1\":true,\"2\":false,\"3\":29,\"4\":true}}}",
        "payloadType": "json",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "8c3a28ff.bb9a08"
            ]
        ]
    },
    {
        "id": "75098299.b6febc",
        "type": "uhppoted-get-card",
        "z": "590b5d52.6f70e4",
        "name": "get-card-with-time-profile",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "880c7565008b1f60"
            ]
        ]
    },
    {
        "id": "94300170.74219",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":405419896,\"cardNumber\":6153283}",
        "payloadType": "json",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "75098299.b6febc"
            ]
        ]
    },
    {
        "id": "bf8e93c924c9d1c7",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"profileId\":29}",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "6a4c3d472a4385cc"
            ]
        ]
    },
    {
        "id": "6a4c3d472a4385cc",
        "type": "uhppoted-get-time-profile",
        "z": "590b5d52.6f70e4",
        "name": "get-time-profile-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "d2fcef09d4fdf17c"
            ]
        ]
    },
    {
        "id": "df9190fa18eb9767",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"},\"profile\":{\"id\":29,\"valid\":{\"from\":\"2021-01-01\",\"to\":\"2021-12-31\"},\"weekdays\":[\"Monday\",\"Thursday\",\"Friday\"],\"segments\":[{\"start\":\"08:00\",\"end\":\"11:30\"},{\"start\":\"13:15\",\"end\":\"17:45\"}],\"linkedTo\":3}}",
        "payloadType": "json",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "eced523df6c0d668"
            ]
        ]
    },
    {
        "id": "eced523df6c0d668",
        "type": "uhppoted-set-time-profile",
        "z": "590b5d52.6f70e4",
        "name": "set-time-profile-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "d7c812e325c09939"
            ]
        ]
    },
    {
        "id": "1e8ff653aa074d13",
        "type": "inject",
        "z": "590b5d52.6f70e4",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"controller\":{\"controller\":405419896,\"address\":\"192.168.1.100\",\"protocol\":\"tcp\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "2627e8571d29c1d7"
            ]
        ]
    },
    {
        "id": "2627e8571d29c1d7",
        "type": "uhppoted-clear-time-profiles",
        "z": "590b5d52.6f70e4",
        "name": "clear-time-profiles-tcp",
        "topic": "",
        "config": "cf35d9904542f0af",
        "x": 320,
        "y": 380,
        "wires": [
            [
                "1a3dda2f2505302d"
            ]
        ]
    },
    {
        "id": "28066563a0e05d51",
        "type": "link in",
        "z": "590b5d52.6f70e4",
        "name": "received",
        "links": [
            "121cb192bc3b8618",
            "1a3dda2f2505302d",
            "2d3c1a5a5885d602",
            "3494593bc9cd6bf1",
            "35c9f9d4a30e34e2",
            "435613e79ff3d582",
            "58d5705778105785",
            "65d2bb446e743803",
            "69166d5189bb2574",
            "819316292d1aee2b",
            "880c7565008b1f60",
            "9bd3326c04e55986",
            "a6dbc452a08a5021",
            "d2fcef09d4fdf17c",
            "d7c812e325c09939",
            "f3f91ce72d015bfc"
        ],
        "x": 655,
        "y": 100,
        "wires": [
            [
                "2613b6884c8abff0"
            ]
        ]
    },
    {
        "id": "2613b6884c8abff0",
        "type": "debug",
        "z": "590b5d52.6f70e4",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "3494593bc9cd6bf1",
        "type": "link out",
        "z": "590b5d52.6f70e4",
        "name": "debug",
        "mode": "link",
        "links": [
            "28066563a0e05d51"
        ],
        "x": 455,
        "y": 100,
        "wires": []
    },
    {
        "id": "d2fcef09d4fdf17c",
        "type": "link out",
        "z": "590b5d52.6f70e4",
        "name": "debug",
        "mode": "link",
        "links": [
            "28066563a0e05d51"
        ],
        "x": 455,
        "y": 140,
        "wires": []
    },
    {
        "id": "58d5705778105785",
        "type": "link out",
        "z": "590b5d52.6f70e4",
        "name": "debug",
        "mode": "link",
        "links": [
            "28066563a0e05d51"
        ],
        "x": 455,
        "y": 220,
        "wires": []
    },
    {
        "id": "d7c812e325c09939",
        "type": "link out",
        "z": "590b5d52.6f70e4",
        "name": "debug",
        "mode": "link",
        "links": [
            "28066563a0e05d51"
        ],
        "x": 455,
        "y": 260,
        "wires": []
    },
    {
        "id": "69166d5189bb2574",
        "type": "link out",
        "z": "590b5d52.6f70e4",
        "name": "debug",
        "mode": "link",
        "links": [
            "28066563a0e05d51"
        ],
        "x": 455,
        "y": 340,
        "wires": []
    },
    {
        "id": "1a3dda2f2505302d",
        "type": "link out",
        "z": "590b5d52.6f70e4",
        "name": "debug",
        "mode": "link",
        "links": [
            "28066563a0e05d51"
        ],
        "x": 455,
        "y": 380,
        "wires": []
    },
    {
        "id": "435613e79ff3d582",
        "type": "link out",
        "z": "590b5d52.6f70e4",
        "name": "debug",
        "mode": "link",
        "links": [
            "28066563a0e05d51"
        ],
        "x": 495,
        "y": 460,
        "wires": []
    },
    {
        "id": "880c7565008b1f60",
        "type": "link out",
        "z": "590b5d52.6f70e4",
        "name": "debug",
        "mode": "link",
        "links": [
            "28066563a0e05d51"
        ],
        "x": 495,
        "y": 500,
        "wires": []
    },
    {
        "id": "cf35d9904542f0af",
        "type": "uhppoted-config",
        "name": "examples",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":false},\"405419896\":{\"address\":\"192.168.1.100:60000\",\"broadcast\":true}}",
        "debug": true
    }
]