examples/basic/get-device.json
[
    {
        "id": "f0ca7ab6.b09058",
        "type": "tab",
        "label": "get-device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a308f042.ba17e",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "661f7370.91414c",
        "type": "inject",
        "z": "f0ca7ab6.b09058",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"deviceId\": 405419896 }",
        "payloadType": "json",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "cf961bd6.504938"
            ]
        ]
    },
    {
        "id": "cf961bd6.504938",
        "type": "get-device",
        "z": "f0ca7ab6.b09058",
        "name": "get-device",
        "config": "cbd92359.dbf19",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "a308f042.ba17e",
                "6114aece.3cdf7"
            ]
        ]
    },
    {
        "id": "6114aece.3cdf7",
        "type": "function",
        "z": "f0ca7ab6.b09058",
        "name": "parse",
        "func": "return { \n    device: msg.payload.device \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "58ed0404.db248c",
                "61911f03.0d3d8",
                "d091e3d4.0b37",
                "97b9824d.da92d",
                "b539bbe4.6eb9d8",
                "8e4bb15a.08e78",
                "73a68892.3598d8"
            ]
        ]
    },
    {
        "id": "58ed0404.db248c",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "serial-number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.serialNumber",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "61911f03.0d3d8",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "address",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.address",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "d091e3d4.0b37",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "netmask",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.netmask",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "97b9824d.da92d",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "gateway",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.gateway",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "b539bbe4.6eb9d8",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "MAC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.MAC",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "8e4bb15a.08e78",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "version",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.version",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "73a68892.3598d8",
        "type": "debug",
        "z": "f0ca7ab6.b09058",
        "name": "date",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device.date",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "cbd92359.dbf19",
        "type": "config",
        "z": "",
        "name": "demo",
        "timeout": "5000",
        "bind": "192.168.1.100",
        "broadcast": "192.168.1.255:60000",
        "listen": "192.168.1.100:60001",
        "controllers": "{\"303986753\":{\"address\":\"192.168.1.100:60000\"},\"405419896\":{\"address\":\"192.168.1.100:60000\"}}",
        "debug": true
    }
]